Repository croco-dev/darun: changes, and which lefthook commands are due for each by the changed paths.
All: ts, tsx, jsx, js, mdx, json

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    ts:
      glob: "*.ts"
      run: eslint --fix --quiet {staged_files}
    tsx:
      glob: "*.tsx"
      run: eslint --fix --quiet {staged_files}
    jsx:
      glob: "*.jsx"
      run: eslint --fix --quiet {staged_files}
    js:
      glob: "*.js"
      run: eslint --fix --quiet {staged_files}
    mdx:
      glob: "*.mdx"
      run: eslint --fix --quiet {staged_files}
    json:
      glob: "*.json"
      run: eslint --fix --quiet {staged_files}

post-merge:
  commands:
    install:
      run: pnpm install

fix(graphql-api): add sentry and apollo headers to CORS allowHeaders
  apps/graphql-api/sst.config.ts
Due: ts

fix(graphql-api): add sentry and apollo headers to CORS allowHeaders (#379)
  apps/graphql-api/sst.config.ts
Due: ts

fix(service-web): resolve ICU MessageFormat escaping bug and add AGENTS.md guide
  .gitignore
  AGENTS.md
  apps/service-web/__tests__/messages.test.ts
  apps/service-web/messages/en.json
Due: ts, json

fix(service-web): resolve ICU MessageFormat escaping bug and add AGENTS.md guide (#381)
  .gitignore
  AGENTS.md
  apps/service-web/__tests__/messages.test.ts
  apps/service-web/messages/en.json
Due: ts, json

feat(service-web): internationalize product detail page and shared layout components
  apps/service-web/__tests__/seo-metadata.test.ts
  apps/service-web/app/[locale]/about/page.tsx
  apps/service-web/app/[locale]/categories/[slug]/page.tsx
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/page.tsx
  apps/service-web/app/[locale]/magazines/[slug]/page.tsx
  apps/service-web/app/[locale]/page.tsx
  apps/service-web/app/[locale]/products/[slug]/alternatives/page.tsx
  apps/service-web/app/[locale]/products/[slug]/loading.tsx
  apps/service-web/app/[locale]/products/[slug]/page.tsx
  apps/service-web/app/[locale]/ranking/page.tsx
  apps/service-web/app/[locale]/search/product/page.tsx
  apps/service-web/app/client.tsx
  apps/service-web/lib/seo/metadata.ts
  apps/service-web/messages/en.json
  apps/service-web/messages/ko.json
  libs/products/shell/src/__tests__/localization.test.ts
  libs/products/shell/src/components/CompareButton/CompareButton.test.tsx
  libs/products/shell/src/components/CompareButton/CompareButton.tsx
  libs/products/shell/src/components/ProductCompany/ProductCompany.tsx
  libs/products/shell/src/components/ProductLinks/ProductLinks.tsx
  libs/products/shell/src/components/ProductTableOfContent/ProductTableOfContent.tsx
  libs/products/shell/src/components/ProductUserAction/ProductUserAction.test.tsx
  libs/products/shell/src/components/ProductUserAction/ProductUserAction.tsx
  libs/products/shell/src/index.ts
  libs/products/shell/src/uis/ProductItem/ProductItem.tsx
  libs/products/shell/src/uis/VoteCountBadge/VoteCountBadge.tsx
  libs/products/shell/src/utils/localization.ts
  libs/shared/ui-layout/src/Layout.tsx
  libs/shared/ui-layout/src/libs/Footer/Footer.tsx
  libs/shared/ui-layout/src/libs/Header/Header.tsx
  libs/shared/ui-layout/src/libs/HeaderSearchForm/HeaderSearchForm.tsx
  libs/shared/ui/src/components/Logo.tsx
  libs/shared/ui/src/components/Toast/Toast.tsx
Due: ts, tsx, json

feat(service-web): internationalize product detail page and shared layout components (#382)
  apps/service-web/__tests__/seo-metadata.test.ts
  apps/service-web/app/[locale]/about/page.tsx
  apps/service-web/app/[locale]/categories/[slug]/page.tsx
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/page.tsx
  apps/service-web/app/[locale]/magazines/[slug]/page.tsx
  apps/service-web/app/[locale]/page.tsx
  apps/service-web/app/[locale]/products/[slug]/alternatives/page.tsx
  apps/service-web/app/[locale]/products/[slug]/loading.tsx
  apps/service-web/app/[locale]/products/[slug]/page.tsx
  apps/service-web/app/[locale]/ranking/page.tsx
  apps/service-web/app/[locale]/search/product/page.tsx
  apps/service-web/app/client.tsx
  apps/service-web/lib/seo/metadata.ts
  apps/service-web/messages/en.json
  apps/service-web/messages/ko.json
  libs/products/shell/src/__tests__/localization.test.ts
  libs/products/shell/src/components/CompareButton/CompareButton.test.tsx
  libs/products/shell/src/components/CompareButton/CompareButton.tsx
  libs/products/shell/src/components/ProductCompany/ProductCompany.tsx
  libs/products/shell/src/components/ProductLinks/ProductLinks.tsx
  libs/products/shell/src/components/ProductTableOfContent/ProductTableOfContent.tsx
  libs/products/shell/src/components/ProductUserAction/ProductUserAction.test.tsx
  libs/products/shell/src/components/ProductUserAction/ProductUserAction.tsx
  libs/products/shell/src/index.ts
  libs/products/shell/src/uis/ProductItem/ProductItem.tsx
  libs/products/shell/src/uis/VoteCountBadge/VoteCountBadge.tsx
  libs/products/shell/src/utils/localization.ts
  libs/shared/ui-layout/src/Layout.tsx
  libs/shared/ui-layout/src/libs/Footer/Footer.tsx
  libs/shared/ui-layout/src/libs/Header/Header.tsx
  libs/shared/ui-layout/src/libs/HeaderSearchForm/HeaderSearchForm.tsx
  libs/shared/ui/src/components/Logo.tsx
  libs/shared/ui/src/components/Toast/Toast.tsx
Due: ts, tsx, json

feat(products): refactor GenerateProductDescription to async SQS worker and polling
  apps/graphql-api/package.json
  apps/graphql-api/schema.graphql
  apps/graphql-api/scripts/build-lambda.cjs
  apps/graphql-api/scripts/migrations/0003_add_product_description_jobs.sql
  apps/graphql-api/scripts/migrations/meta/_journal.json
  apps/graphql-api/src/app/graphql/product/graphs/GenerateProductDescription.ts
  apps/graphql-api/src/app/graphql/product/graphs/ProductDescriptionJob.ts
  apps/graphql-api/src/app/resolvers.ts
  apps/graphql-api/src/functions/product-description-worker.ts
  apps/graphql-api/sst.config.ts
  libs/__generated__/gql.ts
  libs/__generated__/graphql.ts
  libs/products/datasource/src/__tests__/PostgresqlProductDescriptionJobRepository.test.ts
  libs/products/datasource/src/entities/ProductDescriptionJobSchema.ts
  libs/products/datasource/src/index.ts
  libs/products/datasource/src/repositories/PostgresqlProductDescriptionJobRepository.ts
  libs/products/domain/src/entities/ProductDescriptionJobEntity.ts
  libs/products/domain/src/index.ts
  libs/products/domain/src/repositories/ProductDescriptionJobRepository.ts
  libs/products/feature/package.json
  libs/products/feature/src/GenerateProductDescriptionButton/__tests__/useGenerateProductDescriptionButton.test.ts
  libs/products/feature/src/GenerateProductDescriptionButton/useGenerateProductDescriptionButton.ts
  libs/products/feature/src/Product.mutation.resolver.ts
  libs/products/feature/src/ProductDescription.query.resolver.ts
  libs/products/feature/src/ProductMediaMutationResolver.ts
  libs/products/feature/src/ProductPublishMutationResolver.ts
  libs/products/feature/src/ProductRecommendationMutationResolver.ts
  libs/products/feature/src/__tests__/ProductDescriptionQueryResolver.test.ts
  libs/products/feature/src/__tests__/ProductMediaMutationResolver.test.ts
  libs/products/feature/src/graphs/GenerateProductDescription.ts
  libs/products/feature/src/graphs/ProductDescriptionJob.ts
  libs/products/feature/src/server.ts
  libs/products/service/package.json
  libs/products/service/src/ProductDescriptionJobService.ts
  libs/products/service/src/ProductDescriptionQueueService.ts
  libs/products/service/src/__tests__/ProductDescriptionJobService.test.ts
  libs/products/service/src/index.ts
  libs/products/service/vitest.config.ts
  pnpm-lock.yaml
Due: ts, json

feat(products): refactor GenerateProductDescription to async SQS worker and polling (#380)
  apps/graphql-api/package.json
  apps/graphql-api/schema.graphql
  apps/graphql-api/scripts/build-lambda.cjs
  apps/graphql-api/scripts/migrations/0003_add_product_description_jobs.sql
  apps/graphql-api/scripts/migrations/meta/_journal.json
  apps/graphql-api/src/app/graphql/product/graphs/GenerateProductDescription.ts
  apps/graphql-api/src/app/graphql/product/graphs/ProductDescriptionJob.ts
  apps/graphql-api/src/app/resolvers.ts
  apps/graphql-api/src/functions/product-description-worker.ts
  apps/graphql-api/sst.config.ts
  libs/__generated__/gql.ts
  libs/__generated__/graphql.ts
  libs/products/datasource/src/__tests__/PostgresqlProductDescriptionJobRepository.test.ts
  libs/products/datasource/src/entities/ProductDescriptionJobSchema.ts
  libs/products/datasource/src/index.ts
  libs/products/datasource/src/repositories/PostgresqlProductDescriptionJobRepository.ts
  libs/products/domain/src/entities/ProductDescriptionJobEntity.ts
  libs/products/domain/src/index.ts
  libs/products/domain/src/repositories/ProductDescriptionJobRepository.ts
  libs/products/feature/package.json
  libs/products/feature/src/GenerateProductDescriptionButton/__tests__/useGenerateProductDescriptionButton.test.ts
  libs/products/feature/src/GenerateProductDescriptionButton/useGenerateProductDescriptionButton.ts
  libs/products/feature/src/Product.mutation.resolver.ts
  libs/products/feature/src/ProductDescription.query.resolver.ts
  libs/products/feature/src/ProductMediaMutationResolver.ts
  libs/products/feature/src/ProductPublishMutationResolver.ts
  libs/products/feature/src/ProductRecommendationMutationResolver.ts
  libs/products/feature/src/__tests__/ProductDescriptionQueryResolver.test.ts
  libs/products/feature/src/__tests__/ProductMediaMutationResolver.test.ts
  libs/products/feature/src/graphs/GenerateProductDescription.ts
  libs/products/feature/src/graphs/ProductDescriptionJob.ts
  libs/products/feature/src/server.ts
  libs/products/service/package.json
  libs/products/service/src/ProductDescriptionJobService.ts
  libs/products/service/src/ProductDescriptionQueueService.ts
  libs/products/service/src/__tests__/ProductDescriptionJobService.test.ts
  libs/products/service/src/index.ts
  libs/products/service/vitest.config.ts
  pnpm-lock.yaml
Due: ts, json

feat(admin): add LLM jobs view and retry functionality with 429 backoff
  apps/admin-web/__tests__/llmJobListSection.test.tsx
  apps/admin-web/__tests__/navbar.test.tsx
  apps/admin-web/__tests__/rscPages.test.tsx
  apps/admin-web/app/llm-jobs/page.tsx
  apps/admin-web/features/llm-jobs/LlmJobListSection.tsx
  apps/admin-web/features/llm-jobs/index.ts
  apps/admin-web/layouts/Navbar/Navbar.tsx
  apps/graphql-api/schema.graphql
  libs/__generated__/gql.ts
  libs/__generated__/graphql.ts
  libs/translation/datasource/src/__tests__/PostgresqlTranslationJobRepository.test.ts
  libs/translation/datasource/src/repositories/PostgresqlTranslationJobRepository.ts
  libs/translation/domain/src/__tests__/TranslationJobService.test.ts
  libs/translation/domain/src/repositories/TranslationJobRepository.ts
  libs/translation/feature/src/Translation.mutation.resolver.ts
  libs/translation/feature/src/Translation.query.resolver.ts
  libs/translation/feature/src/__tests__/TranslationMutationResolver.test.ts
  libs/translation/feature/src/__tests__/TranslationQueryResolver.test.ts
  libs/translation/feature/src/graphs/TranslationJob.ts
  libs/translation/service/src/TranslationJobService.ts
  libs/translation/service/src/index.ts
Due: ts, tsx

feat(products): add product description jobs listing, retry mutation, and unified admin view
  apps/admin-web/__tests__/llmJobListSection.test.tsx
  apps/admin-web/features/llm-jobs/LlmJobListSection.tsx
  apps/graphql-api/schema.graphql
  apps/graphql-api/src/app/graphql/product/graphs/ProductDescriptionJob.ts
  apps/graphql-api/src/app/resolvers.ts
  libs/__generated__/gql.ts
  libs/__generated__/graphql.ts
  libs/products/datasource/src/__tests__/PostgresqlProductDescriptionJobRepository.test.ts
  libs/products/datasource/src/repositories/PostgresqlProductDescriptionJobRepository.ts
  libs/products/datasource/src/services/ProductDescriptionGeneratorImpl.ts
  libs/products/domain/src/repositories/ProductDescriptionJobRepository.ts
  libs/products/feature/src/ProductDescription.mutation.resolver.ts
  libs/products/feature/src/ProductDescription.query.resolver.ts
  libs/products/feature/src/__tests__/ProductDescriptionMutationResolver.test.ts
  libs/products/feature/src/__tests__/ProductDescriptionQueryResolver.test.ts
  libs/products/feature/src/graphs/ProductDescriptionJob.ts
  libs/products/feature/src/server.ts
  libs/products/service/src/ProductDescriptionJobService.ts
  libs/products/service/src/__tests__/ProductDescriptionJobService.test.ts
  libs/products/service/src/index.ts
Due: ts, tsx

feat(admin): unify LLM jobs (translation & description) with listing and retry (#383)
  apps/admin-web/__tests__/llmJobListSection.test.tsx
  apps/admin-web/__tests__/navbar.test.tsx
  apps/admin-web/__tests__/rscPages.test.tsx
  apps/admin-web/app/llm-jobs/page.tsx
  apps/admin-web/features/llm-jobs/LlmJobListSection.tsx
  apps/admin-web/features/llm-jobs/index.ts
  apps/admin-web/layouts/Navbar/Navbar.tsx
  apps/graphql-api/schema.graphql
  apps/graphql-api/src/app/graphql/product/graphs/ProductDescriptionJob.ts
  apps/graphql-api/src/app/resolvers.ts
  libs/__generated__/gql.ts
  libs/__generated__/graphql.ts
  libs/products/datasource/src/__tests__/PostgresqlProductDescriptionJobRepository.test.ts
  libs/products/datasource/src/repositories/PostgresqlProductDescriptionJobRepository.ts
  libs/products/datasource/src/services/ProductDescriptionGeneratorImpl.ts
  libs/products/domain/src/repositories/ProductDescriptionJobRepository.ts
  libs/products/feature/src/ProductDescription.mutation.resolver.ts
  libs/products/feature/src/ProductDescription.query.resolver.ts
  libs/products/feature/src/__tests__/ProductDescriptionMutationResolver.test.ts
  libs/products/feature/src/__tests__/ProductDescriptionQueryResolver.test.ts
  libs/products/feature/src/graphs/ProductDescriptionJob.ts
  libs/products/feature/src/server.ts
  libs/products/service/src/ProductDescriptionJobService.ts
  libs/products/service/src/__tests__/ProductDescriptionJobService.test.ts
  libs/products/service/src/index.ts
  libs/translation/datasource/src/__tests__/PostgresqlTranslationJobRepository.test.ts
  libs/translation/datasource/src/repositories/PostgresqlTranslationJobRepository.ts
  libs/translation/domain/src/__tests__/TranslationJobService.test.ts
  libs/translation/domain/src/repositories/TranslationJobRepository.ts
  libs/translation/feature/src/Translation.mutation.resolver.ts
  libs/translation/feature/src/Translation.query.resolver.ts
  libs/translation/feature/src/__tests__/TranslationMutationResolver.test.ts
  libs/translation/feature/src/__tests__/TranslationQueryResolver.test.ts
  libs/translation/feature/src/graphs/TranslationJob.ts
  libs/translation/service/src/TranslationJobService.ts
  libs/translation/service/src/index.ts
Due: ts, tsx

fix(llm): increase description timeout to 120s, reset createdAt on retry, and fix pending duration display
  apps/admin-web/__tests__/llmJobListSection.test.tsx
  apps/admin-web/features/llm-jobs/LlmJobListSection.tsx
  libs/products/datasource/src/__tests__/PostgresqlProductDescriptionJobRepository.test.ts
  libs/products/datasource/src/repositories/PostgresqlProductDescriptionJobRepository.ts
  libs/products/datasource/src/services/ProductDescriptionGeneratorImpl.ts
  libs/products/domain/src/repositories/ProductDescriptionJobRepository.ts
  libs/products/service/src/ProductDescriptionJobService.ts
  libs/products/service/src/__tests__/ProductDescriptionJobService.test.ts
  libs/translation/datasource/src/__tests__/PostgresqlTranslationJobRepository.test.ts
  libs/translation/datasource/src/repositories/PostgresqlTranslationJobRepository.ts
  libs/translation/domain/src/__tests__/TranslationJobService.test.ts
  libs/translation/domain/src/repositories/TranslationJobRepository.ts
  libs/translation/service/src/TranslationJobService.ts
Due: ts, tsx

fix(llm): increase description timeout to 120s, reset createdAt on retry, and fix pending duration display (#384)
  apps/admin-web/__tests__/llmJobListSection.test.tsx
  apps/admin-web/features/llm-jobs/LlmJobListSection.tsx
  libs/products/datasource/src/__tests__/PostgresqlProductDescriptionJobRepository.test.ts
  libs/products/datasource/src/repositories/PostgresqlProductDescriptionJobRepository.ts
  libs/products/datasource/src/services/ProductDescriptionGeneratorImpl.ts
  libs/products/domain/src/repositories/ProductDescriptionJobRepository.ts
  libs/products/service/src/ProductDescriptionJobService.ts
  libs/products/service/src/__tests__/ProductDescriptionJobService.test.ts
  libs/translation/datasource/src/__tests__/PostgresqlTranslationJobRepository.test.ts
  libs/translation/datasource/src/repositories/PostgresqlTranslationJobRepository.ts
  libs/translation/domain/src/__tests__/TranslationJobService.test.ts
  libs/translation/domain/src/repositories/TranslationJobRepository.ts
  libs/translation/service/src/TranslationJobService.ts
Due: ts, tsx

feat(llm): integrate Brave Search API and enhance LLM prompts across description and translation
  apps/graphql-api/sst.config.ts
  libs/products/datasource/package.json
  libs/products/datasource/src/__tests__/ProductDescriptionGeneratorImpl.test.ts
  libs/products/datasource/src/services/ProductDescriptionGeneratorImpl.ts
  libs/products/domain/src/__tests__/GenerateProductDescription.test.ts
  libs/products/domain/src/services/ProductDescriptionGenerator.ts
  libs/products/domain/src/usecases/GenerateProductDescription.ts
  libs/shared/utils-llm/src/__tests__/BraveSearchClient.test.ts
  libs/shared/utils-llm/src/constant.ts
  libs/shared/utils-llm/src/index.ts
  libs/shared/utils-llm/src/search/BraveSearchClient.ts
  libs/shared/utils-llm/src/search/BraveWebSearchMcpTool.ts
  libs/shared/utils-llm/src/search/types.ts
  libs/translation/domain/src/__tests__/TranslationJobService.test.ts
  libs/translation/service/src/TranslationJobService.ts
  pnpm-lock.yaml
Due: ts, json

style: format ProductDescriptionGeneratorImpl.test.ts
  libs/products/datasource/src/__tests__/ProductDescriptionGeneratorImpl.test.ts
Due: ts

refine(products): tune description prompt for engaging editorial column tone
  libs/products/datasource/src/__tests__/ProductDescriptionGeneratorImpl.test.ts
  libs/products/datasource/src/services/ProductDescriptionGeneratorImpl.ts
Due: ts

feat(llm): integrate Brave Search API and enhance LLM prompts (#385)
  apps/graphql-api/sst.config.ts
  libs/products/datasource/package.json
  libs/products/datasource/src/__tests__/ProductDescriptionGeneratorImpl.test.ts
  libs/products/datasource/src/services/ProductDescriptionGeneratorImpl.ts
  libs/products/domain/src/__tests__/GenerateProductDescription.test.ts
  libs/products/domain/src/services/ProductDescriptionGenerator.ts
  libs/products/domain/src/usecases/GenerateProductDescription.ts
  libs/shared/utils-llm/src/__tests__/BraveSearchClient.test.ts
  libs/shared/utils-llm/src/constant.ts
  libs/shared/utils-llm/src/index.ts
  libs/shared/utils-llm/src/search/BraveSearchClient.ts
  libs/shared/utils-llm/src/search/BraveWebSearchMcpTool.ts
  libs/shared/utils-llm/src/search/types.ts
  libs/translation/domain/src/__tests__/TranslationJobService.test.ts
  libs/translation/service/src/TranslationJobService.ts
  pnpm-lock.yaml
Due: ts, json

feat(settings): support Brave Search API key configuration in LLM settings
  apps/admin-web/__tests__/modelSelectModal.test.tsx
  apps/admin-web/features/settings/LlmSettingFormSection/LlmSettingFormSection.tsx
  apps/admin-web/features/settings/LlmSettingFormSection/ModelSelectModal.tsx
  apps/admin-web/vitest.config.ts
  apps/graphql-api/schema.graphql
  apps/graphql-api/scripts/migrations/0004_add_brave_api_key_to_llm_settings.sql
  apps/graphql-api/scripts/migrations/meta/_journal.json
  apps/graphql-api/src/config/index.ts
  libs/__generated__/gql.ts
  libs/__generated__/graphql.ts
  libs/products/datasource/src/services/ProductDescriptionGeneratorImpl.ts
  libs/shared/utils-llm/src/__tests__/BraveSearchClient.test.ts
  libs/shared/utils-llm/src/libs/LlmConfig.ts
  libs/shared/utils-llm/src/search/BraveSearchClient.ts
  libs/translation/datasource/src/entities/LlmSettingSchema.ts
  libs/translation/datasource/src/repositories/PostgresqlLlmSettingRepository.ts
  libs/translation/domain/src/entities/LlmSetting.ts
  libs/translation/domain/src/repositories/LlmSettingRepository.ts
  libs/translation/feature/src/LlmSetting.resolver.ts
  libs/translation/feature/src/__tests__/LlmSetting.resolver.test.ts
  libs/translation/feature/src/graphs/LlmSettingGraph.ts
  libs/translation/service/src/LlmSettingService.ts
  libs/translation/service/src/__tests__/LlmSettingService.test.ts
Due: ts, tsx, json

fix(settings): address review feedback on error boundary, whitespace sanitization, and observability
  apps/graphql-api/__tests__/llmClientConfig.test.ts
  apps/graphql-api/src/config/index.ts
  libs/shared/utils-llm/src/__tests__/BraveSearchClient.test.ts
  libs/shared/utils-llm/src/search/BraveSearchClient.ts
  libs/translation/feature/src/LlmSetting.resolver.ts
  libs/translation/feature/src/__tests__/LlmSetting.resolver.test.ts
  libs/translation/service/src/LlmSettingService.ts
  libs/translation/service/src/__tests__/LlmSettingService.test.ts
Due: ts

test(graphql-api): invoke client.search to assert dynamic and fallback key resolution in BraveSearchClient container tests
  apps/graphql-api/__tests__/llmClientConfig.test.ts
Due: ts

feat(settings): support Brave Search API key configuration in LLM settings (#386)
  apps/admin-web/__tests__/modelSelectModal.test.tsx
  apps/admin-web/features/settings/LlmSettingFormSection/LlmSettingFormSection.tsx
  apps/admin-web/features/settings/LlmSettingFormSection/ModelSelectModal.tsx
  apps/admin-web/vitest.config.ts
  apps/graphql-api/__tests__/llmClientConfig.test.ts
  apps/graphql-api/schema.graphql
  apps/graphql-api/scripts/migrations/0004_add_brave_api_key_to_llm_settings.sql
  apps/graphql-api/scripts/migrations/meta/_journal.json
  apps/graphql-api/src/config/index.ts
  libs/__generated__/gql.ts
  libs/__generated__/graphql.ts
  libs/products/datasource/src/services/ProductDescriptionGeneratorImpl.ts
  libs/shared/utils-llm/src/__tests__/BraveSearchClient.test.ts
  libs/shared/utils-llm/src/libs/LlmConfig.ts
  libs/shared/utils-llm/src/search/BraveSearchClient.ts
  libs/translation/datasource/src/entities/LlmSettingSchema.ts
  libs/translation/datasource/src/repositories/PostgresqlLlmSettingRepository.ts
  libs/translation/domain/src/entities/LlmSetting.ts
  libs/translation/domain/src/repositories/LlmSettingRepository.ts
  libs/translation/feature/src/LlmSetting.resolver.ts
  libs/translation/feature/src/__tests__/LlmSetting.resolver.test.ts
  libs/translation/feature/src/graphs/LlmSettingGraph.ts
  libs/translation/service/src/LlmSettingService.ts
  libs/translation/service/src/__tests__/LlmSettingService.test.ts
Due: ts, tsx, json

feat(visual): 스크린샷 분류/탐색과 UX 플로 편집/순서 탐색 구현
  apps/graphql-api/scripts/migrations/0004_warm_prima.sql
  apps/graphql-api/scripts/migrations/meta/0004_snapshot.json
  apps/graphql-api/scripts/migrations/meta/_journal.json
Due: json

fix(db): correct migration sequence and add validation for product screenshots
  apps/graphql-api/__tests__/migrations.test.ts
  apps/graphql-api/scripts/migrate.ts
  apps/graphql-api/scripts/migrations/0004_add_brave_api_key_to_llm_settings.sql
  apps/graphql-api/scripts/migrations/0004_warm_prima.sql
  apps/graphql-api/scripts/migrations/0005_warm_prima.sql
  apps/graphql-api/scripts/migrations/meta/0005_snapshot.json
  apps/graphql-api/scripts/migrations/meta/_journal.json
  libs/products/shell/src/components/ProductPhotos/useProductPhotos.ts
Due: ts, json

feat(visual-web): 서비스 로고 자동완성 검색 + 헤더/푸터 링크 이동
  apps/visual-web/app/VisualLayout.tsx
  apps/visual-web/features/flows/FlowExplorer.tsx
  apps/visual-web/features/flows/useFlowExplorer.ts
  apps/visual-web/features/product-search/ProductSearchSuggest.tsx
  apps/visual-web/features/product-search/documents.ts
  apps/visual-web/features/product-search/index.ts
  apps/visual-web/features/product-search/useProductSearchSuggest.ts
  apps/visual-web/features/screenshots/ScreenshotExplorer.tsx
  apps/visual-web/features/screenshots/useScreenshotExplorer.ts
  libs/__generated__/gql.ts
  libs/__generated__/graphql.ts
Due: ts, tsx

fix(service-web): 디자인 결함 20개 수정
  apps/service-web/__tests__/faq-section-a11y.test.ts
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/page.tsx
  apps/service-web/app/[locale]/error.tsx
  apps/service-web/app/[locale]/loading.tsx
  apps/service-web/app/[locale]/not-found.tsx
  apps/service-web/app/[locale]/products/[slug]/loading.tsx
  apps/service-web/app/[locale]/search/error.tsx
  apps/service-web/app/global-error.tsx
  apps/service-web/app/globals.css
  libs/products/shell/src/__tests__/FAQSection.test.tsx
  libs/products/shell/src/__tests__/ProductCard.test.tsx
  libs/products/shell/src/components/AlternativeProductList/AlternativeProductList.tsx
  libs/products/shell/src/components/FAQSection/FAQSection.tsx
  libs/products/shell/src/components/ProductAlternativeList/ProductAlternativeList.tsx
  libs/products/shell/src/components/ProductCard/ProductCard.tsx
  libs/products/shell/src/components/ProductCompany/ProductCompany.tsx
  libs/products/shell/src/components/ProductDescription/ProductDescription.tsx
  libs/products/shell/src/components/ProductFeatureList/ProductFeatureList.tsx
  libs/products/shell/src/components/ProductPhotos/ProductPhotos.tsx
  libs/products/shell/src/components/RecentProductList/RecentProductList.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSection.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/index.ts
  libs/products/shell/src/shells/MainHeroBanner/MainHeroBanner.tsx
  libs/products/shell/src/shells/RecentProductSection/RecentProductSkeleton.tsx
  libs/products/shell/src/shells/TrendingProductSection/TrendingProductSkeleton.tsx
  libs/products/shell/src/shells/index.ts
  libs/products/shell/src/uis/FeatureItem/FeatureItem.tsx
  libs/products/shell/src/uis/ProductItem/ProductItem.tsx
  libs/products/shell/src/uis/RankBadge/RankBadge.tsx
  libs/products/shell/src/uis/RankBadge/index.ts
  libs/products/shell/src/uis/index.ts
  libs/search/shell/src/components/SearchProductList/SearchProductList.tsx
  libs/search/shell/src/shells/SearchEmptyState/CategoryShortcutGrid/CategoryShortcutGrid.tsx
  libs/search/shell/src/shells/SearchEmptyState/PopularQueriesStripe/PopularQueriesStripe.tsx
  libs/shared/ui/src/components/Breadcrumb.tsx
  libs/shared/ui/src/components/Toast/Toast.test.tsx
  libs/shared/ui/src/components/Toast/Toast.tsx
  libs/shared/ui/src/components/icons.tsx
  tailwind.config.ts
Due: ts, tsx

fix(service-web): PDP 디자인 결함 수정 및 시각 재설계
  apps/service-web/app/[locale]/layout.tsx
  apps/service-web/app/globals.css
  apps/service-web/messages/en.json
  apps/service-web/messages/ko.json
  libs/products/shell/src/components/CompareButton/CompareButton.tsx
  libs/products/shell/src/components/ProductCompany/ProductCompany.tsx
  libs/products/shell/src/components/ProductDescription/ProductDescription.tsx
  libs/products/shell/src/components/ProductLinks/ProductLinks.tsx
  libs/products/shell/src/components/ProductTableOfContent/ProductTableOfContent.tsx
  libs/products/shell/src/components/ProductUserAction/ProductUserAction.tsx
  libs/shared/ui-layout/src/Layout.tsx
Due: tsx, json

fix(products-shell): resolve getLocale error in Client Components
  apps/admin-web/__tests__/navbar.test.tsx
  libs/products/feature/src/EditProductCompany/__tests__/useEditProductCompany.test.ts
  libs/products/feature/src/NewProductLinkForm/__tests__/useNewProductLinkForm.test.ts
  libs/products/feature/src/ProductListTable/__tests__/useProductListTable.test.ts
  libs/products/shell/src/__tests__/RankBadge.test.tsx
  libs/products/shell/src/components/AlternativeProductList/AlternativeProductList.test.tsx
  libs/products/shell/src/components/ProductAlternativeList/ProductAlternativeList.test.tsx
  libs/products/shell/src/uis/RankBadge/RankBadge.tsx
  libs/search/shell/src/components/SearchProductList/SearchProductList.test.tsx
  libs/shared/analytics/client/src/__tests__/ProductDetailViewTracker.test.tsx
Due: ts, tsx

style: add newline at end of RankBadge.tsx
  libs/products/shell/src/uis/RankBadge/RankBadge.tsx
Due: tsx

fix(service-web): resolve getLocale error in Client Components (#388)
  apps/admin-web/__tests__/navbar.test.tsx
  libs/products/feature/src/EditProductCompany/__tests__/useEditProductCompany.test.ts
  libs/products/feature/src/NewProductLinkForm/__tests__/useNewProductLinkForm.test.ts
  libs/products/feature/src/ProductListTable/__tests__/useProductListTable.test.ts
  libs/products/shell/src/__tests__/RankBadge.test.tsx
  libs/products/shell/src/components/AlternativeProductList/AlternativeProductList.test.tsx
  libs/products/shell/src/components/ProductAlternativeList/ProductAlternativeList.test.tsx
  libs/products/shell/src/uis/RankBadge/RankBadge.tsx
  libs/search/shell/src/components/SearchProductList/SearchProductList.test.tsx
  libs/shared/analytics/client/src/__tests__/ProductDetailViewTracker.test.tsx
Due: ts, tsx

feat(design): 2차 20대 디자인 결함 및 시각적 위계 전면 개선
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/page.tsx
  apps/service-web/app/[locale]/page.tsx
  apps/service-web/messages/ko.json
  libs/magazines/feature/src/ArticleCard/ArticleCard.tsx
  libs/pages/shell/src/SearchProductPage.tsx
  libs/products/shell/src/components/AlternativeProductList/AlternativeProductList.tsx
  libs/products/shell/src/components/FAQSection/FAQSection.tsx
  libs/products/shell/src/components/ProductAlternativeList/ProductAlternativeList.tsx
  libs/products/shell/src/components/ProductDescription/ProductDescription.test.tsx
  libs/products/shell/src/components/ProductDescription/ProductDescription.tsx
  libs/products/shell/src/components/ProductPhotos/ProductPhotos.tsx
  libs/products/shell/src/shells/MainHeroBanner/MainHeroBanner.tsx
  libs/products/shell/src/uis/ProductItem/ProductItem.tsx
  libs/shared/ui-layout/src/libs/HeaderSearchForm/HeaderSearchForm.tsx
Due: tsx, json

feat(design): 2차 20대 디자인 결함 및 시각적 위계 전면 개선 (#391)
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/page.tsx
  apps/service-web/app/[locale]/page.tsx
  apps/service-web/messages/ko.json
  libs/magazines/feature/src/ArticleCard/ArticleCard.tsx
  libs/pages/shell/src/SearchProductPage.tsx
  libs/products/shell/src/components/AlternativeProductList/AlternativeProductList.tsx
  libs/products/shell/src/components/FAQSection/FAQSection.tsx
  libs/products/shell/src/components/ProductAlternativeList/ProductAlternativeList.tsx
  libs/products/shell/src/components/ProductDescription/ProductDescription.test.tsx
  libs/products/shell/src/components/ProductDescription/ProductDescription.tsx
  libs/products/shell/src/components/ProductPhotos/ProductPhotos.tsx
  libs/products/shell/src/shells/MainHeroBanner/MainHeroBanner.tsx
  libs/products/shell/src/uis/ProductItem/ProductItem.tsx
  libs/shared/ui-layout/src/libs/HeaderSearchForm/HeaderSearchForm.tsx
Due: tsx, json

fix(service-web): resolve phase 3 design quality flaws and ux improvements
  apps/service-web/app/[locale]/about/page.tsx
  apps/service-web/app/[locale]/error.tsx
  apps/service-web/app/[locale]/not-found.tsx
  apps/service-web/app/[locale]/search/error.tsx
  apps/service-web/messages/en.json
  apps/service-web/messages/ko.json
  libs/pages/shell/src/ProductAlternativePage.tsx
  libs/products/shell/src/__tests__/RankedProductList.test.tsx
  libs/products/shell/src/components/CompareButton/CompareButton.tsx
  libs/products/shell/src/components/ProductCompany/ProductCompany.tsx
  libs/products/shell/src/components/ProductUserAction/ProductUserAction.tsx
  libs/products/shell/src/components/RankedProductList/RankedProductList.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSection.tsx
  libs/products/shell/src/uis/ProductItem/ProductItem.tsx
  libs/products/shell/src/uis/VoteCountBadge/VoteCountBadge.tsx
  libs/search/shell/src/components/SearchProductList/SearchProductList.tsx
  libs/search/shell/src/shells/SearchEmptyState/CategoryShortcutGrid/CategoryShortcutGrid.tsx
  libs/search/shell/src/shells/SearchEmptyState/PopularQueriesStripe/PopularQueriesStripe.tsx
Due: tsx, json
