Repository croco-dev/darun: changes, and which lefthook commands are due for each by the changed paths.
All: ts, tsx, jsx, js, mdx, json

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    ts:
      glob: "*.ts"
      run: eslint --fix --quiet {staged_files}
    tsx:
      glob: "*.tsx"
      run: eslint --fix --quiet {staged_files}
    jsx:
      glob: "*.jsx"
      run: eslint --fix --quiet {staged_files}
    js:
      glob: "*.js"
      run: eslint --fix --quiet {staged_files}
    mdx:
      glob: "*.mdx"
      run: eslint --fix --quiet {staged_files}
    json:
      glob: "*.json"
      run: eslint --fix --quiet {staged_files}

post-merge:
  commands:
    install:
      run: pnpm install

fix: lock file
  pnpm-lock.yaml
Due: none

fix: product tag upsert로직을 수정한다
  libs/backend/src/libs/products/datasource/repositories/PostgresqlProductTagRepository.ts
  libs/backend/src/libs/products/domain/entities/Tag.ts
Due: ts

fix: tag를 하나만 나오는 문제를 해결한다
  libs/backend/src/libs/products/datasource/repositories/PostgresqlProductTagRepository.ts
Due: ts

fix: middleware에서 cookie를 업데이트하도록 한다
  apps/admin-web/app/container.ts
  apps/admin-web/middleware.ts
  apps/service-web/app/container.ts
  libs/shared/provider-auth/server/src/libs/AuthChecker/AuthChecker.ts
  libs/shared/utils-auth-service/firebase/src/libs/FirebaseAuthService/FirebaseAuthService.ts
Due: ts

feat: company 엔티티에서 size, region을 제거한다
  apps/graphql-api/schema.graphql
  apps/graphql-api/src/app/graphql/company/Company.mutation.resolver.ts
  apps/graphql-api/src/app/graphql/company/graphs/Company.ts
  apps/graphql-api/src/app/graphql/company/graphs/CreateCompany.ts
  libs/backend/src/libs/companies/datasource/entities/CompanySchema.ts
  libs/backend/src/libs/companies/domain/entities/Company.ts
  libs/backend/src/libs/companies/domain/usecases/CreateCompany.ts
  libs/frontend/src/libs/products/components/ProductCompany/__generated__/useProductCompany.ts
  libs/frontend/src/libs/products/components/ProductCompany/useProductCompany.ts
  libs/shared/provider-graphql/src/index.ts
Due: ts

style(frontend): productDescription word-break 설정
  libs/frontend/src/libs/products/components/ProductDescription/ProductDescription.tsx
Due: tsx

fix(frontend): not exist items
  libs/frontend/src/libs/products/components/ProductCompany/ProductCompany.tsx
Due: tsx

style(frontend): productDescription word-break 설정 (#225)
  libs/frontend/src/libs/products/components/ProductCompany/ProductCompany.tsx
  libs/frontend/src/libs/products/components/ProductDescription/ProductDescription.tsx
Due: tsx

feat(admin): mantine form의 mode를 uncontrolled로 변경
  libs/admin/src/libs/products/components/EditAlternativeProducts/useEditAlternativeProducts.ts
  libs/admin/src/libs/products/components/EditProductDescription/useEditProductDescription.ts
  libs/admin/src/libs/products/components/EditProductFeatureItem/useEditProductFeatureItem.ts
  libs/admin/src/libs/products/components/EditProductInfo/useEditProductInfo.ts
  libs/admin/src/libs/products/components/NewProductFeatureForm/useNewProductFeatureForm.ts
  libs/admin/src/libs/products/components/NewProductForm/useNewProductForm.ts
  libs/admin/src/libs/products/components/NewProductLinkForm/useNewProductLinkForm.ts
  libs/admin/src/libs/products/components/NewProductScreenshotForm/useNewProductScreenshotForm.ts
Due: ts

feat: product에 회사정보를 등록할 수 있다
  apps/graphql-api/schema.graphql
  apps/graphql-api/src/app/graphql/product/Product.mutation.resolver.ts
  apps/graphql-api/src/app/graphql/product/graphs/RegisterProductCompany.ts
  libs/backend/src/index.ts
  libs/backend/src/libs/products/domain/entities/Product.ts
  libs/backend/src/libs/products/domain/index.ts
  libs/backend/src/libs/products/domain/usecases/RegisterProductCompany.ts
Due: ts

feat: product에 회사정보를 등록할 수 있다 (#229)
  apps/graphql-api/schema.graphql
  apps/graphql-api/src/app/graphql/product/Product.mutation.resolver.ts
  apps/graphql-api/src/app/graphql/product/graphs/RegisterProductCompany.ts
  libs/backend/src/index.ts
  libs/backend/src/libs/products/domain/entities/Product.ts
  libs/backend/src/libs/products/domain/index.ts
  libs/backend/src/libs/products/domain/usecases/RegisterProductCompany.ts
Due: ts

feat(admin): 회사 전체 보기 & 추가
  apps/admin-web/app/client.tsx
  apps/admin-web/app/companies/new/page.tsx
  apps/admin-web/app/companies/page.tsx
  apps/admin-web/app/layout.tsx
  apps/admin-web/package.json
  libs/admin/src/index.ts
  libs/admin/src/libs/companies/components/AllCompanyListTable/AllCompanyListTable.tsx
  libs/admin/src/libs/companies/components/AllCompanyListTable/index.ts
  libs/admin/src/libs/companies/components/AllCompanyListTable/useAllCompanyListTable.ts
  libs/admin/src/libs/companies/components/NewCompanyForm/NewCompanyForm.tsx
  libs/admin/src/libs/companies/components/NewCompanyForm/index.ts
  libs/admin/src/libs/companies/components/NewCompanyForm/useNewCompanyForm.ts
  libs/admin/src/libs/companies/components/index.ts
  libs/admin/src/libs/companies/shells/AllCompaniesList/AllCompaniesList.tsx
  libs/admin/src/libs/companies/shells/AllCompaniesList/index.ts
  libs/admin/src/libs/companies/shells/NewCompanyFormSection/NewCompanyFormSection.tsx
  libs/admin/src/libs/companies/shells/index.ts
  libs/admin/src/libs/pages/CompanyListPage.tsx
  libs/admin/src/libs/pages/NewCompanyPage.tsx
  pnpm-lock.yaml
Due: ts, tsx, json

feat(admin): 회사 전체 보기 & 추가
  libs/admin/src/libs/companies/components/AllCompanyListTable/__generated__/useAllCompanyListTable.ts
  libs/admin/src/libs/companies/components/NewCompanyForm/__generated__/useNewCompanyForm.ts
Due: ts

feat(admin): 회사 전체 보기 & 추가 (#230)
  apps/admin-web/app/client.tsx
  apps/admin-web/app/companies/new/page.tsx
  apps/admin-web/app/companies/page.tsx
  apps/admin-web/app/layout.tsx
  apps/admin-web/package.json
  libs/admin/src/index.ts
  libs/admin/src/libs/companies/components/AllCompanyListTable/AllCompanyListTable.tsx
  libs/admin/src/libs/companies/components/AllCompanyListTable/__generated__/useAllCompanyListTable.ts
  libs/admin/src/libs/companies/components/AllCompanyListTable/index.ts
  libs/admin/src/libs/companies/components/AllCompanyListTable/useAllCompanyListTable.ts
  libs/admin/src/libs/companies/components/NewCompanyForm/NewCompanyForm.tsx
  libs/admin/src/libs/companies/components/NewCompanyForm/__generated__/useNewCompanyForm.ts
  libs/admin/src/libs/companies/components/NewCompanyForm/index.ts
  libs/admin/src/libs/companies/components/NewCompanyForm/useNewCompanyForm.ts
  libs/admin/src/libs/companies/components/index.ts
  libs/admin/src/libs/companies/shells/AllCompaniesList/AllCompaniesList.tsx
  libs/admin/src/libs/companies/shells/AllCompaniesList/index.ts
  libs/admin/src/libs/companies/shells/NewCompanyFormSection/NewCompanyFormSection.tsx
  libs/admin/src/libs/companies/shells/index.ts
  libs/admin/src/libs/pages/CompanyListPage.tsx
  libs/admin/src/libs/pages/NewCompanyPage.tsx
  pnpm-lock.yaml
Due: ts, tsx, json

feat(admin): mantine form의 mode를 uncontrolled로 변경 (#228)
  libs/admin/src/libs/products/components/EditAlternativeProducts/useEditAlternativeProducts.ts
  libs/admin/src/libs/products/components/EditProductDescription/useEditProductDescription.ts
  libs/admin/src/libs/products/components/EditProductFeatureItem/useEditProductFeatureItem.ts
  libs/admin/src/libs/products/components/EditProductInfo/useEditProductInfo.ts
  libs/admin/src/libs/products/components/NewProductFeatureForm/useNewProductFeatureForm.ts
  libs/admin/src/libs/products/components/NewProductForm/useNewProductForm.ts
  libs/admin/src/libs/products/components/NewProductLinkForm/useNewProductLinkForm.ts
  libs/admin/src/libs/products/components/NewProductScreenshotForm/useNewProductScreenshotForm.ts
Due: ts

feat(graphql-api): 회사 설립일을 null로 둘 수 있게
  apps/graphql-api/src/app/graphql/company/Company.mutation.resolver.ts
  apps/graphql-api/src/app/graphql/company/graphs/Company.ts
  apps/graphql-api/src/app/graphql/company/graphs/CreateCompany.ts
  libs/backend/src/libs/companies/datasource/entities/CompanySchema.ts
  libs/backend/src/libs/companies/domain/entities/Company.ts
  libs/backend/src/libs/companies/domain/usecases/CreateCompany.ts
Due: ts

feat(admin-web): 회사 설립일 미상으로 처리 가능한 체크박스 생성
  apps/graphql-api/schema.graphql
  libs/admin/src/libs/companies/components/AllCompanyListTable/__generated__/useAllCompanyListTable.ts
  libs/admin/src/libs/companies/components/NewCompanyForm/NewCompanyForm.tsx
  libs/admin/src/libs/companies/components/NewCompanyForm/useNewCompanyForm.ts
  libs/frontend/src/libs/products/components/ProductCompany/__generated__/useProductCompany.ts
  libs/shared/provider-graphql/src/index.ts
Due: ts, tsx

fix(admin-web): type
  libs/admin/src/libs/companies/components/AllCompanyListTable/AllCompanyListTable.tsx
Due: tsx

feat: 회사 설립일을 null로 둘 수 있게 (#233)
  apps/graphql-api/schema.graphql
  apps/graphql-api/src/app/graphql/company/Company.mutation.resolver.ts
  apps/graphql-api/src/app/graphql/company/graphs/Company.ts
  apps/graphql-api/src/app/graphql/company/graphs/CreateCompany.ts
  libs/admin/src/libs/companies/components/AllCompanyListTable/AllCompanyListTable.tsx
  libs/admin/src/libs/companies/components/AllCompanyListTable/__generated__/useAllCompanyListTable.ts
  libs/admin/src/libs/companies/components/NewCompanyForm/NewCompanyForm.tsx
  libs/admin/src/libs/companies/components/NewCompanyForm/useNewCompanyForm.ts
  libs/backend/src/libs/companies/datasource/entities/CompanySchema.ts
  libs/backend/src/libs/companies/domain/entities/Company.ts
  libs/backend/src/libs/companies/domain/usecases/CreateCompany.ts
  libs/frontend/src/libs/products/components/ProductCompany/__generated__/useProductCompany.ts
  libs/shared/provider-graphql/src/index.ts
Due: ts, tsx

feat(frontend): 배너 디자인 변경
  libs/frontend/src/libs/pages/HomePage.tsx
  libs/frontend/src/libs/products/shells/MainHeroBanner/MainHeroBanner.tsx
Due: tsx

feat(frontend): 배너 디자인 변경 (#238)
  libs/frontend/src/libs/pages/HomePage.tsx
  libs/frontend/src/libs/products/shells/MainHeroBanner/MainHeroBanner.tsx
Due: tsx

feat(admin): 운영사 등록 가능하게
  apps/admin-web/app/products/[slug]/company/new/page.tsx
  libs/admin/src/index.ts
  libs/admin/src/libs/companies/components/AllCompanyListTable/AllCompanyListTable.tsx
  libs/admin/src/libs/pages/ProductCompanyEditPage.tsx
  libs/admin/src/libs/pages/ProductDetailPage.tsx
  libs/admin/src/libs/products/components/EditProductCompany/EditProductCompany.tsx
  libs/admin/src/libs/products/components/EditProductCompany/__generated__/useEditProductCompany.ts
  libs/admin/src/libs/products/components/EditProductCompany/index.ts
  libs/admin/src/libs/products/components/EditProductCompany/useEditProductCompany.ts
  libs/admin/src/libs/products/components/ProductCompanyInfo/ProductCompanyInfo.tsx
  libs/admin/src/libs/products/components/ProductCompanyInfo/__generated__/useProductCompanyInfo.ts
  libs/admin/src/libs/products/components/ProductCompanyInfo/index.ts
  libs/admin/src/libs/products/components/ProductCompanyInfo/useProductCompanyInfo.ts
  libs/admin/src/libs/products/components/useEditProductCompany.ts/EditProductCompany.tsx
  libs/admin/src/libs/products/components/useEditProductCompany.ts/index.ts
  libs/admin/src/libs/products/shells/ProductCompanyEditSection/ProductCompanyEditSection.tsx
  libs/admin/src/libs/products/shells/ProductCompanyEditSection/index.ts
  libs/admin/src/libs/products/shells/ProductDetailCompanySection/ProductDetailCompanySection.tsx
  libs/admin/src/libs/products/shells/ProductDetailCompanySection/index.ts
  libs/admin/src/libs/products/shells/ProductDetailCompanySection/useProductDetailCompanySection.ts
  libs/frontend/src/libs/products/shells/MainHeroBanner/MainHeroBanner.tsx
Due: ts, tsx

feat(admin): 서비스에 운영사 등록 가능하게 함 (#239)
  apps/admin-web/app/products/[slug]/company/new/page.tsx
  libs/admin/src/index.ts
  libs/admin/src/libs/companies/components/AllCompanyListTable/AllCompanyListTable.tsx
  libs/admin/src/libs/pages/ProductCompanyEditPage.tsx
  libs/admin/src/libs/pages/ProductDetailPage.tsx
  libs/admin/src/libs/products/components/EditProductCompany/EditProductCompany.tsx
  libs/admin/src/libs/products/components/EditProductCompany/__generated__/useEditProductCompany.ts
  libs/admin/src/libs/products/components/EditProductCompany/index.ts
  libs/admin/src/libs/products/components/EditProductCompany/useEditProductCompany.ts
  libs/admin/src/libs/products/components/ProductCompanyInfo/ProductCompanyInfo.tsx
  libs/admin/src/libs/products/components/ProductCompanyInfo/__generated__/useProductCompanyInfo.ts
  libs/admin/src/libs/products/components/ProductCompanyInfo/index.ts
  libs/admin/src/libs/products/components/ProductCompanyInfo/useProductCompanyInfo.ts
  libs/admin/src/libs/products/components/useEditProductCompany.ts/EditProductCompany.tsx
  libs/admin/src/libs/products/components/useEditProductCompany.ts/index.ts
  libs/admin/src/libs/products/shells/ProductCompanyEditSection/ProductCompanyEditSection.tsx
  libs/admin/src/libs/products/shells/ProductCompanyEditSection/index.ts
  libs/admin/src/libs/products/shells/ProductDetailCompanySection/ProductDetailCompanySection.tsx
  libs/admin/src/libs/products/shells/ProductDetailCompanySection/index.ts
  libs/admin/src/libs/products/shells/ProductDetailCompanySection/useProductDetailCompanySection.ts
  libs/frontend/src/libs/products/shells/MainHeroBanner/MainHeroBanner.tsx
Due: ts, tsx

fix(frontend): 무지성 머지 하자 보수
  libs/frontend/src/libs/products/shells/MainHeroBanner/MainHeroBanner.tsx
Due: tsx

fix(frontend): 무지성 머지 하자 보수 (#240)
  libs/frontend/src/libs/products/shells/MainHeroBanner/MainHeroBanner.tsx
Due: tsx

feat: 메인 화면에 노출 서비스 개수를 24개로 늘린다
  libs/frontend/src/libs/products/components/RecentProductList/__generated__/useRecentProductList.ts
  libs/frontend/src/libs/products/components/RecentProductList/useRecentProductList.ts
Due: ts

feat: html title을 변경한다
  apps/service-web/app/layout.tsx
  apps/service-web/app/products/[slug]/alternatives/page.tsx
  apps/service-web/app/products/[slug]/page.tsx
Due: tsx

chore: remove powered by header
  apps/service-web/next.config.js
Due: js

refactor: lodash를 제거한다
  libs/backend/package.json
  libs/backend/src/libs/companies/datasource/repositories/PostgresqlCompanyRepository.ts
  libs/backend/src/libs/companies/domain/entities/Company.ts
  libs/backend/src/libs/products/datasource/repositories/PostgresqlProductFeatureRepository.ts
  libs/backend/src/libs/products/datasource/repositories/PostgresqlProductFeatureScreenshotRepository.ts
  libs/backend/src/libs/products/datasource/repositories/PostgresqlProductLinkRepository.ts
  libs/backend/src/libs/products/datasource/repositories/PostgresqlProductRepository.ts
  libs/backend/src/libs/products/datasource/repositories/PostgresqlProductScreenshotRepository.ts
  libs/backend/src/libs/recommendation/datasource/repositories/PostgresqlAlternativeProductRepository.ts
  pnpm-lock.yaml
Due: ts, json

fix: meta keyword 추가
  apps/service-web/app/products/[slug]/alternatives/page.tsx
  apps/service-web/app/products/[slug]/page.tsx
Due: tsx

chore: bump serverless-offline
  apps/graphql-api/package.json
  pnpm-lock.yaml
Due: json

feat: create magazine
  apps/graphql-api/schema.graphql
  apps/graphql-api/src/app/graphql/magazine/Magazine.mutation.resolver.ts
  apps/graphql-api/src/app/graphql/magazine/Magazine.query.resolver.ts
  apps/graphql-api/src/app/graphql/magazine/graphs/CreateMagazine.ts
  apps/graphql-api/src/app/graphql/magazine/graphs/Magazine.ts
  apps/graphql-api/src/app/resolvers.ts
  libs/backend/src/graphql-api.ts
  libs/backend/src/index.ts
  libs/backend/src/libs/magazine/datasource/entities/MagazineSchema.ts
  libs/backend/src/libs/magazine/datasource/index.ts
  libs/backend/src/libs/magazine/datasource/repositories/PostgresqlMagazineRepository.ts
  libs/backend/src/libs/magazine/domain/entities/Magazine.ts
  libs/backend/src/libs/magazine/domain/errors/magazineError.ts
  libs/backend/src/libs/magazine/domain/index.ts
  libs/backend/src/libs/magazine/domain/repositories/MagazineRepository.ts
  libs/backend/src/libs/magazine/domain/usecases/CreateMagazine.ts
  libs/backend/tsconfig.json
Due: ts, json

chore: codegen update
  libs/admin/src/libs/companies/components/AllCompanyListTable/__generated__/useAllCompanyListTable.ts
  libs/admin/src/libs/products/components/EditAlternativeProducts/__generated__/useEditAlternativeProducts.ts
  libs/admin/src/libs/products/components/EditProductDescription/__generated__/useEditProductDescription.ts
  libs/admin/src/libs/products/components/EditProductFeatureItem/__generated__/useEditProductFeatureItem.ts
  libs/admin/src/libs/products/components/EditProductInfo/__generated__/useEditProductInfo.ts
  libs/admin/src/libs/products/components/ProductCompanyInfo/__generated__/useProductCompanyInfo.ts
  libs/admin/src/libs/products/components/ProductDescription/__generated__/useProductDescription.ts
  libs/admin/src/libs/products/components/ProductFeatureTable/__generated__/useProductFeatureTable.ts
  libs/admin/src/libs/products/components/ProductInfo/__generated__/useProductInfo.ts
  libs/admin/src/libs/products/components/ProductLinkTable/__generated__/useProductLinkTable.ts
  libs/admin/src/libs/products/components/ProductListTable/__generated__/useProductListTable.ts
  libs/admin/src/libs/products/components/ProductTagsForm/__generated__/useProductTagsForm.ts
  libs/admin/src/libs/products/components/PublishProductButton/__generated__/usePublishProductButton.ts
  libs/admin/src/libs/products/components/SearchProductField/__generated__/useSearchProductField.ts
  libs/frontend/src/libs/products/components/AlternativeProductList/__generated__/useAlternativeProductList.ts
  libs/frontend/src/libs/products/components/ProductAlternativeList/__generated__/useProductAlternativeList.ts
  libs/frontend/src/libs/products/components/ProductCompany/__generated__/useProductCompany.ts
  libs/frontend/src/libs/products/components/ProductDescription/__generated__/useProductDescription.ts
  libs/frontend/src/libs/products/components/ProductFeatureList/__generated__/useProductFeatureList.ts
  libs/frontend/src/libs/products/components/ProductInformation/__generated__/useProductInformation.ts
  libs/frontend/src/libs/products/components/ProductLinks/__generated__/useProductLinks.ts
  libs/frontend/src/libs/products/components/ProductPhotos/__generated__/useProductPhotos.ts
  libs/frontend/src/libs/products/components/ProductUserAction/__generated__/useProductUserAction.ts
  libs/frontend/src/libs/products/components/ProductsCount/__generated__/useProductsCount.ts
  libs/frontend/src/libs/products/components/RecentProductList/__generated__/useRecentProductList.ts
  libs/frontend/src/libs/search/components/SearchProductList/__generated__/useSearchProductList.ts
  libs/shared/provider-graphql/package.json
  libs/shared/provider-graphql/src/index.ts
  pnpm-lock.yaml
Due: ts, json

chore: bump matine
  apps/admin-web/package.json
  apps/graphql-api/package.json
  apps/service-web/package.json
  libs/admin/package.json
  libs/backend/package.json
  libs/shared/provider-database/package.json
  pnpm-lock.yaml
Due: json

feat: publish magazine
  apps/graphql-api/schema.graphql
  apps/graphql-api/src/app/graphql/magazine/Magazine.mutation.resolver.ts
  apps/graphql-api/src/app/graphql/magazine/Magazine.query.resolver.ts
  apps/graphql-api/src/app/graphql/magazine/graphs/CreateMagazine.ts
  apps/graphql-api/src/app/graphql/magazine/graphs/PublishMagazine.ts
  apps/graphql-api/src/functions/graphql.ts
  libs/backend/src/index.ts
  libs/backend/src/libs/magazine/datasource/entities/MagazineSchema.ts
  libs/backend/src/libs/magazine/datasource/repositories/PostgresqlMagazineRepository.ts
  libs/backend/src/libs/magazine/domain/entities/Magazine.ts
  libs/backend/src/libs/magazine/domain/index.ts
  libs/backend/src/libs/magazine/domain/repositories/MagazineRepository.ts
  libs/backend/src/libs/magazine/domain/usecases/CreateMagazine.ts
  libs/backend/src/libs/magazine/domain/usecases/GetMagazine.ts
  libs/backend/src/libs/magazine/domain/usecases/GetPublishedMagazine.ts
  libs/shared/utils-apollo-server/src/libs/GraphQLContext/GraphQLContext.ts
Due: ts

feat(frontend): blockquote 스타일
  libs/frontend/src/libs/products/components/ProductDescription/ProductDescription.tsx
Due: tsx

feat: attachments upload
  libs/admin/package.json
  libs/admin/src/libs/uis/Editor/Editor.tsx
  libs/admin/src/libs/uis/Editor/MenuBar.tsx
  pnpm-lock.yaml
Due: tsx, json

fix: typeerror
  apps/graphql-api/src/app/graphql/magazine/Magazine.mutation.resolver.ts
  libs/admin/src/libs/products/components/ProductDescription/useProductDescription.ts
  libs/admin/src/libs/products/shells/NewProductAlternativeFormSection/NewProductAlternativeFormSection.tsx
  libs/admin/src/libs/products/shells/NewProductAlternativeFormSection/index.ts
  libs/backend/src/index.ts
  libs/backend/src/libs/companies/datasource/repositories/PostgresqlCompanyRepository.ts
  libs/backend/src/libs/companies/domain/entities/Company.ts
  libs/backend/src/libs/companies/domain/usecases/GetAllCompanies.ts
  libs/backend/src/libs/magazine/datasource/repositories/PostgresqlMagazineRepository.ts
  libs/backend/src/libs/magazine/domain/index.ts
  libs/backend/src/libs/magazine/domain/repositories/MagazineRepository.ts
  libs/backend/src/libs/magazine/domain/usecases/GetMagazine.ts
  libs/backend/src/libs/magazine/domain/usecases/GetPublishedMagazine.ts
  libs/backend/src/libs/magazine/domain/usecases/PublishMagazine.ts
  libs/backend/src/libs/products/datasource/repositories/PostgresqlProductFeatureRepository.ts
  libs/backend/src/libs/products/domain/entities/ProductFeature.ts
  libs/backend/src/libs/products/domain/usecases/AddProductLink.ts
  libs/backend/src/libs/products/domain/usecases/CreateProductFeature.ts
  libs/backend/src/libs/products/domain/usecases/GetProductFeature.ts
  libs/backend/src/libs/products/domain/usecases/UpdateProductFeature.ts
  libs/frontend/src/libs/products/components/AlternativeProductList/useAlternativeProductList.ts
  libs/frontend/src/libs/products/components/ProductAlternativeList/useProductAlternativeList.ts
  libs/frontend/src/libs/products/components/ProductCompany/useProductCompany.ts
  libs/frontend/src/libs/products/components/ProductDescription/useProductDescription.ts
  libs/frontend/src/libs/products/components/ProductFeatureList/useProductFeatureList.ts
  libs/frontend/src/libs/products/components/ProductInformation/useProductInformation.ts
  libs/frontend/src/libs/products/components/ProductLinks/useProductLinks.ts
  libs/frontend/src/libs/products/components/ProductPhotos/useProductPhotos.ts
  libs/frontend/src/libs/products/components/ProductsCount/useProductsCount.ts
  libs/frontend/src/libs/search/components/SearchProductList/useSearchProductList.ts
  libs/shared/utils-sentry/src/libs/SentryApolloLogPlugin/SentryApolloLogPlugin.ts
Due: ts, tsx

feat: author
  apps/graphql-api/schema.graphql
  apps/graphql-api/src/app/graphql/author/graphs/Author.ts
  apps/graphql-api/src/app/graphql/magazine/Magazine.query.resolver.ts
  apps/graphql-api/src/app/graphql/magazine/graphs/Magazine.ts
  libs/backend/src/graphql-api.ts
  libs/backend/src/index.ts
  libs/backend/src/libs/accounts/datasource/entities/ProfileSchema.ts
  libs/backend/src/libs/accounts/datasource/index.ts
  libs/backend/src/libs/accounts/datasource/repositories/PosgresqlProfileRepository.ts
  libs/backend/src/libs/accounts/domain/entities/Profile.ts
  libs/backend/src/libs/accounts/domain/index.ts
  libs/backend/src/libs/accounts/domain/repositories/ProfileRepository.ts
  libs/backend/src/libs/accounts/domain/usecases/GetProfile.ts
  libs/backend/src/libs/magazine/datasource/entities/MagazineSchema.ts
  libs/backend/src/libs/magazine/datasource/repositories/PostgresqlMagazineRepository.ts
  libs/backend/src/libs/magazine/domain/entities/Magazine.ts
Due: ts

feat(server): magazinePagination 구현
  apps/admin-web/app/layout.tsx
  apps/admin-web/app/magazines/create/page.tsx
  apps/admin-web/app/magazines/page.tsx
  apps/graphql-api/schema.graphql
  apps/graphql-api/src/app/graphql/magazine/Magazine.query.resolver.ts
  apps/graphql-api/src/app/graphql/magazine/graphs/MagazinePagination.ts
  libs/admin/src/index.ts
  libs/admin/src/libs/magazines/components/index.ts
  libs/admin/src/libs/magazines/shells/index.ts
  libs/admin/src/libs/pages/MagazineCreatePage.tsx
  libs/admin/src/libs/pages/MagazineListPage.tsx
  libs/admin/src/libs/uis/Navbar/Navbar.tsx
  libs/backend/src/index.ts
  libs/backend/src/libs/magazine/datasource/repositories/PostgresqlMagazineRepository.ts
  libs/backend/src/libs/magazine/domain/index.ts
  libs/backend/src/libs/magazine/domain/repositories/MagazineRepository.ts
  libs/backend/src/libs/magazine/domain/usecases/GetMagazineList.ts
Due: ts, tsx
