Repository croco-dev/darun: changes, and which lefthook commands are due for each by the changed paths.
All: ts, tsx, jsx, js, mdx, json

ts:
  run: eslint --fix --quiet {staged_files}

tsx:
  run: eslint --fix --quiet {staged_files}

jsx:
  run: eslint --fix --quiet {staged_files}

js:
  run: eslint --fix --quiet {staged_files}

mdx:
  run: eslint --fix --quiet {staged_files}

json:
  run: eslint --fix --quiet {staged_files}

refactor(shells): convert remaining Kuma UI files to Tailwind
  libs/products/shell/src/shells/AlternativeProductSection/AlternativeProductSection.tsx
  libs/products/shell/src/shells/MainHeroBanner/MainHeroBanner.tsx
  libs/products/shell/src/shells/ProductAlternativeSection/ProductAlternativeSection.tsx
  libs/products/shell/src/shells/ProductDescriptionSection/ProductDescriptionSection.tsx
  libs/products/shell/src/shells/ProductDetailCompanySection/ProductDetailCompanySection.tsx
  libs/products/shell/src/shells/ProductSummary/ProductSummary.tsx
  libs/products/shell/src/shells/ProductTocSection/ProductTocSection.tsx
  libs/products/shell/src/shells/RankedProductSection/RankedProductSection.tsx
  libs/products/shell/src/shells/RecentProductSection/RecentProductSection.tsx
Due: tsx

refactor(apps): remove Kuma UI from service-web and visual-web
  apps/service-web/app/[locale]/layout.tsx
  apps/service-web/kuma.config.ts
  apps/service-web/next.config.js
  apps/service-web/package.json
  apps/visual-web/app/layout.tsx
  apps/visual-web/app/page.tsx
  apps/visual-web/kuma.config.ts
  apps/visual-web/next.config.js
  apps/visual-web/package.json
  libs/products/shell/src/shells/ProductSummary/ProductSummary.tsx
  pnpm-lock.yaml
Due: ts, tsx, js, json

refactor(admin-products): convert 11 components from Mantine to Tailwind
  libs/admin-products/shell/src/components/GenerateProductDescriptionButton/GenerateProductDescriptionButton.tsx
  libs/admin-products/shell/src/components/IndexProductButton/IndexProductButton.tsx
  libs/admin-products/shell/src/components/NewProductFeatureForm/NewProductFeatureForm.tsx
  libs/admin-products/shell/src/components/NewProductForm/NewProductForm.tsx
  libs/admin-products/shell/src/components/NewProductLinkForm/NewProductLinkForm.tsx
  libs/admin-products/shell/src/components/NewProductScreenshotForm/NewProductScreenForm.tsx
  libs/admin-products/shell/src/components/ProductCompanyInfo/ProductCompanyInfo.tsx
  libs/admin-products/shell/src/components/ProductDescription/ProductDescription.tsx
  libs/admin-products/shell/src/components/ProductInfo/ProductInfo.tsx
  libs/admin-products/shell/src/components/ProductListRefreshButton/ProductListRefreshButton.tsx
  libs/admin-products/shell/src/components/PublishProductButton/PublishProductButton.tsx
Due: tsx

refactor(admin-products): convert 6 more components from Mantine to Tailwind
  libs/admin-products/shell/src/components/EditProductCompany/EditProductCompany.tsx
  libs/admin-products/shell/src/components/EditProductDescription/EditProductDescription.tsx
  libs/admin-products/shell/src/components/EditProductFeatureItem/EditProductFeatureItem.tsx
  libs/admin-products/shell/src/components/EditProductInfo/EditProductInfo.tsx
  libs/admin-products/shell/src/components/ProductDescription/ProductDescription.tsx
  libs/admin-products/shell/src/components/ProductFeatureTable/ProductFeatureTable.tsx
  libs/admin-products/shell/src/components/ProductListTable/ProductListTable.tsx
  libs/admin-products/shell/src/components/ProductTagsForm/ProductTagsForm.tsx
Due: tsx

refactor(admin-products): convert remaining components from Mantine to Tailwind
  libs/admin-products/shell/src/components/EditAlternativeProducts/EditAlternativeProducts.tsx
  libs/admin-products/shell/src/components/EditProductCompany/EditProductCompany.tsx
  libs/admin-products/shell/src/components/EditProductLinkItem/EditProductLinkItem.tsx
  libs/admin-products/shell/src/components/ProductLinkTable/ProductLinkTable.tsx
  libs/admin-products/shell/src/components/ProductListTable/ProductListTable.tsx
  libs/admin-products/shell/src/components/SearchProductField/SearchProductField.tsx
  libs/admin-products/shell/src/shells/NewProductFeatureFormSection/NewProductFeatureFormSection.tsx
  libs/admin-products/shell/src/shells/NewProductFormSection/NewProductFormSection.tsx
  libs/admin-products/shell/src/shells/NewProductLinkSection/NewProductLinkSection.tsx
  libs/admin-products/shell/src/shells/NewProductScreenshotFormSection/NewProductScreenshotFormSection.tsx
  libs/admin-products/shell/src/shells/ProductDetailAlternativeSection/ProductDetailAlternativeSection.tsx
  libs/admin-products/shell/src/shells/ProductDetailDescriptionSection/ProductDetailDescriptionSection.tsx
  libs/admin-products/shell/src/shells/ProductDetailFeatureSection/ProductDetailFeatureSection.tsx
Due: tsx

refactor(admin-products): convert final 4 shell files from Mantine to Tailwind
  libs/admin-products/shell/src/shells/ProductCompanyEditSection/ProductCompanyEditSection.tsx
  libs/admin-products/shell/src/shells/ProductDetailCompanySection/ProductDetailCompanySection.tsx
  libs/admin-products/shell/src/shells/ProductDetailInfoSection/ProductDetaiInfoSection.tsx
  libs/admin-products/shell/src/shells/ProductDetailLinkSection/ProductDetailLinkSection.tsx
Due: tsx

refactor(admin-pages): convert 4 UI files from Mantine to Tailwind
  libs/admin-pages/shell/src/uis/AppShell/AppShell.tsx
  libs/admin-pages/shell/src/uis/GoogleButton/GoogleButton.tsx
  libs/admin-pages/shell/src/uis/Navbar/Navbar.tsx
  libs/admin-pages/shell/src/uis/PageShell/PageShell.tsx
Due: tsx

refactor(admin-pages): convert all page files from Mantine to Tailwind
  libs/admin-pages/shell/src/pages/CompanyListPage.tsx
  libs/admin-pages/shell/src/pages/HomePage.tsx
  libs/admin-pages/shell/src/pages/LoginPage.tsx
  libs/admin-pages/shell/src/pages/LogoutPage.tsx
  libs/admin-pages/shell/src/pages/MagazineListPage.tsx
  libs/admin-pages/shell/src/pages/NewProductFeaturePage.tsx
  libs/admin-pages/shell/src/pages/NewProductLinkPage.tsx
  libs/admin-pages/shell/src/pages/NewProductScreenshotPage.tsx
  libs/admin-pages/shell/src/pages/ProductDetailPage.tsx
  libs/admin-pages/shell/src/pages/ProductListPage.tsx
Due: tsx

refactor(admin): convert magazines and accounts from Mantine to Tailwind
  libs/admin-accounts/shell/src/shells/LoginSection/LoginSection.tsx
  libs/admin-magazines/shell/src/components/ArticleCard/ArticleCard.tsx
  libs/admin-magazines/shell/src/components/WriteMagazine/WriteMagazine.tsx
  libs/admin-magazines/shell/src/shells/MagazineWriteSection/MagazineWriteSection.tsx
  libs/admin-magazines/shell/src/shells/MagazinesList/MagazinesList.tsx
Due: tsx

refactor(admin-companies): convert all files from Mantine to Tailwind
  libs/admin-companies/shell/src/components/AllCompanyListTable/AllCompanyListTable.tsx
  libs/admin-companies/shell/src/components/NewCompanyForm/NewCompanyForm.tsx
  libs/admin-companies/shell/src/shells/NewCompanyFormSection/NewCompanyFormSection.tsx
Due: tsx

refactor(admin): remove all Mantine dependencies
  libs/admin-companies/shell/src/shells/AllCompaniesList/AllCompaniesList.tsx
  libs/admin-products/shell/src/shells/ProductDetailInfoSection/ProductDetaiInfoSection.tsx
Due: tsx

refactor(admin-web): remove all Mantine dependencies
  apps/admin-web/app/_mantine.tsx
  apps/admin-web/app/client.tsx
  apps/admin-web/app/layout.tsx
  apps/admin-web/package.json
  pnpm-lock.yaml
Due: tsx, json

chore: update workspace and turbo configuration
  pnpm-workspace.yaml
Due: none

refactor(service-web): convert remaining Kuma UI files to Tailwind
  apps/service-web/app/[locale]/error.tsx
  apps/service-web/app/[locale]/loading.tsx
  apps/service-web/app/[locale]/not-found.tsx
Due: tsx

feat(admin): Phase B - Route Flatten + admin-pages-shell 제거
  apps/admin-web/app/auth/login/page.tsx
  apps/admin-web/app/auth/logout/page.tsx
  apps/admin-web/app/companies/new/page.tsx
  apps/admin-web/app/companies/page.tsx
  apps/admin-web/app/magazines/create/page.tsx
  apps/admin-web/app/magazines/page.tsx
  apps/admin-web/app/page.tsx
  apps/admin-web/app/products/[slug]/company/new/page.tsx
  apps/admin-web/app/products/[slug]/features/new/page.tsx
  apps/admin-web/app/products/[slug]/links/new/page.tsx
  apps/admin-web/app/products/[slug]/page.tsx
  apps/admin-web/app/products/[slug]/screenshots/new/page.tsx
  apps/admin-web/app/products/new/page.tsx
  apps/admin-web/app/products/page.tsx
  apps/admin-web/app/serverContainer.ts
  apps/admin-web/package.json
  biome.json
  libs/admin-magazines/shell/src/components/WriteMagazine/useWriteMagazine.ts
  libs/admin-pages/shell/package.json
  libs/admin-pages/shell/src/index.ts
  libs/admin-pages/shell/src/pages/CompanyListPage.tsx
  libs/admin-pages/shell/src/pages/HomePage.tsx
  libs/admin-pages/shell/src/pages/LoginPage.tsx
  libs/admin-pages/shell/src/pages/LogoutPage.tsx
  libs/admin-pages/shell/src/pages/MagazineCreatePage.tsx
  libs/admin-pages/shell/src/pages/MagazineListPage.tsx
  libs/admin-pages/shell/src/pages/NewCompanyPage.tsx
  libs/admin-pages/shell/src/pages/NewProductFeaturePage.tsx
  libs/admin-pages/shell/src/pages/NewProductLinkPage.tsx
  libs/admin-pages/shell/src/pages/NewProductPage.tsx
  libs/admin-pages/shell/src/pages/NewProductScreenshotPage.tsx
  libs/admin-pages/shell/src/pages/ProductCompanyEditPage.tsx
  libs/admin-pages/shell/src/pages/ProductDetailPage.tsx
  libs/admin-pages/shell/src/pages/ProductListPage.tsx
  libs/admin-pages/shell/src/pages/index.ts
  libs/admin-pages/shell/tsconfig.json
  libs/admin-products/shell/src/components/NewProductScreenshotForm/useNewProductScreenshotForm.ts
  pnpm-lock.yaml
Due: ts, tsx, json

feat(admin): Phase E - Cleanup + Final Verification
  .cursor/rules/100-client-development.mdc
  apps/admin-web/app/auth/login/page.tsx
  apps/admin-web/app/auth/logout/page.tsx
  apps/admin-web/app/products/[slug]/company/new/page.tsx
  apps/admin-web/app/products/[slug]/features/new/page.tsx
  apps/admin-web/app/products/[slug]/links/new/page.tsx
  apps/admin-web/app/products/[slug]/page.tsx
  apps/admin-web/app/products/[slug]/screenshots/new/page.tsx
  apps/admin-web/app/products/new/page.tsx
  apps/admin-web/app/products/page.tsx
  apps/admin-web/features/products/NewProductFeatureFormSection/index.ts
  apps/admin-web/features/products/NewProductFormSection/index.ts
  apps/admin-web/features/products/NewProductLinkSection/index.ts
  apps/admin-web/features/products/NewProductScreenshotFormSection/index.ts
  apps/admin-web/features/products/ProductCompanyEditSection/index.ts
  apps/admin-web/features/products/ProductDetailAlternativeSection/index.ts
  apps/admin-web/features/products/ProductDetailCompanySection/index.ts
  apps/admin-web/features/products/ProductDetailDescriptionSection/index.ts
  apps/admin-web/features/products/ProductDetailFeatureSection/index.ts
  apps/admin-web/features/products/ProductDetailInfoSection/index.ts
  apps/admin-web/features/products/ProductDetailLinkSection/index.ts
  apps/admin-web/features/products/ProductListSection/index.ts
  apps/admin-web/features/products/index.ts
  apps/admin-web/tsconfig.json
  libs/companies/feature/src/index.ts
  libs/magazines/feature/src/index.ts
Due: ts, tsx, json

fix(admin): MantineProvider 추가 및 serverContainer 타입 에러 workaround
  apps/admin-web/app/client.tsx
  apps/admin-web/app/serverContainer.ts
Due: ts, tsx

fix(admin): Remove unused AuthProvider and fix serverContainer auth config
  apps/admin-web/app/client.tsx
  apps/admin-web/app/serverContainer.ts
Due: ts, tsx

fix(service-web): include shared UI packages in Tailwind scan
  tailwind.config.ts
Due: ts

fix(admin): restore Mantine styles and align server container
  apps/admin-web/app/layout.tsx
  apps/admin-web/app/serverContainer.ts
Due: ts, tsx

fix(graphql-api): avoid frontend bundle leakage in resolvers
  apps/graphql-api/src/app/resolvers.ts
Due: ts

fix(web): align Tailwind with v4 CSS-first setup
  apps/admin-web/app/globals.css
  apps/service-web/app/globals.css
  apps/visual-web/app/globals.css
  biome.json
  package.json
  pnpm-lock.yaml
  turbo.json
Due: json

fix(web): restore spacing utilities by layering global reset
  apps/service-web/app/globals.css
  apps/visual-web/app/globals.css
Due: none

fix(service-web): avoid hydration mismatch in product description
  libs/products/shell/src/components/ProductDescription/ProductDescription.tsx
Due: tsx

fix(graphql-api): lazily initialize LLM client
  libs/shared/utils-llm/src/constant.ts
  libs/shared/utils-llm/src/libs/LlmClient.ts
Due: ts

fix(admin): restore auth context on login page
  apps/admin-web/app/client.tsx
  apps/admin-web/features/auth/LoginButton/LoginButton.tsx
Due: tsx

fix(admin): declare emoji-mart dependencies
  apps/admin-web/package.json
  libs/products/feature/package.json
  pnpm-lock.yaml
Due: json

fix(admin): declare icon dependencies
  apps/admin-web/package.json
  pnpm-lock.yaml
Due: json

fix(admin): avoid bind runtime in product list table
  libs/products/feature/src/ProductListTable/ProductListTable.tsx
Due: tsx

fix(security): sanitize product description HTML with DOMPurify to prevent XSS
  libs/products/feature/package.json
  libs/products/feature/src/ProductDescription/ProductDescription.tsx
  libs/products/shell/package.json
  libs/products/shell/src/components/ProductDescription/ProductDescription.tsx
  pnpm-lock.yaml
Due: tsx, json

feat(security): add security response headers to service-web
  apps/service-web/next.config.js
Due: js

feat(lint): add Biome linter rules with TypeDI parameter decorator support
  .biomeignore
  biome.json
Due: json

feat(test): set up vitest workspace and add pilot domain tests
  libs/companies/domain/package.json
  libs/companies/domain/src/__tests__/company.entity.test.ts
  libs/products/domain/package.json
  libs/products/domain/src/__tests__/product.entity.test.ts
  vitest.config.ts
  vitest.workspace.ts
Due: ts, json

refactor(apollo): use public API imports instead of internal paths
  libs/shared/utils-apollo-server/src/libs/createLambdaHandler/createLambdaHandler.ts
Due: ts

chore(deps): upgrade Apollo Server v4 to v5
  apps/graphql-api/package.json
  libs/shared/utils-apollo-server/package.json
  libs/shared/utils-apollo-server/src/libs/createLambdaHandler/createLambdaHandler.ts
  pnpm-lock.yaml
  vitest.workspace.ts
Due: ts, json

refactor: move pagination types to utils-apollo-server for shared use
  apps/graphql-api/src/app/graphql/common/Connection.ts
  apps/graphql-api/src/app/graphql/common/ConnectionArgs.ts
  apps/graphql-api/src/app/graphql/common/Cursor.ts
  apps/graphql-api/src/app/graphql/common/PageInfo.ts
  libs/shared/utils-apollo-server/src/index.ts
  libs/shared/utils-apollo-server/src/pagination/Connection.ts
  libs/shared/utils-apollo-server/src/pagination/ConnectionArgs.ts
  libs/shared/utils-apollo-server/src/pagination/Cursor.ts
  libs/shared/utils-apollo-server/src/pagination/PageInfo.ts
  libs/shared/utils-apollo-server/src/pagination/index.ts
Due: ts

Path conditions:
  ts: any of: *.ts
  tsx: any of: *.tsx
  jsx: any of: *.jsx
  js: any of: *.js
  mdx: any of: *.mdx
  json: any of: *.json
