Repository croco-dev/darun: changes, and which lefthook commands are due for each by the changed paths.
All: ts, tsx, jsx, js, mdx, json

ts:
  run: eslint --fix --quiet {staged_files}

tsx:
  run: eslint --fix --quiet {staged_files}

jsx:
  run: eslint --fix --quiet {staged_files}

js:
  run: eslint --fix --quiet {staged_files}

mdx:
  run: eslint --fix --quiet {staged_files}

json:
  run: eslint --fix --quiet {staged_files}

feat(ui-layout): improve header navigation and search behavior
  libs/shared/ui-layout/src/libs/Header/Header.tsx
  libs/shared/ui-layout/src/libs/Header/useHeader.ts
  libs/shared/ui-layout/src/libs/HeaderLoginButton/HeaderLoginButton.tsx
  libs/shared/ui-layout/src/libs/HeaderSearchForm/HeaderSearchForm.tsx
  libs/shared/ui-layout/src/libs/HeaderSearchForm/useHeaderSearchForm.ts
Due: ts, tsx

fix(frontend): harden search query handling and remove placeholder screens
  apps/visual-web/app/page.tsx
  libs/admin/src/libs/accounts/components/LogoutButton/LogoutButton.module.css
  libs/admin/src/libs/accounts/components/LogoutButton/LogoutButton.tsx
  libs/admin/src/libs/pages/HomePage.tsx
  libs/frontend/src/libs/pages/SearchProductPage.tsx
Due: tsx

refactor(apps): unify apollo client setup and next configs
  apps/admin-web/app/container.ts
  apps/service-web/app/container.ts
  apps/service-web/next.config.js
  apps/service-web/tsconfig.json
  apps/visual-web/app/container.ts
  apps/visual-web/app/global-error.tsx
  apps/visual-web/next.config.js
  apps/visual-web/tsconfig.json
Due: ts, tsx, js, json

fix(admin-web): handle async route params and tighten auth cookie typing
  apps/admin-web/app/products/[slug]/company/new/page.tsx
  apps/admin-web/app/products/[slug]/features/new/page.tsx
  apps/admin-web/app/products/[slug]/links/new/page.tsx
  apps/admin-web/app/products/[slug]/page.tsx
  apps/admin-web/app/products/[slug]/screenshots/new/page.tsx
  apps/admin-web/middleware.ts
  libs/admin/src/libs/uis/Navbar/Navbar.tsx
Due: ts, tsx

fix(service-web): align async params and harden sitemap generation
  apps/service-web/app/[locale]/layout.tsx
  apps/service-web/app/[locale]/magazines/[slug]/page.tsx
  apps/service-web/app/[locale]/products/[slug]/alternatives/page.tsx
  apps/service-web/app/[locale]/products/[slug]/page.tsx
  apps/service-web/app/[locale]/search/product/page.tsx
  apps/service-web/app/sitemap.ts
  apps/service-web/next.config.js
Due: ts, tsx, js

fix(api): harden mutation typing and alternative update logic
  apps/graphql-api/src/app/graphql/magazine/Magazine.mutation.resolver.ts
  apps/graphql-api/src/app/graphql/product/Product.mutation.resolver.ts
  apps/graphql-api/tsconfig.json
  libs/backend/src/libs/companies/datasource/repositories/PostgresqlCompanyRepository.ts
  libs/backend/src/libs/magazine/domain/entities/Magazine.ts
  libs/backend/src/libs/products/domain/entities/Product.ts
  libs/backend/src/libs/products/domain/entities/ProductFeature.ts
  libs/backend/src/libs/products/domain/entities/ProductLink.ts
  libs/backend/src/libs/recommendation/domain/usecases/UpdateAlternativeProduct.ts
Due: ts, json

fix(api): enforce admin magazine edits and tighten loader typing
  apps/graphql-api/src/app/graphql/magazine/Magazine.mutation.resolver.ts
  libs/backend/src/libs/companies/datasource/repositories/PostgresqlCompanyRepository.ts
  libs/backend/src/libs/magazine/domain/entities/Magazine.ts
  libs/backend/src/libs/products/domain/entities/ProductFeature.ts
Due: ts

fix(frontend): improve toc sync and firebase token handling
  libs/frontend/src/libs/products/components/FAQSection/FAQSection.tsx
  libs/frontend/src/libs/products/components/ProductTableOfContent/useProductTableOfContent.ts
  libs/frontend/src/libs/products/shells/ProductTocSection/useProductTocSection.ts
  libs/shared/utils-auth-service/firebase/src/libs/FirebaseAuthService/FirebaseAuthService.ts
Due: ts, tsx

fix(frontend): sync toc state and harden firebase auth token flow
  libs/frontend/src/libs/products/components/FAQSection/FAQSection.tsx
  libs/frontend/src/libs/products/components/ProductTableOfContent/useProductTableOfContent.ts
  libs/frontend/src/libs/products/shells/ProductTocSection/useProductTocSection.ts
  libs/shared/utils-apollo-client/client/src/libs/ApolloProvider.tsx
  libs/shared/utils-auth-service/firebase/src/libs/FirebaseAuthService/FirebaseAuthService.ts
Due: ts, tsx

style: normalize formatting in config and shared UI files
  apps/visual-web/next.config.js
  libs/admin/src/libs/uis/Navbar/Navbar.tsx
  libs/shared/utils-apollo-client/client/src/libs/ApolloProvider.tsx
Due: tsx, js

fix(service-web): prevent locale 500 from react runtime mismatch
  apps/service-web/app/shims/utils-structure-react.ts
  apps/service-web/next.config.js
  libs/shared/ui-layout/src/libs/Header/Header.tsx
Due: ts, tsx, js

fix(backend): clarify magazine errors and fail fast on alternative insert
  libs/backend/src/libs/magazine/domain/usecases/GetMagazine.ts
  libs/backend/src/libs/magazine/domain/usecases/GetPublishedMagazine.ts
  libs/backend/src/libs/recommendation/datasource/repositories/PostgresqlAlternativeProductRepository.ts
Due: ts

fix: resolve hidden bugs and improve UX/DX across modules
  libs/admin/src/libs/companies/components/AllCompanyListTable/AllCompanyListTable.tsx
  libs/admin/src/libs/companies/components/NewCompanyForm/NewCompanyForm.tsx
  libs/admin/src/libs/companies/components/NewCompanyForm/useNewCompanyForm.ts
  libs/admin/src/libs/products/components/EditProductCompany/useEditProductCompany.ts
  libs/admin/src/libs/products/components/ProductCompanyInfo/ProductCompanyInfo.tsx
  libs/admin/src/libs/products/components/SearchProductField/useSearchProductField.ts
  libs/backend/src/libs/magazine/domain/usecases/GetMagazine.ts
  libs/backend/src/libs/magazine/domain/usecases/GetPublishedMagazine.ts
  libs/backend/src/libs/recommendation/datasource/repositories/PostgresqlAlternativeProductRepository.ts
  libs/frontend/src/libs/products/components/ProductCompany/ProductCompany.tsx
Due: ts, tsx

fix: harden pagination and product update consistency
  apps/graphql-api/src/app/graphql/common/Connection.ts
  libs/backend/src/libs/products/datasource/repositories/PostgresqlProductRepository.ts
  libs/backend/src/libs/products/domain/usecases/GenerateProductDescription.ts
Due: ts

fix: improve admin upload and search failure handling
  libs/admin/src/libs/products/components/EditProductCompany/useEditProductCompany.ts
  libs/admin/src/libs/products/components/SearchProductField/useSearchProductField.ts
  libs/admin/src/libs/utils/useImageUplaod/useImageUpload.ts
Due: ts

chore: normalize image upload hook formatting
  libs/admin/src/libs/utils/useImageUplaod/useImageUpload.ts
Due: ts

fix: harden env handling and improve web/editor accessibility
  apps/admin-web/package.json
  apps/graphql-api/src/config/environment.ts
  apps/service-web/app/[locale]/loading.tsx
  apps/service-web/app/[locale]/magazines/[slug]/page.tsx
  apps/service-web/app/[locale]/products/[slug]/page.tsx
  apps/service-web/package.json
  apps/visual-web/package.json
  libs/admin/src/libs/uis/Editor/MenuBar.tsx
  libs/admin/src/libs/uis/Editor/MenuItem.scss
  libs/admin/src/libs/uis/Editor/MenuItem.tsx
  libs/frontend/src/libs/products/components/FAQSection/FAQSection.tsx
  libs/frontend/src/libs/products/components/ProductTableOfContent/ProductTableOfContent.tsx
  libs/frontend/src/libs/products/uis/ProductItem/ProductItem.tsx
  libs/shared/utils-auth-service/firebase/src/libs/FirebaseAuthService/FirebaseAuthService.ts
Due: ts, tsx, json

fix(auth-provider): preserve redirect intent until authenticated navigation
  libs/shared/provider-auth/client/src/libs/AuthStateProvider/AuthStateProvider.tsx
Due: tsx

fix(product-toc): stabilize active heading tracking and scroll updates
  libs/frontend/src/libs/products/components/ProductTableOfContent/useProductTableOfContent.ts
  libs/frontend/src/libs/products/shells/ProductTocSection/useProductTocSection.ts
Due: ts

fix(product-links): harden external links and lint-safe fragment declaration
  libs/admin/src/libs/products/components/ProductLinkTable/ProductLinkTable.tsx
  libs/frontend/src/libs/products/components/ProductLinks/ProductLinks.tsx
Due: tsx

fix(admin): make product-link query declaration lint-safe and explicit nullable edit state
  libs/admin/src/libs/products/components/ProductLinkTable/useProductLinkTable.ts
  libs/admin/src/libs/products/shells/ProductDetailFeatureSection/useProductDetailFeatureSection.ts
Due: ts

chore(eslint): remove redundant root js wrapper config
  eslint.config.js
Due: js

fix(backend): harden LLM output and pagination totals
  libs/backend/src/libs/companies/datasource/repositories/PostgresqlCompanyRepository.ts
  libs/backend/src/libs/magazine/datasource/repositories/PostgresqlMagazineRepository.ts
  libs/backend/src/libs/products/datasource/services/ProductDescriptionGeneratorImpl.ts
  libs/shared/utils-llm/src/libs/LlmClient.ts
Due: ts

fix(admin): improve UX errors and graphql logging DX
  apps/admin-web/app/container.ts
  apps/service-web/app/container.ts
  apps/visual-web/app/container.ts
  libs/admin/src/libs/products/components/EditProductCompany/useEditProductCompany.ts
  libs/admin/src/libs/products/components/GenerateProductDescriptionButton/GenerateProductDescriptionButton.tsx
  libs/admin/src/libs/products/components/GenerateProductDescriptionButton/useGenerateProductDescriptionButton.ts
  libs/admin/src/libs/products/components/NewProductForm/useNewProductForm.ts
  libs/admin/src/libs/utils/useImageUplaod/useImageUpload.ts
  libs/shared/provider-graphql/package.json
Due: ts, tsx, json

refactor: migrate @darun/frontend and @darun/admin imports to new shell packages
  apps/admin-web/package.json
  apps/service-web/app/[locale]/magazines/[slug]/page.tsx
  apps/service-web/app/[locale]/page.tsx
  apps/service-web/app/[locale]/products/[slug]/alternatives/page.tsx
  apps/service-web/app/[locale]/products/[slug]/page.tsx
  apps/service-web/app/[locale]/ranking/page.tsx
  apps/service-web/app/[locale]/search/product/page.tsx
  apps/service-web/package.json
  apps/service-web/tsconfig.json
  apps/visual-web/package.json
  apps/visual-web/tsconfig.json
  libs/admin-accounts/shell/src/components/LoginButton/LoginButton.tsx
  libs/admin-products/shell/src/components/EditProductDescription/EditProductDescription.tsx
  pnpm-lock.yaml
Due: tsx, json

feat(ui): create @darun/ui package with Tailwind + CVA components
  apps/service-web/app/[locale]/magazines/[slug]/page.tsx
  apps/service-web/app/[locale]/products/[slug]/alternatives/page.tsx
  apps/service-web/app/[locale]/products/[slug]/page.tsx
  apps/service-web/app/[locale]/search/product/page.tsx
  libs/opengraph/shell/src/utils/fonts.ts
  libs/shared/ui/eslint.config.mjs
  libs/shared/ui/package.json
  libs/shared/ui/src/components/Button.tsx
  libs/shared/ui/src/components/Chip.tsx
  libs/shared/ui/src/components/ContentArea.tsx
  libs/shared/ui/src/index.ts
  libs/shared/ui/tsconfig.json
  pnpm-lock.yaml
Due: ts, tsx, json

refactor(ui-layout): rewrite with Tailwind CSS
  libs/opengraph/shell/src/utils/fonts.ts
  libs/shared/ui-layout/package.json
  libs/shared/ui-layout/src/Layout.tsx
  libs/shared/ui-layout/src/libs/Footer/Footer.tsx
  libs/shared/ui-layout/src/libs/Header/Header.tsx
  libs/shared/ui-layout/src/libs/Header/LanguageSwitcher.tsx
  libs/shared/ui-layout/src/libs/HeaderSearchForm/HeaderSearchForm.tsx
  libs/shared/ui/src/components/Button.tsx
  libs/shared/ui/src/components/Chip.tsx
  libs/shared/ui/src/components/ContentArea.tsx
  libs/shared/ui/src/index.ts
Due: ts, tsx, json

feat(service-web): add Tailwind CSS configuration
  apps/service-web/app/globals.css
  apps/service-web/next.config.js
  apps/service-web/postcss.config.mjs
  libs/shared/ui-layout/src/Layout.tsx
  libs/shared/ui-layout/src/libs/Footer/Footer.tsx
  libs/shared/ui-layout/src/libs/Header/Header.tsx
  libs/shared/ui-layout/src/libs/Header/LanguageSwitcher.tsx
  libs/shared/ui-layout/src/libs/HeaderSearchForm/HeaderSearchForm.tsx
Due: tsx, js

feat(apps): add Tailwind CSS configuration to admin-web and visual-web
  apps/admin-web/app/globals.css
  apps/admin-web/next.config.mjs
  apps/admin-web/postcss.config.cjs
  apps/admin-web/postcss.config.mjs
  apps/service-web/next.config.js
  apps/visual-web/app/globals.css
  apps/visual-web/next.config.js
  apps/visual-web/postcss.config.mjs
Due: js

feat(deps): install admin replacement libraries
  package.json
  pnpm-lock.yaml
Due: json

refactor(shell): convert Kuma UI to Tailwind in pages-shell and search-shell
  libs/pages/shell/src/HomePage.tsx
  libs/pages/shell/src/MagazineContentPage.tsx
  libs/pages/shell/src/ProductAlternativePage.tsx
  libs/pages/shell/src/ProductDetailPage.tsx
  libs/pages/shell/src/RankingPage.tsx
  libs/pages/shell/src/SearchProductPage.tsx
  libs/search/shell/src/components/SearchProductList/SearchProductList.tsx
Due: tsx

refactor(products-shell): convert Kuma UI to Tailwind
  libs/pages/shell/src/HomePage.tsx
  libs/pages/shell/src/MagazineContentPage.tsx
  libs/pages/shell/src/ProductAlternativePage.tsx
  libs/pages/shell/src/ProductDetailPage.tsx
  libs/pages/shell/src/RankingPage.tsx
  libs/pages/shell/src/SearchProductPage.tsx
  libs/products/shell/src/components/AlternativeProductList/AlternativeProductList.tsx
  libs/products/shell/src/components/FAQSection/FAQSection.tsx
  libs/products/shell/src/components/ProductAlternativeList/ProductAlternativeList.tsx
  libs/products/shell/src/components/ProductCompany/ProductCompany.tsx
  libs/products/shell/src/components/ProductDescription/ProductDescription.tsx
  libs/products/shell/src/components/ProductFeatureList/ProductFeatureList.tsx
  libs/products/shell/src/components/ProductLinks/ProductLinks.tsx
  libs/products/shell/src/components/ProductPhotos/ProductPhotos.tsx
  libs/products/shell/src/components/ProductTableOfContent/ProductTableOfContent.tsx
  libs/products/shell/src/components/ProductUserAction/ProductUserAction.tsx
  libs/products/shell/src/components/ProductsCount/ProductsCount.tsx
  libs/products/shell/src/components/RankedProductList/RankedProductList.tsx
  libs/products/shell/src/components/RecentProductList/RecentProductList.tsx
  libs/products/shell/src/uis/FeatureItem/FeatureItem.tsx
  libs/products/shell/src/uis/ProductFeatureGridList/ProductFeatureGridList.tsx
  libs/products/shell/src/uis/ProductItem/ProductItem.tsx
  libs/search/shell/src/components/SearchProductList/SearchProductList.tsx
Due: tsx

Convert ProductPhotoSection from Kuma UI to Tailwind
  libs/products/shell/src/shells/ProductPhotoSection/ProductPhotoSection.tsx
Due: tsx

refactor(shells): convert remaining Kuma UI files to Tailwind
  libs/magazines/shell/src/shells/MagazineInfoSection/MagazineInfoSection.tsx
  libs/products/shell/src/components/AlternativeProductList/AlternativeProductList.tsx
  libs/products/shell/src/components/FAQSection/FAQSection.tsx
  libs/products/shell/src/components/ProductAlternativeList/ProductAlternativeList.tsx
  libs/products/shell/src/components/ProductCompany/ProductCompany.tsx
  libs/products/shell/src/components/ProductDescription/ProductDescription.tsx
  libs/products/shell/src/components/ProductFeatureList/ProductFeatureList.tsx
  libs/products/shell/src/components/ProductLinks/ProductLinks.tsx
  libs/products/shell/src/components/ProductPhotos/ProductPhotos.tsx
  libs/products/shell/src/components/ProductTableOfContent/ProductTableOfContent.tsx
  libs/products/shell/src/components/ProductUserAction/ProductUserAction.tsx
  libs/products/shell/src/components/ProductsCount/ProductsCount.tsx
  libs/products/shell/src/components/RankedProductList/RankedProductList.tsx
  libs/products/shell/src/components/RecentProductList/RecentProductList.tsx
  libs/products/shell/src/shells/MainHeroBanner/MainHeroBanner.tsx
  libs/products/shell/src/shells/ProductDetailFeatureSection/ProductDetailFeatureSection.tsx
  libs/products/shell/src/shells/ProductSummaryLink/ProductSummaryLink.tsx
  libs/products/shell/src/shells/RecentProductSection/RecentProductSection.tsx
  libs/products/shell/src/uis/FeatureItem/FeatureItem.tsx
  libs/products/shell/src/uis/ProductFeatureGridList/ProductFeatureGridList.tsx
  libs/products/shell/src/uis/ProductItem/ProductItem.tsx
Due: tsx

Path conditions:
  ts: any of: *.ts
  tsx: any of: *.tsx
  jsx: any of: *.jsx
  js: any of: *.js
  mdx: any of: *.mdx
  json: any of: *.json
