Repository croco-dev/darun: changes, and which lefthook commands are due for each by the changed paths.
All: ts, tsx, jsx, js, mdx, json

ts:
  run: eslint --fix --quiet {staged_files}

tsx:
  run: eslint --fix --quiet {staged_files}

jsx:
  run: eslint --fix --quiet {staged_files}

js:
  run: eslint --fix --quiet {staged_files}

mdx:
  run: eslint --fix --quiet {staged_files}

json:
  run: eslint --fix --quiet {staged_files}

feat: 검색 쿼리에 name 가중치를 준다
  libs/backend/src/libs/search/datasource/repositories/MongodbSearchableProductRepository.ts
Due: ts

feat(service-web): alternatives 페이지에서 기본 정보 제거
  libs/frontend/src/libs/products/components/ProductAlternativeList/ProductAlternativeList.tsx
Due: tsx

feat(service-web): 다른 서비스 더 찾아보기 버튼
  libs/frontend/src/libs/products/shells/ProductAlternativeSection/ProductAlternativeSection.tsx
  libs/shared/ui-foundation/src/libs/BaseButton/BaseButton.tsx
Due: tsx

feat: sentry 설정
  apps/service-web/.env.sample
  apps/service-web/.gitignore
  apps/service-web/app/api/sentry-example-api/route.ts
  apps/service-web/app/global-error.tsx
  apps/service-web/app/sentry-example-page/page.tsx
  apps/service-web/instrumentation.ts
  apps/service-web/next.config.js
  apps/service-web/package.json
  apps/service-web/sentry.client.config.ts
  apps/service-web/sentry.edge.config.ts
  apps/service-web/sentry.server.config.ts
  pnpm-lock.yaml
Due: ts, tsx, js, json

feat: server에도 sentry를 적용한다
  apps/graphql-api/.env.sample
  apps/graphql-api/.gitignore
  apps/graphql-api/esbuild.plugins.js
  apps/graphql-api/package.json
  apps/graphql-api/src/config/sentry.ts
  apps/graphql-api/src/functions/graphql.ts
  pnpm-lock.yaml
Due: ts, js, json

feat(service-web): 다른 서비스 더 찾아보기 버튼 (#207)
  libs/frontend/src/libs/products/shells/ProductAlternativeSection/ProductAlternativeSection.tsx
  libs/shared/ui-foundation/src/libs/BaseButton/BaseButton.tsx
Due: tsx

feat(service-web): alternatives 페이지에서 기본 정보 제거 (#206)
  libs/frontend/src/libs/products/components/ProductAlternativeList/ProductAlternativeList.tsx
Due: tsx

fix: node profiling 추가
  apps/graphql-api/serverless.yaml
  apps/graphql-api/src/config/index.ts
  apps/graphql-api/src/config/sentry.ts
Due: ts

fix: github action에서 sentry 토큰을 주입해준다
  .github/workflows/Deploy.yaml
  .github/workflows/Production.yaml
Due: none

fix: node profiling을 제거한다
  apps/graphql-api/serverless.yaml
  apps/graphql-api/src/config/sentry.ts
Due: ts

feat: apollo error info를 sentry에 등록한다
  apps/graphql-api/package.json
  apps/graphql-api/src/functions/graphql.ts
  libs/shared/utils-sentry/.eslintrc.json
  libs/shared/utils-sentry/package.json
  libs/shared/utils-sentry/src/index.ts
  libs/shared/utils-sentry/src/libs/SentryApolloLogPlugin/SentryApolloLogPlugin.ts
  libs/shared/utils-sentry/src/libs/SentryApolloLogPlugin/index.ts
  libs/shared/utils-sentry/tsconfig.json
  pnpm-lock.yaml
Due: ts, json

fix: apollo cache 상태가 꼬이는 문제를 해결한다
  apps/service-web/app/api/sentry-example-api/route.ts
  apps/service-web/app/sentry-example-page/page.tsx
  libs/shared/utils-auth-service/firebase/src/libs/FirebaseAuthService/FirebaseAuthService.ts
Due: ts, tsx

fix(backend): cursor issue
  libs/backend/src/libs/products/datasource/repositories/PostgresqlProductRepository.ts
  pnpm-lock.yaml
Due: ts

feat(backend): getAllProducts를 위한 after, before 구현
  apps/graphql-api/src/app/graphql/product/Product.query.resolver.ts
  libs/backend/src/libs/products/datasource/repositories/PostgresqlProductRepository.ts
  libs/backend/src/libs/products/domain/repositories/ProductRepository.ts
  libs/backend/src/libs/products/domain/usecases/GetAllProducts.ts
Due: ts

fix(backend): type을 connection에서 지정하고 내보냄
  apps/graphql-api/src/app/graphql/common/Connection.ts
  apps/graphql-api/src/app/graphql/product/Product.query.resolver.ts
Due: ts

feat(admin): productListTable
  libs/admin/package.json
  libs/admin/src/libs/products/components/ProductListTable/ProductListTable.tsx
  libs/admin/src/libs/products/components/ProductListTable/__generated__/useProductListTable.ts
  libs/admin/src/libs/products/components/ProductListTable/useProductListTable.ts
Due: ts, tsx, json

feat(admin): 어드민 서비스 목록 페이지네이션 구현 (#210)
  apps/graphql-api/src/app/graphql/common/Connection.ts
  apps/graphql-api/src/app/graphql/product/Product.query.resolver.ts
  libs/admin/package.json
  libs/admin/src/libs/products/components/ProductListTable/ProductListTable.tsx
  libs/admin/src/libs/products/components/ProductListTable/__generated__/useProductListTable.ts
  libs/admin/src/libs/products/components/ProductListTable/useProductListTable.ts
  libs/backend/src/libs/products/datasource/repositories/PostgresqlProductRepository.ts
  libs/backend/src/libs/products/domain/repositories/ProductRepository.ts
  libs/backend/src/libs/products/domain/usecases/GetAllProducts.ts
  pnpm-lock.yaml
Due: ts, tsx, json

feat(admin): row 클릭 시 이동 구현
  libs/admin/src/libs/products/components/ProductListTable/ProductListTable.tsx
  libs/admin/src/libs/products/components/ProductListTable/useProductListTable.ts
Due: ts, tsx

feat(admin): row 클릭 시 이동 구현 (#211)
  libs/admin/src/libs/products/components/ProductListTable/ProductListTable.tsx
  libs/admin/src/libs/products/components/ProductListTable/useProductListTable.ts
Due: ts, tsx

style(frontend): ol 스타일 대응
  libs/frontend/src/libs/products/components/ProductDescription/ProductDescription.tsx
Due: tsx

style(frontend): ol 스타일 대응 (#215)
  libs/frontend/src/libs/products/components/ProductDescription/ProductDescription.tsx
Due: tsx

chore: next 버전 업
  apps/admin-web/package.json
  apps/service-web/package.json
  libs/admin/package.json
  libs/frontend/package.json
  libs/shared/provider-auth/client/package.json
  libs/shared/provider-auth/server/package.json
  libs/shared/utils-auth-service/firebase/package.json
  libs/shared/utils-router/package.json
Due: json

chore: pnpm install
  pnpm-lock.yaml
Due: none

chore: key 기준 변경
  libs/frontend/src/libs/products/uis/ProductFeatureGridList/ProductFeatureGridList.tsx
Due: tsx

chore: next 14.1.12 버전 업 (#217)
  apps/admin-web/package.json
  apps/service-web/package.json
  libs/admin/package.json
  libs/frontend/package.json
  libs/shared/provider-auth/client/package.json
  libs/shared/provider-auth/server/package.json
  libs/shared/utils-auth-service/firebase/package.json
  libs/shared/utils-router/package.json
  pnpm-lock.yaml
Due: json

chore: mantine version up
  apps/admin-web/package.json
  libs/admin/package.json
  pnpm-lock.yaml
Due: json

feat: handling graphql error
  apps/admin-web/app/container.ts
  apps/service-web/app/container.ts
Due: ts

fix(frontend): productGridList 기능 key id로 변경 (#219)
  libs/frontend/src/libs/products/uis/ProductFeatureGridList/ProductFeatureGridList.tsx
Due: tsx

feat(frontend): 스크린샷이 없으면 없다는 메시지 출력
  libs/frontend/src/libs/products/components/ProductPhotos/ProductPhotos.tsx
Due: tsx

feat(frontend): 스크린샷이 없으면 없다는 메시지 출력 (#220)
  libs/frontend/src/libs/products/components/ProductPhotos/ProductPhotos.tsx
Due: tsx

feat(frontend): 스크린샷 줌
  libs/frontend/package.json
  libs/frontend/src/libs/products/components/ProductPhotos/ProductPhotos.tsx
  pnpm-lock.yaml
Due: tsx, json

feat(frontend): 스크린샷 줌 (#221)
  libs/frontend/package.json
  libs/frontend/src/libs/products/components/ProductPhotos/ProductPhotos.tsx
  pnpm-lock.yaml
Due: tsx, json

fix(frontend): width issue
  libs/frontend/src/libs/products/components/ProductPhotos/ProductPhotos.tsx
Due: tsx

fix(frontend): image width issue (#222)
  libs/frontend/src/libs/products/components/ProductPhotos/ProductPhotos.tsx
Due: tsx

fix: http error
  apps/admin-web/app/container.ts
  apps/service-web/app/container.ts
Due: ts

chore: postcss bump
  apps/admin-web/package.json
Due: json

feat(backend): allCompanies query
  apps/graphql-api/schema.graphql
  apps/graphql-api/src/app/graphql/company/Company.query.resolver.ts
  apps/graphql-api/src/app/graphql/company/graphs/CompanyPagination.ts
  apps/graphql-api/src/app/resolvers.ts
  libs/admin/src/libs/uis/Navbar/Navbar.tsx
  libs/backend/src/index.ts
  libs/backend/src/libs/companies/datasource/repositories/PostgresqlCompanyRepository.ts
  libs/backend/src/libs/companies/domain/index.ts
  libs/backend/src/libs/companies/domain/repositories/CompanyRepository.ts
  libs/backend/src/libs/companies/domain/usecases/GetAllCompanies.ts
Due: ts, tsx

feat: tags 테이블을 별도로 분리합니다
  apps/graphql-api/esbuild.plugins.js
  apps/graphql-api/schema.graphql
  apps/graphql-api/src/app/graphql/product/Product.query.resolver.ts
  apps/graphql-api/src/app/graphql/product/graphs/Tag.ts
  libs/backend/src/libs/products/datasource/entities/ProductTagsSchema.ts
  libs/backend/src/libs/products/datasource/entities/TagSchema.ts
  libs/backend/src/libs/products/datasource/repositories/PostgresqlProductRepository.ts
  libs/backend/src/libs/products/datasource/repositories/PostgresqlProductTagRepository.ts
  libs/backend/src/libs/products/domain/entities/ProductTag.ts
  libs/backend/src/libs/products/domain/entities/Tag.ts
  libs/backend/src/libs/products/domain/entities/TagType.ts
  libs/backend/src/libs/products/domain/index.ts
  libs/backend/src/libs/products/domain/repositories/ProductTagRepository.ts
  libs/backend/src/libs/products/domain/usecases/GetProductTags.ts
  libs/backend/src/libs/products/domain/usecases/UpdateProductTag.ts
Due: ts, js

feat: tags 테이블을 별도로 분리합니다 (#224)
  apps/graphql-api/esbuild.plugins.js
  apps/graphql-api/schema.graphql
  apps/graphql-api/src/app/graphql/product/Product.query.resolver.ts
  apps/graphql-api/src/app/graphql/product/graphs/Tag.ts
  libs/backend/src/libs/products/datasource/entities/ProductTagsSchema.ts
  libs/backend/src/libs/products/datasource/entities/TagSchema.ts
  libs/backend/src/libs/products/datasource/repositories/PostgresqlProductRepository.ts
  libs/backend/src/libs/products/datasource/repositories/PostgresqlProductTagRepository.ts
  libs/backend/src/libs/products/domain/entities/ProductTag.ts
  libs/backend/src/libs/products/domain/entities/Tag.ts
  libs/backend/src/libs/products/domain/entities/TagType.ts
  libs/backend/src/libs/products/domain/index.ts
  libs/backend/src/libs/products/domain/repositories/ProductTagRepository.ts
  libs/backend/src/libs/products/domain/usecases/GetProductTags.ts
  libs/backend/src/libs/products/domain/usecases/UpdateProductTag.ts
Due: ts, js

feat(backend): allCompanies query (#223)
  apps/graphql-api/schema.graphql
  apps/graphql-api/src/app/graphql/company/Company.query.resolver.ts
  apps/graphql-api/src/app/graphql/company/graphs/CompanyPagination.ts
  apps/graphql-api/src/app/resolvers.ts
  libs/admin/src/libs/uis/Navbar/Navbar.tsx
  libs/backend/src/index.ts
  libs/backend/src/libs/companies/datasource/repositories/PostgresqlCompanyRepository.ts
  libs/backend/src/libs/companies/domain/index.ts
  libs/backend/src/libs/companies/domain/repositories/CompanyRepository.ts
  libs/backend/src/libs/companies/domain/usecases/GetAllCompanies.ts
Due: ts, tsx

Path conditions:
  ts: any of: *.ts
  tsx: any of: *.tsx
  jsx: any of: *.jsx
  js: any of: *.js
  mdx: any of: *.mdx
  json: any of: *.json
