Repository croco-dev/darun: changes, and which lefthook commands are due for each by the changed paths.
All: ts, tsx, jsx, js, mdx, json

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    ts:
      glob: "*.ts"
      run: eslint --fix --quiet {staged_files}
    tsx:
      glob: "*.tsx"
      run: eslint --fix --quiet {staged_files}
    jsx:
      glob: "*.jsx"
      run: eslint --fix --quiet {staged_files}
    js:
      glob: "*.js"
      run: eslint --fix --quiet {staged_files}
    mdx:
      glob: "*.mdx"
      run: eslint --fix --quiet {staged_files}
    json:
      glob: "*.json"
      run: eslint --fix --quiet {staged_files}

post-merge:
  commands:
    install:
      run: pnpm install

fix: improve voting atomicity, ranking recall, search relevance, and recommendation quality
  libs/products/datasource/src/__tests__/PostgresqlProductRepository.test.ts
  libs/products/datasource/src/repositories/PostgresqlProductRepository.ts
  libs/products/domain/src/__tests__/GetAllProducts.test.ts
  libs/products/domain/src/__tests__/GetRankedProducts.test.ts
  libs/products/domain/src/repositories/ProductRepository.ts
  libs/products/domain/src/usecases/GetRankedProducts.ts
  libs/products/feature/src/__tests__/Product.query.resolver.test.ts
  libs/recommendation/domain/src/services/AutoRecommender.ts
  libs/recommendation/domain/src/usecases/GetAlternativeProducts.test.ts
  libs/search/domain/src/__tests__/SearchProduct.test.ts
  libs/search/domain/src/services/SearchRanker.ts
  libs/voting/datasource/src/__tests__/PostgresqlVoteRecordRepository.test.ts
  libs/voting/datasource/src/repositories/PostgresqlVoteRecordRepository.ts
  libs/voting/domain/src/__tests__/UpvoteProduct.test.ts
  libs/voting/domain/src/repositories/VoteRecordRepository.ts
  libs/voting/domain/src/usecases/UpvoteProduct.ts
Due: ts

feat: replace remote dev deploy with production direct deploy and add local Docker Compose dev environment
  .dockerignore
  .github/workflows/Deploy.yaml
  .github/workflows/Production.yaml
  .local/firebase-auth/Dockerfile
  CONTRIBUTING.md
  apps/admin-web/.env.sample
  apps/admin-web/Dockerfile.local
  apps/admin-web/app/layout.tsx
  apps/admin-web/app/serverContainer.ts
  apps/admin-web/layouts/Navbar/Navbar.tsx
  apps/graphql-api/.env.sample
  apps/graphql-api/Dockerfile.local
  apps/graphql-api/__tests__/Feature.mutation.resolver.auth.test.ts
  apps/graphql-api/__tests__/Image.mutation.resolver.auth.test.ts
  apps/graphql-api/__tests__/smoke.test.ts
  apps/graphql-api/drizzle.config.cjs
  apps/graphql-api/package.json
  apps/graphql-api/scripts/bootstrap-local.ts
  apps/graphql-api/scripts/migrations/0000_initial.sql
  apps/graphql-api/scripts/migrations/meta/0000_snapshot.json
  apps/graphql-api/scripts/migrations/meta/_journal.json
  apps/graphql-api/serverless.yaml
  apps/graphql-api/src/config/environment.ts
  apps/graphql-api/src/config/firebase.ts
  apps/service-web/.env.sample
  apps/service-web/Dockerfile.local
  apps/service-web/app/serverContainer.ts
  apps/service-web/tests/README.md
  apps/visual-web/.env.sample
  apps/visual-web/Dockerfile.local
  apps/visual-web/app/serverContainer.ts
  docker-compose.yml
  libs/products/feature/src/EditProductInfo/EditProductInfo.tsx
  libs/shared/utils-auth-service/firebase/src/libs/FirebaseAuthService/FirebaseAuthService.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: ts, tsx, json

fix(admin): restore company search UI binding and link-add list update
  libs/products/feature/src/EditProductCompany/EditProductCompany.tsx
  libs/products/feature/src/EditProductCompany/__tests__/EditProductCompany.test.tsx
  libs/products/feature/src/EditProductCompany/__tests__/useEditProductCompany.test.ts
  libs/products/feature/src/NewProductLinkForm/__generated__/useNewProductLinkForm.ts
  libs/products/feature/src/NewProductLinkForm/__tests__/useNewProductLinkForm.test.ts
  libs/products/feature/src/NewProductLinkForm/useNewProductLinkForm.ts
  libs/products/feature/vitest.config.ts
  vitest.workspace.ts
Due: ts, tsx

fix(products): harden GetAllProducts preload against missing relations
  libs/products/domain/src/__tests__/GetAllProducts.test.ts
  libs/products/domain/src/usecases/GetAllProducts.ts
Due: ts

fix(utils-apollo-server): harden Lambda middleware initialization retry
  libs/shared/utils-apollo-server/package.json
  libs/shared/utils-apollo-server/src/libs/createLambdaHandler/__tests__/createLambdaHandler.test.ts
  libs/shared/utils-apollo-server/src/libs/createLambdaHandler/createLambdaHandler.ts
Due: ts, json

fix(graphql-api): harden runtime boundary contracts and test signals
  apps/graphql-api/__tests__/Feature.mutation.resolver.auth.test.ts
  apps/graphql-api/__tests__/Image.mutation.resolver.auth.test.ts
  apps/graphql-api/__tests__/context.test.ts
  apps/graphql-api/__tests__/database.test.ts
  apps/graphql-api/__tests__/environment.test.ts
  apps/graphql-api/__tests__/setup.test.ts
  apps/graphql-api/__tests__/smoke.test.ts
  apps/graphql-api/src/config/database.ts
  apps/graphql-api/src/functions/graphql.ts
  apps/graphql-api/vitest.config.ts
  libs/shared/utils-apollo-server/src/libs/createLambdaHandler/__tests__/createLambdaHandler.test.ts
  libs/shared/utils-apollo-server/src/libs/createLambdaHandler/createLambdaHandler.ts
Due: ts

fix: resolve product data consistency bugs across auth, search, container, and analytics boundaries
  apps/admin-web/__tests__/container.test.ts
  apps/admin-web/app/container.ts
  apps/admin-web/middleware.ts
  apps/service-web/__tests__/container.test.ts
  apps/service-web/app/container.ts
  apps/visual-web/__tests__/container.test.ts
  apps/visual-web/app/container.ts
  libs/products/datasource/src/__tests__/PostgresqlProductRepository.test.ts
  libs/products/datasource/src/repositories/PostgresqlProductRepository.ts
  libs/products/feature/src/Product.mutation.resolver.ts
  libs/products/feature/src/ProductCoreMutationResolver.ts
  libs/products/feature/src/ProductMediaMutationResolver.ts
  libs/products/feature/src/ProductPublishMutationResolver.ts
  libs/products/feature/src/ProductRecommendationMutationResolver.ts
  libs/products/feature/src/__tests__/ProductCoreMutationResolver.test.ts
  libs/products/feature/src/__tests__/ProductPublishMutationResolver.test.ts
  libs/shared/analytics/client/src/__tests__/posthog.test.ts
  libs/shared/analytics/client/src/posthog.ts
  libs/shared/provider-auth/server/package.json
  libs/shared/provider-auth/server/src/libs/AuthChecker/AuthChecker.test.ts
  libs/shared/provider-auth/server/src/libs/AuthChecker/AuthChecker.ts
  libs/shared/provider-auth/server/src/libs/AuthServerProvider/AuthServerProvider.tsx
Due: ts, tsx, json

chore: add vitest config for provider-auth server tests
  libs/shared/provider-auth/server/vitest.config.ts
Due: ts

feat: apply log-scaled vote influence and ranking-source measurement
  libs/products/domain/src/__tests__/GetRankedProducts.test.ts
  libs/products/domain/src/services/RankingService.ts
  libs/products/shell/src/components/RankedProductList/RankedProductList.tsx
  libs/products/shell/src/shells/TrendingProductSection/TrendingProductSection.tsx
  libs/search/domain/src/__tests__/SearchProduct.test.ts
  libs/search/shell/src/shells/SearchEmptyState/TrendingProductPreview/TrendingProductPreview.tsx
  libs/shared/analytics/client/src/__tests__/events.test.ts
  libs/shared/analytics/client/src/events.ts
Due: ts, tsx

chore: apply formatting to ranking service and tests
  libs/products/domain/src/__tests__/GetRankedProducts.test.ts
  libs/products/domain/src/services/RankingService.ts
Due: ts

feat(search): improve search reranking quality
  libs/search/domain/src/__tests__/SearchProduct.test.ts
  libs/search/domain/src/services/SearchRanker.ts
  libs/search/domain/src/services/SearchRankingPolicy.ts
  libs/search/domain/src/services/SearchSynonyms.ts
  libs/search/domain/src/services/SynonymExpander.ts
  libs/search/domain/src/usecases/SearchProduct.ts
Due: ts

fix(repo): harden product/alternative repository data freshness and domain mapping
  libs/products/datasource/src/__tests__/PostgresqlProductFeatureRepository.test.ts
  libs/products/datasource/src/__tests__/PostgresqlProductRepository.test.ts
  libs/products/datasource/src/repositories/PostgresqlProductRepository.ts
  libs/recommendation/datasource/src/__tests__/PostgresqlAlternativeProductRepository.test.ts
  libs/recommendation/datasource/src/repositories/PostgresqlAlternativeProductRepository.ts
Due: ts

fix(ci): resolve PullRequest audit and Production Deploy quality gate failures
  libs/products/feature/src/EditProductDescription/__tests__/useEditProductDescription.test.ts
  libs/products/feature/src/GenerateProductDescriptionButton/__tests__/useGenerateProductDescriptionButton.test.ts
  libs/voting/domain/src/__tests__/UpvoteProduct.test.ts
  libs/voting/domain/src/utils/hashVoterIp.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: ts

feat(analytics): complete product attribution and Compare CTA measurement
  libs/products/shell/src/components/AlternativeProductList/AlternativeProductList.tsx
  libs/products/shell/src/components/CompareButton/CompareButton.test.tsx
  libs/products/shell/src/components/CompareButton/CompareButton.tsx
  libs/products/shell/src/components/ProductAlternativeList/ProductAlternativeList.tsx
  libs/products/shell/src/components/ProductInformation/useProductInformation.ts
  libs/products/shell/src/components/ProductUserAction/ProductUserAction.tsx
  libs/shared/analytics/client/src/ProductDetailViewTracker.tsx
  libs/shared/analytics/client/src/__tests__/ProductDetailViewTracker.test.tsx
  libs/shared/analytics/client/src/__tests__/events.test.ts
  libs/shared/analytics/client/src/events.ts
  libs/shared/analytics/client/src/index.ts
Due: ts, tsx

feat: add ranking/search observability quality gates
  libs/products/domain/src/__tests__/GetRankedProducts.test.ts
  libs/products/domain/src/usecases/GetRankedProducts.ts
  libs/search/domain/src/__tests__/SearchProduct.test.ts
  libs/search/domain/src/services/SearchRanker.ts
Due: ts

chore: temporary workflow to fetch prod graphql Lambda logs
  .github/workflows/DebugLambdaLogs.yaml
Due: none

chore: temporary CloudWatch log fetch workflow for outage debug
  .github/workflows/DebugLambdaLogs.yaml
Due: none

chore: deepen prod Lambda/API Gateway outage diagnostics
  .github/workflows/DebugLambdaLogs.yaml
Due: none

chore: fix debug workflow YAML and target prod Lambda
  .github/workflows/DebugLambdaLogs.yaml
Due: none

chore: inspect prod Lambda package for reflect-metadata
  .github/workflows/DebugLambdaLogs.yaml
Due: none

fix(graphql-api): package reflect-metadata and unblock prod deploy
  .github/workflows/DebugLambdaLogs.yaml
  .github/workflows/Deploy.yaml
  apps/graphql-api/serverless.yaml
Due: none

fix(graphql-api): restore prod API by packaging reflect-metadata (#314)
  .github/workflows/DebugLambdaLogs.yaml
  .github/workflows/Deploy.yaml
  apps/graphql-api/serverless.yaml
Due: none

fix(graphql-api): use TS4.9-compatible tsconfig for lambda esbuild
  apps/graphql-api/esbuild.plugins.js
  apps/graphql-api/tsconfig.lambda.json
Due: js, json

fix(graphql-api): unblock prod deploy tsconfig parse for lambda esbuild (#315)
  apps/graphql-api/esbuild.plugins.js
  apps/graphql-api/tsconfig.lambda.json
Due: js, json

chore: temporary post-deploy Lambda diagnostics workflow
  .github/workflows/DebugLambdaLogs.yaml
Due: none

fix(graphql-api): inline reflect-metadata into lambda esbuild banner
  apps/graphql-api/esbuild.plugins.js
  apps/graphql-api/serverless.yaml
Due: js

fix(graphql-api): inline reflect-metadata for Lambda cold start (#316)
  apps/graphql-api/esbuild.plugins.js
  apps/graphql-api/serverless.yaml
Due: js

fix(graphql-api): isolate inlined reflect-metadata in an IIFE
  apps/graphql-api/esbuild.plugins.js
Due: js

fix(graphql-api): isolate inlined reflect-metadata in IIFE (#317)
  apps/graphql-api/esbuild.plugins.js
Due: js

fix(graphql-api): wrap inlined reflect-metadata in an IIFE
  apps/graphql-api/esbuild.plugins.js
Due: js

fix(graphql-api): wrap inlined reflect-metadata in IIFE (#318)
  apps/graphql-api/esbuild.plugins.js
Due: js

fix(graphql-api): emit decorator metadata as ESM for Lambda schema build
  .github/workflows/DebugLambdaLogs.yaml
  apps/graphql-api/esbuild.plugins.js
  apps/graphql-api/package.json
  apps/graphql-api/scripts/verify-lambda-bundle.js
  apps/graphql-api/tsconfig.lambda.json
  libs/companies/feature/src/Company.mutation.resolver.ts
  libs/companies/feature/src/Company.query.resolver.ts
  libs/images/feature/src/Image.mutation.resolver.ts
  libs/magazines/feature/src/Magazine.mutation.resolver.ts
  libs/magazines/feature/src/graphs/PublishMagazine.ts
  libs/products/feature/src/Feature.mutation.resolver.ts
  libs/products/feature/src/Product.query.resolver.ts
  libs/products/feature/src/graphs/ProductPagination.ts
  libs/products/feature/src/graphs/PublishProduct.ts
  libs/shared/provider-database/src/index.ts
  libs/shared/provider-database/src/libs/Drizzle/Drizzle.ts
  libs/shared/provider-database/src/libs/Drizzle/index.ts
  libs/shared/provider-database/src/libs/Mongoose/Mongoose.ts
  libs/shared/provider-database/src/libs/Mongoose/index.ts
  pnpm-lock.yaml
Due: ts, js, json

fix(graphql-api): restore prod GraphQL schema after Lambda bundle (#319)
  .github/workflows/DebugLambdaLogs.yaml
  apps/graphql-api/esbuild.plugins.js
  apps/graphql-api/package.json
  apps/graphql-api/scripts/verify-lambda-bundle.js
  apps/graphql-api/tsconfig.lambda.json
  libs/companies/feature/src/Company.mutation.resolver.ts
  libs/companies/feature/src/Company.query.resolver.ts
  libs/images/feature/src/Image.mutation.resolver.ts
  libs/magazines/feature/src/Magazine.mutation.resolver.ts
  libs/magazines/feature/src/graphs/PublishMagazine.ts
  libs/products/feature/src/Feature.mutation.resolver.ts
  libs/products/feature/src/Product.query.resolver.ts
  libs/products/feature/src/graphs/ProductPagination.ts
  libs/products/feature/src/graphs/PublishProduct.ts
  libs/shared/provider-database/src/index.ts
  libs/shared/provider-database/src/libs/Drizzle/Drizzle.ts
  libs/shared/provider-database/src/libs/Drizzle/index.ts
  libs/shared/provider-database/src/libs/Mongoose/Mongoose.ts
  libs/shared/provider-database/src/libs/Mongoose/index.ts
  pnpm-lock.yaml
Due: ts, js, json

chore: temporary workflow to fetch prod GraphQL Lambda errors
  .github/workflows/DebugLambdaLogs.yaml
Due: none

chore: temporary Lambda log fetch for post-deploy diagnosis (#320)
  .github/workflows/DebugLambdaLogs.yaml
Due: none

chore: add Fetch Prod GraphQL Logs workflow
  .github/workflows/DebugLambdaLogs.yaml
  .github/workflows/FetchProdGraphqlLogs.yaml
Due: none

chore: add Fetch Prod GraphQL Logs workflow (#321)
  .github/workflows/DebugLambdaLogs.yaml
  .github/workflows/FetchProdGraphqlLogs.yaml
Due: none

chore: fix Fetch Prod GraphQL Logs workflow YAML parse
  .github/workflows/FetchProdGraphqlLogs.yaml
Due: none

chore: fix Fetch Prod GraphQL Logs workflow YAML (#322)
  .github/workflows/FetchProdGraphqlLogs.yaml
Due: none
