Repository croco-dev/darun: changes, and which lefthook commands are due for each by the changed paths.
All: ts, tsx, jsx, js, mdx, json

ts:
  run: eslint --fix --quiet {staged_files}

tsx:
  run: eslint --fix --quiet {staged_files}

jsx:
  run: eslint --fix --quiet {staged_files}

js:
  run: eslint --fix --quiet {staged_files}

mdx:
  run: eslint --fix --quiet {staged_files}

json:
  run: eslint --fix --quiet {staged_files}

fix(shell): fix remaining exports
  libs/products/shell/src/shells/index.ts
  libs/shared/ui/src/components/Toast/Toast.tsx
  libs/shared/ui/src/components/Toast/index.ts
Due: ts, tsx

docs(tech-improve): add darun technical health report
  .sisyphus/boulder.json
  .sisyphus/evidence/final-qa/summary.txt
  .sisyphus/evidence/final-qa/task-1.txt
  .sisyphus/evidence/final-qa/task-2.txt
  .sisyphus/evidence/final-qa/task-3.txt
  .sisyphus/evidence/final-qa/task-4.txt
  .sisyphus/evidence/task-2-baseline-failures.txt
  .sisyphus/evidence/task-2-baseline.txt
  .sisyphus/evidence/task-3-architecture.txt
  .sisyphus/evidence/task-4-code-quality.txt
  .sisyphus/evidence/task-5-tests.txt
  .sisyphus/evidence/task-6-performance.txt
  .sisyphus/evidence/task-7-security-dx.txt
  .sisyphus/evidence/task-8-normalized-findings.txt
  .sisyphus/evidence/task-9-report-saved.txt
  .sisyphus/notepads/tech-improve-darun/decisions.md
  .sisyphus/notepads/tech-improve-darun/issues.md
  .sisyphus/notepads/tech-improve-darun/learnings.md
  .sisyphus/plans/tech-improve-darun.md
  .sisyphus/tech-improve/darun-20260421.md
Due: json

fix(plan): mark Task 11 checkbox as completed
  .sisyphus/plans/tech-improve-darun.md
Due: none

fix(plan): mark F1-F4 FINAL wave and final checklist as completed
  .sisyphus/plans/tech-improve-darun.md
Due: none

chore(tech-improve): remove unsafe env fallbacks, restore lint governance, add PR build gate, adjust Sentry sampling, document rollout plans
  .github/workflows/PullRequest.yaml
  .sisyphus/drafts/architecture-boundary-rollout.md
  .sisyphus/drafts/quality-governance-rollout.md
  .sisyphus/drafts/security-scan-rollout.md
  .sisyphus/drafts/service-web-e2e-happy-path.md
  .sisyphus/evidence/task-10-doc-check.txt
  .sisyphus/evidence/task-10-integration-check.txt
  .sisyphus/evidence/task-7-doc-check.txt
  .sisyphus/evidence/task-7-reference-check.txt
  .sisyphus/evidence/task-8-doc-check.txt
  .sisyphus/evidence/task-8-scope-check.txt
  .sisyphus/evidence/task-9-doc-check.txt
  .sisyphus/evidence/task-9-guardrail-check.txt
  apps/graphql-api/src/config/sentry.ts
  apps/service-web/app/serverContainer.ts
  apps/service-web/sentry.client.config.ts
  libs/products/feature/src/NewProductScreenshotForm/useNewProductScreenshotForm.ts
  libs/products/feature/src/ProductFeatureTable/useProductFeatureTable.ts
  libs/shared/utils-eslint-config/eslint.config.js
  libs/voting/domain/src/utils/hashVoterIp.ts
Due: ts, js

chore: remove .sisyphus/ from git tracking
  .sisyphus/boulder.json
  .sisyphus/drafts/architecture-boundary-rollout.md
  .sisyphus/drafts/quality-governance-rollout.md
  .sisyphus/drafts/security-scan-rollout.md
  .sisyphus/drafts/service-web-e2e-happy-path.md
  .sisyphus/evidence/final-qa/summary.txt
  .sisyphus/evidence/final-qa/task-1.txt
  .sisyphus/evidence/final-qa/task-2.txt
  .sisyphus/evidence/final-qa/task-3.txt
  .sisyphus/evidence/final-qa/task-4.txt
  .sisyphus/evidence/task-10-doc-check.txt
  .sisyphus/evidence/task-10-integration-check.txt
  .sisyphus/evidence/task-2-baseline-failures.txt
  .sisyphus/evidence/task-2-baseline.txt
  .sisyphus/evidence/task-3-architecture.txt
  .sisyphus/evidence/task-4-code-quality.txt
  .sisyphus/evidence/task-5-tests.txt
  .sisyphus/evidence/task-6-performance.txt
  .sisyphus/evidence/task-7-doc-check.txt
  .sisyphus/evidence/task-7-reference-check.txt
  .sisyphus/evidence/task-7-security-dx.txt
  .sisyphus/evidence/task-8-doc-check.txt
  .sisyphus/evidence/task-8-normalized-findings.txt
  .sisyphus/evidence/task-8-scope-check.txt
  .sisyphus/evidence/task-9-doc-check.txt
  .sisyphus/evidence/task-9-guardrail-check.txt
  .sisyphus/evidence/task-9-report-saved.txt
  .sisyphus/notepads/tech-improve-darun/decisions.md
  .sisyphus/notepads/tech-improve-darun/issues.md
  .sisyphus/notepads/tech-improve-darun/learnings.md
  .sisyphus/plans/tech-improve-darun.md
  .sisyphus/tech-improve/darun-20260421.md
Due: json

fix: darun tech remediation - test gate, boundaries, resolver split, security/bundle observability
  .github/workflows/PullRequest.yaml
  README.md
  apps/admin-web/__tests__/setup.test.ts
  apps/admin-web/__tests__/smoke.test.ts
  apps/graphql-api/__tests__/setup.test.ts
  apps/graphql-api/__tests__/smoke.test.ts
  apps/service-web/__tests__/setup.test.ts
  apps/service-web/__tests__/smoke.test.ts
  apps/service-web/next.config.js
  apps/service-web/package.json
  apps/visual-web/__tests__/setup.test.ts
  apps/visual-web/__tests__/smoke.test.ts
  eslint.config.mjs
  libs/products/feature/src/Product.mutation.resolver.ts
  libs/products/feature/src/ProductCoreMutationResolver.ts
  libs/products/feature/src/ProductInfo/index.ts
  libs/products/feature/src/ProductMediaMutationResolver.ts
  libs/products/feature/src/ProductPublishMutationResolver.ts
  libs/products/feature/src/ProductRecommendationMutationResolver.ts
  libs/products/feature/src/index.ts
  libs/products/feature/src/server.ts
  libs/shared/sanitize/src/sanitizeQuery.test.ts
  libs/shared/utils-eslint-config/eslint.config.js
  pnpm-lock.yaml
  vitest.config.ts
Due: ts, js, json

fix: use nullish coalescing for Firebase private key and client email
  apps/service-web/app/serverContainer.ts
Due: ts

fix: add TITLE_MAX_LENGTH constant to @darun/sanitize
  apps/service-web/app/[locale]/search/product/page.tsx
  libs/shared/sanitize/src/index.ts
  libs/shared/sanitize/src/sanitizeQuery.ts
Due: ts, tsx

feat(lint,perf,ci,docs): Wave 2 - blind spot, dedup fetch, auth policy, coverage gate, README
  .github/workflows/PullRequest.yaml
  README.md
  apps/graphql-api/docs/AUTH_POLICY.md
  apps/service-web/app/[locale]/products/[slug]/page.tsx
  eslint.config.mjs
Due: tsx

refactor(perf,ci,docs): Wave 3 - provider-graphql 분해, searchProducts batch, Playwright CI, CONTRIBUTING
  .github/workflows/PullRequest.yaml
  CONTRIBUTING.md
  README.md
  libs/products/datasource/src/repositories/PostgresqlProductRepository.ts
  libs/products/domain/src/repositories/ProductRepository.ts
  libs/products/domain/src/usecases/GetPublishedProduct.ts
  libs/products/feature/src/Product.query.resolver.ts
  libs/shared/provider-graphql/src/core.ts
  libs/shared/provider-graphql/src/index.ts
  libs/shared/provider-graphql/src/magazine.ts
  libs/shared/provider-graphql/src/operations.ts
  libs/shared/provider-graphql/src/product.ts
Due: ts

perf(products,lint): Wave 4 - translation batch fan-out 완화, boundaries error 승격
  eslint.config.mjs
  libs/products/datasource/src/repositories/PostgresqlProductRepository.ts
  libs/products/domain/src/usecases/GetPublishedProduct.ts
  libs/products/feature/src/Product.query.resolver.ts
  libs/shared/provider-graphql/src/operations.ts
  libs/translation/datasource/src/repositories/PostgresqlTranslationRepository.ts
  libs/translation/domain/src/repositories/TranslationRepository.ts
  libs/translation/domain/src/services/TranslationService.ts
Due: ts

fix(ci,docs): F3 리뷰 피드백 반영 - Playwright 브라우저 설치 step 추가, CONTRIBUTING Lefthook 설명 정정
  .github/workflows/PullRequest.yaml
  CONTRIBUTING.md
  libs/translation/domain/src/services/TranslationService.ts
Due: ts

fix(translation): Devin Review 피드백 반영 - falsy 값 필터, Cartesian 쿼리 수정
  libs/translation/datasource/src/repositories/PostgresqlTranslationRepository.ts
  libs/translation/domain/src/services/TranslationService.ts
Due: ts

style: apply prettier formatting to PostgresqlTranslationRepository
  libs/translation/datasource/src/repositories/PostgresqlTranslationRepository.ts
Due: ts

perf(products,ci): Devin Review Info 피드백 반영
  .github/workflows/PullRequest.yaml
  libs/products/datasource/src/repositories/PostgresqlProductRepository.ts
Due: ts

ci: add continue-on-error to Playwright browser install step
  .github/workflows/PullRequest.yaml
Due: none

revert(provider-graphql): codegen-unsafe 수동 분해 원복
  eslint.config.mjs
  libs/shared/provider-graphql/src/core.ts
  libs/shared/provider-graphql/src/index.ts
  libs/shared/provider-graphql/src/magazine.ts
  libs/shared/provider-graphql/src/operations.ts
  libs/shared/provider-graphql/src/product.ts
Due: ts

ci: Playwright smoke step 에서 if: always() 제거
  .github/workflows/PullRequest.yaml
Due: none

docs(contributing): main -> trunk (default branch 이름 정정)
  CONTRIBUTING.md
Due: none

fix(service-web): Vercel build 실패 원인 수정
  apps/service-web/app/client.tsx
  libs/magazines/shell/src/shells/MagazineFeatureSection/MagazineFeatureSection.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSection.tsx
  libs/products/shell/src/shells/RecentProductSection/RecentProductSection.tsx
  libs/products/shell/src/shells/RelatedProductsSection/RelatedProductsSection.tsx
  libs/products/shell/src/shells/TrendingProductSection/TrendingProductSection.tsx
  libs/shared/ui/src/index.ts
Due: ts, tsx

ci: pnpm audit 정책을 critical 로 완화 + 3개 critical advisory override
  .github/workflows/PullRequest.yaml
  package.json
  pnpm-lock.yaml
Due: json

style(lint): eslint --fix import order, prettier 자동수정
  libs/magazines/shell/src/shells/MagazineFeatureSection/MagazineFeatureSection.tsx
  libs/pages/shell/src/SearchProductPage.tsx
  libs/pages/shell/src/components/HomeCategoryBar/HomeCategoryBar.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSection.tsx
  libs/products/shell/src/shells/RecentProductSection/RecentProductSection.tsx
  libs/products/shell/src/shells/RelatedProductsSection/RelatedProductsSection.tsx
  libs/products/shell/src/shells/TrendingProductSection/TrendingProductSection.tsx
Due: tsx

fix(ci): typecheck/test pipeline pre-existing 실패 수정
  .github/workflows/PullRequest.yaml
  libs/shared/analytics/client/package.json
  libs/shared/analytics/client/pnpm-workspace.yaml
  libs/shared/sanitize/src/sanitizeQuery.test.ts
  libs/shared/sanitize/tsconfig.json
Due: ts, json

fix(products-shell): RelatedProductsSection 잘못된 GraphQL 필드 수정
  libs/products/shell/src/shells/RelatedProductsSection/RelatedProductsSection.tsx
Due: tsx

fix(products-shell): RelatedProductsSection a11y - onClick을 Link로 이동
  libs/products/shell/src/components/ProductCard/ProductCard.tsx
  libs/products/shell/src/shells/RelatedProductsSection/RelatedProductsSection.tsx
Due: tsx

Tech Improve: boundaries, dedup fetch, batch translation, auth policy, CI coverage (#310)
  .github/workflows/PullRequest.yaml
  CONTRIBUTING.md
  README.md
  apps/graphql-api/docs/AUTH_POLICY.md
  apps/service-web/app/[locale]/products/[slug]/page.tsx
  apps/service-web/app/client.tsx
  eslint.config.mjs
  libs/magazines/shell/src/shells/MagazineFeatureSection/MagazineFeatureSection.tsx
  libs/pages/shell/src/SearchProductPage.tsx
  libs/pages/shell/src/components/HomeCategoryBar/HomeCategoryBar.tsx
  libs/products/datasource/src/repositories/PostgresqlProductRepository.ts
  libs/products/domain/src/repositories/ProductRepository.ts
  libs/products/domain/src/usecases/GetPublishedProduct.ts
  libs/products/feature/src/Product.query.resolver.ts
  libs/products/shell/src/components/ProductCard/ProductCard.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSection.tsx
  libs/products/shell/src/shells/RecentProductSection/RecentProductSection.tsx
  libs/products/shell/src/shells/RelatedProductsSection/RelatedProductsSection.tsx
  libs/products/shell/src/shells/TrendingProductSection/TrendingProductSection.tsx
  libs/shared/analytics/client/package.json
  libs/shared/analytics/client/pnpm-workspace.yaml
  libs/shared/sanitize/src/sanitizeQuery.test.ts
  libs/shared/sanitize/tsconfig.json
  libs/shared/ui/src/index.ts
  libs/translation/datasource/src/repositories/PostgresqlTranslationRepository.ts
  libs/translation/domain/src/repositories/TranslationRepository.ts
  libs/translation/domain/src/services/TranslationService.ts
  package.json
  pnpm-lock.yaml
Due: ts, tsx, json

refactor(translation): move job service to service layer
  libs/products/feature/package.json
  libs/products/feature/src/ProductPublishMutationResolver.ts
  libs/translation/feature/package.json
  libs/translation/feature/src/Translation.mutation.resolver.ts
  libs/translation/feature/src/index.ts
  libs/translation/feature/src/server.ts
  libs/translation/service/package.json
  libs/translation/service/src/TranslationJobService.ts
  libs/translation/service/src/index.ts
  package.json
  pnpm-lock.yaml
Due: ts, json

fix(xss): prevent XSS in ProductDescription via DOMPurify loading guard
  libs/products/feature/src/ProductDescription/ProductDescription.test.tsx
  libs/products/feature/src/ProductDescription/ProductDescription.tsx
Due: tsx

fix(features): replace nested Promise.all with allSettled to prevent cascading failures
  libs/products/feature/src/Product.query.resolver.ts
  libs/products/feature/src/__tests__/Product.query.resolver.test.ts
  libs/products/feature/vitest.config.ts
Due: ts

fix(alternatives): replace Promise.all with allSettled to prevent cascading failures
  libs/products/feature/src/Product.query.resolver.ts
Due: ts

fix(products): replace Promise.all with allSettled in GetRankedProducts
  libs/products/domain/src/__tests__/GetRankedProducts.test.ts
  libs/products/domain/src/usecases/GetRankedProducts.ts
Due: ts

fix(products): preserve loaded data on EditProductDescription form reset
  libs/products/feature/package.json
  libs/products/feature/src/EditProductDescription/__tests__/useEditProductDescription.test.ts
  libs/products/feature/src/EditProductDescription/useEditProductDescription.ts
  libs/products/feature/vitest.config.ts
  vitest.config.ts
Due: ts, json

fix(products): add try/catch with error delegation to 13 async mutations
  libs/magazines/feature/src/WriteMagazine/useWriteMagazine.ts
  libs/products/feature/src/EditAlternativeProducts/useEditAlternativeProducts.ts
  libs/products/feature/src/EditProductDescription/__tests__/useEditProductDescription.test.ts
  libs/products/feature/src/EditProductDescription/useEditProductDescription.ts
  libs/products/feature/src/EditProductFeatureItem/useEditProductFeatureItem.ts
  libs/products/feature/src/EditProductInfo/useEditProductInfo.ts
  libs/products/feature/src/EditProductLinkItem/__tests__/useEditProductLinkItem.test.ts
  libs/products/feature/src/EditProductLinkItem/useEditProductLinkItem.ts
  libs/products/feature/src/IndexProductButton/useIndexProductButton.ts
  libs/products/feature/src/NewProductFeatureForm/useNewProductFeatureForm.ts
  libs/products/feature/src/NewProductForm/useNewProductForm.ts
  libs/products/feature/src/NewProductLinkForm/useNewProductLinkForm.ts
  libs/products/feature/src/NewProductScreenshotForm/useNewProductScreenshotForm.ts
  libs/products/feature/src/ProductTagsForm/useProductTagsForm.ts
  libs/products/feature/src/PublishProductButton/__tests__/usePublishProductButton.test.ts
  libs/products/feature/src/PublishProductButton/usePublishProductButton.ts
Due: ts

fix(products): resolve stale closure in useProductListTable
  libs/products/feature/src/ProductListTable/__tests__/useProductListTable.test.ts
  libs/products/feature/src/ProductListTable/useProductListTable.ts
Due: ts

chore: fix index keys and @ts-expect-error
  apps/service-web/tests/helpers/auth-mock.ts
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSkeleton.tsx
  libs/products/shell/src/shells/RecentProductSection/RecentProductSkeleton.tsx
  libs/products/shell/src/shells/TrendingProductSection/TrendingProductSkeleton.tsx
  libs/search/shell/src/components/SearchProductListSkeleton/SearchProductListSkeleton.tsx
  libs/shared/ui/src/components/Breadcrumb.tsx
Due: ts, tsx

chore(firebase): remove production console.log
  apps/graphql-api/src/config/firebase.ts
Due: ts

refactor(service): deduplicate locale/page URL generation in sitemap
  apps/service-web/__tests__/sitemap.test.ts
  apps/service-web/app/sitemap-entries.ts
  apps/service-web/app/sitemap.ts
Due: ts

fix(products): handle error in useGenerateProductDescriptionButton
  libs/products/feature/src/GenerateProductDescriptionButton/__tests__/useGenerateProductDescriptionButton.test.ts
  libs/products/feature/src/GenerateProductDescriptionButton/useGenerateProductDescriptionButton.ts
Due: ts

Path conditions:
  ts: any of: *.ts
  tsx: any of: *.tsx
  jsx: any of: *.jsx
  js: any of: *.js
  mdx: any of: *.mdx
  json: any of: *.json
