Repository croco-dev/darun: changes, and which lefthook commands are due for each by the changed paths.
All: ts, tsx, jsx, js, mdx, json

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    ts:
      glob: "*.ts"
      run: eslint --fix --quiet {staged_files}
    tsx:
      glob: "*.tsx"
      run: eslint --fix --quiet {staged_files}
    jsx:
      glob: "*.jsx"
      run: eslint --fix --quiet {staged_files}
    js:
      glob: "*.js"
      run: eslint --fix --quiet {staged_files}
    mdx:
      glob: "*.mdx"
      run: eslint --fix --quiet {staged_files}
    json:
      glob: "*.json"
      run: eslint --fix --quiet {staged_files}

post-merge:
  commands:
    install:
      run: pnpm install

fix(service-web): resolve phase 3 design quality flaws and ux improvements (#392)
  apps/service-web/app/[locale]/about/page.tsx
  apps/service-web/app/[locale]/error.tsx
  apps/service-web/app/[locale]/not-found.tsx
  apps/service-web/app/[locale]/search/error.tsx
  apps/service-web/messages/en.json
  apps/service-web/messages/ko.json
  libs/pages/shell/src/ProductAlternativePage.tsx
  libs/products/shell/src/__tests__/RankedProductList.test.tsx
  libs/products/shell/src/components/CompareButton/CompareButton.tsx
  libs/products/shell/src/components/ProductCompany/ProductCompany.tsx
  libs/products/shell/src/components/ProductUserAction/ProductUserAction.tsx
  libs/products/shell/src/components/RankedProductList/RankedProductList.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSection.tsx
  libs/products/shell/src/uis/ProductItem/ProductItem.tsx
  libs/products/shell/src/uis/VoteCountBadge/VoteCountBadge.tsx
  libs/search/shell/src/components/SearchProductList/SearchProductList.tsx
  libs/search/shell/src/shells/SearchEmptyState/CategoryShortcutGrid/CategoryShortcutGrid.tsx
  libs/search/shell/src/shells/SearchEmptyState/PopularQueriesStripe/PopularQueriesStripe.tsx
Due: tsx, json

fix(design): resolve 30 design flaws, accessibility, and microinteractions (phase 4)
  apps/service-web/__tests__/faq-section-a11y.test.ts
  apps/service-web/app/[locale]/loading.tsx
  apps/service-web/app/[locale]/magazines/[slug]/loading.tsx
  apps/service-web/app/[locale]/ranking/loading.tsx
  apps/service-web/app/[locale]/search/loading.tsx
  apps/service-web/messages/en.json
  apps/service-web/messages/ko.json
  libs/magazines/feature/src/ArticleCard/ArticleCard.tsx
  libs/magazines/shell/src/shells/MagazineFeatureSection/MagazineFeatureSection.tsx
  libs/magazines/shell/src/shells/MagazineInfoSection/MagazineInfoSection.tsx
  libs/pages/shell/src/ProductDetailPage.tsx
  libs/pages/shell/src/SearchProductPage.tsx
  libs/products/shell/src/components/AlternativeProductList/AlternativeProductList.tsx
  libs/products/shell/src/components/FAQSection/FAQSection.tsx
  libs/products/shell/src/components/ProductAlternativeList/ProductAlternativeList.tsx
  libs/products/shell/src/components/ProductDescription/ProductDescription.tsx
  libs/products/shell/src/components/ProductLinks/ProductLinks.tsx
  libs/products/shell/src/components/ProductPhotos/ProductPhotos.tsx
  libs/products/shell/src/components/RecentProductList/RecentProductList.tsx
  libs/products/shell/src/shells/CategoryProductSection/CategoryProductSection.tsx
  libs/products/shell/src/shells/ProductAlternativeSection/ProductAlternativeSection.tsx
  libs/products/shell/src/shells/RankedProductSection/RankedProductSection.tsx
  libs/products/shell/src/shells/RelatedProductsSection/RelatedProductsSection.tsx
  libs/products/shell/src/shells/TrendingProductSection/TrendingProductSection.tsx
  libs/products/shell/src/shells/index.ts
  libs/products/shell/src/uis/FeatureItem/FeatureItem.tsx
  libs/search/shell/src/shells/SearchEmptyState/TrendingProductPreview/TrendingProductPreview.tsx
  libs/shared/ui-layout/src/Layout.tsx
  libs/shared/ui-layout/src/libs/Footer/Footer.tsx
  libs/shared/ui/src/components/Button.tsx
  libs/shared/ui/src/components/SectionHeader.tsx
  libs/shared/ui/src/lib/date.ts
Due: ts, tsx, json

fix(design): resolve 30 design flaws, accessibility, and microinteractions (phase 4) (#393)
  apps/service-web/__tests__/faq-section-a11y.test.ts
  apps/service-web/app/[locale]/loading.tsx
  apps/service-web/app/[locale]/magazines/[slug]/loading.tsx
  apps/service-web/app/[locale]/ranking/loading.tsx
  apps/service-web/app/[locale]/search/loading.tsx
  apps/service-web/messages/en.json
  apps/service-web/messages/ko.json
  libs/magazines/feature/src/ArticleCard/ArticleCard.tsx
  libs/magazines/shell/src/shells/MagazineFeatureSection/MagazineFeatureSection.tsx
  libs/magazines/shell/src/shells/MagazineInfoSection/MagazineInfoSection.tsx
  libs/pages/shell/src/ProductDetailPage.tsx
  libs/pages/shell/src/SearchProductPage.tsx
  libs/products/shell/src/components/AlternativeProductList/AlternativeProductList.tsx
  libs/products/shell/src/components/FAQSection/FAQSection.tsx
  libs/products/shell/src/components/ProductAlternativeList/ProductAlternativeList.tsx
  libs/products/shell/src/components/ProductDescription/ProductDescription.tsx
  libs/products/shell/src/components/ProductLinks/ProductLinks.tsx
  libs/products/shell/src/components/ProductPhotos/ProductPhotos.tsx
  libs/products/shell/src/components/RecentProductList/RecentProductList.tsx
  libs/products/shell/src/shells/CategoryProductSection/CategoryProductSection.tsx
  libs/products/shell/src/shells/ProductAlternativeSection/ProductAlternativeSection.tsx
  libs/products/shell/src/shells/RankedProductSection/RankedProductSection.tsx
  libs/products/shell/src/shells/RelatedProductsSection/RelatedProductsSection.tsx
  libs/products/shell/src/shells/TrendingProductSection/TrendingProductSection.tsx
  libs/products/shell/src/shells/index.ts
  libs/products/shell/src/uis/FeatureItem/FeatureItem.tsx
  libs/search/shell/src/shells/SearchEmptyState/TrendingProductPreview/TrendingProductPreview.tsx
  libs/shared/ui-layout/src/Layout.tsx
  libs/shared/ui-layout/src/libs/Footer/Footer.tsx
  libs/shared/ui/src/components/Button.tsx
  libs/shared/ui/src/components/SectionHeader.tsx
  libs/shared/ui/src/lib/date.ts
Due: ts, tsx, json

fix(products-shell): unify PDP link button heights to 44px with single-line typography
  apps/service-web/app/[locale]/products/[slug]/loading.tsx
  libs/products/shell/src/components/ProductLinks/ProductLinks.tsx
Due: tsx

fix(products-shell): unify PDP link button heights to 44px with single-line typography (#394)
  apps/service-web/app/[locale]/products/[slug]/loading.tsx
  libs/products/shell/src/components/ProductLinks/ProductLinks.tsx
Due: tsx

fix(web): fix 30 design flaws across compare, hero, categories, and pdp (phase 5)
  apps/service-web/__tests__/messages.test.ts
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/page.tsx
  apps/service-web/messages/en.json
  apps/service-web/messages/ko.json
  libs/magazines/shell/src/shells/MagazineFeatureSection/MagazineFeatureSection.tsx
  libs/pages/shell/src/ProductAlternativePage.tsx
  libs/products/shell/src/components/ProductAlternativeList/ProductAlternativeList.tsx
  libs/products/shell/src/components/ProductCompany/ProductCompany.tsx
  libs/products/shell/src/components/ProductTableOfContent/ProductTableOfContent.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSection.tsx
  libs/products/shell/src/shells/MainHeroBanner/MainHeroBanner.tsx
  libs/products/shell/src/shells/ProductDescriptionSection/ProductDescriptionSection.tsx
  libs/products/shell/src/shells/ProductDetailFeatureSection/ProductDetailFeatureSection.tsx
  libs/products/shell/src/shells/ProductPhotoSection/ProductPhotoSection.tsx
  libs/products/shell/src/shells/RecentProductSection/RecentProductSection.tsx
  libs/products/shell/src/uis/ProductItem/ProductItem.tsx
  libs/search/shell/src/components/SearchProductList/SearchProductList.tsx
  libs/search/shell/src/shells/SearchEmptyState/CategoryShortcutGrid/CategoryShortcutGrid.tsx
  libs/search/shell/src/shells/SearchEmptyState/PopularQueriesStripe/PopularQueriesStripe.tsx
Due: ts, tsx, json

style: apply automated formatting across updated files
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/page.tsx
  libs/products/shell/src/components/ProductAlternativeList/ProductAlternativeList.tsx
  libs/products/shell/src/components/ProductCompany/ProductCompany.tsx
  libs/products/shell/src/components/ProductTableOfContent/ProductTableOfContent.tsx
  libs/products/shell/src/uis/ProductItem/ProductItem.tsx
  libs/search/shell/src/components/SearchProductList/SearchProductList.tsx
Due: tsx

fix(web): fix 30 design flaws across compare, hero, categories, and pdp (phase 5) (#395)
  apps/service-web/__tests__/messages.test.ts
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/page.tsx
  apps/service-web/messages/en.json
  apps/service-web/messages/ko.json
  libs/magazines/shell/src/shells/MagazineFeatureSection/MagazineFeatureSection.tsx
  libs/pages/shell/src/ProductAlternativePage.tsx
  libs/products/shell/src/components/ProductAlternativeList/ProductAlternativeList.tsx
  libs/products/shell/src/components/ProductCompany/ProductCompany.tsx
  libs/products/shell/src/components/ProductTableOfContent/ProductTableOfContent.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSection.tsx
  libs/products/shell/src/shells/MainHeroBanner/MainHeroBanner.tsx
  libs/products/shell/src/shells/ProductDescriptionSection/ProductDescriptionSection.tsx
  libs/products/shell/src/shells/ProductDetailFeatureSection/ProductDetailFeatureSection.tsx
  libs/products/shell/src/shells/ProductPhotoSection/ProductPhotoSection.tsx
  libs/products/shell/src/shells/RecentProductSection/RecentProductSection.tsx
  libs/products/shell/src/uis/ProductItem/ProductItem.tsx
  libs/search/shell/src/components/SearchProductList/SearchProductList.tsx
  libs/search/shell/src/shells/SearchEmptyState/CategoryShortcutGrid/CategoryShortcutGrid.tsx
  libs/search/shell/src/shells/SearchEmptyState/PopularQueriesStripe/PopularQueriesStripe.tsx
Due: ts, tsx, json

refactor(products): introduce grounded description candidate contract
  libs/products/datasource/package.json
  libs/products/datasource/src/__tests__/ProductDescriptionGeneratorImpl.test.ts
  libs/products/datasource/src/__tests__/ProductDescriptionRenderer.test.ts
  libs/products/datasource/src/__tests__/productDescriptionDocumentValidator.test.ts
  libs/products/datasource/src/entities/ProductDescriptionJobSchema.ts
  libs/products/datasource/src/index.ts
  libs/products/datasource/src/prompts/productDescriptionPrompt.ts
  libs/products/datasource/src/repositories/PostgresqlProductDescriptionJobRepository.ts
  libs/products/datasource/src/services/ProductDescriptionGeneratorImpl.ts
  libs/products/datasource/src/services/ProductDescriptionRenderer.ts
  libs/products/datasource/src/validators/productDescriptionDocumentValidator.ts
  libs/products/domain/src/__tests__/GenerateProductDescription.test.ts
  libs/products/domain/src/__tests__/ProductDescriptionEvidenceAssembler.test.ts
  libs/products/domain/src/entities/ProductDescriptionJobEntity.ts
  libs/products/domain/src/repositories/ProductDescriptionJobRepository.ts
  libs/products/domain/src/services/ProductDescriptionDocument.ts
  libs/products/domain/src/services/ProductDescriptionEvidenceAssembler.ts
  libs/products/domain/src/services/ProductDescriptionGenerator.ts
  libs/products/domain/src/usecases/GenerateProductDescription.ts
  libs/products/service/src/ProductDescriptionJobService.ts
  libs/products/service/src/__tests__/ProductDescriptionJobService.test.ts
Due: ts, json

feat(products): add reviewed description candidate apply flow
  apps/graphql-api/schema.graphql
  apps/graphql-api/src/app/graphql/product/graphs/ProductDescriptionJob.ts
  libs/__generated__/gql.ts
  libs/__generated__/graphql.ts
  libs/products/domain/src/__tests__/ApplyProductDescriptionCandidate.test.ts
  libs/products/domain/src/index.ts
  libs/products/domain/src/usecases/ApplyProductDescriptionCandidate.ts
  libs/products/feature/src/GenerateProductDescriptionButton/GenerateProductDescriptionButton.tsx
  libs/products/feature/src/GenerateProductDescriptionButton/__tests__/useGenerateProductDescriptionButton.test.ts
  libs/products/feature/src/GenerateProductDescriptionButton/useGenerateProductDescriptionButton.ts
  libs/products/feature/src/Product.mutation.resolver.ts
  libs/products/feature/src/ProductDescription.query.resolver.ts
  libs/products/feature/src/ProductMediaMutationResolver.ts
  libs/products/feature/src/ProductPublishMutationResolver.ts
  libs/products/feature/src/__tests__/ProductMediaMutationResolver.test.ts
  libs/products/feature/src/graphs/ApplyProductDescriptionCandidate.ts
  libs/products/feature/src/graphs/ProductDescriptionJob.ts
  libs/products/feature/src/server.ts
Due: ts, tsx

refactor(translation): add source-aware fidelity translation pipeline
  libs/products/feature/src/__tests__/Product.query.resolver.test.ts
  libs/translation/datasource/package.json
  libs/translation/datasource/src/__tests__/LlmTranslationProvider.test.ts
  libs/translation/datasource/src/__tests__/htmlPlaceholderCodec.test.ts
  libs/translation/datasource/src/adapters/LlmTranslationProvider.ts
  libs/translation/datasource/src/codecs/htmlPlaceholderCodec.ts
  libs/translation/datasource/src/entities/TranslationJobSchema.ts
  libs/translation/datasource/src/entities/TranslationSchema.ts
  libs/translation/datasource/src/index.ts
  libs/translation/datasource/src/prompts/translationPrompt.ts
  libs/translation/datasource/src/repositories/PostgresqlTranslationJobRepository.ts
  libs/translation/datasource/src/repositories/PostgresqlTranslationRepository.ts
  libs/translation/domain/src/__tests__/TranslationJobService.test.ts
  libs/translation/domain/src/__tests__/TranslationService.test.ts
  libs/translation/domain/src/__tests__/sourceHash.test.ts
  libs/translation/domain/src/entities/TranslationJobEntity.ts
  libs/translation/domain/src/index.ts
  libs/translation/domain/src/ports/TranslationProvider.ts
  libs/translation/domain/src/repositories/TranslationJobRepository.ts
  libs/translation/domain/src/repositories/TranslationRepository.ts
  libs/translation/domain/src/services/TranslationService.ts
  libs/translation/domain/src/utils/sourceHash.ts
  libs/translation/service/src/TranslationJobService.ts
Due: ts, json

chore(db): generate drizzle migration for description jobs and translation hashes
  apps/graphql-api/scripts/migrations/0006_unique_selene.sql
  apps/graphql-api/scripts/migrations/meta/0006_snapshot.json
  apps/graphql-api/scripts/migrations/meta/_journal.json
Due: json

test(llm): add content quality regression and offline eval fixtures
  libs/products/datasource/src/__tests__/productDescriptionDocumentValidator.test.ts
  libs/products/datasource/src/services/ProductDescriptionGeneratorImpl.ts
  libs/products/domain/src/services/ProductDescriptionEvidenceAssembler.ts
  libs/products/domain/src/usecases/ApplyProductDescriptionCandidate.ts
  libs/products/domain/src/usecases/GenerateProductDescription.ts
  libs/products/feature/src/ProductRecommendationMutationResolver.ts
  libs/products/service/src/__tests__/ProductDescriptionJobService.test.ts
  libs/translation/datasource/src/__tests__/htmlPlaceholderCodec.test.ts
  libs/translation/datasource/src/prompts/translationPrompt.ts
  libs/translation/domain/src/services/TranslationService.ts
  package.json
  pnpm-lock.yaml
  scripts/eval-llm-content/fixtures/description-fixtures.json
  scripts/eval-llm-content/fixtures/translation-fixtures.json
  scripts/eval-llm-content/run.ts
Due: ts, json

fix(translation): resolve polynomial regex backtracking alert in html placeholder codec
  libs/translation/datasource/src/__tests__/htmlPlaceholderCodec.test.ts
  libs/translation/datasource/src/codecs/htmlPlaceholderCodec.ts
Due: ts

fix(web): resolve 30 design flaws, accessibility, and microinteractions (phase 6)
  apps/service-web/__tests__/messages.test.ts
  apps/service-web/app/[locale]/about/loading.tsx
  apps/service-web/app/[locale]/categories/[slug]/loading.tsx
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/loading.tsx
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/page.tsx
  apps/service-web/app/[locale]/page.tsx
  apps/service-web/app/[locale]/products/[slug]/alternatives/loading.tsx
  apps/service-web/app/[locale]/search/error.tsx
  apps/service-web/messages/en.json
  apps/service-web/messages/ko.json
  libs/magazines/feature/src/ArticleCard/ArticleCard.tsx
  libs/magazines/shell/src/shells/MagazineInfoSection/MagazineInfoSection.tsx
  libs/pages/shell/src/SearchProductPage.tsx
  libs/products/shell/src/components/CompareButton/CompareButton.tsx
  libs/products/shell/src/components/ProductLinks/ProductLinks.tsx
  libs/products/shell/src/components/ProductPhotos/ProductPhotos.tsx
  libs/products/shell/src/components/ProductTableOfContent/ProductTableOfContent.tsx
  libs/products/shell/src/components/RankedProductList/RankedProductList.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSkeleton.tsx
  libs/products/shell/src/shells/MainHeroBanner/MainHeroBanner.tsx
  libs/products/shell/src/shells/ProductAlternativeSection/ProductAlternativeSection.tsx
  libs/products/shell/src/shells/RecentProductSection/RecentProductSkeleton.tsx
  libs/products/shell/src/shells/TrendingProductSection/TrendingProductSkeleton.tsx
  libs/products/shell/src/uis/FeatureItem/FeatureItem.tsx
  libs/products/shell/src/uis/ProductFeatureGridList/ProductFeatureGridList.tsx
  libs/products/shell/src/uis/RankBadge/RankBadge.tsx
  libs/products/shell/src/uis/VoteCountBadge/VoteCountBadge.tsx
  libs/shared/ui-layout/src/LocaleToggle/LocaleToggle.tsx
  libs/shared/ui-layout/src/libs/HeaderSearchForm/HeaderSearchForm.tsx
  libs/shared/ui/src/components/Breadcrumb.tsx
Due: ts, tsx, json

fix(web): resolve 30 design flaws, accessibility, and responsive polish (phase 7)
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/page.tsx
  apps/service-web/app/[locale]/layout.tsx
  apps/service-web/app/[locale]/magazines/[slug]/loading.tsx
  apps/service-web/app/[locale]/magazines/[slug]/page.tsx
  apps/service-web/app/[locale]/not-found.tsx
  apps/service-web/app/[locale]/products/[slug]/loading.tsx
  apps/service-web/app/[locale]/search/loading.tsx
  apps/service-web/messages/en.json
  apps/service-web/messages/ko.json
  libs/magazines/feature/src/ArticleCard/ArticleCard.tsx
  libs/products/shell/src/components/AlternativeProductList/AlternativeProductList.tsx
  libs/products/shell/src/components/CompareButton/CompareButton.tsx
  libs/products/shell/src/components/FAQSection/FAQSection.tsx
  libs/products/shell/src/components/ProductCompany/ProductCompany.tsx
  libs/products/shell/src/components/ProductDescription/ProductDescription.tsx
  libs/products/shell/src/components/ProductLinks/ProductLinks.tsx
  libs/products/shell/src/components/ProductPhotos/ProductPhotos.tsx
  libs/products/shell/src/components/ProductUserAction/ProductUserAction.tsx
  libs/products/shell/src/components/ProductsCount/ProductsCount.tsx
  libs/products/shell/src/shells/CategoryProductSection/CategoryProductSection.tsx
  libs/products/shell/src/shells/MainHeroBanner/MainHeroBanner.tsx
  libs/products/shell/src/uis/FeatureItem/FeatureItem.tsx
  libs/products/shell/src/uis/ProductItem/ProductItem.tsx
  libs/search/shell/src/components/SearchProductList/SearchProductList.tsx
  libs/search/shell/src/components/SearchProductListSkeleton/SearchProductListSkeleton.tsx
  libs/search/shell/src/shells/SearchEmptyState/PopularQueriesStripe/PopularQueriesStripe.tsx
  libs/shared/ui/src/components/Chip.tsx
  libs/shared/ui/src/components/Dialog.tsx
  libs/shared/ui/src/components/SectionWrapper.tsx
  libs/shared/ui/src/components/Toast/Toast.tsx
Due: tsx, json

fix(web): resolve 30 design flaws, accessibility, and responsive polish (phase 8)
  apps/service-web/app/[locale]/about/loading.tsx
  apps/service-web/app/[locale]/about/page.tsx
  apps/service-web/app/[locale]/categories/[slug]/loading.tsx
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/loading.tsx
  apps/service-web/app/[locale]/loading.tsx
  apps/service-web/app/[locale]/page.tsx
  apps/service-web/app/[locale]/products/[slug]/alternatives/loading.tsx
  apps/service-web/app/[locale]/products/[slug]/alternatives/page.tsx
  apps/service-web/app/[locale]/products/[slug]/loading.tsx
  apps/service-web/app/[locale]/ranking/loading.tsx
  libs/magazines/feature/src/ArticleCard/ArticleCard.tsx
  libs/magazines/shell/src/shells/MagazineFeatureSection/MagazineFeatureSection.tsx
  libs/magazines/shell/src/shells/MagazineInfoSection/MagazineInfoSection.tsx
  libs/pages/shell/src/SearchProductPage.tsx
  libs/products/shell/src/components/ProductAlternativeList/ProductAlternativeList.tsx
  libs/products/shell/src/components/ProductCard/ProductCard.tsx
  libs/products/shell/src/components/ProductLinks/ProductLinks.tsx
  libs/products/shell/src/components/ProductPhotos/ProductPhotos.tsx
  libs/products/shell/src/components/ProductTableOfContent/ProductTableOfContent.tsx
  libs/products/shell/src/components/ProductUserAction/ProductUserAction.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSkeleton.tsx
  libs/products/shell/src/uis/ProductFeatureGridList/ProductFeatureGridList.tsx
  libs/products/shell/src/uis/RankBadge/RankBadge.tsx
  libs/shared/ui-layout/src/Layout.tsx
  libs/shared/ui-layout/src/LocaleToggle/LocaleToggle.tsx
  libs/shared/ui-layout/src/libs/Footer/Footer.tsx
  libs/shared/ui-layout/src/libs/Header/Header.tsx
  libs/shared/ui-layout/src/libs/HeaderSearchForm/HeaderSearchForm.tsx
  libs/shared/ui/src/components/Button.tsx
  libs/shared/ui/src/components/PageHeading.tsx
  libs/shared/ui/src/components/SectionHeader.tsx
Due: tsx

style(web): format code with prettier
  apps/service-web/app/[locale]/about/page.tsx
  apps/service-web/app/[locale]/loading.tsx
  apps/service-web/app/[locale]/products/[slug]/alternatives/page.tsx
  libs/shared/ui-layout/src/libs/Footer/Footer.tsx
Due: tsx

fix(web): resolve 30 design flaws, accessibility, and responsive polish (phase 9)
  apps/service-web/app/[locale]/about/page.tsx
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/page.tsx
  apps/service-web/app/[locale]/not-found.tsx
  apps/service-web/app/[locale]/search/error.tsx
  libs/pages/shell/src/MagazineContentPage.tsx
  libs/products/shell/src/__tests__/useProductTableOfContent.test.ts
  libs/products/shell/src/components/CompareButton/CompareButton.tsx
  libs/products/shell/src/components/ProductCompany/ProductCompany.tsx
  libs/products/shell/src/components/ProductDescription/ProductDescription.tsx
  libs/products/shell/src/components/ProductLinks/ProductLinks.tsx
  libs/products/shell/src/components/ProductTableOfContent/useProductTableOfContent.ts
  libs/products/shell/src/components/ProductUserAction/ProductUserAction.tsx
  libs/products/shell/src/components/ProductUserAction/useProductUserAction.ts
  libs/products/shell/src/components/RankedProductList/RankedProductList.tsx
  libs/products/shell/src/shells/AlternativeProductSection/AlternativeProductSection.tsx
  libs/products/shell/src/shells/CategoryProductSection/CategoryProductSection.tsx
  libs/products/shell/src/shells/MainHeroBanner/MainHeroBanner.tsx
  libs/products/shell/src/shells/ProductAlternativeSection/ProductAlternativeSection.tsx
  libs/products/shell/src/shells/ProductSummaryLink/ProductSummaryLink.tsx
  libs/products/shell/src/shells/ProductTocSection/useProductTocSection.ts
  libs/products/shell/src/shells/RankedProductSection/RankedProductSection.tsx
  libs/products/shell/src/shells/RecentProductSection/RecentProductSkeleton.tsx
  libs/products/shell/src/uis/FeatureItem/FeatureItem.tsx
  libs/products/shell/src/uis/ProductItem/ProductItem.tsx
  libs/products/shell/src/uis/VoteCountBadge/VoteCountBadge.tsx
  libs/search/shell/src/components/SearchProductList/SearchProductList.tsx
  libs/search/shell/src/components/SearchProductListSkeleton/SearchProductListSkeleton.tsx
  libs/search/shell/src/shells/SearchEmptyState/CategoryShortcutGrid/CategoryShortcutGrid.tsx
  libs/search/shell/src/shells/SearchEmptyState/PopularQueriesStripe/PopularQueriesStripe.tsx
  libs/search/shell/src/shells/SearchEmptyState/TrendingProductPreview/TrendingProductPreview.tsx
  libs/shared/ui/src/components/Breadcrumb.test.tsx
  libs/shared/ui/src/components/Breadcrumb.tsx
  libs/shared/ui/src/components/Chip.tsx
  libs/shared/ui/src/components/Dialog.tsx
  libs/shared/ui/src/components/SectionWrapper.tsx
  libs/shared/ui/src/components/Toast/Toast.tsx
Due: ts, tsx

fix(web): resolve 30 design flaws, accessibility, and responsive polish (phase 10)
  apps/service-web/app/[locale]/about/page.tsx
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/page.tsx
  apps/service-web/app/[locale]/page.tsx
  libs/magazines/feature/src/ArticleCard/ArticleCard.tsx
  libs/magazines/shell/src/shells/MagazineFeatureSection/MagazineFeatureSection.tsx
  libs/magazines/shell/src/shells/MagazineInfoSection/MagazineInfoSection.tsx
  libs/pages/shell/src/MagazineContentPage.tsx
  libs/products/shell/src/components/AlternativeProductList/AlternativeProductList.tsx
  libs/products/shell/src/components/FAQSection/FAQSection.tsx
  libs/products/shell/src/components/ProductAlternativeList/ProductAlternativeList.tsx
  libs/products/shell/src/components/ProductCard/ProductCard.tsx
  libs/products/shell/src/components/ProductFeatureList/ProductFeatureList.tsx
  libs/products/shell/src/components/ProductLinks/ProductLinks.tsx
  libs/products/shell/src/components/ProductPhotos/ProductPhotos.tsx
  libs/products/shell/src/components/ProductTableOfContent/ProductTableOfContent.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSection.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSkeleton.tsx
  libs/products/shell/src/shells/CategoryProductSection/CategoryProductSection.tsx
  libs/products/shell/src/shells/ProductAlternativeSection/ProductAlternativeSection.tsx
  libs/products/shell/src/shells/RecentProductSection/RecentProductSection.tsx
  libs/products/shell/src/shells/TrendingProductSection/TrendingProductSection.tsx
  libs/products/shell/src/shells/TrendingProductSection/TrendingProductSkeleton.tsx
  libs/products/shell/src/uis/FeatureItem/FeatureItem.tsx
  libs/products/shell/src/uis/ProductFeatureGridList/ProductFeatureGridList.tsx
  libs/search/shell/src/shells/SearchEmptyState/PopularQueriesStripe/PopularQueriesStripe.tsx
  libs/shared/ui-layout/src/libs/Footer/Footer.tsx
  libs/shared/ui-layout/src/libs/HeaderSearchForm/HeaderSearchForm.tsx
Due: tsx

fix(web): resolve 30 design flaws, accessibility, and responsive polish (phase 11)
  apps/service-web/app/[locale]/about/loading.tsx
  apps/service-web/app/[locale]/categories/[slug]/loading.tsx
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/loading.tsx
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/page.tsx
  apps/service-web/app/[locale]/error.tsx
  apps/service-web/app/[locale]/not-found.tsx
  apps/service-web/app/[locale]/ranking/loading.tsx
  apps/service-web/app/[locale]/search/error.tsx
  apps/service-web/app/global-error.tsx
  libs/pages/shell/src/MagazineContentPage.tsx
  libs/pages/shell/src/ProductAlternativePage.tsx
  libs/pages/shell/src/ProductDetailPage.tsx
  libs/pages/shell/src/SearchProductPage.tsx
  libs/products/shell/src/components/ProductsCount/ProductsCount.tsx
  libs/products/shell/src/components/RankedProductList/RankedProductList.tsx
  libs/products/shell/src/shells/CategoryProductSection/CategoryProductSection.tsx
  libs/products/shell/src/shells/MainHeroBanner/MainHeroBanner.tsx
  libs/products/shell/src/shells/RankedProductSection/RankedProductSection.tsx
  libs/shared/ui-layout/src/libs/Header/Header.tsx
  libs/shared/ui/src/components/Breadcrumb.tsx
  libs/shared/ui/src/components/Dialog.tsx
  libs/shared/ui/src/components/Logo.tsx
  libs/shared/ui/src/components/Toast/Toast.tsx
Due: tsx

fix(products-shell): resolve official website icon contrast and color rendering
  libs/products/feature/src/ProductLinkTable/ProductLinkTable.tsx
  libs/products/shell/src/components/ProductLinks/ProductLinks.tsx
Due: tsx

fix(web): resolve 30 design flaws, accessibility, and responsive polish (phase 12)
  apps/service-web/app/[locale]/about/page.tsx
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/page.tsx
  apps/service-web/app/[locale]/error.tsx
  apps/service-web/app/[locale]/page.tsx
  apps/service-web/app/[locale]/search/error.tsx
  libs/magazines/shell/src/shells/MagazineFeatureSection/MagazineFeatureSection.tsx
  libs/pages/shell/src/SearchProductPage.tsx
  libs/products/feature/src/ProductLinkTable/ProductLinkTable.tsx
  libs/products/shell/src/components/ProductAlternativeList/ProductAlternativeList.tsx
  libs/products/shell/src/components/ProductCompany/ProductCompany.tsx
  libs/products/shell/src/components/ProductDescription/ProductDescription.tsx
  libs/products/shell/src/components/ProductFeatureList/ProductFeatureList.tsx
  libs/products/shell/src/components/ProductLinks/ProductLinks.tsx
  libs/products/shell/src/components/ProductPhotos/ProductPhotos.tsx
  libs/products/shell/src/components/ProductUserAction/ProductUserAction.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSection.tsx
  libs/products/shell/src/shells/RecentProductSection/RecentProductSection.tsx
  libs/products/shell/src/shells/TrendingProductSection/TrendingProductSection.tsx
  libs/products/shell/src/uis/ProductItem/ProductItem.tsx
  libs/shared/ui-layout/src/libs/Header/Header.tsx
  libs/shared/ui-layout/src/libs/HeaderSearchForm/HeaderSearchForm.tsx
  libs/shared/ui/src/components/PageHeading.tsx
  libs/shared/ui/src/components/SectionHeader.tsx
  libs/shared/ui/src/components/Toast/Toast.tsx
Due: tsx

fix(web): resolve 30 design flaws, loading skeletons, and a11y polish (phase 13)
  apps/admin-web/layouts/Navbar/Navbar.tsx
  apps/service-web/app/[locale]/about/loading.tsx
  apps/service-web/app/[locale]/categories/[slug]/loading.tsx
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/loading.tsx
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/page.tsx
  apps/service-web/app/[locale]/magazines/[slug]/loading.tsx
  apps/service-web/app/[locale]/magazines/[slug]/page.tsx
  apps/service-web/app/[locale]/products/[slug]/alternatives/loading.tsx
  apps/service-web/app/[locale]/products/[slug]/loading.tsx
  apps/service-web/app/[locale]/ranking/loading.tsx
  apps/service-web/app/[locale]/search/loading.tsx
  apps/service-web/app/global-error.tsx
  libs/magazines/feature/src/ArticleCard/ArticleCard.tsx
  libs/magazines/shell/src/shells/MagazineInfoSection/MagazineInfoSection.tsx
  libs/pages/shell/src/MagazineContentPage.tsx
  libs/pages/shell/src/ProductAlternativePage.tsx
  libs/pages/shell/src/SearchProductPage.tsx
  libs/products/shell/src/uis/FeatureItem/FeatureItem.tsx
  libs/products/shell/src/uis/ProductItem/ProductItem.tsx
  libs/search/shell/src/components/SearchProductList/SearchProductList.tsx
  libs/search/shell/src/shells/SearchEmptyState/TrendingProductPreview/TrendingProductPreview.tsx
  libs/shared/ui-admin/src/AdminState.tsx
  libs/shared/ui/src/components/Breadcrumb.tsx
Due: tsx

fix(web): resolve 30 design flaws, sticky offsets, and a11y polish (phase 14)
  apps/admin-web/app/error.tsx
  apps/admin-web/features/auth/LogoutButton/LogoutButton.tsx
  apps/service-web/app/[locale]/about/page.tsx
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/loading.tsx
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/page.tsx
  apps/service-web/app/[locale]/error.tsx
  libs/companies/feature/src/AllCompanyListTable/AllCompanyListTable.tsx
  libs/products/feature/src/ProductFeatureTable/ProductFeatureTable.tsx
  libs/products/feature/src/ProductLinkTable/ProductLinkTable.tsx
  libs/products/feature/src/ProductListTable/ProductListTable.tsx
  libs/products/feature/src/ProductTagsForm/ProductTagsForm.tsx
  libs/products/shell/src/components/CompareButton/CompareButton.tsx
  libs/products/shell/src/components/ProductCompany/ProductCompany.tsx
  libs/products/shell/src/components/ProductDescription/ProductDescription.tsx
  libs/products/shell/src/components/ProductLinks/ProductLinks.tsx
  libs/products/shell/src/components/ProductPhotos/ProductPhotos.tsx
  libs/products/shell/src/components/ProductTableOfContent/ProductTableOfContent.tsx
  libs/products/shell/src/components/ProductUserAction/ProductUserAction.tsx
  libs/products/shell/src/shells/CategoryProductSection/CategoryProductSection.tsx
  libs/products/shell/src/shells/MainHeroBanner/MainHeroBanner.tsx
  libs/products/shell/src/shells/ProductAlternativeSection/ProductAlternativeSection.tsx
  libs/products/shell/src/shells/ProductTocSection/ProductTocSection.tsx
  libs/products/shell/src/uis/ProductFeatureGridList/ProductFeatureGridList.tsx
  libs/products/shell/src/uis/ProductItem/ProductItem.tsx
  libs/products/shell/src/uis/RankBadge/RankBadge.tsx
  libs/products/shell/src/uis/VoteCountBadge/VoteCountBadge.tsx
  libs/search/shell/src/components/SearchProductList/SearchProductList.tsx
  libs/search/shell/src/shells/SearchEmptyState/PopularQueriesStripe/PopularQueriesStripe.tsx
  libs/shared/ui-admin/src/AdminCheckbox.tsx
  libs/shared/ui-admin/src/AdminModal.tsx
  libs/shared/ui-admin/src/Editor/MenuBar.tsx
  libs/shared/ui-admin/src/Editor/MenuItem.tsx
  libs/shared/ui-layout/src/libs/Header/Header.tsx
  libs/shared/ui-layout/src/libs/HeaderSearchForm/HeaderSearchForm.tsx
  libs/shared/ui/src/components/Dialog.tsx
  libs/shared/ui/src/components/Toast/Toast.tsx
Due: tsx

fix(web): resolve 30 design flaws, touch targets, and a11y polish (phase 15)
  apps/admin-web/app/not-found.tsx
  apps/admin-web/features/settings/LlmSettingFormSection/ModelSelectModal.tsx
  apps/admin-web/layouts/AppShell/AppShell.tsx
  apps/admin-web/layouts/Navbar/Navbar.tsx
  apps/service-web/app/[locale]/error.tsx
  apps/service-web/app/[locale]/magazines/[slug]/loading.tsx
  apps/service-web/app/[locale]/not-found.tsx
  apps/service-web/app/[locale]/page.tsx
  apps/service-web/app/global-error.tsx
  libs/magazines/feature/src/ArticleCard/ArticleCard.tsx
  libs/magazines/shell/src/shells/MagazineFeatureSection/MagazineFeatureSection.tsx
  libs/magazines/shell/src/shells/MagazineInfoSection/MagazineInfoSection.tsx
  libs/pages/shell/src/MagazineContentPage.tsx
  libs/products/shell/src/components/FAQSection/FAQSection.tsx
  libs/products/shell/src/components/ProductAlternativeList/ProductAlternativeList.tsx
  libs/products/shell/src/components/ProductCard/ProductCard.tsx
  libs/products/shell/src/components/RankedProductList/RankedProductList.tsx
  libs/products/shell/src/shells/AlternativeProductSection/AlternativeProductSection.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSection.tsx
  libs/products/shell/src/shells/RecentProductSection/RecentProductSection.tsx
  libs/products/shell/src/shells/RelatedProductsSection/RelatedProductsSection.tsx
  libs/products/shell/src/shells/TrendingProductSection/TrendingProductSection.tsx
  libs/search/shell/src/shells/SearchEmptyState/CategoryShortcutGrid/CategoryShortcutGrid.tsx
  libs/search/shell/src/shells/SearchEmptyState/TrendingProductPreview/TrendingProductPreview.tsx
  libs/shared/ui-admin/src/AdminActions.tsx
  libs/shared/ui-admin/src/AdminField.tsx
  libs/shared/ui-admin/src/GoogleButton.tsx
  libs/shared/ui-admin/src/Logo.tsx
  libs/shared/ui-admin/src/lib/inputBase.ts
  libs/shared/ui-layout/src/LocaleToggle/LocaleToggle.tsx
  libs/shared/ui-layout/src/libs/Footer/Footer.tsx
  libs/shared/ui-layout/src/libs/HeaderLoginButton/HeaderLoginButton.tsx
  libs/shared/ui/src/components/Breadcrumb.tsx
  libs/shared/ui/src/components/Chip.tsx
  libs/shared/ui/src/components/PageHeading.tsx
  libs/shared/ui/src/components/SectionHeader.tsx
  libs/shared/ui/src/components/SectionWrapper.tsx
Due: ts, tsx

fix(web): resolve 30 design flaws, layout shifts, and a11y polish (phase 16)
  apps/admin-web/features/auth/LogoutButton/LogoutButton.tsx
  apps/admin-web/layouts/Navbar/Navbar.tsx
  apps/service-web/app/[locale]/about/page.tsx
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/loading.tsx
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/page.tsx
  apps/service-web/app/[locale]/products/[slug]/loading.tsx
  libs/products/shell/src/components/AlternativeProductList/AlternativeProductList.tsx
  libs/products/shell/src/components/CompareButton/CompareButton.tsx
  libs/products/shell/src/components/ProductCard/ProductCard.tsx
  libs/products/shell/src/components/ProductCompany/ProductCompany.tsx
  libs/products/shell/src/components/ProductDescription/ProductDescription.tsx
  libs/products/shell/src/components/ProductFeatureList/ProductFeatureList.tsx
  libs/products/shell/src/components/ProductLinks/ProductLinks.tsx
  libs/products/shell/src/components/ProductPhotos/ProductPhotos.tsx
  libs/products/shell/src/components/ProductTableOfContent/ProductTableOfContent.tsx
  libs/products/shell/src/components/ProductUserAction/ProductUserAction.tsx
  libs/products/shell/src/shells/CategoryProductSection/CategoryProductSection.tsx
  libs/products/shell/src/shells/MainHeroBanner/MainHeroBanner.tsx
  libs/products/shell/src/shells/ProductAlternativeSection/ProductAlternativeSection.tsx
  libs/products/shell/src/shells/ProductSummaryLink/ProductSummaryLink.tsx
  libs/products/shell/src/uis/FeatureItem/FeatureItem.tsx
  libs/products/shell/src/uis/ProductFeatureGridList/ProductFeatureGridList.tsx
  libs/products/shell/src/uis/ProductItem/ProductItem.tsx
  libs/products/shell/src/uis/VoteCountBadge/VoteCountBadge.tsx
  libs/search/shell/src/components/SearchProductList/SearchProductList.tsx
  libs/search/shell/src/components/SearchProductListSkeleton/SearchProductListSkeleton.tsx
  libs/search/shell/src/shells/SearchEmptyState/CategoryShortcutGrid/CategoryShortcutGrid.tsx
  libs/search/shell/src/shells/SearchEmptyState/PopularQueriesStripe/PopularQueriesStripe.tsx
  libs/shared/ui-admin/src/AdminModal.tsx
  libs/shared/ui-admin/src/AdminSection.tsx
  libs/shared/ui-admin/src/AdminState.tsx
  libs/shared/ui-admin/src/PageShell.tsx
Due: tsx

fix(web): resolve 30 design flaws, layout shifts, and a11y polish (phase 17)
  apps/admin-web/features/auth/LoginSection/LoginSection.tsx
  apps/admin-web/features/llm-jobs/LlmJobListSection.tsx
  apps/admin-web/features/magazines/MagazinesList/MagazinesList.tsx
  apps/admin-web/features/products/NewProductFeatureFormSection/NewProductFeatureFormSection.tsx
  apps/admin-web/features/products/NewProductFormSection/NewProductFormSection.tsx
  apps/admin-web/features/products/NewProductLinkSection/NewProductLinkSection.tsx
  apps/admin-web/features/products/NewProductScreenshotFormSection/NewProductScreenshotFormSection.tsx
  apps/admin-web/features/products/ProductDetailAlternativeSection/ProductDetailAlternativeSection.tsx
  apps/admin-web/features/products/ProductDetailCompanySection/ProductDetailCompanySection.tsx
  apps/admin-web/features/products/ProductDetailDescriptionSection/ProductDetailDescriptionSection.tsx
  apps/admin-web/features/products/ProductDetailFeatureSection/ProductDetailFeatureSection.tsx
  apps/admin-web/features/products/ProductDetailFlowSection/ProductDetailFlowSection.tsx
  apps/admin-web/features/products/ProductDetailInfoSection/ProductDetailInfoSection.tsx
  apps/admin-web/features/products/ProductDetailLinkSection/ProductDetailLinkSection.tsx
  apps/admin-web/features/products/ProductDetailScreenshotSection/ProductDetailScreenshotSection.tsx
  apps/service-web/app/[locale]/magazines/[slug]/loading.tsx
  apps/visual-web/app/VisualLayout.tsx
  apps/visual-web/app/not-found.tsx
  apps/visual-web/features/flows/FlowDetail.tsx
  apps/visual-web/features/flows/FlowExplorer.tsx
  apps/visual-web/features/screenshots/ScreenshotDetail.tsx
  apps/visual-web/features/screenshots/ScreenshotExplorer.tsx
  libs/companies/feature/src/AllCompanyListTable/AllCompanyListTable.tsx
  libs/companies/feature/src/NewCompanyForm/NewCompanyForm.tsx
  libs/magazines/feature/src/ArticleCard/ArticleCard.tsx
  libs/magazines/shell/src/shells/MagazineFeatureSection/MagazineFeatureSection.tsx
  libs/magazines/shell/src/shells/MagazineInfoSection/MagazineInfoSection.tsx
  libs/products/feature/src/ProductListTable/ProductListTable.tsx
  libs/products/shell/src/components/RankedProductList/RankedProductList.tsx
  libs/products/shell/src/uis/RankBadge/RankBadge.tsx
Due: tsx

fix(web): resolve 30 design flaws, layout shifts, and a11y polish (phase 18)
  apps/admin-web/features/auth/LoginSection/LoginSection.tsx
  apps/admin-web/features/auth/LogoutButton/LogoutButton.tsx
  apps/admin-web/features/llm-jobs/LlmJobListSection.tsx
  apps/admin-web/features/magazines/MagazinesList/MagazinesList.tsx
  apps/admin-web/features/products/ProductDetailDescriptionSection/ProductDetailDescriptionSection.tsx
  apps/admin-web/features/settings/LlmSettingFormSection/LlmSettingFormSection.tsx
  apps/admin-web/features/settings/LlmSettingFormSection/ModelSelectModal.tsx
  apps/admin-web/layouts/Navbar/Navbar.tsx
  apps/service-web/app/[locale]/about/page.tsx
  apps/service-web/app/[locale]/error.tsx
  apps/service-web/app/[locale]/search/error.tsx
  apps/service-web/app/global-error.tsx
  apps/visual-web/app/global-error.tsx
  apps/visual-web/app/not-found.tsx
  apps/visual-web/features/flows/FlowDetail.tsx
  apps/visual-web/features/flows/FlowExplorer.tsx
  apps/visual-web/features/screenshots/ScreenshotDetail.tsx
  apps/visual-web/features/screenshots/ScreenshotExplorer.tsx
  libs/companies/feature/src/AllCompanyListTable/AllCompanyListTable.tsx
  libs/products/feature/src/GenerateProductDescriptionButton/GenerateProductDescriptionButton.tsx
  libs/products/feature/src/IndexProductButton/IndexProductButton.tsx
  libs/products/feature/src/ProductListRefreshButton/ProductListRefreshButton.tsx
  libs/products/feature/src/ProductListTable/ProductListTable.tsx
  libs/products/feature/src/PublishProductButton/PublishProductButton.tsx
  libs/products/feature/src/TranslateProductButton/TranslateProductButton.tsx
  libs/products/shell/src/components/RankedProductList/RankedProductList.tsx
  libs/products/shell/src/shells/CategoryProductSection/CategoryProductSection.tsx
  libs/products/shell/src/uis/ProductItem/ProductItem.tsx
  libs/products/shell/src/uis/VoteCountBadge/VoteCountBadge.tsx
  libs/search/shell/src/components/SearchProductList/SearchProductList.tsx
Due: tsx

fix(web): resolve 30 design flaws, layout shifts, and a11y polish (phase 19)
  apps/admin-web/features/llm-jobs/LlmJobListSection.tsx
  apps/admin-web/features/products/NewProductFeatureFormSection/NewProductFeatureFormSection.tsx
  apps/admin-web/features/products/ProductDetailFeatureSection/ProductDetailFeatureSection.tsx
  apps/admin-web/features/products/ProductDetailFlowSection/ProductDetailFlowSection.tsx
  apps/admin-web/features/products/ProductDetailInfoSection/ProductDetailInfoSection.tsx
  apps/admin-web/features/products/ProductDetailLinkSection/ProductDetailLinkSection.tsx
  apps/admin-web/features/products/ProductDetailScreenshotSection/ProductDetailScreenshotSection.tsx
  apps/admin-web/features/products/ProductFlowEditor/ProductFlowEditor.tsx
  apps/admin-web/features/settings/LlmSettingFormSection/ModelSelectModal.tsx
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/page.tsx
  apps/visual-web/app/VisualLayout.tsx
  apps/visual-web/features/flows/FlowDetail.tsx
  apps/visual-web/features/flows/FlowExplorer.tsx
  apps/visual-web/features/product-search/ProductSearchSuggest.tsx
  apps/visual-web/features/screenshots/ScreenshotDetail.tsx
  apps/visual-web/features/screenshots/ScreenshotExplorer.tsx
  libs/companies/feature/src/CompanyListRefreshButton/CompanyListRefreshButton.tsx
  libs/magazines/feature/src/WriteMagazine/WriteMagazine.tsx
  libs/products/feature/src/EditAlternativeProducts/EditAlternativeProducts.tsx
  libs/products/feature/src/EditProductCompany/EditProductCompany.tsx
  libs/products/feature/src/EditProductDescription/EditProductDescription.tsx
  libs/products/feature/src/EditProductFeatureItem/EditProductFeatureItem.tsx
  libs/products/feature/src/EditProductInfo/EditProductInfo.tsx
  libs/products/feature/src/EditProductLinkItem/EditProductLinkItem.tsx
  libs/products/feature/src/GenerateProductDescriptionButton/GenerateProductDescriptionButton.tsx
  libs/products/feature/src/ProductCompanyInfo/ProductCompanyInfo.tsx
  libs/products/feature/src/ProductFeatureTable/ProductFeatureTable.tsx
  libs/products/feature/src/ProductLinkTable/ProductLinkTable.tsx
  libs/products/feature/src/ProductTagsForm/ProductTagsForm.tsx
  libs/products/shell/src/components/ProductTableOfContent/ProductTableOfContent.tsx
Due: tsx

fix(web): resolve 30 design flaws, layout shifts, and a11y polish (phase 20)
  apps/admin-web/features/auth/LoginSection/LoginSection.tsx
  apps/admin-web/features/llm-jobs/LlmJobListSection.tsx
  apps/admin-web/features/magazines/MagazinesList/MagazinesList.tsx
  apps/admin-web/features/products/NewProductScreenshotFormSection/NewProductScreenshotFormSection.tsx
  apps/service-web/app/[locale]/about/page.tsx
  apps/service-web/app/[locale]/products/[slug]/loading.tsx
  libs/companies/feature/src/AllCompanyListTable/AllCompanyListTable.tsx
  libs/companies/feature/src/NewCompanyForm/NewCompanyForm.tsx
  libs/products/feature/src/ProductInfo/ProductInfo.tsx
  libs/products/feature/src/ProductListTable/ProductListTable.tsx
  libs/products/feature/src/SearchProductField/SearchProductField.tsx
  libs/products/shell/src/components/CompareButton/CompareButton.tsx
  libs/products/shell/src/components/ProductAlternativeList/ProductAlternativeList.tsx
  libs/products/shell/src/components/ProductPhotos/ProductPhotos.tsx
  libs/products/shell/src/components/ProductUserAction/ProductUserAction.tsx
  libs/products/shell/src/components/RankedProductList/RankedProductList.tsx
  libs/products/shell/src/components/RecentProductList/RecentProductList.tsx
  libs/products/shell/src/shells/AlternativeProductSection/AlternativeProductSection.tsx
  libs/products/shell/src/shells/CategoryProductSection/CategoryProductSection.tsx
  libs/products/shell/src/uis/ProductItem/ProductItem.tsx
  libs/shared/ui-admin/src/AdminCheckbox.tsx
  libs/shared/ui-admin/src/Editor/MenuBar.tsx
  libs/shared/ui-admin/src/Editor/MenuItem.tsx
  libs/shared/ui-admin/src/GoogleButton.tsx
  libs/shared/ui-layout/src/libs/Footer/Footer.tsx
  libs/shared/ui-layout/src/libs/Header/Header.tsx
  libs/shared/ui-layout/src/libs/HeaderLoginButton/HeaderLoginButton.tsx
  libs/shared/ui-layout/src/libs/HeaderSearchForm/HeaderSearchForm.tsx
  libs/shared/ui/src/components/Chip.tsx
  libs/shared/ui/src/components/Dialog.tsx
  libs/shared/ui/src/components/Toast/Toast.tsx
Due: tsx

fix(web): resolve 30 runtime bugs, null safety, and error handling (phase 21)
  apps/admin-web/features/auth/LoginButton/useLoginButton.ts
  apps/admin-web/features/auth/LogoutButton/useLogoutButton.ts
  apps/admin-web/features/llm-jobs/LlmJobListSection.tsx
  apps/admin-web/features/magazines/MagazinesList/MagazinesList.tsx
  apps/admin-web/features/magazines/MagazinesList/useMagazinesList.ts
  apps/admin-web/features/products/ProductDetailFlowSection/ProductDetailFlowSection.tsx
  apps/admin-web/features/products/ProductDetailInfoSection/ProductDetailInfoSection.tsx
  apps/admin-web/features/products/ProductDetailScreenshotSection/ProductDetailScreenshotSection.tsx
  apps/admin-web/features/products/ProductFlowEditor/ProductFlowEditor.tsx
  apps/admin-web/features/settings/LlmSettingFormSection/LlmSettingFormSection.tsx
  apps/admin-web/features/settings/LlmSettingFormSection/ModelSelectModal.tsx
  apps/service-web/app/[locale]/categories/[slug]/page.tsx
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/page.tsx
  libs/companies/feature/src/AllCompanyListTable/useAllCompanyListTable.ts
  libs/companies/feature/src/NewCompanyForm/useNewCompanyForm.ts
  libs/magazines/feature/src/WriteMagazine/useWriteMagazine.ts
  libs/pages/shell/src/ProductAlternativePage.tsx
  libs/products/feature/src/EditProductCompany/useEditProductCompany.ts
  libs/products/feature/src/NewProductFeatureForm/useNewProductFeatureForm.ts
  libs/products/feature/src/NewProductForm/useNewProductForm.ts
  libs/products/feature/src/NewProductLinkForm/useNewProductLinkForm.ts
  libs/products/feature/src/NewProductScreenshotForm/useNewProductScreenshotForm.ts
  libs/products/feature/src/ProductListTable/useProductListTable.ts
  libs/products/feature/src/PublishProductButton/usePublishProductButton.ts
  libs/products/feature/src/SearchProductField/useSearchProductField.ts
  libs/products/shell/src/components/CompareButton/CompareButton.tsx
  libs/products/shell/src/components/ProductUserAction/useProductUserAction.ts
  libs/products/shell/src/shells/ProductAlternativeSection/ProductAlternativeSection.tsx
  libs/shared/ui-layout/src/libs/HeaderLoginButton/useHeaderLoginButton.ts
  libs/shared/utils-auth-service/core/src/libs/AuthService/AuthService.ts
Due: ts, tsx

fix(web): resolve 30 runtime bugs, route encoding, and error handling (phase 22)
  apps/admin-web/features/llm-jobs/LlmJobListSection.tsx
  apps/admin-web/features/products/ProductDetailAlternativeSection/ProductDetailAlternativeSection.tsx
  apps/admin-web/features/products/ProductDetailFeatureSection/ProductDetailFeatureSection.tsx
  apps/admin-web/features/products/ProductDetailFlowSection/ProductDetailFlowSection.tsx
  apps/admin-web/features/products/ProductDetailLinkSection/ProductDetailLinkSection.tsx
  apps/admin-web/features/products/ProductDetailScreenshotSection/ProductDetailScreenshotSection.tsx
  apps/admin-web/features/settings/LlmSettingFormSection/LlmSettingFormSection.tsx
  apps/service-web/app/[locale]/categories/[slug]/page.tsx
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/page.tsx
  apps/service-web/app/[locale]/magazines/[slug]/page.tsx
  apps/service-web/app/[locale]/products/[slug]/alternatives/page.tsx
  apps/service-web/app/[locale]/products/[slug]/page.tsx
  apps/service-web/app/api/markdown/[...path]/route.ts
  apps/visual-web/features/flows/FlowDetail.tsx
  apps/visual-web/features/product-search/ProductSearchSuggest.tsx
  apps/visual-web/features/screenshots/ScreenshotDetail.tsx
  libs/magazines/shell/src/shells/MagazineFeatureSection/MagazineFeatureSection.tsx
  libs/products/feature/src/EditAlternativeProducts/useEditAlternativeProducts.ts
  libs/products/feature/src/EditProductCompany/useEditProductCompany.ts
  libs/products/feature/src/EditProductFeatureItem/useEditProductFeatureItem.ts
  libs/products/feature/src/EditProductInfo/useEditProductInfo.ts
  libs/products/feature/src/ProductDescription/ProductDescription.tsx
  libs/products/feature/src/ProductDescription/__tests__/ProductDescription.test.tsx
  libs/products/feature/src/ProductTagsForm/useProductTagsForm.ts
  libs/products/feature/src/TranslateProductButton/useTranslateProductButton.ts
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSection.tsx
  libs/products/shell/src/shells/CategoryProductSection/CategoryProductSection.tsx
  libs/search/shell/src/components/SearchProductList/SearchProductList.tsx
  libs/search/shell/src/shells/SearchEmptyState/CategoryShortcutGrid/CategoryShortcutGrid.tsx
  libs/search/shell/src/shells/SearchEmptyState/TrendingProductPreview/TrendingProductPreview.tsx
Due: ts, tsx

fix(web): resolve 30 product quality defects and runtime safety issues (phase 23)
  apps/admin-web/features/magazines/MagazinesList/MagazinesList.tsx
  apps/admin-web/features/products/ProductDetailFlowSection/ProductDetailFlowSection.tsx
  apps/admin-web/features/products/ProductFlowEditor/EditProductFlowPanel.tsx
  apps/admin-web/features/products/ProductFlowEditor/NewProductFlowPanel.tsx
  apps/admin-web/features/products/ProductFlowEditor/ProductFlowEditor.tsx
  apps/service-web/__tests__/sitemap.test.ts
  apps/service-web/app/sitemap-entries.ts
  apps/visual-web/features/flows/FlowDetail.tsx
  apps/visual-web/features/flows/useFlowExplorer.ts
  apps/visual-web/features/product-search/ProductSearchSuggest.tsx
  apps/visual-web/features/screenshots/ScreenshotDetail.tsx
  apps/visual-web/features/screenshots/useScreenshotExplorer.ts
  libs/companies/feature/src/NewCompanyForm/useNewCompanyForm.ts
  libs/magazines/feature/src/ArticleCard/ArticleCard.tsx
  libs/products/feature/src/EditProductCompany/useEditProductCompany.ts
  libs/products/feature/src/EditProductDescription/useEditProductDescription.ts
  libs/products/feature/src/NewProductFeatureForm/useNewProductFeatureForm.ts
  libs/products/feature/src/NewProductForm/useNewProductForm.ts
  libs/products/feature/src/NewProductLinkForm/useNewProductLinkForm.ts
  libs/products/feature/src/NewProductScreenshotForm/useNewProductScreenshotForm.ts
  libs/products/feature/src/ProductListTable/useProductListTable.ts
  libs/products/shell/src/components/AlternativeProductList/AlternativeProductList.tsx
  libs/products/shell/src/components/CompareButton/CompareButton.tsx
  libs/products/shell/src/components/ProductAlternativeList/ProductAlternativeList.tsx
  libs/products/shell/src/components/ProductPhotos/ProductPhotos.tsx
  libs/products/shell/src/components/ProductUserAction/useProductUserAction.ts
  libs/products/shell/src/components/RankedProductList/RankedProductList.tsx
  libs/products/shell/src/components/RecentProductList/RecentProductList.tsx
  libs/products/shell/src/shells/RelatedProductsSection/RelatedProductsSection.tsx
  libs/products/shell/src/shells/TrendingProductSection/TrendingProductSection.tsx
Due: ts, tsx

fix: resolve PR quality gates (regex grouping, dedupe, sanitize)
  apps/admin-web/features/llm-jobs/LlmJobListSection.tsx
  apps/admin-web/features/settings/LlmSettingFormSection/LlmSettingFormSection.tsx
  apps/admin-web/lib/datetime.ts
  apps/service-web/lib/seo/markdown-builder.ts
  apps/visual-web/features/flows/flowClassifications.ts
  apps/visual-web/features/flows/useFlowDetail.ts
  apps/visual-web/features/flows/useFlowExplorer.ts
  libs/magazines/domain/src/usecases/GetMagazine.ts
  libs/magazines/domain/src/usecases/GetPublishedMagazine.ts
  libs/products/datasource/src/__tests__/PostgresqlProductRepository.test.ts
  libs/shared/ui/src/components/Breadcrumb.test.tsx
  libs/shared/utils-eslint-config/react.js
Due: ts, tsx, js

fix: dedupe sitemap usecase tests with shared helpers
  libs/products/domain/src/__tests__/GetPublishedProductsForSitemap.test.ts
Due: ts
