Repository croco-dev/darun: changes, and which lefthook commands are due for each by the changed paths.
All: ts, tsx, jsx, js, mdx, json

ts:
  run: eslint --fix --quiet {staged_files}

tsx:
  run: eslint --fix --quiet {staged_files}

jsx:
  run: eslint --fix --quiet {staged_files}

js:
  run: eslint --fix --quiet {staged_files}

mdx:
  run: eslint --fix --quiet {staged_files}

json:
  run: eslint --fix --quiet {staged_files}

fix(accounts): sync firebase-admin version with graphql-api
  libs/accounts/datasource/package.json
  pnpm-lock.yaml
Due: json

fix(graphql-api): add Firebase Admin SDK initialization with Lambda safety
  apps/graphql-api/src/config/firebase.ts
Due: ts

fix(feature): add require condition to server exports for CommonJS compatibility
  libs/companies/feature/package.json
  libs/magazines/feature/package.json
  libs/products/feature/package.json
Due: json

fix(graphql-api): import reflect-metadata at entry point for decorator metadata
  apps/graphql-api/src/functions/graphql.ts
Due: ts

feat(home): setup redesign foundation - color palette, components, i18n
  apps/service-web/app/globals.css
  apps/service-web/messages/en.json
  apps/service-web/messages/ko.json
  libs/shared/ui/src/components/SectionHeader.tsx
  libs/shared/ui/src/components/SectionWrapper.tsx
  tailwind.config.ts
Due: ts, tsx, json

feat(home): redesign core sections - Hero, Categories, Trending, Magazine, Recent
  libs/magazines/shell/src/shells/MagazineFeatureSection/MagazineFeatureSection.tsx
  libs/magazines/shell/src/shells/MagazineFeatureSection/index.ts
  libs/magazines/shell/src/shells/index.ts
  libs/products/shell/src/components/RecentProductList/RecentProductList.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSection.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/index.ts
  libs/products/shell/src/shells/MainHeroBanner/MainHeroBanner.tsx
  libs/products/shell/src/shells/RecentProductSection/RecentProductSection.tsx
  libs/products/shell/src/shells/TrendingProductSection/TrendingProductSection.tsx
  libs/products/shell/src/shells/TrendingProductSection/index.ts
  libs/products/shell/src/shells/index.ts
  libs/shared/ui/src/components/SectionHeader.tsx
  libs/shared/ui/src/components/SectionWrapper.tsx
  tailwind.config.ts
Due: ts, tsx

feat(home): complete Wave 3 - integration, interactions, responsive optimization
  apps/service-web/app/[locale]/page.tsx
  libs/magazines/shell/src/shells/MagazineFeatureSection/MagazineFeatureSection.tsx
  libs/magazines/shell/src/shells/MagazineFeatureSection/index.ts
  libs/products/shell/src/components/RecentProductList/RecentProductList.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSection.tsx
  libs/products/shell/src/shells/MainHeroBanner/MainHeroBanner.tsx
  libs/products/shell/src/shells/RecentProductSection/RecentProductSection.tsx
  libs/products/shell/src/shells/TrendingProductSection/TrendingProductSection.tsx
Due: ts, tsx

feat(home): redesign main page with modern sections (#308)
  apps/service-web/app/[locale]/page.tsx
  apps/service-web/app/globals.css
  apps/service-web/messages/en.json
  apps/service-web/messages/ko.json
  libs/magazines/shell/src/shells/MagazineFeatureSection/MagazineFeatureSection.tsx
  libs/magazines/shell/src/shells/MagazineFeatureSection/index.ts
  libs/magazines/shell/src/shells/index.ts
  libs/products/shell/src/components/RecentProductList/RecentProductList.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSection.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/index.ts
  libs/products/shell/src/shells/MainHeroBanner/MainHeroBanner.tsx
  libs/products/shell/src/shells/RecentProductSection/RecentProductSection.tsx
  libs/products/shell/src/shells/TrendingProductSection/TrendingProductSection.tsx
  libs/products/shell/src/shells/TrendingProductSection/index.ts
  libs/products/shell/src/shells/index.ts
  libs/shared/ui/src/components/SectionHeader.tsx
  libs/shared/ui/src/components/SectionWrapper.tsx
  tailwind.config.ts
Due: ts, tsx, json

fix(graphql-api): add esbuild banner to ensure reflect-metadata loads first
  apps/graphql-api/serverless.yaml
Due: none

test: replace echo 1 stubs with vitest setup and expand workspace coverage
  apps/admin-web/__tests__/setup.test.ts
  apps/admin-web/package.json
  apps/graphql-api/__tests__/setup.test.ts
  apps/graphql-api/package.json
  apps/service-web/__tests__/setup.test.ts
  apps/service-web/package.json
  apps/visual-web/__tests__/setup.test.ts
  apps/visual-web/package.json
  libs/companies/domain/package.json
  libs/companies/domain/vitest.config.ts
  libs/products/domain/package.json
  libs/products/domain/vitest.config.ts
  pnpm-lock.yaml
  vitest.config.ts
  vitest.workspace.ts
Due: ts, json

ci: add typecheck step to PR workflow and fix TS1272 import type errors
  .github/workflows/PullRequest.yaml
  apps/service-web/package.json
  apps/visual-web/package.json
  libs/products/domain/src/usecases/AddProductLink.ts
  libs/products/domain/src/usecases/AddProductScreenshot.ts
  libs/products/domain/src/usecases/CreateProduct.ts
  libs/products/domain/src/usecases/CreateProductFeature.ts
  libs/products/domain/src/usecases/EditProduct.ts
  libs/products/domain/src/usecases/GenerateProductDescription.ts
  libs/products/domain/src/usecases/GetAllProducts.ts
  libs/products/domain/src/usecases/GetProduct.ts
  libs/products/domain/src/usecases/GetProductFeature.ts
  libs/products/domain/src/usecases/GetProductFeatureScreenshots.ts
  libs/products/domain/src/usecases/GetProductFeatures.ts
  libs/products/domain/src/usecases/GetProductLinks.ts
  libs/products/domain/src/usecases/GetProductScreenshots.ts
  libs/products/domain/src/usecases/GetProductTags.ts
  libs/products/domain/src/usecases/GetProductsCount.ts
  libs/products/domain/src/usecases/GetPublishedProduct.ts
  libs/products/domain/src/usecases/GetRankedProducts.ts
  libs/products/domain/src/usecases/GetRecentProducts.ts
  libs/products/domain/src/usecases/PublishProduct.ts
  libs/products/domain/src/usecases/RegisterProductCompany.ts
  libs/products/domain/src/usecases/UpdateProductFeature.ts
  libs/products/domain/src/usecases/UpdateProductLink.ts
  libs/products/domain/src/usecases/UpdateProductTag.ts
  libs/recommendation/domain/src/usecases/GetAlternativeProducts.ts
  libs/recommendation/domain/src/usecases/UpdateAlternativeProduct.ts
  libs/search/domain/src/usecases/IndexProduct.ts
  libs/search/domain/src/usecases/SearchProduct.ts
  libs/translation/domain/src/services/TranslationService.ts
  libs/voting/domain/src/usecases/GetVoteCount.ts
  libs/voting/domain/src/usecases/UpvoteProduct.ts
Due: ts, json

chore: remove dead biome.json config and fix magazines lint errors
  biome.json
  libs/magazines/feature/src/Magazine.mutation.resolver.ts
Due: ts, json

refactor(errors): standardize error patterns in products and magazines domain
  libs/magazines/domain/src/__tests__/magazineError.test.ts
  libs/magazines/domain/src/errors/magazineError.ts
  libs/magazines/domain/src/index.ts
  libs/magazines/feature/src/Magazine.mutation.resolver.ts
  libs/shared/utils-error/package.json
  libs/shared/utils-error/src/__tests__/createDomainError.test.ts
  libs/shared/utils-error/src/createDomainError.ts
  libs/shared/utils-error/src/index.ts
  libs/shared/utils-error/tsconfig.json
  pnpm-lock.yaml
Due: ts, json

fix(auth): memoize Firebase token verification per request
  apps/graphql-api/__tests__/context.test.ts
  apps/graphql-api/src/functions/context.ts
  apps/graphql-api/src/functions/graphql.ts
  libs/shared/utils-apollo-server/src/index.ts
  libs/shared/utils-apollo-server/src/libs/GraphQLContext/GraphQLContext.ts
Due: ts

feat(voting): add vote_records table with IP hashing for rate limiting and duplicate prevention
  libs/products/feature/src/Product.mutation.resolver.ts
  libs/shared/utils-apollo-server/src/libs/GraphQLContext/GraphQLContext.ts
  libs/voting/datasource/src/entities/VoteRecordSchema.ts
  libs/voting/datasource/src/index.ts
  libs/voting/datasource/src/repositories/PostgresqlVoteRecordRepository.ts
  libs/voting/datasource/src/sql/create-vote-records.sql
  libs/voting/domain/src/__tests__/UpvoteProduct.test.ts
  libs/voting/domain/src/entities/VoteRecord.ts
  libs/voting/domain/src/errors/VoteError.ts
  libs/voting/domain/src/index.ts
  libs/voting/domain/src/repositories/VoteRecordRepository.ts
  libs/voting/domain/src/usecases/UpvoteProduct.ts
  libs/voting/domain/src/utils/hashVoterIp.ts
Due: ts

perf(products): fix N+1 queries with DataLoader caching
  libs/companies/datasource/src/repositories/PostgresqlCompanyRepository.ts
  libs/products/datasource/src/repositories/PostgresqlProductFeatureRepository.ts
  libs/products/datasource/src/repositories/PostgresqlProductFeatureScreenshotRepository.ts
  libs/products/datasource/src/repositories/PostgresqlProductLinkRepository.ts
  libs/products/datasource/src/repositories/PostgresqlProductRepository.ts
  libs/products/datasource/src/repositories/PostgresqlProductScreenshotRepository.ts
  libs/recommendation/datasource/src/repositories/PostgresqlAlternativeProductRepository.ts
Due: ts

chore(lint): add eslint-plugin-boundaries for architecture enforcement
  eslint.config.mjs
  libs/products/domain/src/usecases/GetRankedProducts.ts
  libs/products/feature/src/Product.query.resolver.ts
  libs/shared/utils-eslint-config/eslint.config.js
Due: ts, js

fix: convert remaining Repository imports to import type for TS1272 compliance
  libs/products/feature/src/Product.mutation.resolver.ts
Due: ts

feat(translation): add withRetry utility and fix TS1272 errors
  libs/shared/utils-llm/src/index.ts
  libs/shared/utils-llm/src/withRetry.ts
  libs/voting/domain/src/__tests__/UpvoteProduct.test.ts
Due: ts

feat(translation): add auto-trigger on publish and retry with exponential backoff
  libs/products/feature/package.json
  libs/products/feature/src/Product.mutation.resolver.ts
  libs/translation/feature/src/TranslationJobService.ts
  libs/translation/feature/src/server.ts
  pnpm-lock.yaml
Due: ts, json

fix(eslint): allow import type to prevent TS1272 errors
  eslint.config.mjs
  libs/accounts/domain/src/usecases/GetAccount.ts
  libs/recommendation/domain/src/usecases/GetAlternativeProducts.ts
  libs/shared/utils-eslint-config/eslint.config.js
  libs/shared/utils-eslint-config/react.js
Due: ts, js

feat(images): add screenshot deletion with Cloudinary cleanup
  libs/images/datasource/src/index.ts
  libs/images/datasource/src/services/CloudinaryImageDeleter.ts
  libs/images/domain/src/index.ts
  libs/images/domain/src/services/ImageDeleter.ts
  libs/images/domain/src/usecases/SignImageUpload.ts
  libs/products/datasource/src/repositories/PostgresqlProductScreenshotRepository.ts
  libs/products/domain/src/__tests__/delete-product-screenshot.test.ts
  libs/products/domain/src/errors/productError.ts
  libs/products/domain/src/index.ts
  libs/products/domain/src/repositories/ProductScreenshotRepository.ts
  libs/products/domain/src/usecases/DeleteProductScreenshot.ts
  libs/products/feature/src/Product.mutation.resolver.ts
  libs/products/feature/src/graphs/DeleteProductScreenshot.ts
Due: ts

style: fix prettier issues in Magazine.mutation.resolver
  libs/magazines/feature/src/Magazine.mutation.resolver.ts
Due: ts

feat(category): add taxonomy with Category entity and routes
  apps/service-web/app/[locale]/categories/[slug]/page.tsx
  libs/products/datasource/src/entities/CategorySchema.ts
  libs/products/datasource/src/repositories/PostgresqlCategoryRepository.ts
  libs/products/domain/src/entities/Category.ts
  libs/products/domain/src/repositories/CategoryRepository.ts
  libs/products/domain/src/usecases/GetProductsByCategory.ts
  libs/products/feature/src/graphs/Category.ts
  libs/products/shell/src/shells/CategoryProductSection/CategoryProductSection.tsx
  libs/products/shell/src/shells/CategoryProductSection/index.ts
Due: ts, tsx

feat(compare): add product comparison feature
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/page.tsx
  libs/products/shell/src/components/CompareButton/CompareButton.tsx
  libs/products/shell/src/components/CompareButton/index.ts
Due: ts, tsx

feat(ui): add loading skeletons for better UX
  apps/service-web/app/[locale]/magazines/[slug]/loading.tsx
  apps/service-web/app/[locale]/products/[slug]/loading.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSkeleton.tsx
  libs/products/shell/src/shells/RecentProductSection/RecentProductSkeleton.tsx
  libs/products/shell/src/shells/TrendingProductSection/TrendingProductSkeleton.tsx
  libs/search/shell/src/components/SearchProductListSkeleton/SearchProductListSkeleton.tsx
  libs/search/shell/src/components/SearchProductListSkeleton/index.ts
Due: ts, tsx

feat(ui): add error page and breadcrumb component
  apps/service-web/app/[locale]/search/error.tsx
  libs/shared/ui/src/components/Breadcrumb.tsx
  libs/shared/ui/src/index.ts
Due: ts, tsx

fix(search): improve search with skeletons and sanitization
  apps/service-web/app/[locale]/search/product/page.tsx
  libs/search/domain/src/usecases/SearchProduct.ts
  libs/search/shell/src/components/SearchProductList/SearchProductList.tsx
  libs/search/shell/src/components/index.ts
  libs/search/shell/src/shells/SearchProductResult/SearchProductResult.tsx
  libs/shared/sanitize/package.json
  libs/shared/sanitize/src/index.ts
  libs/shared/sanitize/src/sanitizeQuery.ts
Due: ts, tsx, json

feat(products): add alternatives empty state and compare button
  apps/service-web/app/[locale]/products/[slug]/alternatives/page.tsx
  libs/pages/shell/src/ProductAlternativePage.tsx
  libs/products/shell/src/components/AlternativeProductList/AlternativeProductList.tsx
  libs/products/shell/src/components/AlternativeProductList/useAlternativeProductList.ts
  libs/products/shell/src/components/ProductUserAction/ProductUserAction.tsx
  libs/products/shell/src/components/ProductUserAction/useProductUserAction.ts
  libs/products/shell/src/shells/AlternativeProductSection/AlternativeProductSection.tsx
Due: ts, tsx

feat(home): restructure home page with Suspense priorities
  apps/service-web/app/[locale]/page.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSection.tsx
  libs/products/shell/src/shells/MainHeroBanner/MainHeroBanner.tsx
Due: tsx

fix(products): improve description and ranked products
  libs/products/datasource/src/entities/ProductSchema.ts
  libs/products/datasource/src/repositories/PostgresqlProductRepository.ts
  libs/products/domain/src/entities/Product.ts
  libs/products/domain/src/repositories/ProductRepository.ts
  libs/products/domain/src/usecases/GetRankedProducts.ts
  libs/products/shell/src/components/ProductDescription/ProductDescription.tsx
Due: ts, tsx

feat(graphql): add category resolver and improve product queries
  libs/products/datasource/src/index.ts
  libs/products/domain/src/index.ts
  libs/products/feature/src/Product.mutation.resolver.ts
  libs/products/feature/src/Product.query.resolver.ts
  libs/products/feature/src/index.ts
Due: ts

feat(e2e): add playwright config and test infrastructure
  apps/graphql-api/package.json
  apps/graphql-api/scripts/seed-e2e.ts
  apps/service-web/messages/en.json
  apps/service-web/messages/ko.json
  apps/service-web/package.json
  apps/service-web/playwright.config.ts
  apps/service-web/tests/.gitkeep
  apps/service-web/tests/README.md
  apps/service-web/tests/helpers/auth-mock.ts
Due: ts, json

fix(lint): resolve eslint errors and update package dependencies
  apps/graphql-api/scripts/seed-e2e.ts
  apps/service-web/app/[locale]/categories/[slug]/page.tsx
  apps/service-web/app/[locale]/magazines/[slug]/loading.tsx
  apps/service-web/app/[locale]/page.tsx
  apps/service-web/app/[locale]/products/[slug]/loading.tsx
  apps/service-web/app/[locale]/products/[slug]/page.tsx
  apps/service-web/app/[locale]/search/error.tsx
  apps/service-web/app/[locale]/search/product/page.tsx
  apps/service-web/tests/helpers/auth-mock.ts
  libs/products/datasource/src/entities/CategorySchema.ts
  libs/products/datasource/src/entities/ProductSchema.ts
  libs/products/datasource/src/repositories/PostgresqlCategoryRepository.ts
  libs/products/datasource/src/repositories/PostgresqlProductRepository.ts
  libs/products/domain/src/index.ts
  libs/products/domain/src/repositories/CategoryRepository.ts
  libs/products/domain/src/usecases/GetProductsByCategory.ts
  libs/products/domain/src/usecases/GetRankedProducts.ts
  libs/products/feature/src/Product.mutation.resolver.ts
  libs/products/feature/src/Product.query.resolver.ts
  libs/products/feature/src/graphs/Category.ts
  libs/products/shell/package.json
  libs/products/shell/src/components/AlternativeProductList/AlternativeProductList.tsx
  libs/products/shell/src/components/CompareButton/CompareButton.tsx
  libs/products/shell/src/components/ProductDescription/ProductDescription.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSection.tsx
  libs/products/shell/src/shells/CategoryProductSection/CategoryProductSection.tsx
  libs/products/shell/src/shells/CategoryProductSection/index.ts
  libs/products/shell/src/shells/index.ts
  libs/search/domain/src/usecases/SearchProduct.ts
  libs/search/shell/src/components/SearchProductListSkeleton/SearchProductListSkeleton.tsx
  libs/search/shell/src/components/SearchProductListSkeleton/index.ts
  libs/shared/sanitize/src/index.ts
  libs/shared/sanitize/src/sanitizeQuery.ts
  libs/shared/ui/src/components/Breadcrumb.tsx
  libs/shared/ui/src/components/Toast/Toast.tsx
  libs/shared/ui/src/components/Toast/index.ts
  pnpm-lock.yaml
Due: ts, tsx, json

Path conditions:
  ts: any of: *.ts
  tsx: any of: *.tsx
  jsx: any of: *.jsx
  js: any of: *.js
  mdx: any of: *.mdx
  json: any of: *.json
