Repository croco-dev/darun: changes, and which lefthook commands are due for each by the changed paths.
All: ts, tsx, jsx, js, mdx, json

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    ts:
      glob: "*.ts"
      run: eslint --fix --quiet {staged_files}
    tsx:
      glob: "*.tsx"
      run: eslint --fix --quiet {staged_files}
    jsx:
      glob: "*.jsx"
      run: eslint --fix --quiet {staged_files}
    js:
      glob: "*.js"
      run: eslint --fix --quiet {staged_files}
    mdx:
      glob: "*.mdx"
      run: eslint --fix --quiet {staged_files}
    json:
      glob: "*.json"
      run: eslint --fix --quiet {staged_files}

post-merge:
  commands:
    install:
      run: pnpm install

Add VOTE_IP_SALT to Lambda environment
  apps/graphql-api/sst.config.ts
Due: ts

Add VOTE_IP_SALT to Lambda environment config (#333)
  apps/graphql-api/sst.config.ts
Due: ts

Add allowCredentials to CORS config
  apps/graphql-api/sst.config.ts
Due: ts

Add allowCredentials to CORS config (#343)
  apps/graphql-api/sst.config.ts
Due: ts

fix: allow COREPACK_HOME passthrough in turbo for Vercel build
  turbo.json
Due: json

fix: add missing 'use client' directives and correct mantine form types in product feature hooks
  libs/products/feature/src/EditProductDescription/useEditProductDescription.ts
  libs/products/feature/src/NewProductFeatureForm/useNewProductFeatureForm.ts
  libs/products/feature/src/NewProductForm/useNewProductForm.ts
  libs/products/feature/src/NewProductLinkForm/useNewProductLinkForm.ts
  libs/products/feature/src/NewProductScreenshotForm/useNewProductScreenshotForm.ts
Due: ts

style: fix prettier import formatting in useImageUpload
  libs/shared/utils-image-upload/src/useImageUpload.ts
Due: ts

style: add parentheses for prettier formatting in useNewCompanyForm
  libs/companies/feature/src/NewCompanyForm/useNewCompanyForm.ts
Due: ts

style: fix prettier formatting in additional product feature files
  libs/products/feature/src/EditProductDescription/__tests__/useEditProductDescription.test.ts
  libs/products/feature/src/EditProductFeatureItem/useEditProductFeatureItem.ts
Due: ts

style: fix remaining prettier formatting across product feature files
  libs/products/feature/src/NewProductLinkForm/__tests__/useNewProductLinkForm.test.ts
  libs/products/feature/src/Product.query.resolver.ts
  libs/products/feature/src/ProductLinkTable/ProductLinkTable.tsx
Due: ts, tsx

style: fix import order and prettier formatting in remaining files
  libs/pages/shell/src/SearchProductPage.tsx
  libs/products/feature/src/ProductListTable/__tests__/useProductListTable.test.ts
Due: ts, tsx

fix: include @darun/ui-layout in admin-web transpilePackages
  apps/admin-web/next.config.mjs
Due: none

test: update FAQ focus-visible assertions to match current component
  apps/service-web/__tests__/faq-section-a11y.test.ts
  apps/service-web/tests/faq-accessibility.spec.ts
Due: ts

fix: client directive 및 form 타입으로 service-web 빌드 복구
  apps/admin-web/next.config.mjs
  apps/service-web/__tests__/faq-section-a11y.test.ts
  apps/service-web/tests/faq-accessibility.spec.ts
  libs/companies/feature/src/NewCompanyForm/useNewCompanyForm.ts
  libs/pages/shell/src/SearchProductPage.tsx
  libs/products/feature/src/EditProductDescription/__tests__/useEditProductDescription.test.ts
  libs/products/feature/src/EditProductDescription/useEditProductDescription.ts
  libs/products/feature/src/EditProductFeatureItem/useEditProductFeatureItem.ts
  libs/products/feature/src/NewProductFeatureForm/useNewProductFeatureForm.ts
  libs/products/feature/src/NewProductForm/useNewProductForm.ts
  libs/products/feature/src/NewProductLinkForm/__tests__/useNewProductLinkForm.test.ts
  libs/products/feature/src/NewProductLinkForm/useNewProductLinkForm.ts
  libs/products/feature/src/NewProductScreenshotForm/useNewProductScreenshotForm.ts
  libs/products/feature/src/Product.query.resolver.ts
  libs/products/feature/src/ProductLinkTable/ProductLinkTable.tsx
  libs/products/feature/src/ProductListTable/__tests__/useProductListTable.test.ts
  libs/shared/utils-image-upload/src/useImageUpload.ts
Due: ts, tsx

fix: show categories on home by seeding from existing tags
  apps/graphql-api/package.json
  apps/graphql-api/scripts/seed-categories.ts
  apps/service-web/app/[locale]/categories/[slug]/page.tsx
Due: ts, tsx, json

fix: 카테고리 섹션 표시 및 카테고리 페이지 동적화 (#347)
  apps/graphql-api/package.json
  apps/graphql-api/scripts/seed-categories.ts
  apps/service-web/app/[locale]/categories/[slug]/page.tsx
Due: ts, tsx, json

fix: resolve lint errors in seed-categories script
  apps/graphql-api/scripts/seed-categories.ts
Due: ts

fix: resolve lint errors in seed-categories script (#348)
  apps/graphql-api/scripts/seed-categories.ts
Due: ts

fix: 홈화면 로딩 시 width 점프 현상 수정
  apps/service-web/app/[locale]/loading.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSkeleton.tsx
  libs/products/shell/src/shells/RecentProductSection/RecentProductSkeleton.tsx
  libs/products/shell/src/shells/TrendingProductSection/TrendingProductSkeleton.tsx
Due: tsx

fix: 카테고리 페이지 data undefined 타입 에러 수정
  apps/service-web/app/[locale]/categories/[slug]/page.tsx
  apps/service-web/app/[locale]/loading.tsx
Due: tsx

fix: 홈화면 로딩 시 width 점프 현상 수정 (#349)
  apps/service-web/app/[locale]/categories/[slug]/page.tsx
  apps/service-web/app/[locale]/loading.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSkeleton.tsx
  libs/products/shell/src/shells/RecentProductSection/RecentProductSkeleton.tsx
  libs/products/shell/src/shells/TrendingProductSection/TrendingProductSkeleton.tsx
Due: tsx

refactor(service-web): strengthen design details across loading, shared UI, and detail pages
  apps/service-web/__tests__/faq-section-a11y.test.ts
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/page.tsx
  apps/service-web/app/[locale]/magazines/[slug]/loading.tsx
  apps/service-web/app/[locale]/ranking/loading.tsx
  apps/service-web/app/[locale]/search/loading.tsx
  libs/magazines/feature/src/ArticleCard/ArticleCard.tsx
  libs/pages/shell/src/ProductAlternativePage.tsx
  libs/products/shell/src/components/ProductCard/ProductCard.tsx
  libs/products/shell/src/components/ProductCompany/ProductCompany.tsx
  libs/products/shell/src/components/ProductInformation/ProductInformation.tsx
  libs/products/shell/src/components/ProductLinks/ProductLinks.tsx
  libs/products/shell/src/components/ProductTableOfContent/ProductTableOfContent.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSkeleton.tsx
  libs/products/shell/src/shells/ProductSummary/ProductSummary.tsx
  libs/products/shell/src/shells/ProductTocSection/ProductTocSection.test.tsx
  libs/products/shell/src/shells/ProductTocSection/ProductTocSection.tsx
  libs/products/shell/src/shells/RecentProductSection/RecentProductSkeleton.tsx
  libs/products/shell/src/shells/TrendingProductSection/TrendingProductSkeleton.tsx
  libs/products/shell/src/uis/ProductItem/ProductItem.tsx
  libs/search/shell/src/components/SearchProductListSkeleton/SearchProductListSkeleton.tsx
  libs/shared/ui-layout/src/Layout.tsx
  libs/shared/ui-layout/src/libs/Footer/Footer.tsx
  libs/shared/ui-layout/src/libs/Footer/useFooter.ts
  libs/shared/ui-layout/src/libs/HeaderSearchForm/HeaderSearchForm.tsx
  libs/shared/ui/package.json
  libs/shared/ui/src/components/Breadcrumb.tsx
  libs/shared/ui/src/components/Button.tsx
  libs/shared/ui/src/components/Chip.tsx
  libs/shared/ui/src/components/SectionHeader.tsx
Due: ts, tsx, json

fix: sync pnpm-lock.yaml and configure lefthook pull hooks
  lefthook.yml
  pnpm-lock.yaml
Due: none

refactor(service-web): centralize canonical and locale metadata
  apps/service-web/__tests__/seo-metadata.test.ts
  apps/service-web/__tests__/seo-url.test.ts
  apps/service-web/app/[locale]/categories/[slug]/page.tsx
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/page.tsx
  apps/service-web/app/[locale]/layout.tsx
  apps/service-web/app/[locale]/magazines/[slug]/page.tsx
  apps/service-web/app/[locale]/page.tsx
  apps/service-web/app/[locale]/products/[slug]/alternatives/page.tsx
  apps/service-web/app/[locale]/products/[slug]/page.tsx
  apps/service-web/app/[locale]/ranking/page.tsx
  apps/service-web/app/[locale]/search/product/page.tsx
  apps/service-web/lib/seo/indexability.ts
  apps/service-web/lib/seo/json-ld.tsx
  apps/service-web/lib/seo/metadata.ts
  apps/service-web/lib/seo/url.ts
  libs/products/feature/src/Product.query.resolver.ts
  libs/products/feature/src/__tests__/Product.query.resolver.test.ts
Due: ts, tsx

fix(service-web): align indexability sitemap and internal URLs
  apps/service-web/__tests__/sitemap.test.ts
  apps/service-web/app/sitemap-entries.ts
  apps/service-web/app/sitemap.ts
  libs/magazines/datasource/src/repositories/PostgresqlMagazineRepository.ts
  libs/magazines/domain/src/index.ts
  libs/magazines/domain/src/repositories/MagazineRepository.ts
  libs/magazines/domain/src/usecases/GetPublishedMagazineList.ts
  libs/magazines/feature/src/Magazine.query.resolver.ts
  libs/magazines/feature/src/__tests__/Magazine.query.resolver.test.ts
  libs/products/datasource/src/repositories/PostgresqlProductRepository.ts
  libs/products/domain/src/__tests__/GetPublishedProductsForSitemap.test.ts
  libs/products/domain/src/index.ts
  libs/products/domain/src/repositories/ProductRepository.ts
  libs/products/domain/src/usecases/GetPublishedProductsForSitemap.ts
  libs/products/feature/src/Product.query.resolver.ts
  libs/products/feature/src/__tests__/Product.query.resolver.test.ts
  libs/products/shell/src/__tests__/RankedProductList.test.tsx
  libs/products/shell/src/components/AlternativeProductList/AlternativeProductList.test.tsx
  libs/products/shell/src/components/AlternativeProductList/AlternativeProductList.tsx
  libs/products/shell/src/components/AlternativeProductList/useAlternativeProductList.ts
  libs/products/shell/src/components/ProductAlternativeList/ProductAlternativeList.test.tsx
  libs/products/shell/src/components/ProductAlternativeList/ProductAlternativeList.tsx
  libs/products/shell/src/components/ProductAlternativeList/useProductAlternativeList.ts
  libs/products/shell/src/components/RankedProductList/RankedProductList.tsx
  libs/products/shell/src/components/RankedProductList/useRankedProductList.ts
  libs/products/shell/src/shells/CategoryProductSection/CategoryProductSection.tsx
  libs/products/shell/src/shells/ProductAlternativeSection/ProductAlternativeSection.tsx
  libs/search/shell/src/components/SearchProductList/SearchProductList.tsx
Due: ts, tsx

feat(service-web): serve markdown representations for agents
  apps/service-web/__tests__/markdown-builder.test.ts
  apps/service-web/__tests__/seo-accept.test.ts
  apps/service-web/app/api/markdown/[...path]/route.ts
  apps/service-web/lib/seo/accept.ts
  apps/service-web/lib/seo/markdown-builder.ts
  apps/service-web/middleware.ts
  apps/service-web/public/llms.txt
Due: ts

feat(service-web): strengthen semantic content and site identity
  apps/service-web/app/[locale]/about/page.tsx
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/page.tsx
  apps/service-web/app/[locale]/page.tsx
  apps/service-web/messages/en.json
  apps/service-web/messages/ko.json
  libs/magazines/shell/src/shells/MagazineInfoSection/MagazineInfoSection.tsx
  libs/products/shell/src/shells/AlternativeProductSection/AlternativeProductSection.tsx
  libs/products/shell/src/shells/CategoryProductSection/CategoryProductSection.tsx
  libs/products/shell/src/shells/RankedProductSection/RankedProductSection.tsx
  libs/shared/ui-layout/src/libs/Footer/Footer.tsx
  libs/shared/ui-layout/src/libs/Footer/useFooter.ts
  libs/shared/ui/src/components/PageHeading.tsx
  libs/shared/ui/src/index.ts
Due: ts, tsx, json

refactor(products): make editorial content provenance explicit
  apps/service-web/app/[locale]/about/page.tsx
  apps/service-web/app/[locale]/page.tsx
  apps/service-web/app/sitemap.ts
  libs/magazines/domain/src/__tests__/CreateMagazine.test.ts
  libs/products/datasource/src/__tests__/ProductDescriptionGeneratorImpl.test.ts
  libs/products/datasource/src/services/ProductDescriptionGeneratorImpl.ts
  libs/products/domain/src/__tests__/CreateProduct.test.ts
  libs/products/domain/src/__tests__/GetAllProducts.test.ts
  libs/products/domain/src/__tests__/GetPublishedProductsForSitemap.test.ts
  libs/products/domain/src/__tests__/GetRankedProducts.test.ts
  libs/products/domain/src/index.ts
  libs/products/domain/src/services/ProductDescriptionGenerator.ts
  libs/products/feature/src/__tests__/Product.query.resolver.test.ts
  libs/shared/ui-layout/src/libs/Footer/Footer.tsx
  libs/shared/ui/src/components/PageHeading.tsx
Due: ts, tsx

fix(ui-layout): add use client directive to Footer to prevent RSC boundary error
  libs/shared/ui-layout/src/libs/Footer/Footer.tsx
Due: tsx

fix(ui-layout): add use client directive to Footer to prevent RSC boundary error (#351)
  libs/shared/ui-layout/src/libs/Footer/Footer.tsx
Due: tsx

refactor(service-web): refine design details, spacing rhythm, and contrast across UI
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/page.tsx
  apps/service-web/app/[locale]/error.tsx
  apps/service-web/app/[locale]/page.tsx
  apps/service-web/app/[locale]/products/[slug]/loading.tsx
  apps/service-web/app/globals.css
  apps/service-web/messages/en.json
  apps/service-web/messages/ko.json
  libs/magazines/feature/src/ArticleCard/ArticleCard.tsx
  libs/magazines/shell/src/shells/MagazineFeatureSection/MagazineFeatureSection.tsx
  libs/pages/shell/src/MagazineContentPage.tsx
  libs/pages/shell/src/ProductAlternativePage.tsx
  libs/products/shell/src/components/ProductAlternativeList/ProductAlternativeList.tsx
  libs/products/shell/src/components/ProductLinks/ProductLinks.tsx
  libs/products/shell/src/components/ProductPhotos/ProductPhotos.tsx
  libs/products/shell/src/components/ProductTableOfContent/ProductTableOfContent.tsx
  libs/products/shell/src/components/ProductUserAction/ProductUserAction.tsx
  libs/products/shell/src/components/RankedProductList/RankedProductList.tsx
  libs/products/shell/src/shells/AlternativeProductSection/AlternativeProductSection.tsx
  libs/products/shell/src/shells/MainHeroBanner/MainHeroBanner.tsx
  libs/products/shell/src/shells/ProductTocSection/ProductTocSection.tsx
  libs/products/shell/src/shells/RecentProductSection/RecentProductSection.tsx
  libs/products/shell/src/uis/FeatureItem/FeatureItem.tsx
  libs/search/shell/src/components/SearchProductList/SearchProductList.tsx
  libs/search/shell/src/components/SearchProductListSkeleton/SearchProductListSkeleton.tsx
  libs/shared/ui-layout/src/libs/Footer/Footer.tsx
  libs/shared/ui-layout/src/libs/Header/Header.tsx
  libs/shared/ui-layout/src/libs/HeaderLoginButton/HeaderLoginButton.tsx
  libs/shared/ui-layout/src/libs/HeaderSearchForm/HeaderSearchForm.tsx
  libs/shared/ui/src/components/Breadcrumb.tsx
Due: tsx, json

refactor(service-web): refine design details, spacing rhythm, and contrast across UI (#352)
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/page.tsx
  apps/service-web/app/[locale]/error.tsx
  apps/service-web/app/[locale]/page.tsx
  apps/service-web/app/[locale]/products/[slug]/loading.tsx
  apps/service-web/app/globals.css
  apps/service-web/messages/en.json
  apps/service-web/messages/ko.json
  libs/magazines/feature/src/ArticleCard/ArticleCard.tsx
  libs/magazines/shell/src/shells/MagazineFeatureSection/MagazineFeatureSection.tsx
  libs/pages/shell/src/MagazineContentPage.tsx
  libs/pages/shell/src/ProductAlternativePage.tsx
  libs/products/shell/src/components/ProductAlternativeList/ProductAlternativeList.tsx
  libs/products/shell/src/components/ProductLinks/ProductLinks.tsx
  libs/products/shell/src/components/ProductPhotos/ProductPhotos.tsx
  libs/products/shell/src/components/ProductTableOfContent/ProductTableOfContent.tsx
  libs/products/shell/src/components/ProductUserAction/ProductUserAction.tsx
  libs/products/shell/src/components/RankedProductList/RankedProductList.tsx
  libs/products/shell/src/shells/AlternativeProductSection/AlternativeProductSection.tsx
  libs/products/shell/src/shells/MainHeroBanner/MainHeroBanner.tsx
  libs/products/shell/src/shells/ProductTocSection/ProductTocSection.tsx
  libs/products/shell/src/shells/RecentProductSection/RecentProductSection.tsx
  libs/products/shell/src/uis/FeatureItem/FeatureItem.tsx
  libs/search/shell/src/components/SearchProductList/SearchProductList.tsx
  libs/search/shell/src/components/SearchProductListSkeleton/SearchProductListSkeleton.tsx
  libs/shared/ui-layout/src/libs/Footer/Footer.tsx
  libs/shared/ui-layout/src/libs/Header/Header.tsx
  libs/shared/ui-layout/src/libs/HeaderLoginButton/HeaderLoginButton.tsx
  libs/shared/ui-layout/src/libs/HeaderSearchForm/HeaderSearchForm.tsx
  libs/shared/ui/src/components/Breadcrumb.tsx
Due: tsx, json

refactor(ui): elevate visual polish, typography, card system, and hero design
  apps/service-web/app/[locale]/page.tsx
  libs/products/shell/src/components/ProductCard/ProductCard.tsx
  libs/products/shell/src/components/ProductLinks/ProductLinks.tsx
  libs/products/shell/src/components/ProductUserAction/ProductUserAction.tsx
  libs/products/shell/src/components/RankedProductList/RankedProductList.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSection.tsx
  libs/products/shell/src/shells/MainHeroBanner/MainHeroBanner.tsx
  libs/products/shell/src/shells/RecentProductSection/RecentProductSection.tsx
  libs/products/shell/src/shells/TrendingProductSection/TrendingProductSection.tsx
  libs/products/shell/src/uis/ProductItem/ProductItem.tsx
  libs/search/shell/src/shells/SearchEmptyState/CategoryShortcutGrid/CategoryShortcutGrid.tsx
  libs/search/shell/src/shells/SearchEmptyState/PopularQueriesStripe/PopularQueriesStripe.tsx
  libs/shared/ui-layout/src/libs/Header/Header.tsx
  libs/shared/ui-layout/src/libs/HeaderSearchForm/HeaderSearchForm.tsx
  libs/shared/ui/src/components/Button.tsx
  libs/shared/ui/src/components/Chip.tsx
  libs/shared/ui/src/components/SectionHeader.tsx
  libs/shared/ui/src/components/icons.tsx
  tailwind.config.ts
Due: ts, tsx
