Repository croco-dev/darun: changes, and which lefthook commands are due for each by the changed paths.
All: ts, tsx, jsx, js, mdx, json

ts:
  run: eslint --fix --quiet {staged_files}

tsx:
  run: eslint --fix --quiet {staged_files}

jsx:
  run: eslint --fix --quiet {staged_files}

js:
  run: eslint --fix --quiet {staged_files}

mdx:
  run: eslint --fix --quiet {staged_files}

json:
  run: eslint --fix --quiet {staged_files}

chore: remove temporary Fetch Prod GraphQL Logs workflow
  .github/workflows/FetchProdGraphqlLogs.yaml
Due: none

chore: remove temporary Fetch Prod GraphQL Logs workflow (#323)
  .github/workflows/FetchProdGraphqlLogs.yaml
Due: none

fix(graphql-api): prevent container resolution failures
  apps/graphql-api/__tests__/repositoryAliases.test.ts
  apps/graphql-api/src/config/index.ts
  apps/graphql-api/src/config/repositoryAliases.ts
  libs/products/datasource/package.json
  libs/products/datasource/src/index.ts
  libs/products/datasource/src/repositories/RankedProductVoteRepositoryBinding.ts
  libs/products/domain/src/__tests__/GetRankedProducts.test.ts
  libs/products/domain/src/__tests__/container-resolution.test.ts
  libs/products/domain/src/index.ts
  libs/products/domain/src/services/RankingCache.ts
  libs/products/domain/src/services/RankingService.ts
  libs/products/domain/src/services/SystemClock.ts
  libs/products/domain/src/usecases/GetRankedProducts.ts
  libs/products/feature/src/Product.mutation.resolver.ts
  libs/products/feature/src/ProductCoreMutationResolver.ts
  libs/products/feature/src/ProductMediaMutationResolver.ts
  libs/products/feature/src/ProductPublishMutationResolver.ts
  libs/products/feature/src/ProductRecommendationMutationResolver.ts
  libs/products/feature/src/__tests__/Product.mutation.resolver.di.test.ts
  libs/search/domain/src/__tests__/SearchProduct.test.ts
  libs/search/domain/src/__tests__/container-resolution.test.ts
  libs/search/domain/src/services/SearchRanker.ts
  pnpm-lock.yaml
Due: ts, json

chore: keep DI regression tests lint-compliant
  libs/products/domain/src/__tests__/GetRankedProducts.test.ts
  libs/products/domain/src/__tests__/container-resolution.test.ts
  libs/search/domain/src/__tests__/container-resolution.test.ts
Due: ts

fix(ci): keep coverage and audit gates actionable
  CONTRIBUTING.md
  libs/accounts/datasource/vitest.config.ts
  libs/companies/datasource/vitest.config.ts
  libs/companies/domain/vitest.config.ts
  libs/companies/feature/vitest.config.ts
  libs/images/feature/vitest.config.ts
  libs/magazines/datasource/vitest.config.ts
  libs/magazines/domain/vitest.config.ts
  libs/magazines/feature/vitest.config.ts
  libs/products/datasource/vitest.config.ts
  libs/products/domain/vitest.config.ts
  libs/products/shell/vitest.config.ts
  libs/translation/datasource/vitest.config.ts
  libs/translation/feature/vitest.config.ts
  libs/voting/datasource/vitest.config.ts
  libs/voting/domain/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vitest.config.ts
Due: ts

fix(ci): keep frozen installs compatible across pnpm versions
  package.json
Due: json

fix(ci): require the pinned pnpm runtime for installs
  package.json
Due: json

chore: run Firebase Auth emulator without a local Dockerfile
  .local/firebase-auth/Dockerfile
  docker-compose.yml
Due: none

홈 페이지 리디자인: 다크 히어로 복원, 카테고리 실데이터화, 카드 호버 통일
  apps/service-web/app/[locale]/page.tsx
  apps/service-web/app/globals.css
  apps/service-web/messages/en.json
  apps/service-web/messages/ko.json
  libs/magazines/shell/src/shells/MagazineFeatureSection/MagazineFeatureSection.tsx
  libs/pages/shell/src/HomePage.tsx
  libs/pages/shell/src/components/HomeCategoryBar/HomeCategoryBar.tsx
  libs/pages/shell/src/components/HomeCategoryBar/index.ts
  libs/pages/shell/src/index.ts
  libs/products/shell/src/components/ProductCard/ProductCard.tsx
  libs/products/shell/src/components/RecentProductList/RecentProductList.tsx
  libs/products/shell/src/components/RecentProductList/__generated__/useRecentProductList.ts
  libs/products/shell/src/components/RecentProductList/useRecentProductList.ts
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSection.tsx
  libs/products/shell/src/shells/MainHeroBanner/MainHeroBanner.tsx
  libs/products/shell/src/shells/RecentProductSection/RecentProductSection.tsx
  libs/products/shell/src/shells/RelatedProductsSection/RelatedProductsSection.tsx
  libs/products/shell/src/shells/TrendingProductSection/TrendingProductSection.tsx
  libs/shared/analytics/client/src/__tests__/events.test.ts
  libs/shared/analytics/client/src/events.ts
Due: ts, tsx, json

ProductCard 디자인 정돈 + view-transition CSS 수정
  apps/service-web/app/globals.css
  libs/products/shell/src/components/ProductCard/ProductCard.tsx
  tailwind.config.ts
Due: ts, tsx

ProductCard 편집형 랭킹 카드로 재설계 + 히어로 링크 인라인 통합
  apps/service-web/app/globals.css
  apps/service-web/messages/en.json
  apps/service-web/messages/ko.json
  libs/products/shell/src/components/ProductCard/ProductCard.tsx
  libs/products/shell/src/shells/MainHeroBanner/MainHeroBanner.tsx
  tailwind.config.ts
Due: ts, tsx, json

서비스 카드를 로고 우선 세로 구조로 재편
  libs/products/shell/src/components/ProductCard/ProductCard.tsx
  libs/products/shell/src/shells/RecentProductSection/RecentProductSkeleton.tsx
  libs/products/shell/src/shells/TrendingProductSection/TrendingProductSkeleton.tsx
  libs/products/shell/src/uis/ProductItem/ProductItem.tsx
Due: tsx

Layout에서 건너뛰기 링크 제거
  libs/products/shell/src/components/ProductCard/ProductCard.tsx
  libs/products/shell/src/shells/RecentProductSection/RecentProductSkeleton.tsx
  libs/products/shell/src/shells/TrendingProductSection/TrendingProductSkeleton.tsx
  libs/shared/ui-layout/src/Layout.tsx
Due: tsx

fix(graphql-api): pass VOTE_IP_SALT env to lambda
  .github/workflows/Deploy.yaml
  CONTRIBUTING.md
  apps/graphql-api/.env.sample
  apps/graphql-api/__tests__/environment.test.ts
  apps/graphql-api/scripts/verify-lambda-bundle.js
  apps/graphql-api/serverless.yaml
  apps/graphql-api/src/config/environment.ts
  docker-compose.yml
Due: ts, js

fix(search): add missing noResults translation for empty search list
  apps/service-web/messages/en.json
  apps/service-web/messages/ko.json
Due: json

fix(graphql-api): VOTE_IP_SALT 환경 변수를 Lambda에 전달
  .github/workflows/Deploy.yaml
  CONTRIBUTING.md
  apps/graphql-api/.env.sample
  apps/graphql-api/__tests__/environment.test.ts
  apps/graphql-api/scripts/verify-lambda-bundle.js
  apps/graphql-api/serverless.yaml
  apps/graphql-api/src/config/environment.ts
  docker-compose.yml
Due: ts, js

chore(deps): bump actions/checkout to v6 and actions/setup-node to v6
  .github/workflows/Deploy.yaml
  .github/workflows/PullRequest.yaml
Due: none

chore(deps): bump @kuma-ui/core from 1.5.7 to 1.5.9
  libs/products/shell/package.json
  pnpm-lock.yaml
Due: json

style: 카드 보더·라운드·그림자 일관성 정리 및 파란색 액센트 제거
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/page.tsx
  libs/magazines/feature/src/ArticleCard/ArticleCard.tsx
  libs/magazines/shell/src/shells/MagazineFeatureSection/MagazineFeatureSection.tsx
  libs/products/shell/src/components/AlternativeProductList/AlternativeProductList.tsx
  libs/products/shell/src/components/FAQSection/FAQSection.tsx
  libs/products/shell/src/components/ProductAlternativeList/ProductAlternativeList.tsx
  libs/products/shell/src/components/ProductCard/ProductCard.tsx
  libs/products/shell/src/components/ProductPhotos/ProductPhotos.tsx
  libs/products/shell/src/shells/AlternativeProductSection/AlternativeProductSection.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSection.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSkeleton.tsx
  libs/products/shell/src/shells/CategoryProductSection/CategoryProductSection.tsx
  libs/products/shell/src/shells/MainHeroBanner/MainHeroBanner.tsx
  libs/products/shell/src/shells/ProductAlternativeSection/ProductAlternativeSection.tsx
  libs/products/shell/src/shells/ProductDetailFeatureSection/ProductDetailFeatureSection.tsx
  libs/products/shell/src/shells/ProductPhotoSection/ProductPhotoSection.tsx
  libs/products/shell/src/shells/ProductTocSection/ProductTocSection.tsx
  libs/products/shell/src/shells/RecentProductSection/RecentProductSection.tsx
  libs/products/shell/src/shells/RecentProductSection/RecentProductSkeleton.tsx
  libs/products/shell/src/shells/TrendingProductSection/TrendingProductSection.tsx
  libs/products/shell/src/shells/TrendingProductSection/TrendingProductSkeleton.tsx
  libs/products/shell/src/uis/FeatureItem/FeatureItem.tsx
  libs/products/shell/src/uis/ProductFeatureGridList/ProductFeatureGridList.tsx
  libs/products/shell/src/uis/ProductItem/ProductItem.tsx
  libs/search/shell/src/components/SearchProductList/SearchProductList.tsx
  libs/search/shell/src/components/SearchProductListSkeleton/SearchProductListSkeleton.tsx
  libs/search/shell/src/shells/SearchEmptyState/CategoryShortcutGrid/CategoryShortcutGrid.tsx
  libs/search/shell/src/shells/SearchEmptyState/PopularQueriesStripe/PopularQueriesStripe.tsx
  libs/shared/ui-admin/src/AdminPanel.tsx
  libs/shared/ui-admin/src/Editor/Editor.tsx
  libs/shared/ui-layout/src/LocaleToggle/LocaleToggle.tsx
  libs/shared/ui-layout/src/libs/Footer/Footer.tsx
  libs/shared/ui/src/components/Button.tsx
  libs/shared/ui/src/components/Chip.tsx
  libs/shared/ui/src/components/Toast/Toast.tsx
  tailwind.config.ts
Due: ts, tsx

chore(deps): bump eslint-plugin-react-hooks from 7.0.1 to 7.1.1
  libs/shared/utils-eslint-config/package.json
  pnpm-lock.yaml
Due: json

chore(deps): bump postcss from 8.4.47 to 8.5.6
  apps/admin-web/package.json
  pnpm-lock.yaml
Due: json

style: 카드 보더·라운드·그림자 일관성 정리 및 파란색 액센트 제거 (#328)
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/page.tsx
  libs/magazines/feature/src/ArticleCard/ArticleCard.tsx
  libs/magazines/shell/src/shells/MagazineFeatureSection/MagazineFeatureSection.tsx
  libs/products/shell/src/components/AlternativeProductList/AlternativeProductList.tsx
  libs/products/shell/src/components/FAQSection/FAQSection.tsx
  libs/products/shell/src/components/ProductAlternativeList/ProductAlternativeList.tsx
  libs/products/shell/src/components/ProductCard/ProductCard.tsx
  libs/products/shell/src/components/ProductPhotos/ProductPhotos.tsx
  libs/products/shell/src/shells/AlternativeProductSection/AlternativeProductSection.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSection.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSkeleton.tsx
  libs/products/shell/src/shells/CategoryProductSection/CategoryProductSection.tsx
  libs/products/shell/src/shells/MainHeroBanner/MainHeroBanner.tsx
  libs/products/shell/src/shells/ProductAlternativeSection/ProductAlternativeSection.tsx
  libs/products/shell/src/shells/ProductDetailFeatureSection/ProductDetailFeatureSection.tsx
  libs/products/shell/src/shells/ProductPhotoSection/ProductPhotoSection.tsx
  libs/products/shell/src/shells/ProductTocSection/ProductTocSection.tsx
  libs/products/shell/src/shells/RecentProductSection/RecentProductSection.tsx
  libs/products/shell/src/shells/RecentProductSection/RecentProductSkeleton.tsx
  libs/products/shell/src/shells/TrendingProductSection/TrendingProductSection.tsx
  libs/products/shell/src/shells/TrendingProductSection/TrendingProductSkeleton.tsx
  libs/products/shell/src/uis/FeatureItem/FeatureItem.tsx
  libs/products/shell/src/uis/ProductFeatureGridList/ProductFeatureGridList.tsx
  libs/products/shell/src/uis/ProductItem/ProductItem.tsx
  libs/search/shell/src/components/SearchProductList/SearchProductList.tsx
  libs/search/shell/src/components/SearchProductListSkeleton/SearchProductListSkeleton.tsx
  libs/search/shell/src/shells/SearchEmptyState/CategoryShortcutGrid/CategoryShortcutGrid.tsx
  libs/search/shell/src/shells/SearchEmptyState/PopularQueriesStripe/PopularQueriesStripe.tsx
  libs/shared/ui-admin/src/AdminPanel.tsx
  libs/shared/ui-admin/src/Editor/Editor.tsx
  libs/shared/ui-layout/src/LocaleToggle/LocaleToggle.tsx
  libs/shared/ui-layout/src/libs/Footer/Footer.tsx
  libs/shared/ui/src/components/Button.tsx
  libs/shared/ui/src/components/Chip.tsx
  libs/shared/ui/src/components/Toast/Toast.tsx
  tailwind.config.ts
Due: ts, tsx

Migrate graphql-api from Serverless Framework to SST v4
  .github/workflows/Deploy.yaml
  .gitignore
  CONTRIBUTING.md
  apps/graphql-api/.gitignore
  apps/graphql-api/package.json
  apps/graphql-api/scripts/build-lambda.cjs
  apps/graphql-api/scripts/dev.cjs
  apps/graphql-api/scripts/verify-lambda-bundle.js
  apps/graphql-api/serverless.yaml
  apps/graphql-api/src/local-server.ts
  apps/graphql-api/sst.config.ts
  docker-compose.yml
  libs/shared/utils-apollo-server/package.json
  libs/shared/utils-sentry/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: ts, js, json

Fix workflow YAML indentation broken by trunk merge
  .github/workflows/Deploy.yaml
  .github/workflows/PullRequest.yaml
Due: none

Migrate graphql-api from Serverless Framework to SST v4 (#329)
  .github/workflows/Deploy.yaml
  .github/workflows/PullRequest.yaml
  .gitignore
  CONTRIBUTING.md
  apps/graphql-api/.gitignore
  apps/graphql-api/package.json
  apps/graphql-api/scripts/build-lambda.cjs
  apps/graphql-api/scripts/dev.cjs
  apps/graphql-api/scripts/verify-lambda-bundle.js
  apps/graphql-api/serverless.yaml
  apps/graphql-api/src/local-server.ts
  apps/graphql-api/sst.config.ts
  docker-compose.yml
  libs/shared/utils-apollo-server/package.json
  libs/shared/utils-sentry/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: ts, js, json

fix(visual-web): public/fonts에 Pretendard 폰트를 포함하여 Vercel 빌드 오류 해결
  apps/visual-web/app/layout.tsx
  apps/visual-web/public/fonts/PretendardVariable.woff2
Due: tsx

Scope deploy quality checks to graphql-api package only
  .github/workflows/Deploy.yaml
Due: none

Fix deploy pipeline: scope quality checks to graphql-api (#331)
  .github/workflows/Deploy.yaml
Due: none

Add api.darun.io custom domain via SST Cloudflare DNS
  .github/workflows/Deploy.yaml
  apps/graphql-api/sst.config.ts
Due: ts

Connect api.darun.io to SST API via existing domain name
  apps/graphql-api/sst.config.ts
Due: ts

Path conditions:
  ts: any of: *.ts
  tsx: any of: *.tsx
  jsx: any of: *.jsx
  js: any of: *.js
  mdx: any of: *.mdx
  json: any of: *.json
