Repository croco-dev/darun: changes, and which lefthook commands are due for each by the changed paths.
All: ts, tsx, jsx, js, mdx, json

ts:
  run: eslint --fix --quiet {staged_files}

tsx:
  run: eslint --fix --quiet {staged_files}

jsx:
  run: eslint --fix --quiet {staged_files}

js:
  run: eslint --fix --quiet {staged_files}

mdx:
  run: eslint --fix --quiet {staged_files}

json:
  run: eslint --fix --quiet {staged_files}

refactor(llm): extract shared withTimeout helper to eliminate code duplication
  libs/products/datasource/src/services/ProductDescriptionGeneratorImpl.ts
  libs/shared/utils-llm/src/__tests__/withTimeout.test.ts
  libs/shared/utils-llm/src/index.ts
  libs/shared/utils-llm/src/withTimeout.ts
  libs/translation/service/src/TranslationJobService.ts
Due: ts

fix(translation): resolve product translation hang and mount notification feedback (#362)
  apps/admin-web/__tests__/container.test.ts
  apps/admin-web/app/client.tsx
  apps/admin-web/app/container.ts
  apps/admin-web/app/layout.tsx
  libs/products/datasource/src/services/ProductDescriptionGeneratorImpl.ts
  libs/products/feature/src/TranslateProductButton/__tests__/useTranslateProductButton.test.ts
  libs/products/feature/src/TranslateProductButton/useTranslateProductButton.ts
  libs/shared/utils-llm/src/__tests__/withTimeout.test.ts
  libs/shared/utils-llm/src/index.ts
  libs/shared/utils-llm/src/libs/LlmClient.ts
  libs/shared/utils-llm/src/withTimeout.ts
  libs/translation/domain/src/__tests__/TranslationJobService.test.ts
  libs/translation/service/src/TranslationJobService.ts
Due: ts, tsx

style: apply prettier formatting to admin components and tests
  apps/admin-web/features/products/NewProductFeatureFormSection/NewProductFeatureFormSection.tsx
  apps/admin-web/features/products/NewProductFormSection/NewProductFormSection.tsx
  apps/admin-web/features/products/NewProductScreenshotFormSection/NewProductScreenshotFormSection.tsx
  apps/admin-web/vitest.config.ts
  libs/shared/ui/src/components/Button.test.tsx
Due: ts, tsx

feat(apollo): add default timeout link and timeout error handling
  apps/admin-web/__tests__/container.test.ts
  apps/admin-web/app/container.ts
  apps/admin-web/app/serverContainer.ts
  apps/admin-web/vitest.config.ts
  apps/service-web/app/container.ts
  apps/service-web/app/serverContainer.ts
  apps/service-web/vitest.config.ts
  apps/visual-web/app/container.ts
  apps/visual-web/vitest.config.ts
  libs/products/feature/src/TranslateProductButton/__tests__/useTranslateProductButton.test.ts
  libs/products/feature/src/TranslateProductButton/useTranslateProductButton.ts
  libs/shared/ui-admin/src/AdminState.tsx
  libs/shared/ui-admin/src/__tests__/parseErrorInfo.test.ts
  libs/shared/utils-apollo-client/client/package.json
  libs/shared/utils-apollo-client/client/src/index.ts
  libs/shared/utils-apollo-client/client/src/libs/__tests__/createTimeoutLink.test.ts
  libs/shared/utils-apollo-client/client/src/libs/createTimeoutLink.ts
  libs/shared/utils-apollo-client/client/vitest.config.ts
  libs/shared/utils-apollo-client/server/package.json
  pnpm-lock.yaml
Due: ts, tsx, json

feat(apollo): add default timeout link and timeout error handling (#364)
  apps/admin-web/__tests__/container.test.ts
  apps/admin-web/app/container.ts
  apps/admin-web/app/serverContainer.ts
  apps/admin-web/vitest.config.ts
  apps/service-web/app/container.ts
  apps/service-web/app/serverContainer.ts
  apps/service-web/vitest.config.ts
  apps/visual-web/app/container.ts
  apps/visual-web/vitest.config.ts
  libs/products/feature/src/TranslateProductButton/__tests__/useTranslateProductButton.test.ts
  libs/products/feature/src/TranslateProductButton/useTranslateProductButton.ts
  libs/shared/ui-admin/src/AdminState.tsx
  libs/shared/ui-admin/src/__tests__/parseErrorInfo.test.ts
  libs/shared/utils-apollo-client/client/package.json
  libs/shared/utils-apollo-client/client/src/index.ts
  libs/shared/utils-apollo-client/client/src/libs/__tests__/createTimeoutLink.test.ts
  libs/shared/utils-apollo-client/client/src/libs/createTimeoutLink.ts
  libs/shared/utils-apollo-client/client/vitest.config.ts
  libs/shared/utils-apollo-client/server/package.json
  pnpm-lock.yaml
Due: ts, tsx, json

fix(admin-web): resolve llm settings rsc render failure and prevent apollo link duplication
  apps/admin-web/__tests__/container.test.ts
  apps/admin-web/__tests__/llmSettingPage.test.tsx
  apps/admin-web/__tests__/middleware.test.ts
  apps/admin-web/__tests__/resolveLlmFormDefaults.test.ts
  apps/admin-web/app/settings/llm/page.tsx
  apps/admin-web/features/settings/LlmSettingFormSection/LlmSettingFormSection.tsx
  apps/admin-web/middleware.ts
  apps/admin-web/package.json
  apps/admin-web/vitest.config.ts
  libs/shared/utils-apollo-client/client/src/libs/ApolloProvider.tsx
  libs/shared/utils-apollo-client/client/src/libs/__tests__/ApolloProvider.test.tsx
  libs/shared/utils-apollo-client/client/vitest.config.ts
  pnpm-lock.yaml
Due: ts, tsx, json

fix(admin-web): resolve llm settings rsc render failure and prevent apollo link duplication (#365)
  apps/admin-web/__tests__/container.test.ts
  apps/admin-web/__tests__/llmSettingPage.test.tsx
  apps/admin-web/__tests__/middleware.test.ts
  apps/admin-web/__tests__/resolveLlmFormDefaults.test.ts
  apps/admin-web/app/settings/llm/page.tsx
  apps/admin-web/features/settings/LlmSettingFormSection/LlmSettingFormSection.tsx
  apps/admin-web/middleware.ts
  apps/admin-web/package.json
  apps/admin-web/vitest.config.ts
  libs/shared/utils-apollo-client/client/src/libs/ApolloProvider.tsx
  libs/shared/utils-apollo-client/client/src/libs/__tests__/ApolloProvider.test.tsx
  libs/shared/utils-apollo-client/client/vitest.config.ts
  pnpm-lock.yaml
Due: ts, tsx, json

fix(admin-web): resolve admin side navigation null safety, missing dashboard, and layout issues
  apps/admin-web/__tests__/navbar.test.tsx
  apps/admin-web/features/auth/LogoutButton/useLogoutButton.ts
  apps/admin-web/layouts/Navbar/Navbar.tsx
Due: ts, tsx

fix(admin-web): resolve admin side navigation null safety, missing dashboard, and layout issues (#366)
  apps/admin-web/__tests__/navbar.test.tsx
  apps/admin-web/features/auth/LogoutButton/useLogoutButton.ts
  apps/admin-web/layouts/Navbar/Navbar.tsx
Due: ts, tsx

feat(admin-web): resolve critical bugs, add screenshot management, and overhaul dashboard UI
  apps/admin-web/app/companies/page.tsx
  apps/admin-web/app/page.tsx
  apps/admin-web/app/products/[slug]/page.tsx
  apps/admin-web/features/magazines/MagazinesList/MagazinesList.tsx
  apps/admin-web/features/products/NewProductFeatureFormSection/NewProductFeatureFormSection.tsx
  apps/admin-web/features/products/NewProductLinkSection/NewProductLinkSection.tsx
  apps/admin-web/features/products/ProductDetailAlternativeSection/ProductDetailAlternativeSection.tsx
  apps/admin-web/features/products/ProductDetailCompanySection/ProductDetailCompanySection.tsx
  apps/admin-web/features/products/ProductDetailDescriptionSection/ProductDetailDescriptionSection.tsx
  apps/admin-web/features/products/ProductDetailFeatureSection/ProductDetailFeatureSection.tsx
  apps/admin-web/features/products/ProductDetailInfoSection/ProductDetailInfoSection.tsx
  apps/admin-web/features/products/ProductDetailLinkSection/ProductDetailLinkSection.tsx
  apps/admin-web/features/products/ProductDetailScreenshotSection/ProductDetailScreenshotSection.tsx
  apps/admin-web/features/products/ProductDetailScreenshotSection/index.ts
  apps/admin-web/features/products/index.ts
  apps/admin-web/layouts/Navbar/Navbar.tsx
  libs/__generated__/gql.ts
  libs/__generated__/graphql.ts
  libs/companies/feature/src/AllCompanyListTable/AllCompanyListTable.tsx
  libs/companies/feature/src/AllCompanyListTable/useAllCompanyListTable.ts
  libs/companies/feature/src/CompanyListRefreshButton/CompanyListRefreshButton.tsx
  libs/companies/feature/src/CompanyListRefreshButton/index.ts
  libs/companies/feature/src/CompanyListRefreshButton/useCompanyListRefreshButton.ts
  libs/companies/feature/src/NewCompanyForm/useNewCompanyForm.ts
  libs/companies/feature/src/__tests__/useNewCompanyForm.test.ts
  libs/companies/feature/src/index.ts
  libs/magazines/feature/src/WriteMagazine/useWriteMagazine.ts
  libs/products/feature/src/ProductTagsForm/ProductTagsForm.tsx
  libs/products/feature/src/ProductTagsForm/__tests__/useProductTagsForm.test.ts
  libs/products/feature/src/ProductTagsForm/useProductTagsForm.ts
  libs/shared/provider-graphql/codegen.ts
  libs/shared/ui-admin/src/AdminField.tsx
  libs/shared/ui-admin/src/AdminModal.tsx
  libs/shared/ui-admin/src/__tests__/AdminFieldAndModal.test.tsx
  libs/shared/ui-admin/src/index.ts
Due: ts, tsx

fix(admin-web): resolve 10 additional admin bugs across navigation, forms, modals, and validation
  apps/admin-web/__tests__/setup.test.ts
  apps/admin-web/features/auth/LoginSection/LoginSection.tsx
  apps/admin-web/features/auth/LogoutButton/LogoutButton.tsx
  apps/admin-web/features/auth/LogoutButton/useLogoutButton.ts
  apps/admin-web/features/auth/LogoutSection/LogoutSection.tsx
  apps/admin-web/features/products/NewProductFormSection/NewProductFormSection.tsx
  apps/admin-web/features/products/NewProductLinkSection/NewProductLinkSection.tsx
  apps/admin-web/features/products/NewProductScreenshotFormSection/NewProductScreenshotFormSection.tsx
  apps/admin-web/features/settings/LlmSettingFormSection/LlmSettingFormSection.tsx
  apps/admin-web/next.config.mjs
  libs/companies/feature/src/NewCompanyForm/NewCompanyForm.tsx
  libs/companies/feature/src/NewCompanyForm/useNewCompanyForm.ts
  libs/magazines/feature/src/WriteMagazine/useWriteMagazine.ts
  libs/products/feature/src/EditProductLinkItem/__tests__/useEditProductLinkItem.test.ts
  libs/products/feature/src/EditProductLinkItem/useEditProductLinkItem.ts
  libs/products/feature/src/NewProductFeatureForm/useNewProductFeatureForm.ts
  libs/products/feature/src/NewProductForm/useNewProductForm.ts
  libs/products/feature/src/NewProductLinkForm/__tests__/useNewProductLinkForm.test.ts
  libs/products/feature/src/NewProductLinkForm/useNewProductLinkForm.ts
  libs/products/feature/src/NewProductScreenshotForm/useNewProductScreenshotForm.ts
  libs/products/feature/src/ProductLinkTable/ProductLinkTable.tsx
  libs/products/feature/src/ProductListTable/useProductListTable.ts
Due: ts, tsx

fix(admin): 3차 버그 10개 및 UX/접근성 결함 수정
  apps/admin-web/app/products/[slug]/company/new/page.tsx
  apps/admin-web/app/products/[slug]/page.tsx
  apps/admin-web/features/products/ProductDetailCompanySection/ProductDetailCompanySection.tsx
  libs/companies/feature/src/AllCompanyListTable/AllCompanyListTable.tsx
  libs/products/feature/src/EditAlternativeProducts/EditAlternativeProducts.tsx
  libs/products/feature/src/EditAlternativeProducts/useEditAlternativeProducts.ts
  libs/products/feature/src/EditProductCompany/__tests__/useEditProductCompany.test.ts
  libs/products/feature/src/EditProductCompany/useEditProductCompany.ts
  libs/products/feature/src/EditProductDescription/__tests__/useEditProductDescription.test.ts
  libs/products/feature/src/EditProductDescription/useEditProductDescription.ts
  libs/products/feature/src/EditProductInfo/__tests__/useEditProductInfo.test.ts
  libs/products/feature/src/EditProductInfo/useEditProductInfo.ts
  libs/products/feature/src/GenerateProductDescriptionButton/useGenerateProductDescriptionButton.ts
  libs/products/feature/src/IndexProductButton/IndexProductButton.tsx
  libs/products/feature/src/IndexProductButton/useIndexProductButton.ts
  libs/products/feature/src/ProductCompanyInfo/ProductCompanyInfo.tsx
  libs/products/feature/src/ProductCompanyInfo/useProductCompanyInfo.ts
  libs/products/feature/src/PublishProductButton/usePublishProductButton.ts
  libs/shared/ui-admin/src/AdminField.tsx
Due: ts, tsx

fix(admin): 5차 버그 20개 및 폼 중복제출/접근성/반응형/DOM스펙 위반 전면 개선
  apps/admin-web/__tests__/middleware.test.ts
  apps/admin-web/__tests__/navbar.test.tsx
  apps/admin-web/app/auth/login/page.tsx
  apps/admin-web/app/auth/logout/page.tsx
  apps/admin-web/app/companies/page.tsx
  apps/admin-web/app/magazines/page.tsx
  apps/admin-web/app/not-found.tsx
  apps/admin-web/app/products/page.tsx
  apps/admin-web/features/auth/LoginButton/useLoginButton.ts
  apps/admin-web/features/magazines/MagazinesList/MagazinesList.tsx
  apps/admin-web/features/products/NewProductLinkSection/NewProductLinkSection.tsx
  apps/admin-web/features/products/ProductDetailFeatureSection/ProductDetailFeatureSection.tsx
  apps/admin-web/features/products/ProductDetailLinkSection/ProductDetailLinkSection.tsx
  apps/admin-web/features/products/ProductDetailScreenshotSection/ProductDetailScreenshotSection.tsx
  apps/admin-web/layouts/AppShell/AppShell.tsx
  apps/admin-web/layouts/Navbar/Navbar.tsx
  apps/admin-web/middleware.ts
  libs/companies/feature/src/AllCompanyListTable/AllCompanyListTable.tsx
  libs/companies/feature/src/AllCompanyListTable/useAllCompanyListTable.ts
  libs/companies/feature/src/NewCompanyForm/NewCompanyForm.tsx
  libs/companies/feature/src/NewCompanyForm/useNewCompanyForm.ts
  libs/products/feature/src/EditAlternativeProducts/EditAlternativeProducts.tsx
  libs/products/feature/src/EditAlternativeProducts/useEditAlternativeProducts.ts
  libs/products/feature/src/EditProductCompany/EditProductCompany.tsx
  libs/products/feature/src/EditProductCompany/useEditProductCompany.ts
  libs/products/feature/src/GenerateProductDescriptionButton/GenerateProductDescriptionButton.tsx
  libs/products/feature/src/GenerateProductDescriptionButton/useGenerateProductDescriptionButton.ts
  libs/products/feature/src/NewProductLinkForm/NewProductLinkForm.tsx
  libs/products/feature/src/NewProductLinkForm/useNewProductLinkForm.ts
  libs/products/feature/src/ProductInfo/ProductInfo.tsx
  libs/products/feature/src/ProductListTable/ProductListTable.tsx
  libs/shared/ui-admin/src/AdminInput.tsx
  libs/shared/ui-admin/src/AdminSelect.tsx
  libs/shared/ui-admin/src/__tests__/AdminInputsA11y.test.tsx
Due: ts, tsx

feat(admin-web): convert pages to true RSC and resolve 20 admin defects
  apps/admin-web/__tests__/rscPages.test.tsx
  apps/admin-web/app/companies/new/page.tsx
  apps/admin-web/app/magazines/create/page.tsx
  apps/admin-web/app/page.tsx
  apps/admin-web/app/products/[slug]/company/new/page.tsx
  apps/admin-web/app/products/[slug]/features/new/page.tsx
  apps/admin-web/app/products/[slug]/links/new/page.tsx
  apps/admin-web/app/products/[slug]/page.tsx
  apps/admin-web/app/products/[slug]/screenshots/new/page.tsx
  apps/admin-web/app/products/new/page.tsx
  apps/admin-web/app/serverContainer.ts
  apps/admin-web/features/products/NewProductFeatureFormSection/NewProductFeatureFormSection.tsx
  apps/admin-web/features/products/NewProductFormSection/NewProductFormSection.tsx
  apps/admin-web/features/products/NewProductScreenshotFormSection/NewProductScreenshotFormSection.tsx
  apps/admin-web/features/settings/LlmSettingFormSection/LlmSettingFormSection.tsx
  libs/products/feature/src/EditProductDescription/EditProductDescription.tsx
  libs/products/feature/src/EditProductDescription/useEditProductDescription.ts
  libs/products/feature/src/EditProductFeatureItem/EditProductFeatureItem.tsx
  libs/products/feature/src/EditProductInfo/EditProductInfo.tsx
  libs/products/feature/src/EditProductInfo/useEditProductInfo.ts
  libs/products/feature/src/IndexProductButton/IndexProductButton.tsx
  libs/products/feature/src/IndexProductButton/useIndexProductButton.ts
  libs/products/feature/src/ProductCompanyInfo/ProductCompanyInfo.tsx
  libs/products/feature/src/ProductCompanyInfo/useProductCompanyInfo.ts
  libs/products/feature/src/ProductDescription/ProductDescription.tsx
  libs/products/feature/src/ProductInfo/ProductInfo.tsx
  libs/products/feature/src/ProductInfo/useProductInfo.ts
  libs/products/feature/src/ProductLinkTable/ProductLinkTable.tsx
  libs/products/feature/src/PublishProductButton/PublishProductButton.tsx
  libs/products/feature/src/PublishProductButton/usePublishProductButton.ts
  libs/shared/ui-admin/src/PageShell.tsx
Due: ts, tsx

feat(admin-web): convert pages to true RSC and resolve 20 admin defects (#368)
  apps/admin-web/__tests__/rscPages.test.tsx
  apps/admin-web/app/companies/new/page.tsx
  apps/admin-web/app/magazines/create/page.tsx
  apps/admin-web/app/page.tsx
  apps/admin-web/app/products/[slug]/company/new/page.tsx
  apps/admin-web/app/products/[slug]/features/new/page.tsx
  apps/admin-web/app/products/[slug]/links/new/page.tsx
  apps/admin-web/app/products/[slug]/page.tsx
  apps/admin-web/app/products/[slug]/screenshots/new/page.tsx
  apps/admin-web/app/products/new/page.tsx
  apps/admin-web/app/serverContainer.ts
  apps/admin-web/features/products/NewProductFeatureFormSection/NewProductFeatureFormSection.tsx
  apps/admin-web/features/products/NewProductFormSection/NewProductFormSection.tsx
  apps/admin-web/features/products/NewProductScreenshotFormSection/NewProductScreenshotFormSection.tsx
  apps/admin-web/features/settings/LlmSettingFormSection/LlmSettingFormSection.tsx
  libs/products/feature/src/EditProductDescription/EditProductDescription.tsx
  libs/products/feature/src/EditProductDescription/useEditProductDescription.ts
  libs/products/feature/src/EditProductFeatureItem/EditProductFeatureItem.tsx
  libs/products/feature/src/EditProductInfo/EditProductInfo.tsx
  libs/products/feature/src/EditProductInfo/useEditProductInfo.ts
  libs/products/feature/src/IndexProductButton/IndexProductButton.tsx
  libs/products/feature/src/IndexProductButton/useIndexProductButton.ts
  libs/products/feature/src/ProductCompanyInfo/ProductCompanyInfo.tsx
  libs/products/feature/src/ProductCompanyInfo/useProductCompanyInfo.ts
  libs/products/feature/src/ProductDescription/ProductDescription.tsx
  libs/products/feature/src/ProductInfo/ProductInfo.tsx
  libs/products/feature/src/ProductInfo/useProductInfo.ts
  libs/products/feature/src/ProductLinkTable/ProductLinkTable.tsx
  libs/products/feature/src/PublishProductButton/PublishProductButton.tsx
  libs/products/feature/src/PublishProductButton/usePublishProductButton.ts
  libs/shared/ui-admin/src/PageShell.tsx
Due: ts, tsx

fix(admin): resolve 25 admin-web and feature defects (phase 7)
  apps/admin-web/features/auth/LoginButton/LoginButton.tsx
  apps/admin-web/features/auth/LoginButton/useLoginButton.ts
  apps/admin-web/features/auth/LogoutButton/LogoutButton.tsx
  apps/admin-web/features/auth/LogoutButton/useLogoutButton.ts
  apps/admin-web/features/products/NewProductScreenshotFormSection/NewProductScreenshotFormSection.tsx
  apps/admin-web/features/products/ProductDetailAlternativeSection/ProductDetailAlternativeSection.tsx
  apps/admin-web/features/products/ProductDetailScreenshotSection/ProductDetailScreenshotSection.tsx
  apps/admin-web/features/settings/LlmSettingFormSection/LlmSettingFormSection.tsx
  libs/companies/feature/src/CompanyListRefreshButton/useCompanyListRefreshButton.ts
  libs/companies/feature/src/__tests__/useCompanyListRefreshButton.test.ts
  libs/magazines/feature/src/WriteMagazine/WriteMagazine.tsx
  libs/magazines/feature/src/WriteMagazine/useWriteMagazine.ts
  libs/products/feature/src/EditAlternativeProducts/EditAlternativeProducts.tsx
  libs/products/feature/src/EditAlternativeProducts/useEditAlternativeProducts.ts
  libs/products/feature/src/EditProductFeatureItem/EditProductFeatureItem.tsx
  libs/products/feature/src/EditProductFeatureItem/useEditProductFeatureItem.ts
  libs/products/feature/src/EditProductLinkItem/EditProductLinkItem.tsx
  libs/products/feature/src/EditProductLinkItem/useEditProductLinkItem.ts
  libs/products/feature/src/GenerateProductDescriptionButton/useGenerateProductDescriptionButton.ts
  libs/products/feature/src/NewProductFeatureForm/useNewProductFeatureForm.ts
  libs/products/feature/src/NewProductForm/useNewProductForm.ts
  libs/products/feature/src/NewProductScreenshotForm/useNewProductScreenshotForm.ts
  libs/products/feature/src/ProductInfo/ProductInfo.tsx
  libs/products/feature/src/ProductInfo/useProductInfo.ts
  libs/products/feature/src/ProductLinkTable/ProductLinkTable.tsx
  libs/products/feature/src/ProductListRefreshButton/__tests__/useProductListRefreshButton.test.ts
  libs/products/feature/src/ProductListRefreshButton/useProductListRefreshButton.ts
  libs/products/feature/src/ProductListTable/ProductListTable.tsx
  libs/products/feature/src/ProductListTable/useProductListTable.ts
  libs/shared/ui-admin/package.json
  libs/shared/ui-admin/src/AdminField.tsx
  libs/shared/ui-admin/src/PageShell.tsx
  pnpm-lock.yaml
Due: ts, tsx, json

fix(admin-web): resolve navigation freeze caused by re-render loop and local CORS
  .gitignore
  apps/admin-web/features/products/ProductDetailAlternativeSection/ProductDetailAlternativeSection.tsx
  apps/admin-web/middleware.ts
  apps/graphql-api/schema.graphql
  apps/graphql-api/src/functions/context.ts
  apps/graphql-api/src/local-server.ts
  docker-compose.yml
  libs/shared/provider-auth/client/src/libs/AuthServiceProvider/AuthServiceProvider.tsx
  libs/shared/provider-auth/client/src/libs/AuthStateProvider/AuthStateProvider.tsx
  libs/shared/ui-admin/package.json
  libs/shared/utils-auth-service/firebase/src/libs/FirebaseAuthService/FirebaseAuthService.ts
  libs/shared/utils-router/src/libs/useNavigate/useNavigate.ts
  pnpm-lock.yaml
Due: ts, tsx, json

fix(graphql-api): lazily evaluate INFRA_ENV in context to prevent module-level assertion error in tests
  apps/graphql-api/src/functions/context.ts
Due: ts

fix(products-feature): use DOMParser to check empty rich text without regex sanitization
  libs/products/feature/src/EditProductDescription/__tests__/useEditProductDescription.test.ts
  libs/products/feature/src/EditProductDescription/useEditProductDescription.ts
Due: ts

fix(admin-web): mark product detail sections as client components to resolve rsc error 441
  apps/admin-web/__tests__/productDetailAlternativeSection.test.tsx
  apps/admin-web/__tests__/rscPages.test.tsx
  apps/admin-web/features/products/ProductCompanyEditSection/ProductCompanyEditSection.tsx
  apps/admin-web/features/products/ProductDetailAlternativeSection/ProductDetailAlternativeSection.tsx
  apps/admin-web/features/products/ProductDetailLinkSection/ProductDetailLinkSection.tsx
  apps/admin-web/features/products/index.ts
  libs/products/feature/src/GenerateProductDescriptionButton/GenerateProductDescriptionButton.tsx
Due: ts, tsx

fix(admin-web): mark product detail sections as client components to resolve rsc error 441 (#371)
  apps/admin-web/__tests__/productDetailAlternativeSection.test.tsx
  apps/admin-web/__tests__/rscPages.test.tsx
  apps/admin-web/features/products/ProductCompanyEditSection/ProductCompanyEditSection.tsx
  apps/admin-web/features/products/ProductDetailAlternativeSection/ProductDetailAlternativeSection.tsx
  apps/admin-web/features/products/ProductDetailLinkSection/ProductDetailLinkSection.tsx
  apps/admin-web/features/products/index.ts
  libs/products/feature/src/GenerateProductDescriptionButton/GenerateProductDescriptionButton.tsx
Due: ts, tsx

feat(translation): implement async translation job with sqs worker and model selection modal
  apps/admin-web/__tests__/llmModelsRoute.test.ts
  apps/admin-web/__tests__/modelSelectModal.test.tsx
  apps/admin-web/app/api/llm/models/route.ts
  apps/admin-web/features/settings/LlmSettingFormSection/LlmSettingFormSection.tsx
  apps/admin-web/features/settings/LlmSettingFormSection/ModelSelectModal.tsx
  apps/graphql-api/schema.graphql
  apps/graphql-api/scripts/build-lambda.cjs
  apps/graphql-api/scripts/migrations/0002_add_translation_jobs.sql
  apps/graphql-api/scripts/migrations/meta/_journal.json
  apps/graphql-api/src/app/resolvers.ts
  apps/graphql-api/src/functions/translation-worker.ts
  apps/graphql-api/sst.config.ts
  libs/__generated__/gql.ts
  libs/__generated__/graphql.ts
  libs/products/feature/src/TranslateProductButton/__tests__/useTranslateProductButton.test.ts
  libs/products/feature/src/TranslateProductButton/useTranslateProductButton.ts
  libs/shared/utils-llm/src/libs/LlmClient.ts
  libs/translation/datasource/src/entities/TranslationJobSchema.ts
  libs/translation/datasource/src/index.ts
  libs/translation/datasource/src/repositories/PostgresqlTranslationJobRepository.ts
  libs/translation/domain/src/entities/TranslationJobEntity.ts
  libs/translation/domain/src/index.ts
  libs/translation/domain/src/repositories/TranslationJobRepository.ts
  libs/translation/feature/src/Translation.mutation.resolver.ts
  libs/translation/feature/src/Translation.query.resolver.ts
  libs/translation/feature/src/__tests__/TranslationQueryResolver.test.ts
  libs/translation/feature/src/graphs/TranslationJob.ts
  libs/translation/feature/src/server.ts
  libs/translation/service/package.json
  libs/translation/service/src/TranslationJobService.ts
  libs/translation/service/src/TranslationQueueService.ts
  libs/translation/service/src/index.ts
  pnpm-lock.yaml
Due: ts, tsx, json

feat(seo): improve sitemap priority, structured data rich snippets, and robots safeguards
  apps/admin-web/app/layout.tsx
  apps/admin-web/public/robots.txt
  apps/service-web/__tests__/seo-metadata.test.ts
  apps/service-web/__tests__/sitemap.test.ts
  apps/service-web/app/[locale]/about/page.tsx
  apps/service-web/app/[locale]/categories/[slug]/page.tsx
  apps/service-web/app/[locale]/layout.tsx
  apps/service-web/app/[locale]/magazines/[slug]/page.tsx
  apps/service-web/app/[locale]/page.tsx
  apps/service-web/app/[locale]/products/[slug]/page.tsx
  apps/service-web/app/[locale]/ranking/page.tsx
  apps/service-web/app/sitemap-entries.ts
  apps/service-web/lib/seo/metadata.ts
Due: ts, tsx

feat(seo): improve sitemap priority, structured data rich snippets, and robots safeguards (#373)
  apps/admin-web/app/layout.tsx
  apps/admin-web/public/robots.txt
  apps/service-web/__tests__/seo-metadata.test.ts
  apps/service-web/__tests__/sitemap.test.ts
  apps/service-web/app/[locale]/about/page.tsx
  apps/service-web/app/[locale]/categories/[slug]/page.tsx
  apps/service-web/app/[locale]/layout.tsx
  apps/service-web/app/[locale]/magazines/[slug]/page.tsx
  apps/service-web/app/[locale]/page.tsx
  apps/service-web/app/[locale]/products/[slug]/page.tsx
  apps/service-web/app/[locale]/ranking/page.tsx
  apps/service-web/app/sitemap-entries.ts
  apps/service-web/lib/seo/metadata.ts
Due: ts, tsx

feat(translation): resolve LLM translation timeout with SQS worker and model selection modal (#372)
  apps/admin-web/__tests__/llmModelsRoute.test.ts
  apps/admin-web/__tests__/modelSelectModal.test.tsx
  apps/admin-web/app/api/llm/models/route.ts
  apps/admin-web/features/settings/LlmSettingFormSection/LlmSettingFormSection.tsx
  apps/admin-web/features/settings/LlmSettingFormSection/ModelSelectModal.tsx
  apps/graphql-api/schema.graphql
  apps/graphql-api/scripts/build-lambda.cjs
  apps/graphql-api/scripts/migrations/0002_add_translation_jobs.sql
  apps/graphql-api/scripts/migrations/meta/_journal.json
  apps/graphql-api/src/app/resolvers.ts
  apps/graphql-api/src/functions/translation-worker.ts
  apps/graphql-api/sst.config.ts
  libs/__generated__/gql.ts
  libs/__generated__/graphql.ts
  libs/products/feature/src/TranslateProductButton/__tests__/useTranslateProductButton.test.ts
  libs/products/feature/src/TranslateProductButton/useTranslateProductButton.ts
  libs/shared/utils-llm/src/libs/LlmClient.ts
  libs/translation/datasource/src/entities/TranslationJobSchema.ts
  libs/translation/datasource/src/index.ts
  libs/translation/datasource/src/repositories/PostgresqlTranslationJobRepository.ts
  libs/translation/domain/src/entities/TranslationJobEntity.ts
  libs/translation/domain/src/index.ts
  libs/translation/domain/src/repositories/TranslationJobRepository.ts
  libs/translation/feature/src/Translation.mutation.resolver.ts
  libs/translation/feature/src/Translation.query.resolver.ts
  libs/translation/feature/src/__tests__/TranslationQueryResolver.test.ts
  libs/translation/feature/src/graphs/TranslationJob.ts
  libs/translation/feature/src/server.ts
  libs/translation/service/package.json
  libs/translation/service/src/TranslationJobService.ts
  libs/translation/service/src/TranslationQueueService.ts
  libs/translation/service/src/index.ts
  pnpm-lock.yaml
Due: ts, tsx, json

fix(graphql-api): grant SQS permissions to TranslationWorker to enable EventSourceMapping trigger
  apps/graphql-api/sst.config.ts
Due: ts

fix(graphql-api): grant SQS permissions to TranslationWorker to enable Lambda trigger (#375)
  apps/graphql-api/sst.config.ts
Due: ts

fix(graphql-api): set TranslationQueue visibility timeout to 6 minutes to exceed worker function timeout
  apps/graphql-api/sst.config.ts
Due: ts

fix(graphql-api): set TranslationQueue visibility timeout to 6 minutes (#376)
  apps/graphql-api/sst.config.ts
Due: ts

feat(graphql-api): migrate from API Gateway to CloudFront router for cost optimization
  apps/graphql-api/.gitignore
  apps/graphql-api/sst.config.ts
  graphql.config.yml
Due: ts

feat(graphql-api): migrate from API Gateway to CloudFront router for cost optimization (#377)
  apps/graphql-api/.gitignore
  apps/graphql-api/sst.config.ts
  graphql.config.yml
Due: ts

Path conditions:
  ts: any of: *.ts
  tsx: any of: *.tsx
  jsx: any of: *.jsx
  js: any of: *.js
  mdx: any of: *.mdx
  json: any of: *.json
