Repository croco-dev/darun: changes, and which lefthook commands are due for each by the changed paths.
All: ts, tsx, jsx, js, mdx, json

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    ts:
      glob: "*.ts"
      run: eslint --fix --quiet {staged_files}
    tsx:
      glob: "*.tsx"
      run: eslint --fix --quiet {staged_files}
    jsx:
      glob: "*.jsx"
      run: eslint --fix --quiet {staged_files}
    js:
      glob: "*.js"
      run: eslint --fix --quiet {staged_files}
    mdx:
      glob: "*.mdx"
      run: eslint --fix --quiet {staged_files}
    json:
      glob: "*.json"
      run: eslint --fix --quiet {staged_files}

post-merge:
  commands:
    install:
      run: pnpm install

refactor(ui): elevate card design system and improve translation resilience
  apps/service-web/messages/en.json
  apps/service-web/messages/ko.json
  libs/magazines/shell/src/shells/MagazineFeatureSection/MagazineFeatureSection.tsx
  libs/products/feature/src/Product.query.resolver.ts
  libs/products/shell/src/components/ProductCard/ProductCard.tsx
  libs/products/shell/src/components/RankedProductList/RankedProductList.tsx
  libs/products/shell/src/uis/ProductItem/ProductItem.tsx
  libs/translation/domain/src/services/TranslationService.ts
Due: ts, tsx, json

refactor(ui): refine global boxShadow elevation system and ambient diffusion
  libs/products/shell/src/shells/ProductTocSection/ProductTocSection.tsx
  libs/products/shell/src/uis/ProductItem/ProductItem.tsx
  tailwind.config.ts
Due: ts, tsx

refactor(ui): extract VoteCountBadge and deduplicate What is Darun cards
  apps/service-web/app/[locale]/page.tsx
  libs/products/shell/src/__tests__/ProductCard.test.tsx
  libs/products/shell/src/__tests__/RankedProductList.test.tsx
  libs/products/shell/src/components/ProductCard/ProductCard.tsx
  libs/products/shell/src/components/RankedProductList/RankedProductList.tsx
  libs/products/shell/src/uis/VoteCountBadge/VoteCountBadge.tsx
  libs/products/shell/src/uis/VoteCountBadge/index.ts
  libs/products/shell/src/uis/index.ts
Due: ts, tsx

fix(voting): handle duplicate-vote and rate-limit domain errors gracefully
  libs/products/shell/src/components/ProductUserAction/useProductUserAction.ts
Due: ts

style: format useProductUserAction.ts
  libs/products/shell/src/components/ProductUserAction/useProductUserAction.ts
Due: ts

refactor(ui): elevate visual craftsmanship, typography, and card design (#353)
  apps/service-web/app/[locale]/page.tsx
  apps/service-web/messages/en.json
  apps/service-web/messages/ko.json
  libs/magazines/shell/src/shells/MagazineFeatureSection/MagazineFeatureSection.tsx
  libs/products/feature/src/Product.query.resolver.ts
  libs/products/shell/src/__tests__/ProductCard.test.tsx
  libs/products/shell/src/__tests__/RankedProductList.test.tsx
  libs/products/shell/src/components/ProductCard/ProductCard.tsx
  libs/products/shell/src/components/ProductLinks/ProductLinks.tsx
  libs/products/shell/src/components/ProductUserAction/ProductUserAction.tsx
  libs/products/shell/src/components/ProductUserAction/useProductUserAction.ts
  libs/products/shell/src/components/RankedProductList/RankedProductList.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSection.tsx
  libs/products/shell/src/shells/MainHeroBanner/MainHeroBanner.tsx
  libs/products/shell/src/shells/ProductTocSection/ProductTocSection.tsx
  libs/products/shell/src/shells/RecentProductSection/RecentProductSection.tsx
  libs/products/shell/src/shells/TrendingProductSection/TrendingProductSection.tsx
  libs/products/shell/src/uis/ProductItem/ProductItem.tsx
  libs/products/shell/src/uis/VoteCountBadge/VoteCountBadge.tsx
  libs/products/shell/src/uis/VoteCountBadge/index.ts
  libs/products/shell/src/uis/index.ts
  libs/search/shell/src/shells/SearchEmptyState/CategoryShortcutGrid/CategoryShortcutGrid.tsx
  libs/search/shell/src/shells/SearchEmptyState/PopularQueriesStripe/PopularQueriesStripe.tsx
  libs/shared/ui-layout/src/libs/Header/Header.tsx
  libs/shared/ui-layout/src/libs/HeaderSearchForm/HeaderSearchForm.tsx
  libs/shared/ui/src/components/Button.tsx
  libs/shared/ui/src/components/Chip.tsx
  libs/shared/ui/src/components/SectionHeader.tsx
  libs/shared/ui/src/components/icons.tsx
  libs/translation/domain/src/services/TranslationService.ts
  tailwind.config.ts
Due: ts, tsx, json

refactor(ui): elevate visual hierarchy, product detail layout, and navigation polish
  libs/pages/shell/src/ProductDetailPage.tsx
  libs/products/shell/src/components/ProductLinks/ProductLinks.tsx
  libs/products/shell/src/components/ProductTableOfContent/ProductTableOfContent.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSection.tsx
  libs/products/shell/src/shells/CategoryProductSection/CategoryProductSection.tsx
  libs/products/shell/src/shells/MainHeroBanner/MainHeroBanner.tsx
  libs/products/shell/src/shells/ProductAlternativeSection/ProductAlternativeSection.tsx
  libs/products/shell/src/shells/ProductDescriptionSection/ProductDescriptionSection.tsx
  libs/products/shell/src/shells/ProductDetailCompanySection/ProductDetailCompanySection.tsx
  libs/products/shell/src/shells/ProductDetailFeatureSection/ProductDetailFeatureSection.tsx
  libs/products/shell/src/shells/ProductPhotoSection/ProductPhotoSection.tsx
  libs/products/shell/src/shells/ProductSummaryLink/ProductSummaryLink.tsx
  libs/products/shell/src/uis/ProductItem/ProductItem.tsx
  libs/search/shell/src/components/SearchProductList/SearchProductList.tsx
  libs/search/shell/src/components/SearchProductListSkeleton/SearchProductListSkeleton.tsx
Due: tsx

style(ui): refine card hover interactions, view transitions, toast exit, and motion accessibility
  apps/service-web/app/[locale]/page.tsx
  apps/service-web/app/[locale]/products/[slug]/loading.tsx
  apps/service-web/app/globals.css
  libs/magazines/feature/src/ArticleCard/ArticleCard.tsx
  libs/products/feature/src/GenerateProductDescriptionButton/GenerateProductDescriptionButton.tsx
  libs/products/feature/src/PublishProductButton/PublishProductButton.tsx
  libs/products/shell/src/components/AlternativeProductList/AlternativeProductList.tsx
  libs/products/shell/src/components/FAQSection/FAQSection.tsx
  libs/products/shell/src/components/ProductCard/ProductCard.tsx
  libs/products/shell/src/components/ProductLinks/ProductLinks.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSection.tsx
  libs/products/shell/src/uis/ProductItem/ProductItem.tsx
  libs/products/shell/src/uis/VoteCountBadge/VoteCountBadge.tsx
  libs/shared/ui/src/components/Toast/Toast.tsx
  tailwind.config.ts
Due: ts, tsx

style(ui): eliminate visual inconsistencies in borders, typography, and spacing
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/page.tsx
  apps/service-web/app/[locale]/page.tsx
  apps/service-web/app/[locale]/products/[slug]/loading.tsx
  apps/service-web/app/[locale]/ranking/loading.tsx
  libs/products/shell/src/components/ProductCard/ProductCard.tsx
  libs/products/shell/src/components/ProductCompany/ProductCompany.tsx
  libs/products/shell/src/components/ProductFeatureList/ProductFeatureList.tsx
  libs/products/shell/src/components/ProductPhotos/ProductPhotos.tsx
  libs/products/shell/src/components/ProductUserAction/ProductUserAction.tsx
  libs/products/shell/src/components/RankedProductList/RankedProductList.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSection.tsx
  libs/products/shell/src/shells/MainHeroBanner/MainHeroBanner.tsx
  libs/products/shell/src/shells/ProductSummaryLink/ProductSummaryLink.tsx
  libs/products/shell/src/shells/RecentProductSection/RecentProductSkeleton.tsx
  libs/products/shell/src/shells/TrendingProductSection/TrendingProductSkeleton.tsx
  libs/products/shell/src/uis/FeatureItem/FeatureItem.tsx
  libs/products/shell/src/uis/ProductItem/ProductItem.tsx
  libs/products/shell/src/uis/VoteCountBadge/VoteCountBadge.tsx
  libs/search/shell/src/components/SearchProductListSkeleton/SearchProductListSkeleton.tsx
  libs/search/shell/src/shells/SearchEmptyState/CategoryShortcutGrid/CategoryShortcutGrid.tsx
  libs/search/shell/src/shells/SearchEmptyState/PopularQueriesStripe/PopularQueriesStripe.tsx
  libs/shared/ui-layout/src/libs/Header/Header.tsx
  libs/shared/ui-layout/src/libs/HeaderSearchForm/HeaderSearchForm.tsx
  libs/shared/ui/src/components/Breadcrumb.tsx
  libs/shared/ui/src/components/Button.tsx
  libs/shared/ui/src/components/Chip.tsx
  libs/shared/ui/src/components/PageHeading.tsx
  libs/shared/ui/src/components/SectionHeader.tsx
  libs/shared/ui/src/components/Toast/Toast.tsx
Due: tsx

style: align code style with project eslint prettier rules
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/page.tsx
  apps/service-web/app/[locale]/products/[slug]/loading.tsx
  libs/products/shell/src/components/ProductCard/ProductCard.tsx
  libs/products/shell/src/components/ProductCompany/ProductCompany.tsx
  libs/products/shell/src/components/ProductFeatureList/ProductFeatureList.tsx
  libs/products/shell/src/components/ProductPhotos/ProductPhotos.tsx
  libs/products/shell/src/components/ProductUserAction/ProductUserAction.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSection.tsx
  libs/products/shell/src/shells/MainHeroBanner/MainHeroBanner.tsx
  libs/products/shell/src/shells/ProductSummaryLink/ProductSummaryLink.tsx
  libs/products/shell/src/shells/RecentProductSection/RecentProductSkeleton.tsx
  libs/products/shell/src/shells/TrendingProductSection/TrendingProductSkeleton.tsx
  libs/products/shell/src/uis/FeatureItem/FeatureItem.tsx
  libs/search/shell/src/components/SearchProductListSkeleton/SearchProductListSkeleton.tsx
  libs/search/shell/src/shells/SearchEmptyState/CategoryShortcutGrid/CategoryShortcutGrid.tsx
  libs/search/shell/src/shells/SearchEmptyState/PopularQueriesStripe/PopularQueriesStripe.tsx
  libs/shared/ui-layout/src/libs/Header/Header.tsx
  libs/shared/ui-layout/src/libs/HeaderSearchForm/HeaderSearchForm.tsx
  libs/shared/ui/src/components/Breadcrumb.tsx
  libs/shared/ui/src/components/Button.tsx
  libs/shared/ui/src/components/Chip.tsx
  libs/shared/ui/src/components/PageHeading.tsx
  libs/shared/ui/src/components/SectionHeader.tsx
  libs/shared/ui/src/components/Toast/Toast.tsx
Due: tsx

style(ranking): redesign ranking card architecture with aligned header, full-width summary, and podium styling
  apps/service-web/app/[locale]/ranking/loading.tsx
  libs/products/shell/src/components/RankedProductList/RankedProductList.tsx
  libs/products/shell/src/uis/ProductItem/ProductItem.tsx
  libs/products/shell/src/uis/VoteCountBadge/VoteCountBadge.tsx
Due: tsx

style(ui): unify border tokens, fix phantom hover states, and elevate empty search cards
  libs/magazines/shell/src/shells/MagazineInfoSection/MagazineInfoSection.tsx
  libs/products/feature/src/ProductListTable/ProductListTable.tsx
  libs/products/shell/src/components/FAQSection/FAQSection.tsx
  libs/products/shell/src/components/ProductAlternativeList/ProductAlternativeList.tsx
  libs/products/shell/src/components/RankedProductList/RankedProductList.tsx
  libs/products/shell/src/uis/ProductFeatureGridList/ProductFeatureGridList.tsx
  libs/products/shell/src/uis/VoteCountBadge/VoteCountBadge.tsx
  libs/search/shell/src/components/SearchProductList/SearchProductList.tsx
  libs/shared/ui-layout/src/LocaleToggle/LocaleToggle.tsx
Due: tsx

refactor(ui): polish visual hierarchy, typography, interactions, and breadcrumbs (Part 9)
  apps/service-web/app/[locale]/about/page.tsx
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/page.tsx
  apps/service-web/app/[locale]/loading.tsx
  apps/service-web/app/[locale]/magazines/[slug]/loading.tsx
  apps/service-web/app/[locale]/magazines/[slug]/page.tsx
  apps/service-web/app/[locale]/page.tsx
  apps/service-web/messages/en.json
  apps/service-web/messages/ko.json
  libs/magazines/feature/src/ArticleCard/ArticleCard.tsx
  libs/magazines/shell/src/shells/MagazineFeatureSection/MagazineFeatureSection.tsx
  libs/pages/shell/src/MagazineContentPage.tsx
  libs/pages/shell/src/SearchProductPage.tsx
  libs/products/shell/src/components/ProductCompany/ProductCompany.tsx
  libs/products/shell/src/components/ProductDescription/ProductDescription.tsx
  libs/products/shell/src/components/ProductFeatureList/ProductFeatureList.test.tsx
  libs/products/shell/src/components/ProductFeatureList/ProductFeatureList.tsx
  libs/products/shell/src/shells/RankedProductSection/RankedProductSection.tsx
  libs/products/shell/src/shells/RecentProductSection/RecentProductSection.tsx
  libs/products/shell/src/uis/FeatureItem/FeatureItem.tsx
  libs/products/shell/src/uis/VoteCountBadge/VoteCountBadge.tsx
  libs/shared/ui-layout/src/libs/Header/Header.tsx
  libs/shared/ui-layout/src/libs/Header/LanguageSwitcher.tsx
  libs/shared/ui-layout/src/libs/Header/useHeader.ts
  libs/shared/ui-layout/src/libs/HeaderLoginButton/HeaderLoginButton.tsx
  libs/shared/ui-layout/src/libs/HeaderSearchForm/HeaderSearchForm.tsx
  libs/shared/ui/src/components/Button.tsx
Due: ts, tsx, json

style: polish visual craft and accessibility across web application (part 10)
  apps/service-web/app/[locale]/error.tsx
  apps/service-web/app/[locale]/not-found.tsx
  apps/service-web/app/[locale]/search/error.tsx
  libs/products/shell/src/components/AlternativeProductList/AlternativeProductList.tsx
  libs/products/shell/src/components/CompareButton/CompareButton.tsx
  libs/products/shell/src/components/ProductAlternativeList/ProductAlternativeList.tsx
  libs/products/shell/src/components/ProductCompany/ProductCompany.tsx
  libs/products/shell/src/components/ProductPhotos/ProductPhotos.tsx
  libs/products/shell/src/components/ProductTableOfContent/ProductTableOfContent.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSection.tsx
  libs/products/shell/src/shells/CategoryProductSection/CategoryProductSection.tsx
  libs/products/shell/src/uis/ProductItem/ProductItem.tsx
  libs/search/shell/src/components/SearchProductListSkeleton/SearchProductListSkeleton.tsx
  libs/search/shell/src/shells/SearchEmptyState/CategoryShortcutGrid/CategoryShortcutGrid.tsx
  libs/search/shell/src/shells/SearchEmptyState/PopularQueriesStripe/PopularQueriesStripe.tsx
  libs/shared/ui-layout/src/LocaleToggle/LocaleToggle.tsx
  libs/shared/ui-layout/src/libs/Footer/Footer.tsx
  libs/shared/ui/src/components/Breadcrumb.tsx
  libs/shared/ui/src/components/SectionHeader.tsx
  libs/shared/ui/src/components/Toast/Toast.tsx
Due: tsx

style: polish visual craft, accessibility, and markup validity (part 11)
  apps/service-web/app/[locale]/about/page.tsx
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/page.tsx
  libs/magazines/shell/src/shells/MagazineFeatureSection/MagazineFeatureSection.tsx
  libs/pages/shell/src/MagazineContentPage.tsx
  libs/products/shell/src/components/FAQSection/FAQSection.tsx
  libs/products/shell/src/components/ProductDescription/ProductDescription.tsx
  libs/products/shell/src/components/ProductLinks/ProductLinks.tsx
  libs/products/shell/src/components/ProductUserAction/ProductUserAction.tsx
  libs/products/shell/src/components/RecentProductList/RecentProductList.tsx
  libs/products/shell/src/shells/AlternativeProductSection/AlternativeProductSection.tsx
  libs/products/shell/src/shells/CategoryProductSection/CategoryProductSection.tsx
  libs/products/shell/src/shells/MainHeroBanner/MainHeroBanner.tsx
  libs/products/shell/src/shells/ProductAlternativeSection/ProductAlternativeSection.tsx
  libs/products/shell/src/shells/ProductTocSection/ProductTocSection.tsx
  libs/products/shell/src/shells/RelatedProductsSection/RelatedProductsSection.tsx
  libs/products/shell/src/uis/VoteCountBadge/VoteCountBadge.tsx
  libs/search/shell/src/components/SearchProductList/SearchProductList.tsx
  libs/shared/ui-layout/src/libs/Header/Header.tsx
  libs/shared/ui/src/components/Chip.tsx
  libs/shared/ui/src/components/Logo.tsx
Due: tsx

style: polish layout accessibility, tactile feedback, and markup standards (part 12)
  apps/service-web/app/[locale]/categories/[slug]/page.tsx
  apps/service-web/app/[locale]/error.tsx
  apps/service-web/app/[locale]/layout.tsx
  apps/service-web/app/[locale]/not-found.tsx
  apps/service-web/app/[locale]/search/error.tsx
  libs/products/shell/src/components/CompareButton/CompareButton.tsx
  libs/products/shell/src/components/ProductAlternativeList/ProductAlternativeList.tsx
  libs/products/shell/src/components/ProductCard/ProductCard.tsx
  libs/products/shell/src/components/ProductTableOfContent/ProductTableOfContent.tsx
  libs/products/shell/src/components/RankedProductList/RankedProductList.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSection.tsx
  libs/products/shell/src/uis/FeatureItem/FeatureItem.tsx
  libs/products/shell/src/uis/ProductItem/ProductItem.tsx
  libs/search/shell/src/components/SearchProductList/SearchProductList.tsx
  libs/search/shell/src/shells/SearchEmptyState/CategoryShortcutGrid/CategoryShortcutGrid.tsx
  libs/shared/ui-layout/src/Layout.tsx
  libs/shared/ui-layout/src/libs/Footer/Footer.tsx
  libs/shared/ui-layout/src/libs/Header/Header.tsx
  libs/shared/ui-layout/src/libs/HeaderSearchForm/HeaderSearchForm.tsx
  tailwind.config.ts
Due: ts, tsx

style: eliminate CLS layout shifts, dead links, and refine interaction craft (part 13)
  apps/service-web/app/[locale]/about/page.tsx
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/page.tsx
  apps/service-web/app/[locale]/products/[slug]/loading.tsx
  apps/service-web/app/[locale]/ranking/loading.tsx
  apps/service-web/app/[locale]/search/loading.tsx
  libs/magazines/feature/src/ArticleCard/ArticleCard.tsx
  libs/magazines/shell/src/shells/MagazineFeatureSection/MagazineFeatureSection.tsx
  libs/pages/shell/src/MagazineContentPage.tsx
  libs/products/shell/src/components/FAQSection/FAQSection.tsx
  libs/products/shell/src/components/ProductDescription/ProductDescription.tsx
  libs/products/shell/src/components/ProductPhotos/ProductPhotos.tsx
  libs/products/shell/src/components/ProductUserAction/ProductUserAction.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSkeleton.tsx
  libs/products/shell/src/shells/MainHeroBanner/MainHeroBanner.tsx
  libs/products/shell/src/shells/ProductAlternativeSection/ProductAlternativeSection.tsx
  libs/products/shell/src/shells/ProductSummary/ProductSummary.tsx
  libs/products/shell/src/shells/ProductTocSection/ProductTocSection.tsx
  libs/products/shell/src/shells/RecentProductSection/RecentProductSkeleton.tsx
  libs/products/shell/src/shells/TrendingProductSection/TrendingProductSkeleton.tsx
  libs/search/shell/src/shells/SearchEmptyState/TrendingProductPreview/TrendingProductPreview.tsx
Due: tsx

style: eliminate home CLS, center page headings, and standardize interactive focus states (part 14)
  apps/service-web/app/[locale]/loading.tsx
  libs/magazines/shell/src/shells/MagazineFeatureSection/MagazineFeatureSection.tsx
  libs/pages/shell/src/MagazineContentPage.tsx
  libs/pages/shell/src/ProductAlternativePage.tsx
  libs/products/shell/src/components/AlternativeProductList/AlternativeProductList.tsx
  libs/products/shell/src/components/ProductAlternativeList/ProductAlternativeList.tsx
  libs/products/shell/src/components/ProductCompany/ProductCompany.tsx
  libs/products/shell/src/components/ProductLinks/ProductLinks.tsx
  libs/products/shell/src/components/ProductUserAction/ProductUserAction.tsx
  libs/products/shell/src/shells/AlternativeProductSection/AlternativeProductSection.tsx
  libs/products/shell/src/shells/CategoryProductSection/CategoryProductSection.tsx
  libs/products/shell/src/uis/ProductItem/ProductItem.tsx
  libs/search/shell/src/shells/SearchEmptyState/PopularQueriesStripe/PopularQueriesStripe.tsx
  libs/shared/ui-layout/src/libs/Footer/Footer.tsx
  libs/shared/ui-layout/src/libs/Header/Header.tsx
  libs/shared/ui-layout/src/libs/HeaderLoginButton/HeaderLoginButton.tsx
  libs/shared/ui/src/components/Breadcrumb.tsx
  libs/shared/ui/src/components/PageHeading.tsx
Due: tsx

feat(translation): implement LLM product translation pipeline and admin trigger
  apps/admin-web/features/products/ProductDetailInfoSection/ProductDetailInfoSection.tsx
  apps/graphql-api/schema.graphql
  libs/products/feature/src/ProductPublishMutationResolver.ts
  libs/products/feature/src/TranslateProductButton/TranslateProductButton.tsx
  libs/products/feature/src/TranslateProductButton/__tests__/useTranslateProductButton.test.ts
  libs/products/feature/src/TranslateProductButton/index.ts
  libs/products/feature/src/TranslateProductButton/useTranslateProductButton.ts
  libs/products/feature/src/__tests__/ProductPublishMutationResolver.test.ts
  libs/products/feature/src/index.ts
  libs/translation/domain/src/__tests__/TranslationJobService.test.ts
  libs/translation/feature/src/Translation.mutation.resolver.ts
  libs/translation/feature/src/__tests__/TranslationMutationResolver.test.ts
  libs/translation/service/src/TranslationJobService.ts
Due: ts, tsx

fix(translation): address CodeQL security alerts and update next to 16.3.5
  apps/service-web/__tests__/faq-section-a11y.test.ts
  libs/translation/service/src/TranslationJobService.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: ts

feat(translation): implement LLM product translation pipeline and admin trigger (#356)
  apps/admin-web/features/products/ProductDetailInfoSection/ProductDetailInfoSection.tsx
  apps/graphql-api/schema.graphql
  apps/service-web/__tests__/faq-section-a11y.test.ts
  libs/products/feature/src/ProductPublishMutationResolver.ts
  libs/products/feature/src/TranslateProductButton/TranslateProductButton.tsx
  libs/products/feature/src/TranslateProductButton/__tests__/useTranslateProductButton.test.ts
  libs/products/feature/src/TranslateProductButton/index.ts
  libs/products/feature/src/TranslateProductButton/useTranslateProductButton.ts
  libs/products/feature/src/__tests__/ProductPublishMutationResolver.test.ts
  libs/products/feature/src/index.ts
  libs/translation/domain/src/__tests__/TranslationJobService.test.ts
  libs/translation/feature/src/Translation.mutation.resolver.ts
  libs/translation/feature/src/__tests__/TranslationMutationResolver.test.ts
  libs/translation/service/src/TranslationJobService.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: ts, tsx

fix(admin-web): resolve uncaught TypeError in gql and add Suspense to products page
  apps/admin-web/app/products/page.tsx
  libs/products/feature/src/ProductLinkTable/ProductLinkTable.tsx
  libs/products/feature/src/ProductLinkTable/__tests__/useProductLinkTable.test.ts
  libs/products/feature/src/ProductLinkTable/useProductLinkTable.ts
Due: ts, tsx

style: format ProductListPage with prettier
  apps/admin-web/app/products/page.tsx
Due: tsx

fix(admin-web): add logo fallback in ProductListTable and root error boundary
  apps/admin-web/app/error.tsx
  libs/products/feature/src/ProductListTable/ProductListTable.tsx
Due: tsx

fix(admin-web): make ErrorPageProps readonly for SonarCloud
  apps/admin-web/app/error.tsx
Due: tsx

test(products-feature): fix typecheck in useProductLinkTable test
  libs/products/feature/src/ProductLinkTable/__tests__/useProductLinkTable.test.ts
Due: ts

style(admin-web): format error.tsx with prettier single quotes
  apps/admin-web/app/error.tsx
Due: tsx

fix(admin-web): resolve uncaught TypeError in gql and add Suspense to products page (#358)
  apps/admin-web/app/error.tsx
  apps/admin-web/app/products/page.tsx
  libs/products/feature/src/ProductLinkTable/ProductLinkTable.tsx
  libs/products/feature/src/ProductLinkTable/__tests__/useProductLinkTable.test.ts
  libs/products/feature/src/ProductLinkTable/useProductLinkTable.ts
  libs/products/feature/src/ProductListTable/ProductListTable.tsx
Due: ts, tsx

fix(translation): resolve type mismatch in TranslationJobService.test.ts and cleanup LlmSettingFormSection
  apps/admin-web/features/settings/LlmSettingFormSection/LlmSettingFormSection.tsx
  libs/translation/domain/src/__tests__/TranslationJobService.test.ts
Due: ts, tsx

fix(graphql-api): resolve lambda startup crash and elevate error observability across client and ui
  .github/workflows/Deploy.yaml
  apps/admin-web/app/container.ts
  apps/admin-web/app/error.tsx
  apps/admin-web/features/settings/LlmSettingFormSection/LlmSettingFormSection.tsx
  apps/graphql-api/__tests__/llmClientConfig.test.ts
  apps/graphql-api/package.json
  apps/graphql-api/scripts/migrate.ts
  apps/graphql-api/src/config/index.ts
  libs/companies/feature/src/AllCompanyListTable/AllCompanyListTable.tsx
  libs/shared/ui-admin/package.json
  libs/shared/ui-admin/src/AdminState.tsx
  libs/shared/ui-admin/src/__tests__/parseErrorInfo.test.ts
  libs/shared/ui-admin/src/index.ts
  libs/shared/utils-apollo-server/src/libs/createServer/createServer.ts
  libs/translation/datasource/src/repositories/PostgresqlLlmSettingRepository.ts
  libs/translation/service/src/TranslationJobService.ts
Due: ts, tsx, json

fix(graphql-api): resolve lambda startup crash and elevate error observability across client and ui (#360)
  .github/workflows/Deploy.yaml
  apps/admin-web/app/container.ts
  apps/admin-web/app/error.tsx
  apps/admin-web/features/settings/LlmSettingFormSection/LlmSettingFormSection.tsx
  apps/graphql-api/__tests__/llmClientConfig.test.ts
  apps/graphql-api/package.json
  apps/graphql-api/scripts/migrate.ts
  apps/graphql-api/src/config/index.ts
  libs/companies/feature/src/AllCompanyListTable/AllCompanyListTable.tsx
  libs/shared/ui-admin/package.json
  libs/shared/ui-admin/src/AdminState.tsx
  libs/shared/ui-admin/src/__tests__/parseErrorInfo.test.ts
  libs/shared/ui-admin/src/index.ts
  libs/shared/utils-apollo-server/src/libs/createServer/createServer.ts
  libs/translation/datasource/src/repositories/PostgresqlLlmSettingRepository.ts
  libs/translation/service/src/TranslationJobService.ts
Due: ts, tsx, json

fix(deploy): baseline existing database in migrate script and make 0001 idempotent
  .github/workflows/Deploy.yaml
  apps/graphql-api/scripts/migrate.ts
  apps/graphql-api/scripts/migrations/0001_silly_leopardon.sql
Due: ts

fix(deploy): baseline existing database in migrate script and unblock production deployment (#361)
  .github/workflows/Deploy.yaml
  apps/graphql-api/scripts/migrate.ts
  apps/graphql-api/scripts/migrations/0001_silly_leopardon.sql
Due: ts

fix(translation): resolve product translation hang, race conditions, and notification feedback
  apps/admin-web/__tests__/container.test.ts
  apps/admin-web/app/client.tsx
  apps/admin-web/app/container.ts
  apps/admin-web/app/layout.tsx
  libs/products/datasource/src/services/ProductDescriptionGeneratorImpl.ts
  libs/products/feature/src/TranslateProductButton/__tests__/useTranslateProductButton.test.ts
  libs/products/feature/src/TranslateProductButton/useTranslateProductButton.ts
  libs/shared/utils-llm/src/libs/LlmClient.ts
  libs/translation/domain/src/__tests__/TranslationJobService.test.ts
  libs/translation/service/src/TranslationJobService.ts
Due: ts, tsx
