Repository croco-dev/darun: changes, and which lefthook commands are due for each by the changed paths.
All: ts, tsx, jsx, js, mdx, json

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    ts:
      glob: "*.ts"
      run: eslint --fix --quiet {staged_files}
    tsx:
      glob: "*.tsx"
      run: eslint --fix --quiet {staged_files}
    jsx:
      glob: "*.jsx"
      run: eslint --fix --quiet {staged_files}
    js:
      glob: "*.js"
      run: eslint --fix --quiet {staged_files}
    mdx:
      glob: "*.mdx"
      run: eslint --fix --quiet {staged_files}
    json:
      glob: "*.json"
      run: eslint --fix --quiet {staged_files}

post-merge:
  commands:
    install:
      run: pnpm install

fix(images): verify CloudinaryImageDeleter destroy result
  libs/images/datasource/src/services/CloudinaryImageDeleter.ts
  libs/images/datasource/src/services/__tests__/CloudinaryImageDeleter.test.ts
Due: ts

fix(products-domain): add VOTE_IP_SALT to test script for turbo compat
  libs/products/domain/package.json
Due: json

fix(typecheck): resolve remaining type errors in tests, sitemap, and resolver
  apps/service-web/app/sitemap-entries.ts
  apps/service-web/app/sitemap.ts
  libs/images/datasource/src/services/CloudinaryImageDeleter.ts
  libs/images/datasource/src/services/__tests__/CloudinaryImageDeleter.test.ts
  libs/products/feature/src/EditProductDescription/__tests__/useEditProductDescription.test.ts
  libs/products/feature/src/EditProductLinkItem/__tests__/useEditProductLinkItem.test.ts
  libs/products/feature/src/GenerateProductDescriptionButton/__tests__/useGenerateProductDescriptionButton.test.ts
  libs/products/feature/src/Product.query.resolver.ts
  libs/products/feature/src/ProductListTable/__tests__/useProductListTable.test.ts
  pnpm-lock.yaml
Due: ts

chore(tests): replace as any with proper types in test files
  libs/products/domain/src/__tests__/GetRankedProducts.test.ts
  libs/products/feature/src/__tests__/Product.query.resolver.test.ts
Due: ts

chore: fix import order in GetRankedProducts test
  libs/products/domain/src/__tests__/GetRankedProducts.test.ts
Due: ts

chore(datasource): add vitest config and update test script
  libs/products/datasource/package.json
  libs/products/datasource/vitest.config.ts
  libs/recommendation/datasource/package.json
  libs/recommendation/datasource/vitest.config.ts
Due: ts, json

fix(datasource): clear DataLoader cache after product mutations
  libs/products/datasource/src/repositories/PostgresqlProductFeatureRepository.ts
  libs/products/datasource/src/repositories/PostgresqlProductLinkRepository.ts
  libs/products/datasource/src/repositories/PostgresqlProductRepository.ts
  libs/products/datasource/src/repositories/PostgresqlProductScreenshotRepository.ts
  libs/recommendation/datasource/src/repositories/PostgresqlAlternativeProductRepository.ts
Due: ts

test(datasource): add DataLoader cache invalidation tests for ProductFeature and ProductLink repositories
  libs/products/datasource/src/__tests__/PostgresqlProductFeatureProductLinkRepository.test.ts
Due: ts

test(datasource): add DataLoader cache invalidation tests for all repositories
  libs/products/datasource/src/__tests__/PostgresqlProductRepository.test.ts
  libs/products/datasource/src/__tests__/PostgresqlProductScreenshotRepository.test.ts
  libs/products/datasource/src/repositories/PostgresqlProductRepository.ts
  libs/products/datasource/src/repositories/PostgresqlProductScreenshotRepository.ts
  libs/products/datasource/vitest.config.ts
  libs/recommendation/datasource/src/__tests__/PostgresqlAlternativeProductRepository.test.ts
  libs/recommendation/datasource/src/repositories/PostgresqlAlternativeProductRepository.ts
Due: ts

chore(pnpm): migrate .npmrc settings to pnpm-workspace.yaml
  .npmrc
  package.json
  pnpm-workspace.yaml
Due: json

chore(deps): upgrade turborepo to 2.9.14
  package.json
  pnpm-lock.yaml
Due: json

chore(pnpm): upgrade to pnpm 11.2.2 via codemod
  package.json
  pnpm-lock.yaml
Due: json

chore(pnpm): add security overrides, minimumReleaseAge, strictDepBuilds
  pnpm-workspace.yaml
Due: none

fix(build): Next.js 16 Turbopack + Apollo Client 4 build fixes
  apps/admin-web/app/companies/page.tsx
  apps/admin-web/app/layout.tsx
  apps/admin-web/app/products/page.tsx
  apps/admin-web/next.config.mjs
  apps/service-web/app/[locale]/layout.tsx
  apps/visual-web/app/layout.tsx
  libs/pages/shell/src/ProductAlternativePage.tsx
  libs/shared/utils-apollo-client/client/src/index.ts
Due: ts, tsx

fix(pnpm): clean up allowBuilds placeholder
  pnpm-workspace.yaml
Due: none

chore(deps): update typescript-eslint to 8.59.4
  apps/admin-web/package.json
  apps/service-web/package.json
  apps/visual-web/package.json
  libs/shared/utils-eslint-config/package.json
  package.json
  pnpm-lock.yaml
Due: json

fix(datasource): clear DataLoader cache after product mutations (#312)
  libs/products/datasource/package.json
  libs/products/datasource/src/__tests__/PostgresqlProductFeatureProductLinkRepository.test.ts
  libs/products/datasource/src/__tests__/PostgresqlProductRepository.test.ts
  libs/products/datasource/src/__tests__/PostgresqlProductScreenshotRepository.test.ts
  libs/products/datasource/src/repositories/PostgresqlProductFeatureRepository.ts
  libs/products/datasource/src/repositories/PostgresqlProductLinkRepository.ts
  libs/products/datasource/src/repositories/PostgresqlProductRepository.ts
  libs/products/datasource/src/repositories/PostgresqlProductScreenshotRepository.ts
  libs/products/datasource/vitest.config.ts
  libs/recommendation/datasource/package.json
  libs/recommendation/datasource/src/__tests__/PostgresqlAlternativeProductRepository.test.ts
  libs/recommendation/datasource/src/repositories/PostgresqlAlternativeProductRepository.ts
  libs/recommendation/datasource/vitest.config.ts
Due: ts, json

design: add design tokens and migrate arbitrary values
  apps/service-web/app/globals.css
  libs/magazines/feature/src/ArticleCard/ArticleCard.tsx
  libs/products/shell/src/components/ProductCard/ProductCard.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSection.tsx
  libs/products/shell/src/shells/MainHeroBanner/MainHeroBanner.tsx
  libs/products/shell/src/shells/TrendingProductSection/TrendingProductSection.tsx
  libs/products/shell/src/uis/ProductItem/ProductItem.tsx
  libs/shared/ui-layout/src/Layout.tsx
  libs/shared/ui-layout/src/libs/Footer/Footer.tsx
  libs/shared/ui-layout/src/libs/HeaderSearchForm/HeaderSearchForm.tsx
  libs/shared/ui/src/components/Button.tsx
  libs/shared/ui/src/components/Chip.tsx
  tailwind.config.ts
Due: ts, tsx

feat: 5개 핵심 알고리즘 종합 개선
  libs/products/datasource/src/repositories/PostgresqlProductRepository.ts
  libs/products/domain/src/__tests__/GetAllProducts.test.ts
  libs/products/domain/src/__tests__/GetRankedProducts.test.ts
  libs/products/domain/src/index.ts
  libs/products/domain/src/services/RankingCache.ts
  libs/products/domain/src/services/RankingService.ts
  libs/products/domain/src/usecases/GetAllProducts.ts
  libs/products/domain/src/usecases/GetRankedProducts.ts
  libs/recommendation/domain/src/services/AutoRecommender.ts
  libs/recommendation/domain/src/usecases/GetAlternativeProducts.test.ts
  libs/recommendation/domain/src/usecases/GetAlternativeProducts.ts
  libs/search/datasource/src/entities/SearchableProductSchema.ts
  libs/search/datasource/src/repositories/MongodbSearchableProductRepository.ts
  libs/search/domain/src/__tests__/SearchProduct.test.ts
  libs/search/domain/src/__tests__/SearchableProduct.test.ts
  libs/search/domain/src/entities/SearchableProduct.ts
  libs/search/domain/src/services/SearchRanker.ts
  libs/search/domain/src/services/SynonymExpander.ts
  libs/search/domain/src/usecases/IndexProduct.ts
  libs/search/domain/src/usecases/SearchProduct.ts
  libs/voting/domain/src/__tests__/UpvoteProduct.test.ts
  libs/voting/domain/src/errors/VoteError.ts
  libs/voting/domain/src/usecases/UpvoteProduct.ts
Due: ts

fix: MongoDB connection race condition in Lambda cold start
  apps/graphql-api/__tests__/database.test.ts
  apps/graphql-api/src/config/database.ts
  libs/products/datasource/src/repositories/PostgresqlProductTagRepository.ts
  libs/shared/utils-apollo-server/src/libs/createLambdaHandler/__tests__/createLambdaHandler.test.ts
  libs/shared/utils-apollo-server/src/libs/createLambdaHandler/createLambdaHandler.ts
Due: ts

fix: reset mongooseConnectionPromise on connection failure for retry
  apps/graphql-api/src/config/database.ts
Due: ts

fix(product-admin): stabilize mutation/cache/notification/pagination state boundary
  libs/products/feature/src/EditProductDescription/useEditProductDescription.ts
  libs/products/feature/src/EditProductFeatureItem/__tests__/useEditProductFeatureItem.test.ts
  libs/products/feature/src/EditProductFeatureItem/useEditProductFeatureItem.ts
  libs/products/feature/src/EditProductInfo/__tests__/useEditProductInfo.test.ts
  libs/products/feature/src/EditProductInfo/useEditProductInfo.ts
  libs/products/feature/src/EditProductLinkItem/__tests__/useEditProductLinkItem.test.ts
  libs/products/feature/src/EditProductLinkItem/useEditProductLinkItem.ts
  libs/products/feature/src/NewProductFeatureForm/useNewProductFeatureForm.ts
  libs/products/feature/src/NewProductLinkForm/useNewProductLinkForm.ts
  libs/products/feature/src/NewProductScreenshotForm/useNewProductScreenshotForm.ts
  libs/products/feature/src/ProductListTable/__tests__/useProductListTable.test.ts
  libs/products/feature/src/ProductListTable/useProductListTable.ts
Due: ts

feat: add compare entry points to search, detail, and alternative surfaces
  apps/service-web/tests/compare-discovery.spec.ts
  libs/pages/shell/src/ProductDetailPage.tsx
  libs/products/shell/src/components/AlternativeProductList/AlternativeProductList.test.tsx
  libs/products/shell/src/components/AlternativeProductList/AlternativeProductList.tsx
  libs/products/shell/src/components/CompareButton/CompareButton.test.tsx
  libs/products/shell/src/components/CompareButton/CompareButton.tsx
  libs/products/shell/src/components/ProductAlternativeList/ProductAlternativeList.test.tsx
  libs/products/shell/src/components/ProductAlternativeList/ProductAlternativeList.tsx
  libs/products/shell/src/components/ProductInformation/useProductInformation.ts
  libs/products/shell/src/components/index.ts
  libs/products/shell/vitest.config.ts
  libs/search/shell/package.json
  libs/search/shell/src/components/SearchProductList/SearchProductList.test.tsx
  libs/search/shell/src/components/SearchProductList/SearchProductList.tsx
  libs/search/shell/vitest.config.ts
  libs/shared/analytics/client/src/ProductDetailViewTracker.tsx
  libs/shared/analytics/client/src/__tests__/events.test.ts
  libs/shared/analytics/client/src/__tests__/posthog.test.ts
  libs/shared/analytics/client/src/index.ts
  vitest.workspace.ts
Due: ts, tsx, json

feat: activate PostHog analytics and add source tracking to all product links
  apps/service-web/app/client.tsx
  libs/products/shell/src/components/AlternativeProductList/AlternativeProductList.tsx
  libs/products/shell/src/components/ProductAlternativeList/ProductAlternativeList.tsx
  libs/products/shell/src/components/RankedProductList/RankedProductList.tsx
  libs/products/shell/src/components/RecentProductList/RecentProductList.tsx
  libs/products/shell/src/shells/CategoryProductSection/CategoryProductSection.tsx
  libs/products/shell/src/shells/RelatedProductsSection/RelatedProductsSection.tsx
  libs/products/shell/src/shells/TrendingProductSection/TrendingProductSection.tsx
  libs/search/shell/src/shells/SearchEmptyState/TrendingProductPreview/TrendingProductPreview.tsx
Due: tsx

feat(discovery): 랭킹/검색/추천 알고리즘 개선
  libs/products/datasource/src/repositories/PostgresqlProductTagRepository.ts
  libs/products/domain/src/__tests__/GetAllProducts.test.ts
  libs/products/domain/src/__tests__/GetRankedProducts.test.ts
  libs/products/domain/src/repositories/ProductTagRepository.ts
  libs/products/domain/src/services/RankingCache.ts
  libs/products/domain/src/usecases/GetRankedProducts.ts
  libs/products/feature/src/Product.mutation.resolver.ts
  libs/products/feature/src/ProductCoreMutationResolver.ts
  libs/products/feature/src/ProductPublishMutationResolver.ts
  libs/products/feature/src/__tests__/Product.query.resolver.test.ts
  libs/recommendation/domain/src/services/AutoRecommender.ts
  libs/recommendation/domain/src/usecases/GetAlternativeProducts.test.ts
  libs/search/datasource/src/entities/SearchableProductSchema.ts
  libs/search/datasource/src/repositories/MongodbSearchableProductRepository.ts
  libs/search/domain/src/__tests__/SearchProduct.test.ts
  libs/search/domain/src/entities/SearchableProduct.ts
  libs/search/domain/src/repositories/SearchableProductRepository.ts
  libs/search/domain/src/services/SearchRanker.ts
  libs/search/domain/src/usecases/IndexProduct.ts
  libs/search/domain/src/usecases/SearchProduct.ts
Due: ts

design: 공개 서비스 웹 디자인 완성도 개선
  apps/service-web/app/[locale]/categories/[slug]/page.tsx
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/page.tsx
  apps/service-web/app/[locale]/error.tsx
  apps/service-web/app/[locale]/loading.tsx
  apps/service-web/app/[locale]/not-found.tsx
  apps/service-web/app/global-error.tsx
  libs/pages/shell/src/HomePage.tsx
  libs/pages/shell/src/ProductAlternativePage.tsx
  libs/pages/shell/src/ProductDetailPage.tsx
  libs/pages/shell/src/RankingPage.tsx
  libs/pages/shell/src/SearchProductPage.tsx
  libs/products/shell/src/__tests__/useProductTableOfContent.test.ts
  libs/products/shell/src/components/FAQSection/FAQSection.tsx
  libs/products/shell/src/components/ProductCard/ProductCard.tsx
  libs/products/shell/src/components/ProductTableOfContent/useProductTableOfContent.ts
  libs/products/shell/src/shells/AlternativeProductSection/AlternativeProductSection.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSection.tsx
  libs/products/shell/src/shells/CategoryNavigationSection/CategoryNavigationSkeleton.tsx
  libs/products/shell/src/shells/CategoryProductSection/CategoryProductSection.tsx
  libs/products/shell/src/shells/ProductAlternativeSection/ProductAlternativeSection.tsx
  libs/products/shell/src/shells/ProductDescriptionSection/ProductDescriptionSection.tsx
  libs/products/shell/src/shells/ProductDetailCompanySection/ProductDetailCompanySection.tsx
  libs/products/shell/src/shells/ProductDetailFeatureSection/ProductDetailFeatureSection.tsx
  libs/products/shell/src/shells/ProductPhotoSection/ProductPhotoSection.tsx
  libs/products/shell/src/shells/RankedProductSection/RankedProductSection.tsx
  libs/products/shell/src/shells/RecentProductSection/RecentProductSection.tsx
  libs/products/shell/src/shells/RecentProductSection/RecentProductSkeleton.tsx
  libs/products/shell/src/shells/RelatedProductsSection/RelatedProductsSection.tsx
  libs/products/shell/src/shells/TrendingProductSection/TrendingProductSection.tsx
  libs/products/shell/src/shells/TrendingProductSection/TrendingProductSkeleton.tsx
  libs/products/shell/src/uis/ProductItem/ProductItem.tsx
  libs/search/shell/src/components/SearchProductList/SearchProductList.tsx
  libs/search/shell/src/components/SearchProductListSkeleton/SearchProductListSkeleton.tsx
  libs/search/shell/src/shells/SearchEmptyState/CategoryShortcutGrid/CategoryShortcutGrid.tsx
  libs/search/shell/src/shells/SearchEmptyState/PopularQueriesStripe/PopularQueriesStripe.tsx
  libs/search/shell/src/shells/SearchEmptyState/TrendingProductPreview/TrendingProductPreview.tsx
  libs/shared/ui-layout/src/libs/Header/Header.tsx
  libs/shared/ui-layout/src/libs/HeaderSearchForm/HeaderSearchForm.tsx
  libs/shared/ui/src/components/Button.tsx
  libs/shared/ui/src/components/SectionWrapper.tsx
Due: ts, tsx

style(service-web): 공개 서비스 웹 시각 표면 연속성 개선
  apps/service-web/__tests__/faq-section-a11y.test.ts
  apps/service-web/app/[locale]/compare/[slug1]/[slug2]/page.tsx
  apps/service-web/app/globals.css
  apps/service-web/tests/compare-discovery.spec.ts
  apps/service-web/tests/faq-accessibility.spec.ts
  apps/service-web/tests/product-detail-surface.spec.ts
  apps/service-web/tests/search-surface.spec.ts
  libs/products/shell/src/components/FAQSection/FAQSection.tsx
  libs/products/shell/src/components/ProductCard/ProductCard.tsx
  libs/products/shell/src/shells/AlternativeProductSection/AlternativeProductSection.tsx
  libs/products/shell/src/shells/ProductAlternativeSection/ProductAlternativeSection.tsx
  libs/products/shell/src/shells/ProductDescriptionSection/ProductDescriptionSection.tsx
  libs/products/shell/src/shells/ProductDetailCompanySection/ProductDetailCompanySection.tsx
  libs/products/shell/src/shells/ProductDetailFeatureSection/ProductDetailFeatureSection.tsx
  libs/products/shell/src/shells/ProductPhotoSection/ProductPhotoSection.tsx
  libs/search/shell/src/components/SearchProductList/SearchProductList.tsx
  vitest.config.ts
Due: ts, tsx

fix(service-web): converge residual card shells and integrate toast system
  apps/service-web/app/client.tsx
  libs/products/shell/src/components/AlternativeProductList/AlternativeProductList.tsx
  libs/products/shell/src/components/ProductAlternativeList/ProductAlternativeList.tsx
  libs/products/shell/src/components/ProductUserAction/ProductUserAction.test.tsx
  libs/products/shell/src/components/ProductUserAction/ProductUserAction.tsx
  libs/products/shell/src/shells/AlternativeProductSection/AlternativeProductSection.tsx
  libs/products/shell/src/shells/ProductAlternativeSection/ProductAlternativeSection.tsx
  libs/shared/ui/src/components/Toast/Toast.tsx
  libs/shared/ui/src/index.ts
Due: ts, tsx

feat(admin): unify content management CRUD visual hierarchy and primitive contract
  apps/admin-web/app/auth/logout/page.tsx
  apps/admin-web/app/companies/page.tsx
  apps/admin-web/app/magazines/page.tsx
  apps/admin-web/app/not-found.tsx
  apps/admin-web/app/page.tsx
  apps/admin-web/features/auth/LogoutButton/LogoutButton.tsx
  apps/admin-web/features/magazines/MagazinesList/MagazinesList.tsx
  apps/admin-web/features/products/NewProductLinkSection/NewProductLinkSection.tsx
  apps/admin-web/features/products/ProductDetailAlternativeSection/ProductDetailAlternativeSection.tsx
  apps/admin-web/features/products/ProductDetailDescriptionSection/ProductDetailDescriptionSection.tsx
  apps/admin-web/features/products/ProductDetailFeatureSection/ProductDetailFeatureSection.tsx
  apps/admin-web/features/products/ProductDetailInfoSection/ProductDetailInfoSection.tsx
  apps/admin-web/layouts/Navbar/Navbar.tsx
  libs/companies/feature/src/AllCompanyListTable/AllCompanyListTable.tsx
  libs/companies/feature/src/NewCompanyForm/NewCompanyForm.tsx
  libs/magazines/feature/src/WriteMagazine/WriteMagazine.tsx
  libs/products/feature/src/EditAlternativeProducts/EditAlternativeProducts.tsx
  libs/products/feature/src/EditProductCompany/EditProductCompany.tsx
  libs/products/feature/src/EditProductFeatureItem/EditProductFeatureItem.tsx
  libs/products/feature/src/EditProductLinkItem/EditProductLinkItem.tsx
  libs/products/feature/src/ProductCompanyInfo/ProductCompanyInfo.tsx
  libs/products/feature/src/ProductFeatureTable/ProductFeatureTable.tsx
  libs/products/feature/src/ProductLinkTable/ProductLinkTable.tsx
  libs/products/feature/src/ProductListTable/ProductListTable.tsx
  libs/products/feature/src/SearchProductField/SearchProductField.tsx
  libs/shared/ui-admin/src/AdminCheckbox.tsx
  libs/shared/ui-admin/src/AdminInput.tsx
  libs/shared/ui-admin/src/AdminSelect.tsx
  libs/shared/ui-admin/src/PageShell.tsx
  libs/shared/ui-admin/src/index.ts
Due: ts, tsx

fix: deduplicate auth context lookups, cast category filter to jsonb, isolate preload failures
  apps/graphql-api/__tests__/context.test.ts
  apps/graphql-api/src/functions/context.ts
  libs/products/datasource/src/__tests__/PostgresqlProductRepository.test.ts
  libs/products/datasource/src/repositories/PostgresqlProductRepository.ts
  libs/products/feature/src/Product.query.resolver.ts
  libs/products/feature/src/__tests__/Product.query.resolver.test.ts
Due: ts

fix(products): make screenshot deletion fail-safe with external-first order
  libs/images/datasource/src/services/CloudinaryImageDeleter.ts
  libs/images/datasource/src/services/__tests__/CloudinaryImageDeleter.test.ts
  libs/products/domain/src/__tests__/delete-product-screenshot.test.ts
  libs/products/domain/src/usecases/DeleteProductScreenshot.ts
Due: ts

feat(accounts): distinguish invalid Firebase tokens from operational errors in verifyIdToken
  libs/accounts/datasource/package.json
  libs/accounts/datasource/src/__tests__/FirebaseAccountRepository.test.ts
  libs/accounts/datasource/src/repositories/FirebaseAccountRepository.ts
  libs/accounts/datasource/vitest.config.ts
Due: ts, json

feat(graphql-api): reclassify admin mutations and add upload input validation
  apps/graphql-api/__tests__/Feature.mutation.resolver.auth.test.ts
  apps/graphql-api/__tests__/Image.mutation.resolver.auth.test.ts
  apps/graphql-api/docs/AUTH_POLICY.md
  apps/graphql-api/vitest.config.ts
  libs/images/datasource/package.json
  libs/images/domain/package.json
  libs/images/domain/src/usecases/SignImageUpload.test.ts
  libs/images/domain/src/usecases/SignImageUpload.ts
  libs/images/feature/src/Image.mutation.resolver.ts
  libs/products/feature/src/Feature.mutation.resolver.ts
  pnpm-lock.yaml
Due: ts, json
