Repository croco-dev/darun: changes, and which lefthook commands are due for each by the changed paths.
All: ts, tsx, jsx, js, mdx, json

ts:
  run: eslint --fix --quiet {staged_files}

tsx:
  run: eslint --fix --quiet {staged_files}

jsx:
  run: eslint --fix --quiet {staged_files}

js:
  run: eslint --fix --quiet {staged_files}

mdx:
  run: eslint --fix --quiet {staged_files}

json:
  run: eslint --fix --quiet {staged_files}

refactor: move Author graph type to @darun/magazines-feature with server entrypoint
  apps/graphql-api/src/app/graphql/author/graphs/Author.ts
  libs/magazines/feature/package.json
  libs/magazines/feature/src/graphs/Author.ts
  libs/magazines/feature/src/graphs/index.ts
  libs/magazines/feature/src/server.ts
  libs/shared/utils-apollo-server/src/pagination/Connection.ts
  libs/shared/utils-apollo-server/src/pagination/Cursor.ts
Due: ts, json

refactor: create server entrypoints for feature packages
  libs/companies/feature/package.json
  libs/companies/feature/src/server.ts
  libs/images/feature/package.json
  libs/images/feature/src/server.ts
  libs/magazines/feature/src/server.ts
  libs/products/feature/package.json
  libs/products/feature/src/server.ts
  libs/translation/feature/package.json
  libs/translation/feature/src/server.ts
Due: ts, json

refactor: update imports in libs resolvers to use packages instead of apps paths
  libs/magazines/feature/src/Magazine.query.resolver.ts
  libs/products/feature/src/Product.query.resolver.ts
  libs/products/feature/src/graphs/ProductPagination.ts
Due: ts

refactor(graphql-api): import resolvers from libs feature packages
  apps/graphql-api/src/app/resolvers.ts
  libs/magazines/feature/src/Magazine.query.resolver.ts
  libs/products/feature/src/Product.query.resolver.ts
  libs/products/feature/src/graphs/ProductPagination.ts
Due: ts

refactor: remove duplicate resolver files from apps/graphql-api
  apps/graphql-api/src/app/graphql/company/Company.mutation.resolver.ts
  apps/graphql-api/src/app/graphql/company/Company.query.resolver.ts
  apps/graphql-api/src/app/graphql/feature/Feature.mutation.resolver.ts
  apps/graphql-api/src/app/graphql/feature/Feature.query.resolver.ts
  apps/graphql-api/src/app/graphql/image/Image.mutation.resolver.ts
  apps/graphql-api/src/app/graphql/magazine/Magazine.mutation.resolver.ts
  apps/graphql-api/src/app/graphql/magazine/Magazine.query.resolver.ts
  apps/graphql-api/src/app/graphql/product/Product.mutation.resolver.ts
  apps/graphql-api/src/app/graphql/product/Product.query.resolver.ts
  apps/graphql-api/src/app/graphql/translation/Translation.mutation.resolver.ts
Due: ts

feat(products): add typed domain errors following companyError pattern
  libs/products/domain/src/errors/productError.ts
  libs/products/domain/src/index.ts
Due: ts

refactor(products): replace generic errors with typed domain errors in Product.mutation.resolver
  libs/products/domain/src/errors/productError.ts
  libs/products/feature/src/Product.mutation.resolver.ts
Due: ts

refactor(graphql-api): convert .then() chains to async/await
  apps/graphql-api/src/functions/graphql.ts
Due: ts

refactor: add readonly modifier to DI-injected repository fields
  libs/accounts/domain/src/usecases/GetAccount.ts
  libs/voting/domain/src/usecases/GetVoteCount.ts
  libs/voting/domain/src/usecases/UpvoteProduct.ts
Due: ts

docs: update README with actual project structure and tech stack
  README.md
  libs/accounts/domain/src/usecases/GetAccount.ts
  libs/voting/domain/src/usecases/GetVoteCount.ts
  libs/voting/domain/src/usecases/UpvoteProduct.ts
Due: ts

fix(types): use import type for repository interfaces in decorator parameters
  libs/products/domain/src/usecases/GenerateProductDescription.ts
  libs/products/domain/src/usecases/GetRankedProducts.ts
  libs/products/feature/src/Feature.mutation.resolver.ts
  libs/products/feature/src/Product.mutation.resolver.ts
  libs/recommendation/domain/src/usecases/GetAlternativeProducts.ts
  libs/search/domain/src/usecases/IndexProduct.ts
  libs/search/domain/src/usecases/SearchProduct.ts
Due: ts

fix(types): use import type for repository interfaces in decorator parameters
  biome.json
  libs/products/domain/src/usecases/GenerateProductDescription.ts
Due: ts, json

fix(types): use import type for repository interfaces in decorator parameters
  libs/accounts/domain/src/usecases/GetAccount.ts
  libs/accounts/domain/src/usecases/GetProfile.ts
  libs/companies/domain/src/usecases/CreateCompany.ts
  libs/companies/domain/src/usecases/GetAllCompanies.ts
  libs/companies/domain/src/usecases/GetCompany.ts
  libs/companies/domain/src/usecases/SearchCompany.ts
  libs/magazines/domain/src/usecases/CreateMagazine.ts
  libs/magazines/domain/src/usecases/EditMagazine.ts
  libs/magazines/domain/src/usecases/GetMagazine.ts
  libs/magazines/domain/src/usecases/GetMagazineList.ts
  libs/magazines/domain/src/usecases/GetPublishedMagazine.ts
  libs/magazines/domain/src/usecases/PublishMagazine.ts
  libs/magazines/feature/src/Magazine.mutation.resolver.ts
Due: ts

fix(accounts): use type-only repository imports in account usecases
  libs/accounts/domain/src/usecases/GetAccount.ts
  libs/accounts/domain/src/usecases/GetProfile.ts
Due: ts

fix(companies): use type-only repository imports in company creation usecases
  libs/accounts/domain/src/usecases/GetAccount.ts
  libs/accounts/domain/src/usecases/GetProfile.ts
Due: ts

fix(companies): use type-only repository imports in company search usecase
  libs/companies/domain/src/usecases/SearchCompany.ts
Due: ts

fix(magazines): use type-only repository imports in magazine read/write usecases
  libs/companies/domain/src/usecases/SearchCompany.ts
Due: ts

fix(magazines): use type-only imports in publish flow
  libs/magazines/domain/src/usecases/GetPublishedMagazine.ts
  libs/magazines/domain/src/usecases/PublishMagazine.ts
  libs/magazines/feature/src/Magazine.mutation.resolver.ts
Due: ts

fix(types): use import type for repository interfaces
  libs/accounts/domain/src/usecases/GetAccount.ts
  libs/accounts/domain/src/usecases/GetProfile.ts
Due: ts

fix(types): use import type for repository interfaces
  libs/accounts/domain/src/usecases/GetAccount.ts
  libs/accounts/domain/src/usecases/GetProfile.ts
  libs/companies/domain/src/usecases/CreateCompany.ts
  libs/companies/domain/src/usecases/GetAllCompanies.ts
  libs/companies/domain/src/usecases/GetCompany.ts
  libs/companies/domain/src/usecases/SearchCompany.ts
  libs/magazines/domain/src/usecases/CreateMagazine.ts
  libs/magazines/domain/src/usecases/EditMagazine.ts
  libs/magazines/domain/src/usecases/GetMagazine.ts
  libs/magazines/domain/src/usecases/GetMagazineList.ts
Due: ts

fix: exclude vitest from Next.js server bundle
  apps/admin-web/next.config.mjs
  apps/service-web/next.config.js
  apps/visual-web/next.config.js
Due: js

fix: expand webpack externals for jsdom dependency chain
  apps/service-web/next.config.js
Due: js

fix(products): replace isomorphic-dompurify with dompurify
  libs/products/feature/package.json
  libs/products/feature/src/ProductDescription/ProductDescription.tsx
  libs/products/shell/package.json
  libs/products/shell/src/components/ProductDescription/ProductDescription.tsx
Due: tsx, json

fix(service-web): revert webpack externals expansion
  apps/service-web/next.config.js
  pnpm-lock.yaml
Due: js

fix(products): remove bind pattern and fix client components
  libs/products/feature/package.json
  libs/products/feature/src/ProductDescription/ProductDescription.tsx
  libs/products/shell/src/components/ProductDescription/ProductDescription.tsx
  pnpm-lock.yaml
Due: tsx, json

fix(service-web): simplify webpack externals
  apps/service-web/next.config.js
Due: js

fix(graphql-api): add @darun/companies-feature dependency
  apps/graphql-api/package.json
  pnpm-lock.yaml
Due: json

revert(products): restore bind pattern and isomorphic-dompurify
  libs/products/feature/package.json
  libs/products/feature/src/ProductDescription/ProductDescription.tsx
  libs/products/shell/package.json
  libs/products/shell/src/components/ProductDescription/ProductDescription.tsx
Due: tsx, json

fix: override @exodus/bytes to CommonJS compatible version
  apps/service-web/next.config.js
  package.json
  pnpm-lock.yaml
Due: js, json

fix(products): use dompurify with useEffect for client-side sanitization
  apps/service-web/next.config.js
  libs/products/feature/package.json
  libs/products/feature/src/ProductDescription/ProductDescription.tsx
  libs/products/shell/package.json
  libs/products/shell/src/components/ProductDescription/ProductDescription.tsx
  package.json
  pnpm-lock.yaml
Due: tsx, js, json

fix(products): add use client directive for ProductDescription
  libs/products/feature/src/ProductDescription/ProductDescription.tsx
Due: tsx

fix(products): use dynamic import for dompurify to avoid SSR issues
  libs/products/feature/src/ProductDescription/ProductDescription.tsx
  libs/products/shell/src/components/ProductDescription/ProductDescription.tsx
Due: tsx

fix(products): use dynamic import for dompurify
  libs/products/feature/src/ProductDescription/ProductDescription.tsx
  libs/products/shell/src/components/ProductDescription/ProductDescription.tsx
Due: tsx

fix(admin-web): alias utils-structure-react to local shim
  apps/admin-web/app/shims/utils-structure-react.js
  apps/admin-web/next.config.mjs
Due: js

fix(service-web): eliminate Apollo client init timing dependency
  apps/service-web/app/[locale]/magazines/[slug]/page.tsx
  apps/service-web/app/[locale]/products/[slug]/alternatives/page.tsx
  apps/service-web/app/[locale]/products/[slug]/page.tsx
  apps/service-web/app/getServerClient.ts
  apps/service-web/app/server.tsx
  apps/service-web/app/sitemap.ts
Due: ts, tsx

Path conditions:
  ts: any of: *.ts
  tsx: any of: *.tsx
  jsx: any of: *.jsx
  js: any of: *.js
  mdx: any of: *.mdx
  json: any of: *.json
