Repository croco-dev/darun: changes, and which lefthook commands are due for each by the changed paths.
All: ts, tsx, jsx, js, mdx, json

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    ts:
      glob: "*.ts"
      run: eslint --fix --quiet {staged_files}
    tsx:
      glob: "*.tsx"
      run: eslint --fix --quiet {staged_files}
    jsx:
      glob: "*.jsx"
      run: eslint --fix --quiet {staged_files}
    js:
      glob: "*.js"
      run: eslint --fix --quiet {staged_files}
    mdx:
      glob: "*.mdx"
      run: eslint --fix --quiet {staged_files}
    json:
      glob: "*.json"
      run: eslint --fix --quiet {staged_files}

post-merge:
  commands:
    install:
      run: pnpm install

feat(visual-web): add global nav tabs and home discovery
  apps/visual-web/__tests__/p0-visual-nav.test.ts
  apps/visual-web/app/VisualLayout.tsx
  apps/visual-web/app/page.tsx
  apps/visual-web/app/visualNav.ts
  apps/visual-web/features/discover/TrendingStrip.tsx
  apps/visual-web/features/discover/VisualHomeHero.tsx
  apps/visual-web/features/flows/FlowExplorer.tsx
  apps/visual-web/features/screenshots/ScreenshotExplorer.tsx
Due: ts, tsx

feat(visual-web): P0 전역 내비+홈 디스커버리 (#399)
  apps/visual-web/__tests__/p0-visual-nav.test.ts
  apps/visual-web/app/VisualLayout.tsx
  apps/visual-web/app/page.tsx
  apps/visual-web/app/visualNav.ts
  apps/visual-web/features/discover/TrendingStrip.tsx
  apps/visual-web/features/discover/VisualHomeHero.tsx
  apps/visual-web/features/flows/FlowExplorer.tsx
  apps/visual-web/features/screenshots/ScreenshotExplorer.tsx
Due: ts, tsx

refactor(visual-web): extract shared explorer shell and query hook
  apps/visual-web/__tests__/p1-1-explorer-shell.test.ts
  apps/visual-web/features/explorer/ExplorerShell.tsx
  apps/visual-web/features/explorer/useExplorerQuery.ts
  apps/visual-web/features/explorer/visualTaxonomy.ts
  apps/visual-web/features/flows/FlowExplorer.tsx
  apps/visual-web/features/flows/flowClassifications.ts
  apps/visual-web/features/flows/useFlowExplorer.ts
  apps/visual-web/features/screenshots/ScreenshotExplorer.tsx
  apps/visual-web/features/screenshots/useScreenshotExplorer.ts
  apps/visual-web/features/screenshots/visualClassifications.ts
Due: ts, tsx

refactor(visual-web): P1-1 탐색 셸·쿼리 공용화 (#400)
  apps/visual-web/__tests__/p1-1-explorer-shell.test.ts
  apps/visual-web/features/explorer/ExplorerShell.tsx
  apps/visual-web/features/explorer/useExplorerQuery.ts
  apps/visual-web/features/explorer/visualTaxonomy.ts
  apps/visual-web/features/flows/FlowExplorer.tsx
  apps/visual-web/features/flows/flowClassifications.ts
  apps/visual-web/features/flows/useFlowExplorer.ts
  apps/visual-web/features/screenshots/ScreenshotExplorer.tsx
  apps/visual-web/features/screenshots/useScreenshotExplorer.ts
  apps/visual-web/features/screenshots/visualClassifications.ts
Due: ts, tsx

feat(visual-web): add apps tab with detail collections
  apps/visual-web/__tests__/p1-2-app-tab.test.ts
  apps/visual-web/app/apps/[slug]/page.tsx
  apps/visual-web/app/apps/page.tsx
  apps/visual-web/app/visualNav.ts
  apps/visual-web/features/apps/AppDetail.tsx
  apps/visual-web/features/apps/AppExplorer.tsx
  apps/visual-web/features/apps/detailDocuments.ts
  apps/visual-web/features/apps/documents.ts
  apps/visual-web/features/apps/index.ts
  apps/visual-web/features/apps/useAppDetail.ts
  apps/visual-web/features/apps/useAppExplorer.ts
  libs/__generated__/gql.ts
  libs/__generated__/graphql.ts
Due: ts, tsx

feat(visual-web): P1-2 앱 탭·상세 모음 (#401)
  apps/visual-web/__tests__/p1-2-app-tab.test.ts
  apps/visual-web/app/apps/[slug]/page.tsx
  apps/visual-web/app/apps/page.tsx
  apps/visual-web/app/visualNav.ts
  apps/visual-web/features/apps/AppDetail.tsx
  apps/visual-web/features/apps/AppExplorer.tsx
  apps/visual-web/features/apps/detailDocuments.ts
  apps/visual-web/features/apps/documents.ts
  apps/visual-web/features/apps/index.ts
  apps/visual-web/features/apps/useAppDetail.ts
  apps/visual-web/features/apps/useAppExplorer.ts
  libs/__generated__/gql.ts
  libs/__generated__/graphql.ts
Due: ts, tsx

feat(visual-web): P1-3 화면 상세 모음 연결
  apps/visual-web/__tests__/p1-3-screenshot-collections.test.ts
  apps/visual-web/features/screenshots/ScreenshotDetail.tsx
  apps/visual-web/features/screenshots/detailDocuments.ts
  apps/visual-web/features/screenshots/relatedCollections.ts
  apps/visual-web/features/screenshots/useScreenshotDetail.ts
  libs/__generated__/gql.ts
  libs/__generated__/graphql.ts
Due: ts, tsx

feat(visual-web): P1-3 화면 상세 모음 연결 (#402)
  apps/visual-web/__tests__/p1-3-screenshot-collections.test.ts
  apps/visual-web/features/screenshots/ScreenshotDetail.tsx
  apps/visual-web/features/screenshots/detailDocuments.ts
  apps/visual-web/features/screenshots/relatedCollections.ts
  apps/visual-web/features/screenshots/useScreenshotDetail.ts
  libs/__generated__/gql.ts
  libs/__generated__/graphql.ts
Due: ts, tsx

feat(visual-web): P1-4 플로 상세 모음 연결
  apps/visual-web/__tests__/p1-4-flow-collections.test.ts
  apps/visual-web/features/flows/FlowDetail.tsx
  apps/visual-web/features/flows/detailDocuments.ts
  apps/visual-web/features/flows/relatedCollections.ts
  apps/visual-web/features/flows/useFlowDetail.ts
  libs/__generated__/gql.ts
  libs/__generated__/graphql.ts
Due: ts, tsx

feat(visual-web): P1-4 플로 상세 모음 연결 (#403)
  apps/visual-web/__tests__/p1-4-flow-collections.test.ts
  apps/visual-web/features/flows/FlowDetail.tsx
  apps/visual-web/features/flows/detailDocuments.ts
  apps/visual-web/features/flows/relatedCollections.ts
  apps/visual-web/features/flows/useFlowDetail.ts
  libs/__generated__/gql.ts
  libs/__generated__/graphql.ts
Due: ts, tsx

feat(visual-web): P2 SEO·OG·canonical·sitemap
  apps/visual-web/__tests__/p2-visual-seo.test.ts
  apps/visual-web/app/apps/[slug]/page.tsx
  apps/visual-web/app/apps/page.tsx
  apps/visual-web/app/flows/[id]/page.tsx
  apps/visual-web/app/flows/page.tsx
  apps/visual-web/app/layout.tsx
  apps/visual-web/app/page.tsx
  apps/visual-web/app/screenshots/[id]/page.tsx
  apps/visual-web/app/sitemap.ts
Due: ts, tsx

feat(visual-web): P2 SEO·OG·canonical·sitemap (#404)
  apps/visual-web/__tests__/p2-visual-seo.test.ts
  apps/visual-web/app/apps/[slug]/page.tsx
  apps/visual-web/app/apps/page.tsx
  apps/visual-web/app/flows/[id]/page.tsx
  apps/visual-web/app/flows/page.tsx
  apps/visual-web/app/layout.tsx
  apps/visual-web/app/page.tsx
  apps/visual-web/app/screenshots/[id]/page.tsx
  apps/visual-web/app/sitemap.ts
Due: ts, tsx

feat(visual-web): P3 탐색 검색 폴리시 통일
  apps/visual-web/__tests__/p3-search-polish.test.ts
  apps/visual-web/features/apps/AppExplorer.tsx
  apps/visual-web/features/apps/useAppExplorer.ts
  apps/visual-web/features/explorer/useExplorerQuery.ts
Due: ts, tsx

feat(visual-web): P3 탐색 검색 폴리시 통일 (#405)
  apps/visual-web/__tests__/p3-search-polish.test.ts
  apps/visual-web/features/apps/AppExplorer.tsx
  apps/visual-web/features/apps/useAppExplorer.ts
  apps/visual-web/features/explorer/useExplorerQuery.ts
Due: ts, tsx

feat(visual-web): P4 이미지 로딩·단일 main·skip link
  apps/visual-web/__tests__/p4-perf-a11y.test.ts
  apps/visual-web/app/VisualLayout.tsx
  apps/visual-web/app/apps/[slug]/page.tsx
  apps/visual-web/app/apps/page.tsx
  apps/visual-web/app/flows/[id]/page.tsx
  apps/visual-web/app/flows/page.tsx
  apps/visual-web/app/not-found.tsx
  apps/visual-web/app/page.tsx
  apps/visual-web/app/screenshots/[id]/page.tsx
  apps/visual-web/features/apps/AppDetail.tsx
  apps/visual-web/features/apps/AppExplorer.tsx
  apps/visual-web/features/discover/TrendingStrip.tsx
  apps/visual-web/features/flows/FlowDetail.tsx
  apps/visual-web/features/flows/FlowExplorer.tsx
  apps/visual-web/features/perf/imageLoading.ts
  apps/visual-web/features/product-search/ProductSearchSuggest.tsx
  apps/visual-web/features/screenshots/ScreenshotDetail.tsx
  apps/visual-web/features/screenshots/ScreenshotExplorer.tsx
Due: ts, tsx

feat(visual-web): P4 이미지 로딩·단일 main·skip link (#406)
  apps/visual-web/__tests__/p4-perf-a11y.test.ts
  apps/visual-web/app/VisualLayout.tsx
  apps/visual-web/app/apps/[slug]/page.tsx
  apps/visual-web/app/apps/page.tsx
  apps/visual-web/app/flows/[id]/page.tsx
  apps/visual-web/app/flows/page.tsx
  apps/visual-web/app/not-found.tsx
  apps/visual-web/app/page.tsx
  apps/visual-web/app/screenshots/[id]/page.tsx
  apps/visual-web/features/apps/AppDetail.tsx
  apps/visual-web/features/apps/AppExplorer.tsx
  apps/visual-web/features/discover/TrendingStrip.tsx
  apps/visual-web/features/flows/FlowDetail.tsx
  apps/visual-web/features/flows/FlowExplorer.tsx
  apps/visual-web/features/perf/imageLoading.ts
  apps/visual-web/features/product-search/ProductSearchSuggest.tsx
  apps/visual-web/features/screenshots/ScreenshotDetail.tsx
  apps/visual-web/features/screenshots/ScreenshotExplorer.tsx
Due: ts, tsx

feat(visual): M1 인기순 정렬 실시간 SQL
  apps/graphql-api/scripts/migrations/0007_m1-visual-popularity.sql
  apps/graphql-api/scripts/migrations/meta/0007_snapshot.json
  apps/graphql-api/scripts/migrations/meta/_journal.json
  libs/products/datasource/src/entities/VisualPopularitySchema.ts
  libs/products/datasource/src/repositories/PostgresqlProductFlowRepository.ts
  libs/products/datasource/src/repositories/PostgresqlProductScreenshotRepository.ts
  libs/products/domain/src/__tests__/GetAllProducts.test.ts
  libs/products/domain/src/__tests__/delete-product-screenshot.test.ts
  libs/products/domain/src/__tests__/get-visual-flows-sort.test.ts
  libs/products/domain/src/__tests__/get-visual-screenshots.test.ts
  libs/products/domain/src/__tests__/product-flow.test.ts
  libs/products/domain/src/__tests__/screenshot-metadata.test.ts
  libs/products/domain/src/__tests__/visual-popularity.test.ts
  libs/products/domain/src/index.ts
  libs/products/domain/src/repositories/ProductFlowRepository.ts
  libs/products/domain/src/repositories/ProductScreenshotRepository.ts
  libs/products/domain/src/usecases/GetVisualFlows.ts
  libs/products/domain/src/usecases/GetVisualScreenshots.ts
  libs/products/domain/src/usecases/VisualPopularity.ts
  libs/products/feature/src/VisualFlow.query.resolver.ts
  libs/products/feature/src/VisualScreenshot.query.resolver.ts
  libs/products/feature/src/__tests__/Product.query.resolver.test.ts
  libs/products/feature/src/graphs/VisualSort.ts
Due: ts, json

chore(visual): M1 스키마·생성물 동기화 (VisualSort/page)
  apps/graphql-api/schema.graphql
  libs/__generated__/gql.ts
  libs/__generated__/graphql.ts
Due: ts

chore(deps): fix critical audit (next 16.3.8, shell-quote, handlebars)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(products-domain): resolve pre-existing typecheck error in sitemap test mock
  libs/products/domain/src/__tests__/GetPublishedProductsForSitemap.test.ts
Due: ts

fix(search-shell): define missing CategoriesForEmptyState/TrendingPreview queries
  libs/search/shell/src/shells/SearchEmptyState/CategoryShortcutGrid/CategoryShortcutGrid.tsx
  libs/search/shell/src/shells/SearchEmptyState/TrendingProductPreview/TrendingProductPreview.tsx
Due: tsx

fix(ci): patch vulnerabilities and repair build failures
  .github/workflows/TierWeb.yaml
  README.md
  apps/tier-web/README.md
  apps/tier-web/scripts/enforce-schema-manual.ts
  apps/tier-web/scripts/remove-duplicates.ts
  apps/tier-web/src/components/admin/DeleteAppButton.tsx
  libs/products/domain/src/__tests__/GetPublishedProductsForSitemap.test.ts
  libs/search/shell/src/shells/SearchEmptyState/CategoryShortcutGrid/CategoryShortcutGrid.tsx
  libs/search/shell/src/shells/SearchEmptyState/TrendingProductPreview/TrendingProductPreview.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: ts, tsx

feat(visual): M1 인기순 정렬 실시간 SQL (#407)
  apps/graphql-api/schema.graphql
  apps/graphql-api/scripts/migrations/0007_m1-visual-popularity.sql
  apps/graphql-api/scripts/migrations/meta/0007_snapshot.json
  apps/graphql-api/scripts/migrations/meta/_journal.json
  libs/__generated__/gql.ts
  libs/__generated__/graphql.ts
  libs/products/datasource/src/entities/VisualPopularitySchema.ts
  libs/products/datasource/src/repositories/PostgresqlProductFlowRepository.ts
  libs/products/datasource/src/repositories/PostgresqlProductScreenshotRepository.ts
  libs/products/domain/src/__tests__/GetAllProducts.test.ts
  libs/products/domain/src/__tests__/delete-product-screenshot.test.ts
  libs/products/domain/src/__tests__/get-visual-flows-sort.test.ts
  libs/products/domain/src/__tests__/get-visual-screenshots.test.ts
  libs/products/domain/src/__tests__/product-flow.test.ts
  libs/products/domain/src/__tests__/screenshot-metadata.test.ts
  libs/products/domain/src/__tests__/visual-popularity.test.ts
  libs/products/domain/src/index.ts
  libs/products/domain/src/repositories/ProductFlowRepository.ts
  libs/products/domain/src/repositories/ProductScreenshotRepository.ts
  libs/products/domain/src/usecases/GetVisualFlows.ts
  libs/products/domain/src/usecases/GetVisualScreenshots.ts
  libs/products/domain/src/usecases/VisualPopularity.ts
  libs/products/feature/src/VisualFlow.query.resolver.ts
  libs/products/feature/src/VisualScreenshot.query.resolver.ts
  libs/products/feature/src/__tests__/Product.query.resolver.test.ts
  libs/products/feature/src/graphs/VisualSort.ts
Due: ts, json

fix(images): Cloudinary 업로드 서명 파라미터 일치
  CONTRIBUTING.md
  libs/shared/utils-image-upload/src/useImageUpload.ts
Due: ts

fix(images): 서비스 로고 업로드 서명 오류 수정 (#409)
  CONTRIBUTING.md
  libs/shared/utils-image-upload/src/useImageUpload.ts
Due: ts

feat(visual): M2 조회수 기록 mutation+상세 fire-and-forget
  apps/graphql-api/.env.sample
  apps/graphql-api/schema.graphql
  apps/graphql-api/src/app/resolvers.ts
  apps/graphql-api/sst.config.ts
  apps/visual-web/features/flows/detailDocuments.ts
  apps/visual-web/features/flows/useFlowDetail.ts
  apps/visual-web/features/screenshots/detailDocuments.ts
  apps/visual-web/features/screenshots/useScreenshotDetail.ts
  libs/__generated__/gql.ts
  libs/__generated__/graphql.ts
  libs/products/datasource/src/repositories/PostgresqlProductFlowRepository.ts
  libs/products/datasource/src/repositories/PostgresqlProductScreenshotRepository.ts
  libs/products/domain/src/__tests__/GetAllProducts.test.ts
  libs/products/domain/src/__tests__/delete-product-screenshot.test.ts
  libs/products/domain/src/__tests__/get-visual-flows-sort.test.ts
  libs/products/domain/src/__tests__/get-visual-screenshots.test.ts
  libs/products/domain/src/__tests__/product-flow.test.ts
  libs/products/domain/src/__tests__/screenshot-metadata.test.ts
  libs/products/domain/src/__tests__/track-visual-view.test.ts
  libs/products/domain/src/index.ts
  libs/products/domain/src/repositories/ProductFlowRepository.ts
  libs/products/domain/src/repositories/ProductScreenshotRepository.ts
  libs/products/domain/src/usecases/TrackVisualFlowView.ts
  libs/products/domain/src/usecases/TrackVisualScreenshotView.ts
  libs/products/domain/src/utils/hashVisualViewerIp.ts
  libs/products/feature/src/VisualView.mutation.resolver.ts
  libs/products/feature/src/__tests__/Product.query.resolver.test.ts
  libs/products/feature/src/graphs/TrackVisualView.ts
  libs/products/feature/src/server.ts
Due: ts

fix(admin): 설명 편집 입력값 초기화 오류 수정
  README.md
  libs/products/feature/src/EditProductDescription/__tests__/useEditProductDescription.test.ts
  libs/products/feature/src/EditProductDescription/useEditProductDescription.ts
Due: ts

fix(admin): 설명 편집 입력값 초기화 오류 수정 (#412)
  README.md
  libs/products/feature/src/EditProductDescription/__tests__/useEditProductDescription.test.ts
  libs/products/feature/src/EditProductDescription/useEditProductDescription.ts
Due: ts

feat(visual): M2 조회수 기록 mutation+상세 fire-and-forget (#411)
  apps/graphql-api/.env.sample
  apps/graphql-api/schema.graphql
  apps/graphql-api/src/app/resolvers.ts
  apps/graphql-api/sst.config.ts
  apps/visual-web/features/flows/detailDocuments.ts
  apps/visual-web/features/flows/useFlowDetail.ts
  apps/visual-web/features/screenshots/detailDocuments.ts
  apps/visual-web/features/screenshots/useScreenshotDetail.ts
  libs/__generated__/gql.ts
  libs/__generated__/graphql.ts
  libs/products/datasource/src/repositories/PostgresqlProductFlowRepository.ts
  libs/products/datasource/src/repositories/PostgresqlProductScreenshotRepository.ts
  libs/products/domain/src/__tests__/GetAllProducts.test.ts
  libs/products/domain/src/__tests__/delete-product-screenshot.test.ts
  libs/products/domain/src/__tests__/get-visual-flows-sort.test.ts
  libs/products/domain/src/__tests__/get-visual-screenshots.test.ts
  libs/products/domain/src/__tests__/product-flow.test.ts
  libs/products/domain/src/__tests__/screenshot-metadata.test.ts
  libs/products/domain/src/__tests__/track-visual-view.test.ts
  libs/products/domain/src/index.ts
  libs/products/domain/src/repositories/ProductFlowRepository.ts
  libs/products/domain/src/repositories/ProductScreenshotRepository.ts
  libs/products/domain/src/usecases/TrackVisualFlowView.ts
  libs/products/domain/src/usecases/TrackVisualScreenshotView.ts
  libs/products/domain/src/utils/hashVisualViewerIp.ts
  libs/products/feature/src/VisualView.mutation.resolver.ts
  libs/products/feature/src/__tests__/Product.query.resolver.test.ts
  libs/products/feature/src/graphs/TrackVisualView.ts
  libs/products/feature/src/server.ts
Due: ts

style(visual-web): 스크린샷 중심 탐색과 상세 디자인 정돈
  apps/visual-web/README.md
  apps/visual-web/app/VisualLayout.tsx
  apps/visual-web/app/globals.css
  apps/visual-web/app/page.tsx
  apps/visual-web/features/apps/AppDescription.tsx
  apps/visual-web/features/apps/AppDetail.tsx
  apps/visual-web/features/apps/AppExplorer.tsx
  apps/visual-web/features/collections/Collections.tsx
  apps/visual-web/features/collections/SaveButton.tsx
  apps/visual-web/features/discover/VisualHomeHero.tsx
  apps/visual-web/features/explorer/ExplorerShell.tsx
  apps/visual-web/features/flows/FlowDetail.tsx
  apps/visual-web/features/flows/FlowExplorer.tsx
  apps/visual-web/features/product-search/ProductSearchSuggest.tsx
  apps/visual-web/features/screenshots/ScreenshotDetail.tsx
  apps/visual-web/features/screenshots/ScreenshotExplorer.tsx
  apps/visual-web/features/screenshots/ScreenshotImage.tsx
Due: tsx

feat(visual): M3 저장 토글·조회 (로그인 필수, 화면+플로) (#413)
  apps/graphql-api/schema.graphql
  apps/graphql-api/src/app/resolvers.ts
  apps/visual-web/features/flows/FlowDetail.tsx
  apps/visual-web/features/saves/VisualSaveButton.tsx
  apps/visual-web/features/saves/saveDocuments.ts
  apps/visual-web/features/saves/useVisualSaveButton.ts
  apps/visual-web/features/screenshots/ScreenshotDetail.tsx
  libs/__generated__/gql.ts
  libs/__generated__/graphql.ts
  libs/products/datasource/src/repositories/PostgresqlProductFlowRepository.ts
  libs/products/datasource/src/repositories/PostgresqlProductScreenshotRepository.ts
  libs/products/domain/src/__tests__/GetAllProducts.test.ts
  libs/products/domain/src/__tests__/delete-product-screenshot.test.ts
  libs/products/domain/src/__tests__/get-visual-flows-sort.test.ts
  libs/products/domain/src/__tests__/get-visual-screenshots.test.ts
  libs/products/domain/src/__tests__/product-flow.test.ts
  libs/products/domain/src/__tests__/screenshot-metadata.test.ts
  libs/products/domain/src/__tests__/toggle-visual-save.test.ts
  libs/products/domain/src/__tests__/track-visual-view.test.ts
  libs/products/domain/src/index.ts
  libs/products/domain/src/repositories/ProductFlowRepository.ts
  libs/products/domain/src/repositories/ProductScreenshotRepository.ts
  libs/products/domain/src/usecases/ToggleVisualSave.ts
  libs/products/domain/src/usecases/VisualSaveQuery.ts
  libs/products/domain/src/utils/assertVisualUlid.ts
  libs/products/feature/src/VisualSave.mutation.resolver.ts
  libs/products/feature/src/__tests__/Product.query.resolver.test.ts
  libs/products/feature/src/graphs/VisualSave.ts
  libs/products/feature/src/server.ts
  libs/shared/ui/src/components/icons.tsx
Due: ts, tsx

chore(products): apply formatter normalization for research workflow
  apps/admin-web/features/products/ProductResearchSection/ProductResearchSection.tsx
  apps/graphql-api/src/functions/product-research-worker.ts
  libs/products/datasource/src/repositories/PostgresqlProductResearchJobRepository.ts
  libs/products/datasource/src/repositories/PostgresqlProductResearchMaterializationRepository.ts
  libs/products/domain/src/entities/ProductResearchJobEntity.ts
  libs/products/domain/src/repositories/ProductResearchJobRepository.ts
  libs/products/domain/src/repositories/ProductResearchMaterializationRepository.ts
  libs/products/domain/src/services/ProductResearchSource.ts
  libs/products/domain/src/services/ProductResearchUrl.ts
  libs/shared/utils-llm/src/index.ts
  libs/shared/utils-llm/src/search/types.ts
Due: ts, tsx

feat(products): URL-first product research job workflow
  apps/admin-web/app/products/new/page.tsx
  apps/admin-web/features/products/ProductResearchSection/ProductResearchSection.tsx
  apps/admin-web/features/products/ProductResearchSection/index.ts
  apps/graphql-api/src/app/resolvers.ts
  apps/graphql-api/src/functions/product-research-worker.ts
  apps/graphql-api/sst.config.ts
  libs/products/datasource/src/entities/ProductResearchJobSchema.ts
  libs/products/datasource/src/index.ts
  libs/products/datasource/src/repositories/PostgresqlProductResearchJobRepository.ts
  libs/products/datasource/src/repositories/PostgresqlProductResearchMaterializationRepository.ts
  libs/products/domain/src/__tests__/ProductResearchSource.test.ts
  libs/products/domain/src/__tests__/ProductResearchUrl.test.ts
  libs/products/domain/src/entities/ProductResearchJobEntity.ts
  libs/products/domain/src/index.ts
  libs/products/domain/src/repositories/ProductResearchJobRepository.ts
  libs/products/domain/src/repositories/ProductResearchMaterializationRepository.ts
  libs/products/domain/src/services/ProductResearchGenerator.ts
  libs/products/domain/src/services/ProductResearchSource.ts
  libs/products/domain/src/services/ProductResearchUrl.ts
  libs/products/feature/src/ProductResearch.resolver.ts
  libs/products/feature/src/__tests__/ProductResearchResolver.test.ts
  libs/products/feature/src/graphs/ProductResearch.ts
  libs/products/feature/src/server.ts
  libs/products/service/package.json
  libs/products/service/src/ProductResearchQueueService.ts
  libs/products/service/src/ProductResearchReviewService.ts
  libs/products/service/src/ProductResearchService.ts
  libs/products/service/src/__tests__/ProductResearchReviewService.test.ts
  libs/products/service/src/__tests__/ProductResearchService.test.ts
  libs/products/service/src/index.ts
  libs/shared/utils-llm/src/__tests__/BraveSearchClient.test.ts
  libs/shared/utils-llm/src/index.ts
  libs/shared/utils-llm/src/search/BraveSearchClient.ts
  libs/shared/utils-llm/src/search/types.ts
  libs/translation/datasource/src/entities/LlmSettingSchema.ts
  libs/translation/datasource/src/repositories/PostgresqlLlmSettingRepository.ts
  libs/translation/domain/src/entities/LlmSetting.ts
  libs/translation/domain/src/repositories/LlmSettingRepository.ts
  libs/translation/service/src/LlmSettingService.ts
  pnpm-lock.yaml
Due: ts, tsx, json

fix(admin): ProductResearchSection Apollo import 경로·타입 오류 수정
  apps/admin-web/features/products/ProductResearchSection/ProductResearchSection.tsx
Due: tsx

feat(visual): M4 내 저장 페이지 (로그인 필수, 화면+플로 탭)
  apps/graphql-api/schema.graphql
  apps/visual-web/__tests__/m4-saves-page.test.ts
  apps/visual-web/__tests__/p1-2-app-tab.test.ts
  apps/visual-web/app/saves/page.tsx
  apps/visual-web/app/visualNav.ts
  apps/visual-web/features/saves/SavesExplorer.tsx
  apps/visual-web/features/saves/saveDocuments.ts
  apps/visual-web/features/saves/useSavesPage.ts
  libs/__generated__/gql.ts
  libs/__generated__/graphql.ts
  libs/products/datasource/src/repositories/PostgresqlProductFlowRepository.ts
  libs/products/datasource/src/repositories/PostgresqlProductScreenshotRepository.ts
  libs/products/domain/src/__tests__/GetAllProducts.test.ts
  libs/products/domain/src/__tests__/toggle-visual-save.test.ts
  libs/products/domain/src/index.ts
  libs/products/domain/src/repositories/ProductFlowRepository.ts
  libs/products/domain/src/repositories/ProductScreenshotRepository.ts
  libs/products/domain/src/usecases/VisualSaveQuery.ts
  libs/products/feature/src/VisualFlow.query.resolver.ts
  libs/products/feature/src/VisualSave.mutation.resolver.ts
  libs/products/feature/src/VisualScreenshot.query.resolver.ts
  libs/products/feature/src/__tests__/Product.query.resolver.test.ts
Due: ts, tsx

fix(visual): M4 lint import 순서 수정
  apps/visual-web/__tests__/m4-saves-page.test.ts
Due: ts
