Repository croco-dev/darun: changes, and which lefthook commands are due for each by the changed paths.
All: ts, tsx, jsx, js, mdx, json

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    ts:
      glob: "*.ts"
      run: eslint --fix --quiet {staged_files}
    tsx:
      glob: "*.tsx"
      run: eslint --fix --quiet {staged_files}
    jsx:
      glob: "*.jsx"
      run: eslint --fix --quiet {staged_files}
    js:
      glob: "*.js"
      run: eslint --fix --quiet {staged_files}
    mdx:
      glob: "*.mdx"
      run: eslint --fix --quiet {staged_files}
    json:
      glob: "*.json"
      run: eslint --fix --quiet {staged_files}

post-merge:
  commands:
    install:
      run: pnpm install

feat(visual): M4 내 저장 페이지 (로그인 필수, 화면+플로 탭) (#415)
  apps/graphql-api/schema.graphql
  apps/visual-web/__tests__/m4-saves-page.test.ts
  apps/visual-web/__tests__/p1-2-app-tab.test.ts
  apps/visual-web/app/saves/page.tsx
  apps/visual-web/app/visualNav.ts
  apps/visual-web/features/saves/SavesExplorer.tsx
  apps/visual-web/features/saves/saveDocuments.ts
  apps/visual-web/features/saves/useSavesPage.ts
  libs/__generated__/gql.ts
  libs/__generated__/graphql.ts
  libs/products/datasource/src/repositories/PostgresqlProductFlowRepository.ts
  libs/products/datasource/src/repositories/PostgresqlProductScreenshotRepository.ts
  libs/products/domain/src/__tests__/GetAllProducts.test.ts
  libs/products/domain/src/__tests__/toggle-visual-save.test.ts
  libs/products/domain/src/index.ts
  libs/products/domain/src/repositories/ProductFlowRepository.ts
  libs/products/domain/src/repositories/ProductScreenshotRepository.ts
  libs/products/domain/src/usecases/VisualSaveQuery.ts
  libs/products/feature/src/VisualFlow.query.resolver.ts
  libs/products/feature/src/VisualSave.mutation.resolver.ts
  libs/products/feature/src/VisualScreenshot.query.resolver.ts
  libs/products/feature/src/__tests__/Product.query.resolver.test.ts
Due: ts, tsx

feat(visual): M5 내 저장 마무리 (로그인 버튼·탭 딥링크·저장 실패 재시도)
  apps/visual-web/__tests__/m4-saves-page.test.ts
  apps/visual-web/features/saves/SavesExplorer.tsx
  apps/visual-web/features/saves/VisualLoginButton.tsx
  apps/visual-web/features/saves/VisualSaveButton.tsx
  apps/visual-web/features/saves/useSavesPage.ts
  apps/visual-web/features/saves/useVisualSaveButton.ts
Due: ts, tsx

feat(visual): M5 내 저장 마무리 (로그인 버튼·탭 딥링크·저장 실패 재시도) (#416)
  apps/visual-web/__tests__/m4-saves-page.test.ts
  apps/visual-web/features/saves/SavesExplorer.tsx
  apps/visual-web/features/saves/VisualLoginButton.tsx
  apps/visual-web/features/saves/VisualSaveButton.tsx
  apps/visual-web/features/saves/useSavesPage.ts
  apps/visual-web/features/saves/useVisualSaveButton.ts
Due: ts, tsx

feat(products): URL-first product research job workflow (#414)
  apps/admin-web/app/products/new/page.tsx
  apps/admin-web/features/products/ProductResearchSection/ProductResearchSection.tsx
  apps/admin-web/features/products/ProductResearchSection/index.ts
  apps/graphql-api/src/app/resolvers.ts
  apps/graphql-api/src/functions/product-research-worker.ts
  apps/graphql-api/sst.config.ts
  libs/products/datasource/src/entities/ProductResearchJobSchema.ts
  libs/products/datasource/src/index.ts
  libs/products/datasource/src/repositories/PostgresqlProductResearchJobRepository.ts
  libs/products/datasource/src/repositories/PostgresqlProductResearchMaterializationRepository.ts
  libs/products/domain/src/__tests__/ProductResearchSource.test.ts
  libs/products/domain/src/__tests__/ProductResearchUrl.test.ts
  libs/products/domain/src/entities/ProductResearchJobEntity.ts
  libs/products/domain/src/index.ts
  libs/products/domain/src/repositories/ProductResearchJobRepository.ts
  libs/products/domain/src/repositories/ProductResearchMaterializationRepository.ts
  libs/products/domain/src/services/ProductResearchGenerator.ts
  libs/products/domain/src/services/ProductResearchSource.ts
  libs/products/domain/src/services/ProductResearchUrl.ts
  libs/products/feature/src/ProductResearch.resolver.ts
  libs/products/feature/src/__tests__/ProductResearchResolver.test.ts
  libs/products/feature/src/graphs/ProductResearch.ts
  libs/products/feature/src/server.ts
  libs/products/service/package.json
  libs/products/service/src/ProductResearchQueueService.ts
  libs/products/service/src/ProductResearchReviewService.ts
  libs/products/service/src/ProductResearchService.ts
  libs/products/service/src/__tests__/ProductResearchReviewService.test.ts
  libs/products/service/src/__tests__/ProductResearchService.test.ts
  libs/products/service/src/index.ts
  libs/shared/utils-llm/src/__tests__/BraveSearchClient.test.ts
  libs/shared/utils-llm/src/index.ts
  libs/shared/utils-llm/src/search/BraveSearchClient.ts
  libs/shared/utils-llm/src/search/types.ts
  libs/translation/datasource/src/entities/LlmSettingSchema.ts
  libs/translation/datasource/src/repositories/PostgresqlLlmSettingRepository.ts
  libs/translation/domain/src/entities/LlmSetting.ts
  libs/translation/domain/src/repositories/LlmSettingRepository.ts
  libs/translation/service/src/LlmSettingService.ts
  pnpm-lock.yaml
Due: ts, tsx, json

fix(translation): LLM 설정 모델 무시 버그 수정
  libs/translation/datasource/src/__tests__/LlmTranslationProvider.test.ts
  libs/translation/datasource/src/adapters/LlmTranslationProvider.ts
  libs/translation/datasource/src/prompts/translationPrompt.ts
Due: ts
