Repository croco-dev/darun: changes, and which lefthook commands are due for each by the changed paths.
All: ts, tsx, jsx, js, mdx, json

ts:
  run: eslint --fix --quiet {staged_files}

tsx:
  run: eslint --fix --quiet {staged_files}

jsx:
  run: eslint --fix --quiet {staged_files}

js:
  run: eslint --fix --quiet {staged_files}

mdx:
  run: eslint --fix --quiet {staged_files}

json:
  run: eslint --fix --quiet {staged_files}

chore: lambda timeout
  apps/graphql-api/serverless.yaml
Due: none

fix: update prompt
  libs/backend/src/libs/products/datasource/services/ProductDescriptionGeneratorImpl.ts
Due: ts

feat: free model
  apps/graphql-api/serverless.yaml
  libs/backend/src/libs/products/datasource/services/ProductDescriptionGeneratorImpl.ts
  libs/shared/utils-llm/src/libs/LlmModel.ts
Due: ts

fix: prompt
  libs/backend/src/libs/products/datasource/services/ProductDescriptionGeneratorImpl.ts
  libs/shared/utils-llm/src/libs/LlmModel.ts
  pnpm-lock.yaml
Due: ts

fix: grok 4
  libs/backend/src/libs/products/datasource/services/ProductDescriptionGeneratorImpl.ts
  libs/shared/utils-llm/src/libs/LlmModel.ts
Due: ts

chore: production deploy
  .github/workflows/Production.yaml
Due: none

chore(deps): add serverless-prune-plugin version 2.1.0
  apps/graphql-api/package.json
  apps/graphql-api/serverless.yaml
  pnpm-lock.yaml
Due: json

chore: update serverless and axios versions, add rankedProducts query
  .serverless/meta.json
  apps/graphql-api/package.json
  apps/graphql-api/schema.graphql
  apps/graphql-api/serverless.yaml
  apps/graphql-api/src/app/graphql/product/Product.query.resolver.ts
  libs/backend/src/index.ts
  libs/backend/src/libs/products/domain/index.ts
  libs/backend/src/libs/products/domain/usecases/GetRankedProducts.ts
  libs/backend/src/libs/voting/datasource/entities/VoteSchema.ts
  libs/backend/src/libs/voting/datasource/repositories/PostgresqlVoteRepository.ts
  libs/backend/src/libs/voting/domain/repositories/VoteRepository.ts
  libs/shared/provider-graphql/src/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: ts, json

refactor: streamline product retrieval and update vote index to descending
  libs/backend/src/libs/products/domain/usecases/GetRankedProducts.ts
  libs/backend/src/libs/voting/datasource/entities/VoteSchema.ts
Due: ts

feat: add RankingPage and RankedProduct components to enhance product visibility
  apps/service-web/app/ranking/page.tsx
  libs/frontend/src/index.ts
  libs/frontend/src/libs/pages/RankingPage.tsx
  libs/frontend/src/libs/products/components/RankedProductList/RankedProductList.tsx
  libs/frontend/src/libs/products/components/RankedProductList/__generated__/useRankedProductList.ts
  libs/frontend/src/libs/products/components/RankedProductList/index.ts
  libs/frontend/src/libs/products/components/RankedProductList/useRankedProductList.ts
  libs/frontend/src/libs/products/components/index.ts
  libs/frontend/src/libs/products/shells/RankedProductSection/RankedProductSection.tsx
  libs/frontend/src/libs/products/shells/RankedProductSection/index.ts
  libs/frontend/src/libs/products/shells/index.ts
  libs/shared/ui-layout/src/libs/Header/Header.tsx
Due: ts, tsx

chore(deps): update turbo package from 2.5.5 to 2.6.1 in package.json and pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: json

fix(admin): change startAt type from Date to string in NewCompanyForm
  apps/graphql-api/serverless.yaml
  libs/admin/src/libs/companies/components/NewCompanyForm/useNewCompanyForm.ts
Due: ts

chore(graphql-api): uncomment org and app in serverless.yaml
  apps/graphql-api/serverless.yaml
Due: none

fix(admin): change startAt type from Date to string in NewCompanyForm (#306)
  libs/admin/src/libs/companies/components/NewCompanyForm/useNewCompanyForm.ts
Due: ts

feat: enhance metadata generation for products and magazines, add JSON-LD support, and update robots.txt with sitemap links
  apps/service-web/app/layout.tsx
  apps/service-web/app/magazines/[slug]/page.tsx
  apps/service-web/app/products/[slug]/alternatives/page.tsx
  apps/service-web/app/products/[slug]/page.tsx
  apps/service-web/public/robots.txt
  apps/visual-web/public/robots.txt
Due: tsx

feat(service-web): add error handling pages (not-found, error, loading)
  apps/service-web/app/error.tsx
  apps/service-web/app/loading.tsx
  apps/service-web/app/not-found.tsx
Due: tsx

feat(service-web): add OG image to alternatives page
  apps/service-web/app/products/[slug]/alternatives/page.tsx
Due: tsx

feat(service-web): add dynamic metadata to search page
  apps/service-web/app/search/product/page.tsx
Due: tsx

feat(service-web): add WebSite and SearchAction structured data
  apps/service-web/app/layout.tsx
Due: tsx

feat(service-web): add BreadcrumbList structured data to all content pages
  apps/service-web/app/magazines/[slug]/page.tsx
  apps/service-web/app/products/[slug]/alternatives/page.tsx
  apps/service-web/app/products/[slug]/page.tsx
Due: tsx

feat(service-web): add FAQ section and FAQPage JSON-LD to alternatives page
  apps/service-web/app/products/[slug]/alternatives/page.tsx
  libs/frontend/src/libs/pages/ProductAlternativePage.tsx
  libs/frontend/src/libs/products/components/FAQSection/FAQSection.tsx
  libs/frontend/src/libs/products/components/FAQSection/index.ts
  libs/frontend/src/libs/products/components/index.ts
Due: ts, tsx

refactor(service-web): format error handling pages with single quotes
  apps/service-web/app/error.tsx
  apps/service-web/app/loading.tsx
  apps/service-web/app/not-found.tsx
Due: tsx

refactor(service-web): format product pages with single quotes
  apps/service-web/app/products/[slug]/alternatives/page.tsx
  apps/service-web/app/products/[slug]/page.tsx
Due: tsx

refactor(service-web): format content pages with single quotes
  apps/service-web/app/magazines/[slug]/page.tsx
  apps/service-web/app/search/product/page.tsx
Due: tsx

refactor(frontend): format product components with single quotes
  apps/service-web/app/layout.tsx
  libs/frontend/src/libs/pages/ProductAlternativePage.tsx
  libs/frontend/src/libs/products/components/FAQSection/FAQSection.tsx
  libs/frontend/src/libs/products/components/FAQSection/index.ts
  libs/frontend/src/libs/products/components/index.ts
Due: ts, tsx

feat(service-web): use real alternatives data for FAQ JSON-LD
  apps/service-web/app/products/[slug]/alternatives/page.tsx
Due: tsx

chore: format alternatives page and add .sisyphus to gitignore
  .gitignore
  apps/service-web/app/products/[slug]/alternatives/page.tsx
Due: tsx

chore(deps): update turborepo, drizzle, and minor dependencies
  apps/graphql-api/package.json
  package.json
  pnpm-lock.yaml
Due: json

chore(lint): migrate ESLint 8 to 9 with flat config
  .eslintrc
  apps/admin-web/.eslintrc.json
  apps/admin-web/package.json
  apps/graphql-api/.eslintrc.json
  apps/service-web/.eslintrc.json
  apps/service-web/package.json
  apps/visual-web/.eslintrc.json
  apps/visual-web/package.json
  eslint.config.js
  eslint.config.mjs
  libs/admin/.eslintrc.json
  libs/backend/.eslintrc.json
  libs/frontend/.eslintrc.json
  libs/shared/provider-auth/client/.eslintrc.json
  libs/shared/provider-auth/server/.eslintrc.json
  libs/shared/provider-database/.eslintrc.json
  libs/shared/provider-graphql/.eslintrc.json
  libs/shared/ui-foundation/.eslintrc.json
  libs/shared/ui-icons/.eslintrc.json
  libs/shared/ui-layout/.eslintrc.json
  libs/shared/utils-apollo-client/client/.eslintrc.json
  libs/shared/utils-apollo-client/server/.eslintrc.json
  libs/shared/utils-apollo-server/.eslintrc.json
  libs/shared/utils-auth-service/core/.eslintrc.json
  libs/shared/utils-auth-service/firebase/.eslintrc.json
  libs/shared/utils-eslint-config/.eslintrc.js
  libs/shared/utils-eslint-config/eslint.config.js
  libs/shared/utils-eslint-config/package.json
  libs/shared/utils-router/.eslintrc.json
  libs/shared/utils-sentry/.eslintrc.json
  package.json
  pnpm-lock.yaml
  template/node/.eslintrc.json
  template/react/.eslintrc.json
Due: js, json

chore(deps): update Kuma UI, Mantine, and utility libraries
  apps/admin-web/package.json
  apps/service-web/package.json
  apps/visual-web/package.json
  libs/frontend/package.json
  libs/shared/ui-layout/package.json
  libs/shared/utils-apollo-server/package.json
  package.json
  pnpm-lock.yaml
Due: json

chore(deps): upgrade React 19 packages
  apps/admin-web/package.json
  apps/service-web/package.json
  apps/visual-web/package.json
  libs/admin/package.json
  libs/frontend/package.json
  libs/shared/provider-auth/client/package.json
  libs/shared/provider-auth/server/package.json
  libs/shared/ui-foundation/package.json
  libs/shared/ui-icons/package.json
  libs/shared/ui-layout/package.json
  libs/shared/utils-apollo-client/client/package.json
  libs/shared/utils-apollo-client/server/package.json
  libs/shared/utils-auth-service/firebase/package.json
  libs/shared/utils-llm/package.json
  libs/shared/utils-router/package.json
  package.json
  pnpm-lock.yaml
Due: json

chore(deps): update Sentry SDK to v10.38.0
  apps/graphql-api/package.json
  apps/service-web/package.json
  apps/visual-web/package.json
  pnpm-lock.yaml
Due: json

chore(deps): upgrade Next.js to v15
  apps/admin-web/package.json
  apps/service-web/package.json
  apps/visual-web/package.json
  libs/admin/package.json
  libs/frontend/package.json
  libs/shared/provider-auth/client/package.json
  libs/shared/provider-auth/server/package.json
  libs/shared/ui-layout/package.json
  libs/shared/utils-auth-service/firebase/package.json
  libs/shared/utils-router/package.json
  package.json
  pnpm-lock.yaml
Due: json

test(vitest): add vitest infrastructure
  libs/shared/utils-llm/package.json
  libs/shared/utils-llm/src/example.test.ts
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: ts, json

test: add smoke tests for all apps
  apps/admin-web/__tests__/smoke.test.ts
  apps/graphql-api/__tests__/smoke.test.ts
  apps/service-web/__tests__/smoke.test.ts
  apps/visual-web/__tests__/smoke.test.ts
  libs/shared/utils-llm/src/example.test.ts
  vitest.config.ts
Due: ts

feat(react-compiler): add babel-plugin-react-compiler and eslint-plugin-react-compiler
  apps/admin-web/__tests__/smoke.test.ts
  apps/graphql-api/__tests__/smoke.test.ts
  apps/service-web/__tests__/smoke.test.ts
  apps/visual-web/__tests__/smoke.test.ts
  package.json
  pnpm-lock.yaml
Due: ts, json

feat(dev): update Next.js development configurations and opt-in React Compiler
  apps/admin-web/next.config.mjs
  apps/admin-web/package.json
  apps/admin-web/tsconfig.json
  apps/service-web/next.config.js
  apps/service-web/package.json
  apps/visual-web/next.config.js
  apps/visual-web/package.json
  eslint.config.mjs
Due: js, json

feat(api): update GraphQL schema
  apps/graphql-api/schema.graphql
Due: none

Path conditions:
  ts: any of: *.ts
  tsx: any of: *.tsx
  jsx: any of: *.jsx
  js: any of: *.js
  mdx: any of: *.mdx
  json: any of: *.json
