Repository croco-dev/darun: changes, and which lefthook commands are due for each by the changed paths.
All: ts, tsx, jsx, js, mdx, json

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    ts:
      glob: "*.ts"
      run: eslint --fix --quiet {staged_files}
    tsx:
      glob: "*.tsx"
      run: eslint --fix --quiet {staged_files}
    jsx:
      glob: "*.jsx"
      run: eslint --fix --quiet {staged_files}
    js:
      glob: "*.js"
      run: eslint --fix --quiet {staged_files}
    mdx:
      glob: "*.mdx"
      run: eslint --fix --quiet {staged_files}
    json:
      glob: "*.json"
      run: eslint --fix --quiet {staged_files}

post-merge:
  commands:
    install:
      run: pnpm install

feat(admin): magazine list
  libs/admin/src/libs/magazines/components/ArticleCard/ArticleCard.module.css
  libs/admin/src/libs/magazines/components/ArticleCard/ArticleCard.tsx
  libs/admin/src/libs/magazines/components/ArticleCard/index.ts
  libs/admin/src/libs/magazines/shells/MagazinesList/MagazinesList.tsx
  libs/admin/src/libs/magazines/shells/MagazinesList/__generated__/useMagazinesList.ts
  libs/admin/src/libs/magazines/shells/MagazinesList/index.ts
  libs/admin/src/libs/magazines/shells/MagazinesList/useMagazinesList.ts
  libs/admin/src/libs/pages/MagazineListPage.tsx
  libs/shared/provider-graphql/src/index.ts
Due: ts, tsx

feat(admin): write magazine 페이지
  apps/admin-web/app/magazines/create/page.tsx
  apps/admin-web/package.json
  libs/admin/src/index.ts
  libs/admin/src/libs/magazines/components/WriteMagazine/WriteMagazine.tsx
  libs/admin/src/libs/magazines/components/WriteMagazine/index.ts
  libs/admin/src/libs/magazines/components/WriteMagazine/useWriteMagazine.ts
  libs/admin/src/libs/magazines/shells/MagazineWriteSection/MagazineWriteSection.tsx
  libs/admin/src/libs/magazines/shells/MagazineWriteSection/index.ts
  libs/admin/src/libs/pages/MagazineCreatePage.tsx
  pnpm-lock.yaml
Due: ts, tsx, json

feat(frontend): blockquote 스타일 (#257)
  libs/frontend/src/libs/products/components/ProductDescription/ProductDescription.tsx
Due: tsx

feat: 매거진 생성
  apps/admin-web/app/magazines/create/page.tsx
  apps/admin-web/app/magazines/page.tsx
  apps/admin-web/package.json
  apps/graphql-api/schema.graphql
  apps/graphql-api/src/app/graphql/magazine/Magazine.query.resolver.ts
  apps/graphql-api/src/app/graphql/magazine/graphs/MagazinePagination.ts
  libs/admin/src/index.ts
  libs/admin/src/libs/magazines/components/ArticleCard/ArticleCard.module.css
  libs/admin/src/libs/magazines/components/ArticleCard/ArticleCard.tsx
  libs/admin/src/libs/magazines/components/ArticleCard/index.ts
  libs/admin/src/libs/magazines/components/WriteMagazine/WriteMagazine.tsx
  libs/admin/src/libs/magazines/components/WriteMagazine/index.ts
  libs/admin/src/libs/magazines/components/WriteMagazine/useWriteMagazine.ts
  libs/admin/src/libs/magazines/components/index.ts
  libs/admin/src/libs/magazines/shells/MagazineWriteSection/MagazineWriteSection.tsx
  libs/admin/src/libs/magazines/shells/MagazineWriteSection/index.ts
  libs/admin/src/libs/magazines/shells/MagazinesList/MagazinesList.tsx
  libs/admin/src/libs/magazines/shells/MagazinesList/__generated__/useMagazinesList.ts
  libs/admin/src/libs/magazines/shells/MagazinesList/index.ts
  libs/admin/src/libs/magazines/shells/MagazinesList/useMagazinesList.ts
  libs/admin/src/libs/magazines/shells/index.ts
  libs/admin/src/libs/pages/MagazineCreatePage.tsx
  libs/admin/src/libs/pages/MagazineListPage.tsx
  libs/admin/src/libs/uis/Navbar/Navbar.tsx
  libs/backend/src/index.ts
  libs/backend/src/libs/magazine/datasource/repositories/PostgresqlMagazineRepository.ts
  libs/backend/src/libs/magazine/domain/index.ts
  libs/backend/src/libs/magazine/domain/repositories/MagazineRepository.ts
  libs/backend/src/libs/magazine/domain/usecases/GetMagazineList.ts
  pnpm-lock.yaml
Due: ts, tsx, json

fix: type
  apps/admin-web/package.json
  libs/admin/src/libs/magazines/components/WriteMagazine/WriteMagazine.tsx
  libs/admin/src/libs/magazines/components/WriteMagazine/useWriteMagazine.ts
  pnpm-lock.yaml
Due: ts, tsx, json

feat(admin): 매거진 리스트업 및 생성 (#259)
  apps/admin-web/app/magazines/create/page.tsx
  apps/admin-web/app/magazines/page.tsx
  apps/admin-web/package.json
  apps/graphql-api/schema.graphql
  apps/graphql-api/src/app/graphql/magazine/Magazine.query.resolver.ts
  apps/graphql-api/src/app/graphql/magazine/graphs/MagazinePagination.ts
  libs/admin/src/index.ts
  libs/admin/src/libs/magazines/components/ArticleCard/ArticleCard.module.css
  libs/admin/src/libs/magazines/components/ArticleCard/ArticleCard.tsx
  libs/admin/src/libs/magazines/components/ArticleCard/index.ts
  libs/admin/src/libs/magazines/components/WriteMagazine/WriteMagazine.tsx
  libs/admin/src/libs/magazines/components/WriteMagazine/index.ts
  libs/admin/src/libs/magazines/components/WriteMagazine/useWriteMagazine.ts
  libs/admin/src/libs/magazines/components/index.ts
  libs/admin/src/libs/magazines/shells/MagazineWriteSection/MagazineWriteSection.tsx
  libs/admin/src/libs/magazines/shells/MagazineWriteSection/index.ts
  libs/admin/src/libs/magazines/shells/MagazinesList/MagazinesList.tsx
  libs/admin/src/libs/magazines/shells/MagazinesList/__generated__/useMagazinesList.ts
  libs/admin/src/libs/magazines/shells/MagazinesList/index.ts
  libs/admin/src/libs/magazines/shells/MagazinesList/useMagazinesList.ts
  libs/admin/src/libs/magazines/shells/index.ts
  libs/admin/src/libs/pages/MagazineCreatePage.tsx
  libs/admin/src/libs/pages/MagazineListPage.tsx
  libs/admin/src/libs/uis/Navbar/Navbar.tsx
  libs/backend/src/index.ts
  libs/backend/src/libs/magazine/datasource/repositories/PostgresqlMagazineRepository.ts
  libs/backend/src/libs/magazine/domain/index.ts
  libs/backend/src/libs/magazine/domain/repositories/MagazineRepository.ts
  libs/backend/src/libs/magazine/domain/usecases/GetMagazineList.ts
  pnpm-lock.yaml
Due: ts, tsx, json

fix: create magazine
  apps/graphql-api/schema.graphql
  apps/graphql-api/src/app/graphql/magazine/graphs/CreateMagazine.ts
  apps/graphql-api/src/app/graphql/magazine/graphs/Magazine.ts
  libs/admin/src/libs/magazines/components/ArticleCard/ArticleCard.tsx
  libs/admin/src/libs/magazines/shells/MagazinesList/MagazinesList.tsx
  libs/admin/src/libs/magazines/shells/MagazinesList/__generated__/useMagazinesList.ts
  libs/admin/src/libs/magazines/shells/MagazinesList/useMagazinesList.ts
  libs/admin/src/libs/pages/MagazineListPage.tsx
  libs/backend/src/libs/magazine/domain/usecases/CreateMagazine.ts
  libs/shared/provider-graphql/src/index.ts
Due: ts, tsx

feat: write magazine mutation 연결
  libs/admin/src/libs/magazines/components/WriteMagazine/__generated__/useWriteMagazine.ts
  libs/admin/src/libs/magazines/components/WriteMagazine/useWriteMagazine.ts
Due: ts

fix: 빈 슬러그로 생성되는 버그 수정
  libs/admin/src/libs/magazines/components/WriteMagazine/useWriteMagazine.ts
Due: ts

feat: edit magazine
  apps/graphql-api/schema.graphql
  apps/graphql-api/src/app/graphql/magazine/Magazine.mutation.resolver.ts
  apps/graphql-api/src/app/graphql/magazine/graphs/EditMagazine.ts
  libs/backend/src/index.ts
  libs/backend/src/libs/magazine/domain/entities/Magazine.ts
  libs/backend/src/libs/magazine/domain/index.ts
  libs/backend/src/libs/magazine/domain/usecases/EditMagazine.ts
Due: ts

feat(frontend): magazine info
  apps/service-web/app/magazines/[slug]/page.tsx
  libs/frontend/src/index.ts
  libs/frontend/src/libs/magazines/shells/MagazineContentSection/MagazineContentSection.tsx
  libs/frontend/src/libs/magazines/shells/MagazineContentSection/index.ts
  libs/frontend/src/libs/magazines/shells/MagazineInfoSection/MagazineInfoSection.tsx
  libs/frontend/src/libs/magazines/shells/MagazineInfoSection/index.ts
  libs/frontend/src/libs/magazines/shells/index.ts
  libs/frontend/src/libs/pages/MagazineContentPage.tsx
  libs/frontend/tsconfig.json
Due: ts, tsx, json

refactor(frontend): productItem 앱 로고 디자인 변경
  libs/frontend/src/libs/products/uis/ProductItem/ProductItem.tsx
Due: tsx

feat(frontend): magazine info 페이지 생성 & productItem 앱 로고 관련 디자인 변경 (#260)
  apps/service-web/app/magazines/[slug]/page.tsx
  libs/frontend/src/index.ts
  libs/frontend/src/libs/magazines/shells/MagazineContentSection/MagazineContentSection.tsx
  libs/frontend/src/libs/magazines/shells/MagazineContentSection/index.ts
  libs/frontend/src/libs/magazines/shells/MagazineInfoSection/MagazineInfoSection.tsx
  libs/frontend/src/libs/magazines/shells/MagazineInfoSection/index.ts
  libs/frontend/src/libs/magazines/shells/index.ts
  libs/frontend/src/libs/pages/MagazineContentPage.tsx
  libs/frontend/src/libs/products/uis/ProductItem/ProductItem.tsx
  libs/frontend/tsconfig.json
Due: ts, tsx, json

feat(service): ogImage 적용
  apps/service-web/app/layout.tsx
  apps/service-web/app/products/[slug]/page.tsx
  libs/shared/provider-graphql/src/index.ts
Due: ts, tsx

feat(service): ogImage 적용 (#266)
  apps/service-web/app/layout.tsx
  apps/service-web/app/products/[slug]/page.tsx
  libs/shared/provider-graphql/src/index.ts
Due: ts, tsx

feat: ahrefs analytics
  apps/service-web/app/layout.tsx
Due: tsx

feat: visual-web
  apps/visual-web/.env.sample
  apps/visual-web/.eslintrc.json
  apps/visual-web/.gitignore
  apps/visual-web/README.md
  apps/visual-web/app/client.tsx
  apps/visual-web/app/container.ts
  apps/visual-web/app/global-error.tsx
  apps/visual-web/app/globals.css
  apps/visual-web/app/layout.tsx
  apps/visual-web/app/page.tsx
  apps/visual-web/app/server.tsx
  apps/visual-web/app/serverContainer.ts
  apps/visual-web/instrumentation.ts
  apps/visual-web/kuma.config.ts
  apps/visual-web/next.config.js
  apps/visual-web/package.json
  apps/visual-web/public/ads.txt
  apps/visual-web/public/favicon.ico
  apps/visual-web/public/images/android-chrome-192x192.png
  apps/visual-web/public/images/android-chrome-512x512.png
  apps/visual-web/public/images/apple-touch-icon.png
  apps/visual-web/public/images/default-product-icon.svg
  apps/visual-web/public/images/favicon-16x16.png
  apps/visual-web/public/images/favicon-32x32.png
  apps/visual-web/public/images/favicon.svg
  apps/visual-web/public/images/main-hero-banner.png
  apps/visual-web/public/robots.txt
  apps/visual-web/sentry.client.config.ts
  apps/visual-web/sentry.edge.config.ts
  apps/visual-web/sentry.server.config.ts
  apps/visual-web/tsconfig.json
  lefthook.yml
  pnpm-lock.yaml
Due: ts, tsx, js, json

chore: visual
  apps/visual-web/app/page.tsx
Due: tsx

chore: node 22
  .github/workflows/Deploy.yaml
  .github/workflows/Production.yaml
  .nvmrc
  apps/graphql-api/package.json
  apps/graphql-api/serverless.yaml
  package.json
  pnpm-lock.yaml
Due: json

fix: serverless v4
  .serverless/meta.json
Due: json

fix: serverless access key
  .github/workflows/Deploy.yaml
  .github/workflows/Production.yaml
Due: none

fix: bucket name change
  apps/graphql-api/serverless.yaml
Due: none

fix: pr ci
  .github/workflows/PullRequest.yaml
Due: none

fix: lint
  libs/shared/utils-eslint-config/.eslintrc.js
  libs/shared/utils-eslint-config/package.json
  libs/shared/utils-eslint-config/react.js
  pnpm-lock.yaml
  turbo.json
Due: js, json

fix: name
  apps/admin-web/package.json
  apps/graphql-api/package.json
  apps/service-web/package.json
  apps/visual-web/package.json
Due: json

chore: add test
  turbo.json
Due: json

feat: add product link editing
  apps/graphql-api/schema.graphql
  apps/graphql-api/src/app/graphql/product/Product.mutation.resolver.ts
  apps/graphql-api/src/app/graphql/product/graphs/UpdateProductLink.ts
  libs/admin/src/libs/products/components/EditProductLinkItem/EditProductLinkItem.tsx
  libs/admin/src/libs/products/components/EditProductLinkItem/index.ts
  libs/admin/src/libs/products/components/EditProductLinkItem/useEditProductLinkItem.ts
  libs/admin/src/libs/products/components/ProductLinkTable/ProductLinkTable.tsx
  libs/admin/src/libs/products/components/ProductLinkTable/useProductLinkTable.ts
  libs/admin/src/libs/products/shells/ProductDetailLinkSection/ProductDetailLinkSection.tsx
  libs/admin/src/libs/products/shells/ProductDetailLinkSection/useProductDetailLinkSection.ts
  libs/backend/src/index.ts
  libs/backend/src/libs/products/datasource/repositories/PostgresqlProductLinkRepository.ts
  libs/backend/src/libs/products/domain/entities/ProductLink.ts
  libs/backend/src/libs/products/domain/index.ts
  libs/backend/src/libs/products/domain/repositories/ProductLinkRepository.ts
  libs/backend/src/libs/products/domain/usecases/UpdateProductLink.ts
Due: ts, tsx

fix: graphql codegen
  apps/graphql-api/schema.graphql
  libs/admin/src/libs/products/components/EditProductLinkItem/__generated__/useEditProductLinkItem.ts
  libs/admin/src/libs/products/components/EditProductLinkItem/useEditProductLinkItem.ts
  libs/admin/src/libs/products/components/ProductLinkTable/ProductLinkTable.tsx
  libs/admin/src/libs/products/components/ProductLinkTable/__generated__/ProductLinkTable.ts
  libs/admin/src/libs/products/components/ProductLinkTable/__generated__/useProductLinkTable.ts
  libs/admin/src/libs/products/components/ProductLinkTable/useProductLinkTable.ts
  libs/shared/provider-graphql/src/index.ts
  turbo.json
Due: ts, tsx, json

feat: add product link editing (#277)
  apps/graphql-api/schema.graphql
  apps/graphql-api/src/app/graphql/product/Product.mutation.resolver.ts
  apps/graphql-api/src/app/graphql/product/graphs/UpdateProductLink.ts
  libs/admin/src/libs/products/components/EditProductLinkItem/EditProductLinkItem.tsx
  libs/admin/src/libs/products/components/EditProductLinkItem/__generated__/useEditProductLinkItem.ts
  libs/admin/src/libs/products/components/EditProductLinkItem/index.ts
  libs/admin/src/libs/products/components/EditProductLinkItem/useEditProductLinkItem.ts
  libs/admin/src/libs/products/components/ProductLinkTable/ProductLinkTable.tsx
  libs/admin/src/libs/products/components/ProductLinkTable/__generated__/ProductLinkTable.ts
  libs/admin/src/libs/products/components/ProductLinkTable/__generated__/useProductLinkTable.ts
  libs/admin/src/libs/products/components/ProductLinkTable/useProductLinkTable.ts
  libs/admin/src/libs/products/shells/ProductDetailLinkSection/ProductDetailLinkSection.tsx
  libs/admin/src/libs/products/shells/ProductDetailLinkSection/useProductDetailLinkSection.ts
  libs/backend/src/index.ts
  libs/backend/src/libs/products/datasource/repositories/PostgresqlProductLinkRepository.ts
  libs/backend/src/libs/products/domain/entities/ProductLink.ts
  libs/backend/src/libs/products/domain/index.ts
  libs/backend/src/libs/products/domain/repositories/ProductLinkRepository.ts
  libs/backend/src/libs/products/domain/usecases/UpdateProductLink.ts
  libs/shared/provider-graphql/src/index.ts
  turbo.json
Due: ts, tsx, json

Format code after pre-commit
  apps/visual-web/package.json
  libs/admin/src/libs/products/components/EditProductLinkItem/EditProductLinkItem.tsx
  libs/admin/src/libs/products/components/EditProductLinkItem/__generated__/EditProductLinkItem.ts
  libs/admin/src/libs/products/components/EditProductLinkItem/__generated__/useEditProductLinkItem.ts
  libs/admin/src/libs/products/components/EditProductLinkItem/useEditProductLinkItem.ts
  libs/admin/src/libs/products/components/ProductLinkTable/ProductLinkTable.tsx
  libs/admin/src/libs/products/components/ProductLinkTable/__generated__/ProductLinkTable.ts
  libs/admin/src/libs/products/components/ProductLinkTable/__generated__/useProductLinkTable.ts
  libs/admin/src/libs/products/components/ProductLinkTable/useProductLinkTable.ts
  libs/admin/src/libs/products/shells/ProductDetailLinkSection/ProductDetailLinkSection.tsx
  libs/admin/src/libs/products/shells/ProductDetailLinkSection/useProductDetailLinkSection.ts
Due: ts, tsx, json

Move product link edit modal into table component (#278)
  apps/visual-web/package.json
  libs/admin/src/libs/products/components/EditProductLinkItem/EditProductLinkItem.tsx
  libs/admin/src/libs/products/components/EditProductLinkItem/__generated__/EditProductLinkItem.ts
  libs/admin/src/libs/products/components/EditProductLinkItem/__generated__/useEditProductLinkItem.ts
  libs/admin/src/libs/products/components/EditProductLinkItem/useEditProductLinkItem.ts
  libs/admin/src/libs/products/components/ProductLinkTable/ProductLinkTable.tsx
  libs/admin/src/libs/products/components/ProductLinkTable/__generated__/ProductLinkTable.ts
  libs/admin/src/libs/products/components/ProductLinkTable/__generated__/useProductLinkTable.ts
  libs/admin/src/libs/products/components/ProductLinkTable/useProductLinkTable.ts
  libs/admin/src/libs/products/shells/ProductDetailLinkSection/ProductDetailLinkSection.tsx
  libs/admin/src/libs/products/shells/ProductDetailLinkSection/useProductDetailLinkSection.ts
Due: ts, tsx, json

refactor: simplify product-company form values
  apps/graphql-api/schema.graphql
  apps/graphql-api/src/app/graphql/company/Company.query.resolver.ts
  libs/admin/src/libs/products/components/EditProductCompany/EditProductCompany.tsx
  libs/admin/src/libs/products/components/EditProductCompany/__generated__/useEditProductCompany.ts
  libs/admin/src/libs/products/components/EditProductCompany/useEditProductCompany.ts
  libs/backend/src/index.ts
  libs/backend/src/libs/companies/datasource/repositories/PostgresqlCompanyRepository.ts
  libs/backend/src/libs/companies/domain/index.ts
  libs/backend/src/libs/companies/domain/repositories/CompanyRepository.ts
  libs/backend/src/libs/companies/domain/usecases/SearchCompany.ts
  libs/shared/provider-graphql/src/index.ts
Due: ts, tsx

feat: enable company search for product linking (#279)
  apps/graphql-api/schema.graphql
  apps/graphql-api/src/app/graphql/company/Company.query.resolver.ts
  libs/admin/src/libs/products/components/EditProductCompany/EditProductCompany.tsx
  libs/admin/src/libs/products/components/EditProductCompany/__generated__/useEditProductCompany.ts
  libs/admin/src/libs/products/components/EditProductCompany/useEditProductCompany.ts
  libs/backend/src/index.ts
  libs/backend/src/libs/companies/datasource/repositories/PostgresqlCompanyRepository.ts
  libs/backend/src/libs/companies/domain/index.ts
  libs/backend/src/libs/companies/domain/repositories/CompanyRepository.ts
  libs/backend/src/libs/companies/domain/usecases/SearchCompany.ts
  libs/shared/provider-graphql/src/index.ts
Due: ts, tsx

Format component after lint
  libs/admin/src/libs/products/components/EditProductCompany/EditProductCompany.tsx
  libs/admin/src/libs/products/components/EditProductCompany/useEditProductCompany.ts
Due: ts, tsx

Fix searchable Select handling in EditProductCompany (#280)
  libs/admin/src/libs/products/components/EditProductCompany/EditProductCompany.tsx
  libs/admin/src/libs/products/components/EditProductCompany/useEditProductCompany.ts
Due: ts, tsx

chore: sentry
  apps/graphql-api/package.json
  apps/graphql-api/schema.graphql
  apps/graphql-api/serverless.yaml
  pnpm-lock.yaml
Due: json

chore: upgrade Mantine to v8
  apps/admin-web/package.json
  libs/admin/package.json
  pnpm-lock.yaml
Due: json

chore: upgrade Mantine to v8 (#289)
  apps/admin-web/package.json
  libs/admin/package.json
  pnpm-lock.yaml
Due: json

feat: description gen
  .github/workflows/Deploy.yaml
  .github/workflows/Production.yaml
  .gitignore
  apps/graphql-api/.env.sample
  apps/graphql-api/package.json
  apps/graphql-api/serverless.yaml
  apps/graphql-api/src/app/graphql/product/Product.mutation.resolver.ts
  apps/graphql-api/src/app/graphql/product/graphs/GenerateProductDescription.ts
  apps/graphql-api/src/config/environment.ts
  apps/graphql-api/src/config/index.ts
  libs/backend/package.json
  libs/backend/src/graphql-api.ts
  libs/backend/src/index.ts
  libs/backend/src/libs/products/datasource/index.ts
  libs/backend/src/libs/products/datasource/services/ProductDescriptionGeneratorImpl.ts
  libs/backend/src/libs/products/domain/index.ts
  libs/backend/src/libs/products/domain/services/ProductDescriptionGenerator.ts
  libs/backend/src/libs/products/domain/usecases/GenerateProductDescription.ts
  libs/shared/utils-llm/package.json
  libs/shared/utils-llm/src/constant.ts
  libs/shared/utils-llm/src/index.ts
  libs/shared/utils-llm/src/libs/LlmClient.ts
  libs/shared/utils-llm/src/libs/LlmModel.ts
  libs/shared/utils-llm/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: ts, json

feat: gen description button
  apps/graphql-api/schema.graphql
  apps/graphql-api/src/config/environment.ts
  libs/admin/src/libs/products/components/GenerateProductDescriptionButton/GenerateProductDescriptionButton.tsx
  libs/admin/src/libs/products/components/GenerateProductDescriptionButton/__generated__/useGenerateProductDescriptionButton.ts
  libs/admin/src/libs/products/components/GenerateProductDescriptionButton/index.ts
  libs/admin/src/libs/products/components/GenerateProductDescriptionButton/useGenerateProductDescriptionButton.ts
  libs/admin/src/libs/products/components/index.ts
  libs/admin/src/libs/products/shells/ProductDetailDescriptionSection/ProductDetailDescriptionSection.tsx
  libs/shared/provider-graphql/src/index.ts
Due: ts, tsx
